[2015-08-23 01:49] yvantina opened #226 "An SFU channel ?"
@cassininazir @porteriffic @linamoon @coreysmart92
more to come

hi roger and yvan,

this is a wonderful idea!

It just so happens that I will be the new director of SIAT starting 1 Sept 2015.
I will follow up with you when I return from my vacation after 1 september 2015

thecla

---

d r   t h e c l a   s c h i p h o r s t
symposium director ISEA2015
associate director SIAT | professor
director

[2015-08-23 06:23] yvantina commented on #225
from Diane

---

I am planning on developing podcasts this fall, but would like to Skype with
your production team to learn what common problems are, what the best formats
are and that sort of thing.

[2015-08-23 15:21] yvantina opened #227 "2 Virtual Africa podcasts on Dropbox"
@coreysmart92 @porteriffic @halclark Can you please take a look to those files and make a quick edit ? I may need to remove a little part on the Streak' one.. just let me know. Thanks

[2015-08-24 15:07] cassininazir commented on #225
Josephine, this can be filed under the "intellectual dating" category!

Cassini Nazir

Clinical Associate Professor, School of Arts, Technology, and Emerging Communication
Director of Design and Research, ArtSciLab
The University of Texas at Dallas

---

From: yvantina [notifications@github.com]
Sent: Sunday, August 23, 2015 1:23 AM
To: creativedisturbance/podcasts
Subject: Re: [podcasts] Please h

[2015-08-24 15:09] porteriffic commented on #225
@yvantina You are more than welcome to join our production meeting today at 1pm.

[2015-08-24 16:43] cassininazir opened #228 "Meet with Anvit for Hand-Off"
@anvit, want to make sure @dylanorgeron is up to speed on items. Can you both schedule a time to meet this week (week of Aug 24) to discuss:
- Creative Disturbance website
- CD Forms
- Internal processes

Will you also give him any access he needs to the sites? He already has Google Drive access.

[2015-08-24 16:44] cassininazir opened #229 "Review Usability Testing Reference Materials"
Steven Krug's Dont Make Me Think Ch 9: Usability Testing.

@linamoon recommend you also review. Would like you and @dylanorgeron to do usability tests soon on the CD Forms and the CD website.

[2015-08-24 16:45] cassininazir opened #230 "Review Google Drive documents"
Specifically, start here:

1.0 Project Mgmt
2.1 Dev Team
2.2 Production Team
5.0 Key Public Docs

[2015-08-24 16:51] linamoon commented on #230
Might be a little outdated, but still very useful:
- Podcast Production Process: https://drive.google.com/open?id=0BwvQhnxKj6jFeWJjT2VDR0pENXc
- Process Overview: https://drive.google.com/open?id=0BwvQhnxKj6jFa00wRkl3YmlPTkE

[2015-08-24 17:05] linamoon commented on #229
Believe you also mentioned this, putting here for reference:
- Basic explanation: https://www.gov.uk/service-manual/user-centred-design/user-research/lab-based-user-testing.html
- Rocket surgery made easy: http://www.sensible.com/rsme.html

[2015-08-24 17:13] cassininazir commented on #230
Thanks, Lina! @dylanorgeron, review the podcast production process and suggest ways to make it more efficient.

[2015-08-24 17:53] coreysmart92 commented on #101
I have completed the first draft example. [8/24/15]
Video Tutorial 1 -[https://drive.google.com/drive/u/0/folders/0B0RS2YDJUln1fnJGenZoTWMxUl9pR3ZteFRRTDMySjR3YkwzaENlbVJQRVlMcVBpZzFhZ3M]

[2015-08-24 18:01] dylanorgeron commented on #228
@cassininazir, anvit and I met and discussed the current way development is handled, and he is working on getting me access to the documents and accounts I will need.

[2015-08-24 18:09] rmalina opened #231 "tara de porte urls"
corey

per our discussion please add to the tara deporte  the urls i submiited on the form
and put them in the text until you

roger

[2015-08-24 18:29] rmalina commented on #219
hal

for audiovisual archive heritage month

i would be willing to organise a podcast with philippe queau - a really important figure
in the audivisual archive world if you are willing to work with me to set up and do
the podcast recording

here is details about queau

http://world-information.org/wio/program/participants/992284253

roger

[2015-08-24 18:47] porteriffic opened #232 "Yearly Contact with Producer - Noisy People"
Sit down with Tim Perkis and plan out the rest of the year for Noisy People. Also ask what their expectations are, gather their feedback, etc. Maybe do a podcast?

[2015-08-24 18:50] porteriffic opened #233 "Yearly Contact with Producer - Cellphonia"
Contact Scot about Cellphonia 's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 18:51] porteriffic opened #234 "Yearly Contact with Producer - Audiolats"
Contact Annick regarding Audiolats and how many podcasts we can expect for the rest of the year. Also what her expectations are from us, any feedback, etc.

[2015-08-24 18:52] porteriffic opened #235 "Yearly Contact with Producer - The Bold Roast"
Since there are 3 producers for this channel, have them decide their roles for the rest of the year and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 18:53] rmalina commented on #200
podcast was recorded= lets close this when podcast is published
roger

[2015-08-24 18:54] rmalina commented on #137
podcast was recorded and deposited- close this when publishied
roger

[2015-08-24 18:57] porteriffic opened #236 "Yearly Contact with Producer - Big Dreams Big Data"
Contact Rebekah Nix and Christine Maxwell and  plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 18:58] porteriffic opened #237 "Yearly Contact with Producer - Sound & Data"
Contact Scot about Sound & Data's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 18:59] porteriffic opened #238 "Yearly Contact with Producer - Virtual Africa"
Contact Yvan about Virtual Africas's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:03] porteriffic opened #239 "Yearly Contact with Producer - Within the Margins"
Contact Poe Johnson's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:04] porteriffic opened #240 "Yearly Contact with Producer - Indie Game Nation"
Contact Kyle about Indie Game Nation's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:05] porteriffic opened #241 "Yearly Contact with Producer - Meta-Life"
Contact Yvan about Meta-Life's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:07] porteriffic opened #242 "Yearly Contact with Producer - Pioneers & Pathbreakers"
Contact Roger about Pioneer & Pathbreaker's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:08] porteriffic opened #243 "Yearly Contact with Producer - New Leonardos"
Contact Roger about New Leonardo's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:09] porteriffic opened #244 "Contact Kickstarter Backers for Podcasts"
Contact KS backers that qualify for a podcast to be featured on the Voices of the Crowd channel.

[2015-08-24 19:10] porteriffic opened #245 "Yearly Contact with Producer - Art & Earth Science"
Contact Susan about Art & Earth Science's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:11] porteriffic opened #246 "Yearly Contact with Producer - RAMI"
Contact the producers about RAMI's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:12] rmalina opened #247 "podcast with anvit srivastav"
lina
if anvit gets the job offer would you be willing to work with him to
a) write a short annnouncement for publicaiton on the art scilab web site announcing
his being hired
b) record a podcast with him before he leaves for the bold roast channel !

roger
@anvit

[2015-08-24 19:12] porteriffic opened #248 "Yearly Contact with Producer - Space Art & Culture"
Contact Roger about Space Art & Culture's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:13] porteriffic opened #249 "Yearly Contact with Producer - Frank Malina"
Contact Roger about Frank Malina's future and plan out the rest of the year for their channel. Also ask what their expectations are, gather their feedback, etc.

[2015-08-24 19:18] linamoon commented on #247
Yes of course! @anvit and I will discuss - is there a time good for you this week, Anvit?

[2015-08-24 19:26] rmalina commented on #244
start with the kickstarter donors above the level where we promised to publish a podcast with them
roger

[2015-08-24 19:40] cassininazir opened #250 "Schedule Design Review Meeting"
@dylanorgeron let's schedule a design review meeting in Sept to prioritize what we should work on and

Should be all hands:
- Podcast
  - Design Team
  - Admin team

Help me schedule this.

[2015-08-24 19:41] cassininazir opened #251 "Schedule Experimental Meeting"
@halclark, schedule a meeting for the team to discuss how to move the Experimental space forward. September would be a good time.

[2015-08-24 21:26] anvit commented on #247
Sure @linamoon , I'll be at the lab between 12pm -5pm tomorrow and day after. Will you be free any of those days?

[2015-08-24 21:57] rmalina opened #252 "lilla locurto podcast"
corey
please apologise to her and follow up

roger

Hi Roger,

I received an email from Corey Smart about the podcast and an attached pdf production cheat sheet. I wrote several times to see if there’s a deadline for submitting the podcast but never heard back. It’s still summer so I’m sure everyone is on vacation. Anyway, if you get this email, can you answer my question. We’re leaving for Europe

[2015-08-25 03:45] porteriffic commented on #232
Tim responded. He'd be more than happy to chit chat. He said he'll have some time. Will document list of things to discuss here. (8/24)

[2015-08-25 03:54] cassininazir opened #253 "Quality Test Forms - Ashton"
We need your help to launch the new version of Producer Forms! Please take time to **complete these  before the Saturday, Aug. 29**  and **add your comments/suggestions to this GitHub issue**.
1. Login to test server at http://production.cd2.texashats.org/login. Note that you may reset your password or register as a new user.
2. Click the link to **Forms for producers and guests**. (Yes, this link

[2015-08-25 03:57] cassininazir opened #254 "Quality Test Forms - Hal"
We need your help to launch the new version of Producer Forms! Please take time to **complete these  before the Saturday, Aug. 29**  and **add your comments/suggestions to this GitHub issue**.
1. Login to test server at http://production.cd2.texashats.org/login. Note that you may reset your password or register as a new user.
2. Click the link to **Forms for producers and guests**. (Yes, this link

[2015-08-25 03:57] cassininazir opened #255 "Quality Test Forms - Corey"
We need your help to launch the new version of Producer Forms! Please take time to **complete these  before the Saturday, Aug. 29**  and **add your comments/suggestions to this GitHub issue**.
1. Login to test server at http://production.cd2.texashats.org/login. Note that you may reset your password or register as a new user.
2. Click the link to **Forms for producers and guests**. (Yes, this link

[2015-08-25 03:58] cassininazir opened #256 "Quality Test Forms - Josephine"
We need your help to launch the new version of Producer Forms! Please take time to **complete these  before the Saturday, Aug. 29**  and **add your comments/suggestions to this GitHub issue**.
1. Login to test server at http://production.cd2.texashats.org/login. Note that you may reset your password or register as a new user.
2. Click the link to **Forms for producers and guests**. (Yes, this link

[2015-08-25 03:58] cassininazir opened #257 "Quality Test Forms - Dylan"
We need your help to launch the new version of Producer Forms! Please take time to **complete these  before the Saturday, Aug. 29**  and **add your comments/suggestions to this GitHub issue**.
1. Login to test server at http://production.cd2.texashats.org/login. Note that you may reset your password or register as a new user.
2. Click the link to **Forms for producers and guests**. (Yes, this link

[2015-08-25 03:58] cassininazir opened #258 "Quality Test Forms - Lina"
We need your help to launch the new version of Producer Forms! Please take time to **complete these  before the Saturday, Aug. 29**  and **add your comments/suggestions to this GitHub issue**.
1. Login to test server at http://production.cd2.texashats.org/login. Note that you may reset your password or register as a new user.
2. Click the link to **Forms for producers and guests**. (Yes, this link

[2015-08-25 03:59] cassininazir opened #259 "Quality Test Forms - Roger"
We need your help to launch the new version of Producer Forms! Please take time to **complete these  before the Saturday, Aug. 29**  and **add your comments/suggestions to this GitHub issue**.
1. Login to test server at http://production.cd2.texashats.org/login. Note that you may reset your password or register as a new user.
2. Click the link to **Forms for producers and guests**. (Yes, this link

[2015-08-25 03:59] cassininazir opened #260 "Quality Test Forms - Cassini"
iWe need your help to launch the new version of Producer Forms! Please take time to **complete these  before the Saturday, Aug. 29**  and **add your comments/suggestions to this GitHub issue**.
1. Login to test server at http://production.cd2.texashats.org/login. Note that you may reset your password or register as a new user.
2. Click the link to **Forms for producers and guests**. (Yes, this lin

[2015-08-25 04:00] cassininazir opened #261 "Quality Test Forms - Yvan"
We need your help to launch the new version of Producer Forms! Please take time to **complete these  before the Saturday, Aug. 29**  and **add your comments/suggestions to this GitHub issue**.
1. Login to test server at http://production.cd2.texashats.org/login. Note that you may reset your password or register as a new user.
2. Click the link to **Forms for producers and guests**. (Yes, this link

[2015-08-25 04:01] cassininazir commented on #260
- After login, the link is not highly visible to get to the forms.
- Would like to see content after it has been submitted (on confirmation page).
- Would like to see previous content I've submitted. We need to discuss whether users can edit at this point.

[2015-08-25 16:41] linamoon commented on #247
@anvit I can be there later today at 2:30pm!

[2015-08-25 16:58] anvit commented on #247
@linamoon I'll be at the lab around 2:30 then!

[2015-08-25 18:03] amb141330 commented on #253
My password was reset, but I still can't access my account. Emailing @anvit about it now.

[2015-08-25 18:08] amb141330 commented on #153
I talked to Brian about this at the beginning of the summer/end of the last semester and we can record these sessions, but it has to be something we schedule in advance. We'll have to bring it up to Brian again to find out who to email about setting that up if we still need to do this.

[2015-08-25 18:09] amb141330 commented on #152
Training is done and Yvan has already used this for recording a video for Roger.

[2015-08-25 18:09] #152 closed, assigned to amb141330

[2015-08-25 18:10] amb141330 commented on #111
I believe Corey has taken over this and has put the bumpers on the tracking sheet document.

[2015-08-25 18:10] #111 closed, assigned to amb141330

[2015-08-25 18:12] amb141330 commented on #203
We should talk to Scot in person now that we see him in person. I believe I have a class with him on Friday and I will talk with him then.

[2015-08-25 18:20] amb141330 commented on #249
Emailed @rmalina about a time to meet. Waiting for response.

[2015-08-25 18:20] amb141330 commented on #241
Emailed Yvan for a time to meet. Waiting on response.

[2015-08-25 18:20] amb141330 commented on #238
Emailed Yvan for a time to meet. Waiting on response.

[2015-08-25 18:30] porteriffic commented on #245
Contacted Susan (8/25). Waiting to hear back. List questions here.

[2015-08-25 18:38] porteriffic commented on #225
Emailed Diane. Waiting to hear back (8/25).

[2015-08-25 18:45] porteriffic commented on #184
Emailed Jonathan. Waiting to hear back (8/25).

[2015-08-25 18:55] coreysmart92 commented on #108
Closing:
Hal created two bumpers in July, a general bumper and a bumper for Meta-Life.
Yvan submitted a bumper for Virtual Africa.
In August and going into September we are going to try a new method where each sound member chooses what channel to create for and when the deadlines will need to be.

[2015-08-25 18:55] #108 closed, assigned to coreysmart92

[2015-08-25 19:06] coreysmart92 commented on #122
Closing:
I have checked and the website is correct. I have also fixed all of the incorrect ones in Libsyn. @porteriffic if there are any that are still incorrect let me know. (8/25/15)

[2015-08-25 19:06] #122 closed, assigned to coreysmart92

[2015-08-25 19:18] coreysmart92 commented on #124
Lilla emailed me on 8/20/15. I have responded. It seems she is going to Europe and it could take awhile before she can record a podcast. (8/25/15)

[2015-08-25 20:11] linamoon commented on #247
Discussed with Anvit today - will put blog post up when official job offer comes in, and record podcast next Thursday.

[2015-08-25 20:17] coreysmart92 commented on #252
Closing:
I have already responded. She sent me a message on August 20, and another on August 23. I responded on August 25. I am closing this because it is a duplicate of #124.

[2015-08-25 20:17] #252 closed, assigned to coreysmart92

[2015-08-25 20:20] coreysmart92 commented on #135
Elena responded August 18, she said she was traveling and would email when she would be able to record a podcast. (8/25/15)

[2015-08-25 20:22] coreysmart92 commented on #138
Closing:
I emailed Annick and resolved the dropbox problem, have not had any problems since then. (8/25/15)

[2015-08-25 20:22] #138 closed, assigned to coreysmart92

[2015-08-25 20:23] coreysmart92 commented on #196
Closing:
They have both been published. (8/25/15)

[2015-08-25 20:23] #196 closed, assigned to coreysmart92

[2015-08-25 20:27] coreysmart92 commented on #214
Can you give me Brain Merlo's preferred email address. (8/25/15)

[2015-08-25 20:29] coreysmart92 commented on #221
Closing:
The problem with Martin O'Brien's picture has been fixed, it had to do with the apostrophe. Yvan and Annick sent me his preferred picture which has already been published. Glad to hear that all problems are resolved. (8/25/15)

[2015-08-25 20:29] #221 closed, assigned to coreysmart92

[2015-08-25 20:32] coreysmart92 commented on #231
Closing:
I have fixed the problem and add the URLs to the podcast description. I will do this in the future for all podcasts. I will also talk with Cassini about if we want to add a separate spot to the podcast pages for URLs. (8/25/15)

[2015-08-25 20:32] #231 closed, assigned to coreysmart92

[2015-08-25 20:54] coreysmart92 commented on #255
Can we reduced the max number of voices to 5. (8/25/15)

[2015-08-25 21:34] coreysmart92 commented on #255
I have completed the forms. The producer form would not save, and anything after a ' would be deleted when saving. (8/25/15)

[2015-08-25 22:08] cassininazir commented on #214
Search for him on the UT Dallas directory.

[2015-08-25 23:27] dylanorgeron commented on #250
Use doc with people who arent available, use contact info doc, update with own info

[2015-08-26 03:53] coreysmart92 commented on #208
Closing:
Both of Pierre-Alain Hubert's podcast have been published. (8/25/15)

[2015-08-26 03:53] #208 closed, assigned to coreysmart92

[2015-08-26 03:56] rmalina commented on #208
thanks !
roger

[2015-08-26 03:58] rmalina opened #262 "urls on bakshi post"
corey
oops
no urls on this one either
can you add ?

roger

http://creativedisturbance.org/podcast/portals-amar-bakshi-discusses-art-the-law-diplomacy-and-the-sharing-of-linked-virtual-spaces-eng/

[2015-08-26 04:02] coreysmart92 commented on #262
I just checked, but this ones wufoo form didn't have a website specific to that podcast.(8/25/15)

[2015-08-26 04:04] rmalina commented on #262
h mm pretty i put in th url to the projects web site
its not specific to the podcast but its the link we need
to send people to

its

http://amarbakshi.com/

cn you add ?

roger

[2015-08-26 04:16] rmalina opened #263 "informing voices of podcast being up"
josephine
idle question

does someone every time a podcast is posted alert the voice that its been posted
and ask them to retween/blog it ? with the link

i know we put this in the plan but just wondering if we are doing ti

as you pointed out that spike was because of a conenction retweeting

maybe all is well-but i was about to alert a voice that a podcast just went up for

rohger

[2015-08-26 16:30] dylanorgeron commented on #257
This page is primarily for forms. The site statistics don't have a place near the top of the page. They are already trying to submit a podcast, we don't have to keep trying to sell the site to them.

[2015-08-26 16:32] dylanorgeron commented on #257
When no forms are saved, there should be text beneath each header letting people know that section is empty. I was expecting a link to a list of forms I had saved, and instead it was just text.
![image](https://cloud.githubusercontent.com/assets/6401465/9499627/1b5e8be6-4be6-11e5-9fa3-f6566b8a09ac.png)

The icon should also be on the same line as the text.

[2015-08-26 16:33] dylanorgeron commented on #257
The dashboard link goes to the same forms2 page

[2015-08-26 16:34] dylanorgeron commented on #257
![image](https://cloud.githubusercontent.com/assets/6401465/9499666/5f8d0edc-4be6-11e5-8555-461c488a6ea0.png)

Icon should be centered here

[2015-08-26 16:39] amb141330 commented on #253
Completed the forms process. I gave Anvit my suggestions and changes that needed to be made.

[2015-08-26 16:39] #253 closed, assigned to amb141330

[2015-08-26 16:39] dylanorgeron commented on #257
![image](https://cloud.githubusercontent.com/assets/6401465/9499791/20a22760-4be7-11e5-8ecb-575af5a0c034.png)
Lots of text, consider using icons or arrows or something here.

[2015-08-26 16:40] dylanorgeron commented on #257
Validators for forms should be clearer. The small red \* doesn't do much to draw my attention to where it needs to me.

[2015-08-26 16:43] dylanorgeron commented on #257
When uploading a podcast for a new channel, the channel name isn't required.
![image](https://cloud.githubusercontent.com/assets/6401465/9499862/9cd58390-4be7-11e5-80a2-b31ee7adcf3d.png)

[2015-08-26 16:43] dylanorgeron commented on #257
Limit of 10 voices in a podcast?

[2015-08-26 16:44] dylanorgeron commented on #257
![image](https://cloud.githubusercontent.com/assets/6401465/9499887/c0cfe236-4be7-11e5-8ff3-1c287d27e074.png)
Erroneous text on producer tile.

[2015-08-26 17:18] cassininazir opened #264 "Develop list of tools we use in the lab"
For Sound editing

For web editing

For project management

Start wit hthe passwords list

[2015-08-26 17:56] porteriffic commented on #263
@rmalina We currently don't have system in place for that. We briefly discussed who could alert the Voices (Producers or sound team) but as of now, our assumption is that the producers are contacting Voices.

I agree, we should email them and ask the Voices, not just Producers, to retweet/blog when we alert them that their podcast is up. I can add this to the agenda on Monday.

[2015-08-26 18:18] cassininazir commented on #263
Thanks for adding, @porteriffic. This is the last part of the podcast production process, but we're not enforcing this. I think its part of a larger discussion about the process. For example, according to our processes, the team should make sure all forms are in good order before starting production, but not always the case.

@coreysmart92 bringing you into the loop on this.

[2015-08-26 18:31] cassininazir opened #265 "Add inventory list of lab equipment into Quartzy"
Add all items:
- Name
- Serial numbers
- Photo of each item

[2015-08-26 18:32] cassininazir opened #266 "Create checkout system for lab equipment in Quartzy"

[2015-08-26 18:34] cassininazir commented on #51
Let's get this started again. Can you develop a plan of action for this?

[2015-08-26 22:57] coreysmart92 commented on #262
I have added the url to the description. However we have noticed that the wrong file might be uploaded onto libsyn. I have contacted the editor, Hal, and will close this issue when this is resolved. (8/26/15)

[2015-08-26 23:26] halclark commented on #262
Fixed.

[2015-08-26 23:26] #262 closed, assigned to coreysmart92

[2015-08-27 15:55] rmalina opened #267 "non live link on pierre alain hubert link"
corey

thanks for adding the url for the link into the text about pierre alain hubert in this mornings
podcast

(http://firework.online.fr/legislation/classification.php )

but the link wasnt live- one could not click through-i had to copy and paste into my browser

in the future can you put the links in as live links ?

no need to fix this one , jujst make sure all future texts have url as a  liv

[2015-08-27 16:42] cassininazir opened #268 "Plan for 2 Year Anniversary"
- Press release
- re-write the narrative arc

[2015-08-27 17:08] porteriffic commented on #232
Discuss with Tim:
- How are the podcasts going?
  - Simple process making. Make it more automated.
  - Time frame of publishing immediately.
  - Negative experience in direct communication
- What are your expectations from Creative Disturbance/What do you want to see/be featured? What are some ways we help you in a larger capacity?
  - Channel's stats!
  - Host on Libsyn and link to site
  - Prope

[2015-08-27 20:55] linamoon commented on #247
@anvit I actually realized I have a meeting 11am next Thursday - does 11am Wednesday work better?

[2015-08-28 14:47] porteriffic commented on #256
Visual Improvements
- Having the Saved Forms at the top of the home page is confusing. I initially thought I was supposed to click on them to access the forms.
- Under the Saved Forms, I think it's a little redundant to label the channels. It's already under Channel Forms.
- Only the channels under Channel Forms are in bold.
- "Save" button to "Save for later"
- More color? To help distinct betwee

[2015-08-28 16:45] linamoon commented on #229
Need to write up plan with @dylanorgeron on our testing process and who to test on for next week:
- List of tools to use (perhaps @cassininazir could point us towards some useful tools)
- List of tasks for users to perform
- Types of users to contact
- Etc. from literature

After testing, we will write up a summary of research findings and present.

[2015-08-28 19:22] linamoon commented on #258
<h2>Dashboard</h2>

![image](https://cloud.githubusercontent.com/assets/10729556/9556519/e9337684-4d9a-11e5-884a-a879b67ce90e.png)
- This looks like a social networking site profile dashboard. How can I upload my profile picture here?

![4099f49e-58ff-4846-b270-60cbad3ae249](https://cloud.githubusercontent.com/assets/10729556/9555042/2a3b9e3c-4d90-11e5-8a41-ff1adbf5ac57.png)
- If I'm coming to the

[2015-08-28 19:57] linamoon commented on #258
<h2>Guest Form</h2>

**Header**
![image](https://cloud.githubusercontent.com/assets/10729556/9555676/4020e76c-4d94-11e5-96b9-fa2c3a43aab3.png)
- I like the idea of having examples of Voices, or links to other Voices' podcasts, but a carousel might be a distracting implementation - might be better to have a short row of 4-5 podcast examples below introductory copy

**Photo Upload**
![image](https:/

[2015-08-28 20:11] linamoon commented on #258
<h2>Podcast Form</h2>

**Header**
![image](https://cloud.githubusercontent.com/assets/10729556/9555894/161378ac-4d96-11e5-9af2-3208969dd787.png)
- Having the process up here is great - perhaps we should do this for the other forms as well.

**Choosing a Channel**

![image](https://cloud.githubusercontent.com/assets/10729556/9556074/840d4e36-4d97-11e5-89d5-2c8220c93068.png)
- Should I also be filli

[2015-08-28 20:36] linamoon commented on #258
<h2>Producer Form</h2>

**Header**
![image](https://cloud.githubusercontent.com/assets/10729556/9556351/a64fa17c-4d99-11e5-8bca-10822c4fe9d0.png)
- Should have some kind of actionable link/button back to producer's channel or podcasts

**Co-Producers**
![image](https://cloud.githubusercontent.com/assets/10729556/9556414/252fa73a-4d9a-11e5-86ad-100f7629e6ca.png)
- Should this have a drop-down to ch

[2015-08-29 22:01] cassininazir commented on #210
@dylanorgeron assigning to you. I have a written PHP script to do this, but didn't do any testing. Putting this on hold until you get forms up and running.

[2015-08-29 22:01] cassininazir commented on #223
We will handle this in Sept after design critique. Related to #250

[2015-08-29 22:02] cassininazir commented on #183
@dylanorgeron Also putting this on hold, but assigning to you. Recommend where to place this on the website. This should appear on the public website.

[2015-08-29 22:04] cassininazir commented on #260
@dylanorgeron closing this item. Can you organize a list of features from the collective group list?

[2015-08-29 22:04] #260 closed, assigned to cassininazir

[2015-08-29 22:04] cassininazir commented on #266
@amb141330 can you provide an update on this? What's in the system? What's are the remaining to dos?

[2015-08-31 15:10] rmalina opened #269 "no card in zoom"
ashton
charissa terranova gave me the zoom she had used to record the podcast
with philip beasley

this morning i opened it to move hte podcat file into our system

there was NO card in the zoom so i assume that the podcast recording is lost

a) can we add to the lab equipment check list to make sure that hte zooms ALWAYS have storage card in them, and that the batteries are fresh

b) can you send

[2015-08-31 15:12] cassininazir commented on #269
I made a copy of the SD card to my hard drive. I still have the original card and will return later today.

Ashton, this raises a good issue of how to make sure we have equpiment to do a podcast on the fly and more importantly where to put the files once done!

[2015-08-31 15:18] porteriffic commented on #245
Skyping with Susan 10:30 am August 31st.

[2015-08-31 15:23] porteriffic commented on #245
Ask Susan:
- How are the podcasts going?
  - Keep in mind those that don't have access to technology.
  - An nicer introduction to Creative Disturbance (purpose) she can send to people. People get too anal and don't realize it's just a casual conversation.
- What are your expectations from Creative Disturbance/What do you want to see/be featured? What are some ways we help you in a larger capacity

[2015-08-31 15:38] amb141330 commented on #265
Almost completed with this task. Should be completed by the end of the week.

[2015-08-31 15:38] amb141330 commented on #266
Basically everything is already in the system except what is in the very bottom drawer. I haven't taken photos of any of the items yet, but this will be completed by the end of the week.

[2015-08-31 15:39] amb141330 commented on #238
Will discuss with Yvan when he gets back from Africa.

[2015-08-31 15:39] amb141330 commented on #241
Will talk with Yvan when he gets back from Africa

[2015-08-31 15:41] amb141330 commented on #269
Can you provide me with her email? @rmalina

Also, yes Cassini I agree. Both Zunes should be equipped and ready to record at any given moment. The files being uploaded is another topic depending on whether or not they remove the Zunes from the lab.

[2015-08-31 15:42] rmalina commented on #269
cassini
does this mean that we DO have a copy of charissa's [pocast ?

ashton- she is prof charissa terranova at utd- you can get her email address via utd system

roger

[2015-08-31 15:44] amb141330 opened #270 "Podcast forms for Pam Grant Ryan"
Need the podcast forms for this podcast still. Can you fill this out as soon as possible? @rmalina

[2015-08-31 15:45] cassininazir commented on #269
Should have been more clear.Yes, we do have a copy of the podcast with Charissa and Philip Beesley.

[2015-08-31 15:45] amb141330 commented on #269
If Cassini does, in fact, not have a copy of the podcast I will send an email to Charissa later today.

[2015-08-31 15:50] rmalina commented on #269
ashton
sounds like we are ok
we just need charrisa to fill out the form
can you email her and copy me

can we use the new forms ? if niot
send her an email with the list of things we need to fill 0ut
and i will complete what she doesnt and put it in the system

roger

[2015-08-31 15:50] rmalina commented on #270
today
roger

[2015-08-31 15:52] amb141330 commented on #269
I don't believe we can use the new forms just yet.

Cassini the things she would need to fill out are the podcast form and the guest form right? That should be all as far as I know. I don't know either of these two individuals so I'm just double checking before I send an email.

[2015-08-31 16:01] #228 closed, assigned to dylanorgeron

[2015-08-31 16:25] rmalina commented on #269
ashton
if you send me an email with a list of the things we need from her= you can
just copy over the descri[ptions in the existing form

she is going to fill in some and i will fill out the rest

roger

[2015-08-31 16:45] porteriffic commented on #184
Still have not heard back. (8/31). Putting on hold.

[2015-08-31 16:56] rmalina commented on #184
i future copy me on this kind of email with no producers so i can chime in
can you send me the email you send them ?

roger

On Mon, Aug 31, 2015 at 11:45 AM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-08-31 17:09] porteriffic commented on #225
Still have not heard back (8/31).

[2015-08-31 18:08] halclark commented on #254
Will do ASAP

[2015-08-31 18:08] halclark commented on #237
Talked to Scot about plans for future goals. Will have more in depth talk soon.

[2015-08-31 18:09] halclark commented on #236
Emailed - no reply

[2015-08-31 18:09] halclark commented on #233
Has one podcast coming soon, no specific goals for the future.

[2015-08-31 18:09] #233 closed, assigned to halclark

[2015-08-31 18:09] halclark commented on #109
Done

[2015-08-31 18:09] #109 closed, assigned to halclark

[2015-08-31 18:31] rmalina commented on #270
ashton
sorry
i made a type
it should be 1984 not 1986 in this text

roger

Pamela Grant Ryan tells the story of her work as managing editor of the Leonardo Journal since 1986  CORRECT TO 1984 - including the rapid transformation into fully digital multimeda publications and the rapid growth of the Leonardo Journal that has accompanied the explosive growth of the international art-science-technolog

[2015-08-31 18:35] halclark commented on #128
Sent helpful forms. No reply.

[2015-08-31 18:36] #200 closed, assigned to rmalina

[2015-08-31 22:11] rmalina opened #271 "lab equipment problems- firefox"
ashton cassini
do we need to start a github folder for artscilab equipment problems

when we try and run the stetho software we have a problem on the lab computer
(mac) hooked up to the projector because apparently firefox doesnt run properly
you should check with brian on what the fix is

roger

[2015-09-01 00:04] rmalina opened #272 "replace batteries in lab computer mouse"
ashton

the batteries in the mouse in the lab mac for the projector are dead
can you replace the batteries
and maybe we should use a wired mouse rather than the wireless one !

roger

[2015-09-01 15:37] rmalina commented on #209
i dont understand why this is on hold- lets just put a procedure that all noisy people and audiolats podcasts must by published within 2 weeks of receipt maximum

am i missing something ?

the way to have backlog is to community build with the producers not to hold up publication
in my opinion- your decision but thats my input !!
roger

roger

[2015-09-01 15:38] rmalina commented on #155
closing this- kyle has left the project except he is continuting as a producer
roger
kyle-happy to chat any time you can drop by !!

[2015-09-01 15:38] #155 closed, assigned to kkondas

[2015-09-01 15:41] rmalina opened #273 "complex network student podcasts"
josephine
i am working with catherine cramer to try and bring in some student podcasts=
will keep you informed

roger
@coreysmart92

catherine
excellent- this is a standing offer so happy to work with
you with the current students and future students !

and separately the podcasts on creative disturbance
is available as a platform to you

roger

On Tue, Sep 1, 2015 at 8:52 AM, Catherine Cramer ccr

[2015-09-01 16:38] amb141330 commented on #270
@rmalina Did you mean to make the channel Pioneers and Pathbreakers? Wouldn't this be on the New Leonardos channel due to the guest speaker?

[2015-09-01 19:16] coreysmart92 commented on #25
I just had a meeting with Anwesha (9/1/15). We will start the collaboration by letting UTD Radio play two podcast every other week. We will work this more details (such as podcast length, topics, and publishing dates) as they start to publish out podcasts. Our goal is to use this as way method of increasing listeners for both systems, and then compound this into a larger collaboration (such as com

[2015-09-01 19:17] coreysmart92 commented on #267
No problem I will do that in the future. (9/1/15)

[2015-09-01 19:17] #267 closed, assigned to coreysmart92

[2015-09-01 19:21] coreysmart92 commented on #255
I thought that in the New podcast Info Form we would have a place to submit the podcast audio. Are we planning on doing that, or are we going to continue the audio file submission through dropbox. (9/1/15)

[2015-09-01 19:23] coreysmart92 commented on #39
I am taking this off of hold and will have the template to show in next sound meeting-9/7/15. (9/1/15)

[2015-09-01 19:34] coreysmart92 opened #274 "January Splash Page Suggestions-Ashton"
Make three Splash Page suggestions for January on the[January Splash Page Suggestion](https://docs.google.com/document/d/1BA4HKJnXovWV6wI_Fm0F_1dyhLggIzmoaRpCXNGSk_0/edit) document. Close when you have add your three examples.

[2015-09-01 19:40] coreysmart92 opened #275 "January Splash Page Suggestions-Hal"
Make three Splash Page suggestions for January on the [January Splash Page Suggestion](https://docs.google.com/document/d/1BA4HKJnXovWV6wI_Fm0F_1dyhLggIzmoaRpCXNGSk_0/edit) document. Close when you have add your three examples.

[2015-09-01 19:41] coreysmart92 opened #276 "January Splash Page Suggestion-Lina"
Make three Splash Page suggestions for January on theJanuary Splash Page Suggestion document. Close when you have add your three examples.

[2015-09-01 19:46] coreysmart92 opened #277 "Tutorial Feedback and Comments-Hal"
Watch the [Video Tutorial First Draft](https://drive.google.com/drive/u/0/folders/0B0RS2YDJUln1fnJGenZoTWMxUl9pR3ZteFRRTDMySjR3YkwzaENlbVJQRVlMcVBpZzFhZ3M) and make any feedback, comments, or suggestions either on this github issue or on [Video Tutorial Content Comments](https://docs.google.com/document/d/1djOL94hSZyf7aYKsk8Ipaw8b6YQQnxhc9K7w20jJG5A/edit). Close when you have watch the video and m

[2015-09-01 19:47] coreysmart92 opened #278 "Video Tutorial Feedback and Comments-Ashton"
Watch the [Video Tutorial First Draft](https://drive.google.com/drive/u/0/folders/0B0RS2YDJUln1fnJGenZoTWMxUl9pR3ZteFRRTDMySjR3YkwzaENlbVJQRVlMcVBpZzFhZ3M) and make any feedback, comments, or suggestions either on this github issue or on [Video Tutorial Content Comments](https://docs.google.com/document/d/1djOL94hSZyf7aYKsk8Ipaw8b6YQQnxhc9K7w20jJG5A/edit). Close when you have watch the video and m

[2015-09-01 19:47] coreysmart92 opened #279 "Video Tutorial Feedback and Comments-Cassini"
Watch the [Video Tutorial First Draft](https://drive.google.com/drive/u/0/folders/0B0RS2YDJUln1fnJGenZoTWMxUl9pR3ZteFRRTDMySjR3YkwzaENlbVJQRVlMcVBpZzFhZ3M) and make any feedback, comments, or suggestions either on this github issue or on [Video Tutorial Content Comments](https://docs.google.com/document/d/1djOL94hSZyf7aYKsk8Ipaw8b6YQQnxhc9K7w20jJG5A/edit). Close when you have watch the video and m

[2015-09-01 19:48] coreysmart92 opened #280 "Video Tutorial Feedback and Comments-Lina"
Watch the [Video Tutorial First Draft](https://drive.google.com/drive/u/0/folders/0B0RS2YDJUln1fnJGenZoTWMxUl9pR3ZteFRRTDMySjR3YkwzaENlbVJQRVlMcVBpZzFhZ3M) and make any feedback, comments, or suggestions either on this github issue or on [Video Tutorial Content Comments](https://docs.google.com/document/d/1djOL94hSZyf7aYKsk8Ipaw8b6YQQnxhc9K7w20jJG5A/edit). Close when you have watch the video and m

[2015-09-01 19:49] coreysmart92 opened #281 "Video Tutorial Feedback and Comments-Roger"
Watch the [Video Tutorial First Draft](https://drive.google.com/drive/u/0/folders/0B0RS2YDJUln1fnJGenZoTWMxUl9pR3ZteFRRTDMySjR3YkwzaENlbVJQRVlMcVBpZzFhZ3M) and make any feedback, comments, or suggestions either on this github issue or on [Video Tutorial Content Comments](https://docs.google.com/document/d/1djOL94hSZyf7aYKsk8Ipaw8b6YQQnxhc9K7w20jJG5A/edit). Close when you have watch the video and m

[2015-09-01 19:56] coreysmart92 commented on #270
I spoke with Roger and confirmed that it is to be published on the Pioneers and Pathbreakers channel. (9/1/15)

[2015-09-01 19:56] #270 closed, assigned to rmalina

[2015-09-01 20:02] rmalina opened #282 "laura marks as possible virtual africa podcast"
yvan

pour podcast avva ? une femme ..

roger

Hanan al-Cinema
Affections for the Moving Image
By Laura U. Marks
Overview
In this book, Laura Marks examines one of the world’s most impressive, and affecting, bodies of independent and experimental cinema from the last twenty-five years: film and video works from the Arabic-speaking world. Some of these works’ creative strategies are shared by filmm

[2015-09-01 20:25] coreysmart92 opened #283 "Old Podcast URLs"
Go back through all podcast and check if they have the URL within the description. Close when you have checked all previously published podcasts.

[2015-09-01 21:10] coreysmart92 commented on #283
I have gone through and checked/fixed Rhythmically Inclined, RAMI, Within the Margins, Noisy People, Cellphonia, Audiolats. (9/1/15

[2015-09-01 22:13] porteriffic commented on #209
@rmalina @coreysmart92 Not sure why this is on hold either. It was already established all podcasts from Noisy People and Audiolats to be published immediately, regardless if we have a back log or not. If no one opposes then please close this issue, otherwise bring this up during our next meeting on 9/6.

[2015-09-01 22:14] porteriffic commented on #273
Great!

[2015-09-01 22:19] coreysmart92 commented on #115
Closing: I will do this on a regular basis, and each sound member should be doing this them selves when a podcast is published. (9/1/15)

[2015-09-01 22:19] #115 closed, assigned to coreysmart92

[2015-09-01 22:21] coreysmart92 commented on #167
Closing: This has been sent to producers and voices. I will reopen a new issue for this when the "New Forms" are completed. (9/1/15)

[2015-09-01 22:21] #167 closed, assigned to coreysmart92

[2015-09-01 22:25] cassininazir commented on #192
Assigning this to @linamoon. Not sure why @coreysmart92 was assigned.

@linamoon, this may be an outdated item now. Confirm when you meet with Roger.

[2015-09-01 22:26] coreysmart92 commented on #209
Closing: I have begun to rapidly schedule all podcast that come in completed. If this changes or becomes an issue later on re-open this issue. (9/1/15)

[2015-09-01 22:26] #209 closed, assigned to coreysmart92

[2015-09-01 23:40] rmalina commented on #270
It could go in either
Pioneers maybe better

roger malina
On Sep 1, 2015 11:38 AM, "amb141330" notifications@github.com wrote:

[2015-09-01 23:43] coreysmart92 commented on #270
I have scheduled it for Pioneers and Pathbreakers, but if you want I can set the secondary channel to New Leonardos. (9/1/15)

[2015-09-01 23:44] rmalina commented on #270
Sure
Didn't know you could do that

roger malina
On Sep 1, 2015 6:43 PM, "coreysmart92" notifications@github.com wrote:

[2015-09-01 23:50] coreysmart92 commented on #270
No problem, it is done. (9/1/15)

[2015-09-02 02:02] rmalina opened #284 "miriam sedel podcasts for art and climate change"
corey
would you be willing to work with me to get these podcasts in the door
before mid november ?

roger

Miriam Seidel miriamseidel1@gmail.com
3:24 PM (5 hours ago)

to rmalina, Diane
Dear Dr. Molina,

We saw your call for podcasts through the LinkedIn Scientist Artist Collaborations Group, and would like to propose a podcast for your planned Creative Disturbance podcast series, Art and Science

[2015-09-02 02:28] cassininazir commented on #255
@anvit @dylanorgeron review the other forms to make sure we're not missing the request for the podcast file! This is what QA is for! Thanks, @coreysmart92

[2015-09-02 03:02] cassininazir commented on #52
Checking in on this again, @halclark: can this be closed?

[2015-09-02 03:03] cassininazir commented on #254
@halclark would like your feedback on these forms before @dylanorgeron goes live with updates. Please get this ASAP.

[2015-09-02 03:06] rmalina commented on #281
corey
i put a few comments in your document-more on the formal than
content aspects
roger

On Tue, Sep 1, 2015 at 2:49 PM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-02 03:10] cassininazir commented on #203
@amb141330 good idea. Also shoot him an email as a courtesy.

[2015-09-02 15:05] amb141330 commented on #272
@rmalina I much prefer wired mice, but I think given the configuration that a wireless mouse suits it better. Do we keep batteries somewhere in the ArtSciLab? Or somewhere I can get them in ATEC without supplying them myself?

[2015-09-02 15:06] amb141330 commented on #269
Original issue topic is void. Email has been sent to @rmalina with the information on the form that needs to be filled out.

[2015-09-02 15:06] #269 closed, assigned to amb141330

[2015-09-02 15:09] amb141330 commented on #203
Email sent. I will talk to Scot tomorrow during class as well.

[2015-09-02 15:19] amb141330 commented on #278
Meet with me on how to use Echo360 for videos like this..
Record Audio seperately.
Have a tentative script for hitting key points in sequential order.
Make more specific, shorter, videos for each element. Using audacity, using jabber, using skype, sending a file, etc.
Recording audio seperately, after the video is already finished, will allow the talking to be much more smooth.
Don't forget to giv

[2015-09-02 15:25] amb141330 commented on #274
Suggestions made.

[2015-09-02 15:25] #274 closed, assigned to amb141330

[2015-09-02 16:31] rmalina opened #285 "pioneers podcast with judy malloy"
corey
i just put in the new leonardos drop box a podcast with pionner
judy malloy
its for publication on the pioneers and pathbreakers channel
but i dont see to have access to that folder

an you confirm you can find the podcast file

and a woman pioneer !! so lets give it priority

roger

[2015-09-02 16:59] rmalina commented on #278
ashton
 maybe you can train me on echo360
next time you are in the lab- knock on my office door
roger

On Wed, Sep 2, 2015 at 10:19 AM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-02 17:00] rmalina commented on #272
ashton
tell me exactly what we need to buy and i will buy some and bring them
in

roger

On Wed, Sep 2, 2015 at 10:05 AM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-02 17:03] linamoon commented on #247
Recorded today and uploaded to Dropbox for the Bold Roast!

[2015-09-02 17:03] #247 closed, assigned to linamoon

[2015-09-02 17:29] cassininazir commented on #229
This is a good overview document [A Complete Guide to User Testing Your Next Project](http://downloads.usertesting.com/white_papers/UserTesting-eBook_A-Complete-Guide-to-User-Testing-Your-Next-Project.pdf). Some of it is common sense, but organized.

[2015-09-02 17:59] cassininazir opened #286 "Assign Podcast for Charissa Terranova + Philip Beesley"
@coreysmart92 , I've uploaded Charissa's interview with Philip Beesley to DropBox (CD 1.8, New Leonardos). @rmalina or Charissa will send the forms through.

[2015-09-02 18:00] cassininazir commented on #283
@coreysmart92 feel free to solicit team members for help. You may assign them in GitHub.

[2015-09-02 19:01] linamoon commented on #247
Working title: Research and development in the ArtSciLab with Anvit Srivastav

[2015-09-02 19:13] linamoon commented on #229
Created folder Usability Testing for Forms to upload store all relevant files, in the 2.1 Development Team: https://drive.google.com/open?id=0B1tS6I_YV9uPRXQ5a096anpkWVk

[2015-09-03 00:53] yvantina commented on #246
emailed Rami's producers. Keep posted

[2015-09-03 00:53] yvantina commented on #234
emailed Annick. keep posted

[2015-09-04 03:12] rmalina commented on #285
corey
can you take over the correspondce with judy and send her the final version for approval\
roger

yes fine of course
corey
can you make sure you use the pre edited podcast with judy malloy
roger

On Thu, Sep 3, 2015 at 9:56 PM, Judy Malloy jmalloy@well.com wrote:

[2015-09-04 03:29] yvantina commented on #25
yay ! that sounds great !!

[2015-09-04 14:39] porteriffic commented on #184
Finally got a response (9/4). Here's what he said:

---

Hello Josephine.

Yes, we where interesting, but I've read all of the conditions to be in Creative Disturbance, and it was a lot of things, complicated. Like the fact we must have like a contract with all of our host, we can't do that, it's to complicated and we made interview with Skype, we don't meet all of our guest.

Creative Disturbance

[2015-09-04 14:53] porteriffic commented on #245
Closing. Feedback documented [HERE](https://docs.google.com/document/d/1XA60qxqJcCKX8SpdHId9IRqGApspQUiiYIBY1CT3yxo/edit)

[2015-09-04 14:53] #245 closed, assigned to porteriffic

[2015-09-04 14:54] porteriffic commented on #232
Closing. Feedback documented [HERE](https://docs.google.com/document/d/1XA60qxqJcCKX8SpdHId9IRqGApspQUiiYIBY1CT3yxo/edit)

[2015-09-04 14:54] #232 closed, assigned to porteriffic

[2015-09-04 15:04] #256 closed, assigned to porteriffic

[2015-09-04 15:09] linamoon commented on #276
- Document for reference: https://docs.google.com/document/d/1BA4HKJnXovWV6wI_Fm0F_1dyhLggIzmoaRpCXNGSk_0/edit

[2015-09-04 15:41] porteriffic commented on #224
@rmalina We currently have 169 followers and are now following everyone that is following us. I'll be making a concentrated effort to plan out the social media pushes. It'll be documented [here](https://docs.google.com/document/d/1DZhb-PAN5n4G51BaxLuJ9W3l9l8u_taEV6E5xkujn98/edit).

Closing for now.

[2015-09-04 15:41] #224 closed, assigned to porteriffic

[2015-09-04 15:53] porteriffic commented on #264
Started a document [here](https://docs.google.com/document/d/1Nec22I6Lr8aQ-M2QXES2d_uNrPn9bps-txognPJD4A4/edit).

[2015-09-04 15:53] #276 closed, assigned to linamoon

[2015-09-04 15:55] porteriffic commented on #134
Closing until we further develop [Intellectual Dating Plan](https://docs.google.com/document/d/1wnCUf26h3cZSoBeVf4-lK5lQv4w-jDLKwJ9rwSUkgQk/edit).

[2015-09-04 15:55] #134 closed, assigned to porteriffic

[2015-09-04 15:56] porteriffic commented on #160
Will narrow down "brainstorming" to NEW [Community Building Plan doc](https://docs.google.com/document/d/1QcRZOlyIHZyF7UXuvF3raP9wiE7oIHcOgdYqy0ES74E/edit)

[2015-09-04 15:56] #160 closed, assigned to porteriffic

[2015-09-04 16:12] porteriffic commented on #220
Email has been sent. Will feature a select few from The Bold Roast channel along with any other podcasts we get from other channels.

[2015-09-04 16:20] porteriffic commented on #158
http://www.thejuliagroup.com/blog/
http://www.7generationgames.com/about/our-team-2/annmaria-de-mars/

[2015-09-04 18:16] amb141330 commented on #265
Only photos needed now. Everything is listed under inventory and everything that should be able to be checked out is under equipment sign ups

[2015-09-04 18:17] amb141330 commented on #266
The equipment list is in Quartzy. Only photos need to be added now.

[2015-09-04 18:17] amb141330 commented on #203
I got the Radioplays from Scot. We'll now have to sift through them and see which ones are reasonable/appropriate to upload.

[2015-09-04 18:17] #203 closed, assigned to amb141330

[2015-09-04 23:21] yvantina commented on #184
if we talk about it during next meeting I can write him an email afterwards to try to remove his fears and complexes..

[2015-09-05 00:31] yvantina commented on #282
Roger
May I have her email address ?

[2015-09-05 01:27] rmalina commented on #282
Laura Marks lmarks@sfu.ca

roger

On Fri, Sep 4, 2015 at 7:31 PM, yvantina notifications@github.com wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-05 01:30] rmalina opened #287 "swiss web site for our aggregator mechanism"
josephine
talk to cassini
given they are already publishing podcasts we just
need to aggregate their podcasts with their agreement
with no additional paperwork
@cassininazir @yvantina

roger

Finally got a response. Here's what he said:

Hello Josephine.

Yes, we where interesting, but I've read all of the conditions to be in Creative Disturbance, and it was a lot of things, complicated. Like the

[2015-09-05 01:33] rmalina commented on #266
yeah!
have a good weekend
roger

On Fri, Sep 4, 2015 at 1:17 PM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-06 00:59] yvantina commented on #227
podcast form completed for Henry Daniel's podcast !

[2015-09-06 01:26] yvantina commented on #227
podcast form completed for Greg Streak's podcast !

[2015-09-06 02:37] rmalina opened #288 "COP 21 Art and Climate Change Prep"
sorry
i cant find the github item on t he cop 21  art ajnd climate change for november
not sure who to assign this to-is someone in charge of this splash page ?

roger

i have registered us for the art and cop21 committee

we need to start NOW getting art and climate change podcasts
did the CD liaison talk to susan erickson about it ?

roger

Dear roger malina,

Thank you for registering your even

[2015-09-07 01:41] yvantina commented on #246
Renaud appreciates the fact that we're asking for feedback after the opening of the channel so keep checking back:
he noticed that it requires a lot of time to produce those little audio modules
(establishing contact, interview preparation, recording, edition, publication..._)
which explains why they've not been so productive since Mayye Zayed

Claudine points out possible overlaps between Virtual

[2015-09-07 01:59] yvantina commented on #234
Nothing to report. "Trust Me" podcast series and pioneer artist Fred Forest to come.

[2015-09-07 14:05] rmalina commented on #288
Olivia Gray oliviagray@capefarewell.com via alum.mit.edu
7:46 AM (1 hour ago)

to Cape
Hello,

Thank you for registering to be a part of ArtCOP21 - I am pleased to say that your event has been chosen to be included on our website, which launches on the 17th September. When the website is up and running we will send you the link for your own promotion.

We will now start promoting all the fantastic

[2015-09-07 14:05] rmalina commented on #288
for our art and climate change push use these social media

Instagram - @artcop21
Facebook - @artcop21
Twitter - @art_cop21

roger

[2015-09-08 01:06] yvantina opened #289 "meta-life audiolats podcasts"
@coreysmart92 @halclark @amb141330 @porteriffic

Hey guys ! Can you please place those podcasts under the Meta-Life channel as well ? as they belong to the two channels
"Performing with Jellyfishes ..."
"Taste of Flesh... O'Brien"
"Taste of Flesh...Jareh Das"

more generally Audiolats podcasts are meant to go on their associated channel when they share common topics (either on space art, virtual a

[2015-09-08 03:13] porteriffic commented on #288
@rmalina I will forward this information to Susan. I've also added their social media accounts to the Feature Day Action plan for when it's time to do the social media push.

[2015-09-08 19:31] coreysmart92 opened #290 "Carlos Harleaux Podcast - Missing Forms"
@halclark @rmalina This is an issue to keep track of the Carlos Harleaux podcast forms. Currently Carlos Harleaux for Bold Roast is missing forms. Close this issue when the forms are completed. (9/8/15)

[2015-09-08 19:34] coreysmart92 opened #291 "Christopher Germann - Missing Podcast Forms"
@coreysmart92 @rmalina This issue is to keep tracking of Christopher Germann's Bold Roast podcast form completion. Close this issue when the forms are complete. (9/8/15)

[2015-09-08 19:35] coreysmart92 opened #292 "Jack McKay - Missing Podcast Forms"
@coreysmart92 @rmalina This issue is to keep tracking of Jack McKay's Bold Roast podcast form completion. Close this issue when forms are complete. (9/8/15)

[2015-09-08 19:38] coreysmart92 opened #293 "Agi Haynes - Missing Podcast Forms"
@halclark @rmalina This issue is to keep track of Agi Haynes Bold Roast form completeion. Close when the forms are complete. (9/8/15)

[2015-09-08 19:42] coreysmart92 commented on #289
Closing: All of the three podcast above have been checked/fixed, they all have Meta-Life as the secondary channel. (9/8/15)

[2015-09-08 19:42] #289 closed, assigned to coreysmart92

[2015-09-08 19:49] coreysmart92 commented on #286
Closing: I have both the forms and have assigned this podcast to be edited. (9/8/15)

[2015-09-08 19:49] #286 closed, assigned to coreysmart92

[2015-09-08 19:49] amb141330 commented on #241
Met with Yvan. Gave me information, but still has to email me more information and contacts.

[2015-09-08 19:49] amb141330 commented on #238
Met with Yvan. Gave me information, but still has to email me more information and contacts.

[2015-09-08 19:53] coreysmart92 commented on #101
I will have the Second Draft of the Video Tutorial on Monday 9/14/15. (9/8/15)

[2015-09-08 20:13] #258 closed, assigned to linamoon

[2015-09-09 01:31] yvantina commented on #289
seems like we have a problem with O'brien's picture and the "Performing with Jellyfishes ..." podcast

[2015-09-09 16:09] dylanorgeron commented on #250
@cassininazir friday at either 11am or 4pm seems to work for everyone according to the 1.2.1 Team Schedule doc. Do either of those times seem like they would work to you?

[2015-09-09 16:21] porteriffic commented on #288
Just finished Skyping with Susan. Here are my notes:

Susan will contact:
- Tamara Ledley
  - Climate Literacy Network
  - Can provide other names
- Geological Society of America
  - Takes place November 1-4
  - Can possibly record podcasts
- Kathy Ellins

She told me to bug her in 3 weeks or on 9/30.

[2015-09-09 18:19] cassininazir commented on #250
Yes, either of those work. This Friday, Sept 11?

[2015-09-09 18:27] dylanorgeron commented on #250
That's fine with me. Would you like me to write up the email, or would you like to do it?

[2015-09-09 18:46] cassininazir commented on #250
Please send it out.

Cassini Nazir

Clinical Associate Professor, School of Arts, Technology, and Emerging Communication
Director of Design and Research, ArtSciLab
The University of Texas at Dallas

---

From: Dylan Orgeron [notifications@github.com]
Sent: Wednesday, September 09, 2015 1:27 PM
To: creativedisturbance/podcasts
Cc: Nazir, Cassini
Subject: Re: [podcasts] Schedule Design Review Meetin

[2015-09-09 19:49] dylanorgeron commented on #250
Email just went out, let me know if I missed anyone.

[2015-09-09 22:03] #213 closed, assigned to anvit

[2015-09-09 22:32] anvit commented on #172
The 'featured' field is now checked by default every time a new podcast or voice is created. An old podcast/voice would still have to be manually unchecked so that only a limited number of voices/podcasts show up.

[2015-09-09 22:32] #172 closed, assigned to anvit

[2015-09-10 15:02] #250 closed, assigned to dylanorgeron

[2015-09-10 15:02] #257 closed, assigned to dylanorgeron

[2015-09-10 15:03] dylanorgeron opened #294 "Add page to retrieve forms"
Provide page to allow CD team to view the data from submitted forms. Forms can also be deleted from this page.

[2015-09-11 14:47] porteriffic commented on #105
Emailed him finally. Scot says it's okay to post on Sound & Data. Just gotta let him listen to it first.(9/11)

[2015-09-11 15:06] porteriffic commented on #263
We've added this to the process and all team members are aware of this. Will update in a couple of weeks to see how we're doing with it.

[2015-09-11 15:09] porteriffic commented on #142
We are now following back all our followers on Twitter. Will implement weekly social media posts on Monday (9/14) using HootSuite.

[2015-09-11 15:13] cassininazir commented on #142
Great!

[2015-09-11 17:58] #230 closed, assigned to dylanorgeron

[2015-09-11 17:58] #229 closed, assigned to dylanorgeron

[2015-09-12 21:39] yvantina opened #295 "art video history and beyond"
@halclark
Hal
please follow this discussion for ideas on guests we should invite
for our art and video history video day
see moderator list at the bottom of the page

---------- Forwarded message ----------
From: empyre-request@lists.artdesign.unsw.edu.au
Date: 2015-09-09 21:00 GMT-05:00
Subject: empyre Digest, Vol 129, Issue 2
To: empyre@lists.artdesign.unsw.edu.au

Send empyre mailing list submi

[2015-09-12 21:43] yvantina commented on #288
Morgan Trevor will be a perfect fit for art and cop21 on virtual africa
would be great if I could sent him a blurb by the end the month

---------- Forwarded message ----------
From: Yvan Tina yvantina@gmail.com
Date: 2015-09-07 18:52 GMT-05:00
Subject: Re: LOVELY WEATHER: ART AND CLIMATE CHANGE: Proposal to submit a paper
To: Morgan Trevor morgan.trevor@unn.edu.ng

[code]

[2015-09-12 21:50] porteriffic commented on #288
@yvantina Yes, please do! That would be great!

[2015-09-12 21:53] yvantina commented on #288
Josephine - I would need a draft. Do you already have something I can share ?

[2015-09-12 22:00] yvantina commented on #225
Josephine - any news from Diane ?

[2015-09-12 22:19] porteriffic commented on #225
@yvantina Unfortunately, no. I can contact her again but you are welcome to do it instead. Let me know what you decide.

[2015-09-12 22:39] porteriffic commented on #288
@yvantina The only description and info I have on COP21 is in the [Feature Day Action Plan](https://docs.google.com/document/d/1lA0UaMrmaxg-rOLGox4mCvvn_tB3DBqwo5PoWWsPgZA/edit). Scroll down to number 5.

[2015-09-12 22:42] porteriffic commented on #220
@amb141330 You've been put in charge of the splash page, according to the (Feature Day Action Plan)[https://docs.google.com/document/d/1lA0UaMrmaxg-rOLGox4mCvvn_tB3DBqwo5PoWWsPgZA/edit]. Let's have the splash page ready to go by the Monday, Sept. 21st.

@linamoon How much time would you need to create graphics for the splash page and social media posts?

[2015-09-12 23:33] porteriffic commented on #263
@coreysmart92 Please add this to Monday's agenda so we can see how we're doing on implementing this.

[2015-09-12 23:35] porteriffic commented on #184
@yvantina Feel free to contact him. We can discuss at the meeting on Monday at 1pm. Will you be there?

[2015-09-12 23:36] rmalina commented on #288
josephine
i am happy to work on the cop21 material
who is the lead student on this one ?

roger

On Sat, Sep 12, 2015 at 5:39 PM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-12 23:36] porteriffic commented on #144
@dylanorgeron Maybe we can actually implement this when we start the website redesign?

[2015-09-12 23:41] porteriffic commented on #288
@rmalina No one is assigned to it yet. So far I've contacted Susan about it and I think Yvan might have a person to do a podcast with for COP21. That's as far as we've gone.

[2015-09-13 01:51] yvantina commented on #184
Yes. Will do

[2015-09-13 02:11] yvantina opened #296 "Artisthinktive Iran: A Forum for Distinctive Thinking on Iranian Arts Channel"
@rmalina @cassininazir @porteriffic
I had a meeting yesterday with Fatemeh Tashakori (ftphilosophy@googlemail.com ) who wants to be a disturber for a channel on contemporary and new media art from Iran. She and Moreshin were originally supposed to be the producers but Moreshin is actually too busy to assume that responsibility and said she would be happy to contribute from time to time - that's fo

[2015-09-13 02:20] yvantina commented on #296
Forgot to mention that Fatemeh is doing a PhD in A&H. You probably know her already

[2015-09-13 18:32] linamoon commented on #220
Should be pretty straightforward, let's say a few days so I'll have it done by this upcoming Thursday?

[2015-09-13 20:07] porteriffic commented on #220
@linamoon Great! Would be cool to attach some graphics with the social media posts.

[2015-09-13 20:12] porteriffic commented on #296
@yvantina She can access the Producer Forms [here](http://creativedisturbance.org/forms/). I can email her if you'd like but it might be better if you remain her contact since you know her. I'll leave it up to you.

[2015-09-13 22:10] yvantina commented on #296
@porteriffic I told her someone from the team will contact her and I think it looks more professional if you or someone else send her an email to assist her on the process. My support can be more informal (filling out the podcast forms, translations issues, etc) and i'll be in touch with her throughout the months but it's better if she feels like she's part of an organization - not just a friend o

[2015-09-14 00:35] porteriffic commented on #296
@yvantina Ah, I understand. I'll shoot her an email sometime tomorrow.

[2015-09-14 15:26] coreysmart92 commented on #284
I have been emailing with Miriam Seidel, she plans to record the podcast mid-October. (9/14/15)

[2015-09-14 15:36] cassininazir commented on #144
We need to define what's meant by archiving -- perhaps its not the right word. I propose it should be:
- The producer is informed that the channel will be "archived" or whatever we decide to call it.
- We put a notice on the channel that the position of producer is open to whomever wishes to cultivate content.
- We let the previous guests know about the above (via email)?

[2015-09-14 16:07] coreysmart92 commented on #248
I have emailed the producer, Roger, about Space Art & Culture to setup a meeting. (9/14/15)

[2015-09-14 16:08] coreysmart92 commented on #243
I have emailed the producer, Roger, about New Leonardos to setup a meeting. (9/14/15)

[2015-09-14 16:08] coreysmart92 commented on #242
I have emailed the producer, Roger, about Pioneers & Pathbreakers to setup a meeting. (9/14/15)

[2015-09-14 16:09] coreysmart92 commented on #239
I have emailed the producer, Poe Johnson, about Within the Margins to setup a meeting. (9/14/15)

[2015-09-14 16:10] coreysmart92 commented on #235
I have emailed the producers, Stephanie and Anvit, about The Bold Roast: Student Conversations to setup a meeting. (9/14/15)

[2015-09-14 16:14] coreysmart92 commented on #227
Closing: Both podcasts have been published. (9/14/15)

[2015-09-14 16:14] #227 closed, assigned to coreysmart92

[2015-09-14 16:18] coreysmart92 commented on #101
I am still editing the Second Draft video, moving due date back to 9/16/15. (9/14/15)

[2015-09-14 16:25] coreysmart92 commented on #255
The biggest thing I noticed was that in the new podcast info form there is no where to insert the audio files. (9/14/15)

[2015-09-14 16:41] rmalina opened #297 "develop stingers based on USTs"
hal

i would like to meet with you and scot to discuss the idea of your experimental team developing bumpers and stingers that illustrate sound icons known as UST's- scot knows all about it
and i am really interested in seing this done and would be pleased to work with you on this
for discussion at your experimental meeting -when is it ?

i talked to frank dufour and scot about the idea and they w

[2015-09-14 16:42] amb141330 commented on #278
Video being edited. Another github issue should be created for the new one. I can help with any of this if need be.

[2015-09-14 16:42] #278 closed, assigned to amb141330

[2015-09-14 16:42] amb141330 commented on #272
Brian brought AA batteries and the batteries have been replaced in the mouse.

[2015-09-14 16:42] #272 closed, assigned to amb141330

[2015-09-14 16:43] amb141330 commented on #265
Inventory is complete. Testing is next.

[2015-09-14 16:44] amb141330 commented on #241
Information has been received.

[2015-09-14 16:44] #241 closed, assigned to amb141330

[2015-09-14 16:44] amb141330 commented on #238
Information has been received.

[2015-09-14 16:44] #238 closed, assigned to amb141330

[2015-09-14 16:44] amb141330 commented on #153
Is this still something we are interested in? I don't see the practical application for this currently.

[2015-09-14 16:49] rmalina commented on #153
ashton
i want us to be able to routinely video tape skype
or jabber discussions as well as video tape discussions
we need to really ramp up so everyone is trained
on this

including jabber recordings

roger

On Mon, Sep 14, 2015 at 11:44 AM, amb141330 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-14 16:50] rmalina commented on #265
ashton
i returned the zoom i took to europe and put it on t he
filing cabinet but didnt know how to check it in

it also needs to be checked to make sure the batteries
are ok and the memory card

roger

On Mon, Sep 14, 2015 at 11:43 AM, amb141330 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-14 16:51] rmalina commented on #272
ashton
do we need a monthly check list of things that need to be checked
periodically like replacing the batteries in things ?

roger

On Mon, Sep 14, 2015 at 11:42 AM, amb141330 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-14 16:52] rmalina commented on #144
cassini

your procedure sounds fine

roger

On Mon, Sep 14, 2015 at 10:36 AM, Cassini Nazir notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-14 17:34] anvit commented on #255
There is now an option in the podcast form to upload a podcast audio file.

[2015-09-14 18:30] yvantina opened #298 "Creative Europe logo for Trust Me podcast series"
@porteriffic
Josephine - we need to have the logo of Creative Europe (see attached) for each "Trust Me I'm an Artist" podcast that Annick sends us as part of the collaboration with the European Commission . As of today we ONLY need it done for these two ones:
- http://creativedisturbance.org/fr/podcast/taste-of-flesh-bite-me-im-yours-as-seen-by-the-curator-meeting-with-jareh-das-eng/
- http://crea

[2015-09-14 18:36] porteriffic commented on #298
@yvantina You might want to bring @linamoon in the loop on this. She's in charge of creating any graphics we need.

[2015-09-14 18:45] yvantina commented on #298
Yes @linamoon can you please take care of this as soon as you can ? choose any of the two logos -you don't have to use both of them. Thanks

[2015-09-14 18:46] porteriffic opened #299 "CD Email Templates (Weekly Emails)"
Show @coreysmart92 and some others how to access Creative Disturbance email templates via Gmail.

[2015-09-14 18:57] linamoon commented on #298
@porteriffic @yvantina This doesn't seem to be creating any logos, but more like just updating those podcast pages with the pictures above? I can just do that as well.

[2015-09-14 19:00] cassininazir commented on #144
@dylanorgeron can you prioritize this? We can discuss. Probably need a way to manage active vs inactive channels.

Perhaps there's a way to do this automatically, so that after 3 months of inactivity?

[2015-09-14 19:01] porteriffic commented on #296
@yvantina I'm assuming her email is ftphilosophy@gmail.com not ftphilosophy@googlemail.com?

[2015-09-14 19:11] cassininazir opened #300 "Add Bumper "Authors" to Each Podcast"
Prioritize this. With the new forms process this should be easier. Let's add this to WordPress.

[2015-09-14 19:55] rmalina commented on #300
this is a really important one
corey can you make sure that from now on
every podcast text credits the author of the bumper
that is used

start this with the one going up this week

roger

On Mon, Sep 14, 2015 at 2:11 PM, Cassini Nazir notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-14 20:53] cassininazir commented on #294
Write up a description of what this is. I know you what this is, but others may not.

[2015-09-14 20:56] cassininazir opened #301 "Publish Forms v2.0"
Want this to go live Monday, Sept. 28. Would like you plan accordingly. A few things additional to consider:
- We need a blog post to explain how this will work and what's the benefit.
- Work with @linamoon on generating an email to producers about this.
- Wayfinding: How do I get to this from the current Creative Disturbance site?

[2015-09-14 21:23] cassininazir opened #302 "Create "Human Impacts Institute" Channel"
@porteriffic Create a new channel for HII. Adapt content from http://www.humanimpactsinstitute.org/#!about/cil3 for the description.

Website is http://www.humanimpactsinstitute.org/

Work with @linamoon on album art.

[2015-09-14 21:26] cassininazir opened #303 "Album Artwork for "Human Impacts Institute" Channel"
@linamoon Can you create the album art for the HII channel? Use their logo (a few links to it below) to create an image that fits our design parameters (1400 x 1400 px, etc) while also confirming to their colours, logo, typeface.

Use Illustrator's Trace Image tool to create a vectorized version of their logo

http://static.wixstatic.com/media/677366_93141673e489429896c7aa13742d2d1e.png_srb_p_74_7

[2015-09-14 21:28] cassininazir opened #304 "New Channel"
@coreysmart92 @porteriffic

We have the approval for a new channel for the Human Impact Institute's stories (19 podcasts). Can you begin scheduling these?

http://www.humanimpactsinstitute.org/#!human-impact-stories/c1cet

[2015-09-14 21:29] cassininazir commented on #302
Better description for their channel at http://www.humanimpactsinstitute.org/#!human-impact-stories/c1cet

[2015-09-14 21:36] yvantina commented on #296
@porteriffic
ftphilosophy@googlemail.com is the address i have in my inbox. but here is her utd one
fxt131130@utdallas.edu

[2015-09-14 21:39] cassininazir commented on #296
Googlemail.com is the same as Gmail.com. Either will send to the same person.

[2015-09-15 00:02] linamoon commented on #299
@porteriffic For this do you mean like the email templates that we sent out for Look Back day?

[2015-09-15 03:29] rmalina commented on #293
can you confirm she filled out the rights release form ?
same for the others you sent me emails for
roger

On Tue, Sep 8, 2015 at 2:38 PM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-15 15:18] linamoon opened #305 "Blog Post for International Coffee Day"
I noticed we forgot to put up a blog post for Look Back Day, so thought I'd make a Github item for this. Assigning to Corey as per 2.2.10 Feature Day Action Plan.

https://docs.google.com/document/d/1lA0UaMrmaxg-rOLGox4mCvvn_tB3DBqwo5PoWWsPgZA/edit
- Explain content and celebration
- Share blog post on social media platforms

[2015-09-15 16:02] linamoon commented on #298
Added to all "Trust me I'm an artist" pages - ideally should make a note for future podcasts like these.

[2015-09-15 17:37] porteriffic commented on #296
Emailed Fatemeh (9/15)

[2015-09-15 17:46] porteriffic commented on #299
@linamoon No. These would be just weekly emails/updates for the producers on upcoming podcasts

[2015-09-15 18:50] halclark commented on #277
Very thorough. However, I believe it to be a little long, as you probably know already.

[2015-09-15 18:50] #277 closed, assigned to halclark

[2015-09-15 18:57] halclark commented on #275
Done

[2015-09-15 18:57] #275 closed, assigned to halclark

[2015-09-15 18:57] halclark commented on #251
Scheduled for every monday after sound meeting.

[2015-09-15 18:57] #251 closed, assigned to halclark

[2015-09-15 19:00] #254 closed, assigned to halclark

[2015-09-15 19:03] halclark commented on #129
Sent email at the end of July (7/23), no response. Sent email mid August (8/16), no response. Sent last email today (9/15). Closing issue.

[2015-09-15 19:03] #129 closed, assigned to halclark

[2015-09-15 19:14] halclark commented on #140
Emailed at the end of July (7/27), no response. Emailed end of August (8/26), no response. Closing issue.

[2015-09-15 19:14] #140 closed, assigned to halclark

[2015-09-15 19:15] halclark commented on #110
Under control, new bumpers will be posted to new experimental space's soundcloud page.

[2015-09-15 19:15] #110 closed, assigned to halclark

[2015-09-15 19:17] halclark commented on #128
Sent forms a final time today (9/15).

[2015-09-15 19:17] #128 closed, assigned to halclark

[2015-09-15 19:18] halclark commented on #219
Excellent! Have talked to Scot and Filip, with no reply from Frank. Will have more info by the end of this week.

[2015-09-15 19:20] halclark commented on #127
Sent email mid July (7/13) no reply. Sent email at the beginning of August (8/10) no reply. Sent final email today (9/15)

[2015-09-15 19:20] #127 closed, assigned to halclark

[2015-09-15 19:49] linamoon commented on #298
@yvantina would like the logo next to the podcast title on the Disturbance pages (Audiolats and Meta-Life) as per below -

![screen shot 2015-09-15 at 2 40 32 pm](https://cloud.githubusercontent.com/assets/10729556/9887945/f51aa65e-5bb7-11e5-9496-0a5fd8ed2476.png)

The WP dashboard backend doesn't seem to allow this easily though - perhaps @dylanorgeron would know better if this is possible?

[2015-09-15 22:18] #298 closed, assigned to linamoon

[2015-09-15 22:25] rmalina opened #306 "set up podcast with the harrisons for art and climate change"
corey
when would you be available next monday to set up/record
podcast ?

roger

---------- Forwarded message ----------
From: Harrison Studio harrisonstudio@gmail.com
Date: Tue, Sep 15, 2015 at 5:05 PM
Subject: Re: The book
To: roger malina rmalina@alum.mit.edu
Cc: Janeil Engelstad janeil@mac.com, Corey Smart corey.smart92@gmail.com

Hi

I am available on the 21st after 2PM.

Newton

The Harrison

[2015-09-15 22:31] rmalina opened #307 "guy edmonds for audiovisual archive day"
corey
can you set up and schedule this podcast recording

roger

Guy Edmonds via alum.mit.edu
4:01 PM (1 hour ago)

to roger, Guy, Corey
Yes, no problem to set it up during my evening.

Guy

On 15/09/2015 21:32, "roger malina" rmalina@alum.mit.edu wrote:

[2015-09-15 23:07] halclark opened #308 "Hi-res channel images for soundcloud"
Someone point me in the right direction to get the highest res possible images for each of the channel images. Images are blurry. http://x.creativedisturbance.org/project/stingers/. Thanks!

[2015-09-16 03:11] rmalina commented on #184
josephine
talk to cassini
we can now do an aggregation without getting
them to resubmit their podcasts

roger

On Sat, Sep 12, 2015 at 8:51 PM, yvantina notifications@github.com wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-16 15:21] rmalina opened #309 "possible podcast with jenifer wightman on art and climate change"
possible podcast wi9th jenifer wightman on art and climate change

can you see if susan would like to record this ?

enifer
another thought
for COP21 we are doing art and climate change
podcasts on our creative disturbance podcast platform
susan erickson has a channel on art and earth science

http://creativedisturbance.org/channel/art-and-earth-science/

might you be willing to record a podcast v

[2015-09-16 16:25] amb141330 commented on #271
I didn't see the Stetho software, but I did update Firefox. Can we check again and see if it's working now?

[2015-09-16 17:04] cassininazir commented on #271
The URL for Stetho is

stetho.herokuapp.com

and

stethox.herokuapp.com

Cassini Nazir

Clinical Associate Professor, School of Arts, Technology, and Emerging Communication
Director of Design and Research, ArtSciLab
The University of Texas at Dallas

---

From: amb141330 [notifications@github.com]
Sent: Wednesday, September 16, 2015 11:25 AM
To: creativedisturbance/podcasts
Cc: Nazir, Cassini
Subj

[2015-09-16 17:18] coreysmart92 commented on #248
I have met with Roger about Space Art & Culture. (9/16/15)

[2015-09-16 17:18] #248 closed, assigned to coreysmart92

[2015-09-16 17:18] coreysmart92 commented on #243
I have met with Roger about New Leonardos Channel. (9/16/15)

[2015-09-16 17:18] #243 closed, assigned to coreysmart92

[2015-09-16 17:19] coreysmart92 commented on #242
I have met with Roger about Pioneers & Pathbreakers channel. (9/16/15)

[2015-09-16 17:19] #242 closed, assigned to coreysmart92

[2015-09-16 17:19] coreysmart92 commented on #239
I have met with Poe Johnson about the Within the Margins channel. (9/16/15)

[2015-09-16 17:19] #239 closed, assigned to coreysmart92

[2015-09-16 17:38] cassininazir commented on #239
Great! Saw you both meeting. Provide a quick update in the GitHub or Google Docs on the outcome of the meeting (what was agreed to, action items, etc).

[2015-09-16 17:46] cassininazir commented on #308
CD 5.1 on Google Drive.

Or right click on the images on http://creativedisturbance.org/disturbances/ and you can save them that way.

[2015-09-16 17:56] cassininazir commented on #219
Good! Can you add information and the outcome from Scot and Filip? You may need to chat with Frank after class to get a few minutes of his time. He's quite busy.

[2015-09-17 13:01] rmalina opened #310 "open the femgineers channel"
meet with eun ah lee
has she filled out new channel form

Dr. Malina, Josephine,

I hope the fall semester is going well for all of you.
I have contacted women engineering student groups, and they show enthusiastic interests in this podcast project. It seems that we are going to be able to record our first podcast soon.

So, I'd like to ask your help to prepare the recording.
As you suggested, it

[2015-09-17 14:03] rmalina commented on #293
corey
i have filled out the form
roger
@halclark

On Tue, Sep 8, 2015 at 2:38 PM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-17 15:33] porteriffic commented on #310
Sent Eun Ah an email to set up a time to meet. Started a draft for the channel on WordPress.

@linamoon Is the album art located in the Google Drive? I couldn't find it in there.

[2015-09-17 15:45] porteriffic commented on #302
Started a draft.

@cassininazir @linamoon Should we use their album art? Maybe we can still use their logo but make it look nicer? It's located on their [SoundCloud](https://soundcloud.com/humanimpactsinstitute)

[2015-09-17 22:28] rmalina commented on #293
corey hal
i mispelled agi's name in the pocast form

can you fix

roger

@halclark   @coreysmart92
Agatha Haines via alum.mit.edu
11:56 AM (5 hours ago)

to roger
Hi Roger,

Yes this is great, the only thing is that my name is spelt with an i as in Haines.
Thanks.

Looking forward to listening to the others,
All the best,
Agi

---

Agi Haines
Speculative Designer
Research Fellow: CogNovo (Marie Cu

[2015-09-18 14:27] porteriffic commented on #296
@linamoon Will need your assistance with album artwork at some point for this channel.

[2015-09-18 14:44] porteriffic commented on #305
@coreysmart92 I recommend you start the blog post now that way you have plenty of time to proof and edit it. Please send either Cassini or I your draft no later than Wednesday 9/23.

[2015-09-18 15:07] porteriffic commented on #220
- Roots of Curiosity Conference: Symbiosis of Art and Science feat. Patricia Correia, Ana Rita Fonseca & Sam Viana
- Cancer: Finding Beauty in the Beast
- El Futuro de las Prótesis Robóticas/ The Future of Robotic Prostheses
- Gender and Economics with Nobel Prize Winner Amartya Sen
- The Intertwining Constructions of Blackness
- タイトル "DNA-RNAキメラリピッドから考える生命起源" (1/3) [JA]

[2015-09-18 16:17] porteriffic commented on #105
Still haven't heard from him (9/18)

=(

[2015-09-20 17:37] rmalina commented on #292
coorey
i have filed the form and it is ready to publish
i listened to your edited version and its great

roger

Dear Roger,
Sorry for sending this late, but here is the edited version of the Jack McKay Podcast. First it still needs forms to be published. Second it ended rather abruptly around 12 mins, I am not sure if that was where you planned to end it or not. I added one of your rap-ups from an

[2015-09-20 17:39] rmalina commented on #292
form filed
and send to guest to check and correct
wait for me to confirm the guest approves it
before you publish
roger

On Tue, Sep 8, 2015 at 2:35 PM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-20 18:01] rmalina commented on #290
corey
here is status=
wait for his reply before publishing
roger

carlos
here mis the form i filled out for your podcast
can you look at the text for the pocast description
i need the name and url of your project indieblok ?

if you see any other corrections that need making
make them and send the form back to me

sorry its taken so long for me to get to this

i enjoyed doing the podcast with you-

[2015-09-20 18:15] rmalina opened #311 "please publish podcast by diego maranan"
i have filled out the form for diego maranan but couldnt fint a github item on him-
do you have his podcast and has it been edited ?

am waiting for guest to ok the content
wait for this ok to publish it

roger

[2015-09-20 18:38] rmalina commented on #291
corey
i have filled out the form for christopher germann and will tell you once
he has approved the form

roger
@coreysmart92

[2015-09-20 18:40] rmalina opened #312 "change of channel for malina podcasts"
corey
can you publish all my new podcasts ( german, maranan, mckkcay etc) in new leonardos and not bold roast

the bold roast producers should be doing those

roger

[2015-09-20 18:41] #281 closed, assigned to rmalina

[2015-09-20 18:42] rmalina commented on #240
move this channel to the archive section as we discussed-see cassini for how to do this
roger

[2015-09-20 18:42] rmalina commented on #240
josephine
can you discuss with cassini how to move indiegame nation to archive status
and we can see if we can find a new producer
roger

[2015-09-20 18:43] rmalina commented on #222
havent had time to do this-i still plan to do so

[2015-09-20 19:13] rmalina commented on #291
corey

you have the guests approval to publish this podcast if you make the
changes and use this version of the form

roger

On Sun, Sep 20, 2015 at 2:04 PM, Christopher Germann christopher.germann@plymouth.ac.uk wrote:
Hi Rodger,

looks really good - many thanks for your efforts! I made some minor adjustments to the title, the description, and the biography section.
I look forwards to listening t

[2015-09-21 14:28] cassininazir opened #313 "Three New Podcasts for Big Design for Queue"
Have deposited podcasts into the DropBox folder. Will complete forms later today.

[2015-09-21 15:00] cassininazir commented on #296
FYI: The registration form has been sent through Wufoo.

[2015-09-21 15:00] cassininazir opened #314 "Album Art: Artisthinktive Iran: A Forum for Distinctive Thinking on Iranian Arts"
Channel Name
- Artisthinktive Iran: A Forum for Distinctive Thinking on Iranian Arts

Short Description of the Channel
- This channel provides a forum to introduce and analyze contemporary Iranian arts. Its main goal is to illustrate how Iranian artists are contributing to a wide array of artistic forms. The channel wishes to be a window to an area of artistic activity that has been neglected by w

[2015-09-21 15:10] cassininazir opened #315 "Big Design Podast: UX Professional: Year One"
@coreysmart92 please re-assign to the appropriate person.

Use the following information for Art Sanchez

![art-sanchez-262x272](https://cloud.githubusercontent.com/assets/1661430/9995654/e553eeb6-6048-11e5-9601-2066cff30aac.jpg)

ART SANCHEZ
Art Sanchez is a UX designer with many years of experience in sales and marketing. He enjoys building prototypes and performing usability testing. On most ni

[2015-09-21 15:10] rmalina commented on #292
mckay has approved his form and podcast
you have authorisation to publish
roger

ey Roger,

Looks perfect, thanks for asking me to check.

Cheers,
Jack

---

From: leonardo.isast@gmail.com [leonardo.isast@gmail.com] on behalf of roger malina [rmalina@alum.mit.edu]
Sent: 20 September 2015 18:33
To: Jack McKay Fletcher
Subject: Fwd: CREATIVE DISTURBANCE - New Podcast Info Form

jack

[2015-09-21 15:56] porteriffic commented on #142
Closing since I now update the social media platforms weekly.

[2015-09-21 15:56] #142 closed, assigned to porteriffic

[2015-09-21 16:22] porteriffic commented on #240
@rmalina Just added to my to-do list.

[2015-09-21 16:25] porteriffic commented on #149
I will suggest this to Eun Ah when I meet with her on Friday.

[2015-09-21 16:26] #169 closed, assigned to porteriffic

[2015-09-21 16:33] porteriffic commented on #288
All team members have been assigned based on the [Feature Day Action Plan](https://docs.google.com/document/d/1lA0UaMrmaxg-rOLGox4mCvvn_tB3DBqwo5PoWWsPgZA/edit)

[2015-09-21 17:54] porteriffic opened #316 "Creative Disturbance Party Planning"
Started a Google Doc called [Creative Disturbance Party](https://docs.google.com/document/d/124ho-dOd9fFQ4mP4YLQSnMBDWQRCIXU4T4GV_kFnn68/edit).

[2015-09-21 18:14] porteriffic opened #317 "Create an Action Plan for Quarterly Meet Up with Producers"
Started a document called [CD 2.3.9 | Producer Accountability](https://docs.google.com/document/d/1fbAn2fIOYkS4Nd7iPWeoNv-BSoHqf9tBGuOxUZpPiB4/edit)

[2015-09-21 18:19] halclark opened #318 "Forms for Judy Malloy Podcast"
Podcast ready to go up on completion of forms.

[2015-09-21 18:24] cassininazir opened #319 "Human Impacts Group"
Schedule podcasts for Human Impacts Group for the next few weeks. Send to Tara Deporte (tara@humanimpactsinstitute.org) to keep her informed.

You can schedule them all in WordPress and LibSyn. Get from:
http://www.humanimpactsinstitute.org/#!human-impact-stories/c1cet

You'll need to work on the Voice information as this doesn't necessarily appear on the website.

[2015-09-21 18:28] porteriffic opened #320 "Email "Call for Podcast" Email to Producers for COP21"
Send out email to producers for COP21 and Art & Climate Change by Friday, September 25

[2015-09-21 18:29] porteriffic opened #321 "Cut down January Splash Page Suggestions"
[January Splash Page Suggestions](https://docs.google.com/document/d/1BA4HKJnXovWV6wI_Fm0F_1dyhLggIzmoaRpCXNGSk_0/edit)

[2015-09-21 18:38] rmalina opened #322 "UST strategy"
hal
i may not make the experimental meeting this week but here are two suggestions
a) for all future rhythmically inclided podcasts disuss the relevant USTs that were used for the stinger production
b) record a podcast with frank dufour about USTs

roger
@coreysmart92

[2015-09-21 18:43] porteriffic opened #323 "Create a description for Art & Climate Change"
Ask Susan and Cassini for feedback on draft

[2015-09-21 18:45] rmalina opened #324 "Try out blab.im"
blab.im is a new system for on line recording of video chats
it also archives a podcast and video for later viewing or use

try it out - maybe its a better system than skype for our purposes

roger

[2015-09-21 22:05] rmalina opened #325 "Podcast of Helen and Newton Harrison (COP21 Art & Climate Change)"
corey
i have loaded a podcast with helen and newton harrison to be published
by nov 20 for our cop 21 art and climate change month
it is in drop box new leonardos under art and climate change folder

roger

please assign it to an editor to work with me

[2015-09-23 12:24] yvantina opened #326 "Channel idea for MIT aggregator"
@rmalina @cassininazir
Just listened the three gates media podcast on Symbiotica and thought they could be a good fit for the CD and the aggregator..two independent women from Australia.. please check their website
http://www.threegatesmedia.com/aboutus/
http://www.threegatesmedia.com/blog-adirondack/2015/9/22/rare-air-11-ionat-zurr-and-oron-catts

[2015-09-23 12:29] yvantina commented on #323
@porteriffic here's an example of what I just received from the YALI network

---------- Forwarded message ----------
From: YALI Network yalin.mailer@state.gov
Date: 2015-09-23 2:31 GMT-05:00
Subject: #YALICHAT on climate change and green solutions - join today!
To: yvan yvantina@gmail.com

Dear YALI Network,

Climate change affects more than the environment -  businesses, farmers and individuals

[2015-09-23 15:15] amb141330 commented on #249
@coreysmart92 Did you meet with Roger on this? He mentioned that you met with him on all his channels. I know I was assigned to this so I'm not sure if it happened.

[2015-09-23 15:28] cassininazir commented on #326
Great! Assign to Ashton or your sound designer to make contact and invite.

[2015-09-23 16:22] dylanorgeron opened #327 "create blog post to post with new forms"

[2015-09-23 16:35] dylanorgeron commented on #327
https://docs.google.com/document/d/1zCFVlsSV9fRSWii4MPmqjGcdHLM8KShFmtG8Yz9WsB4/edit?usp=sharing
@linamoon please read and review

[2015-09-24 04:11] linamoon commented on #303
Album art (large and small) is done and uploaded to 5.1 Album Artwork:

https://drive.google.com/open?id=0BwvQhnxKj6jFdGN2MVpfYUx5ZHM

Not fond of the logo but thought this was a nice compromise P:

@porteriffic

[2015-09-24 04:11] #303 closed, assigned to linamoon

[2015-09-24 04:12] linamoon commented on #302
Album art (large and small) is done and uploaded to 5.1 Album Artwork:

https://drive.google.com/open?id=0BwvQhnxKj6jFdGN2MVpfYUx5ZHM

(Art is slightly modified from their original logo to look nicer)

@porteriffic

[2015-09-24 15:33] rmalina commented on #302
thjis seems to be the wrong file
its not the human impacts institute
roger

On Wed, Sep 23, 2015 at 11:12 PM, Lina Moon notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-24 16:23] linamoon commented on #302
Ah oops, the link should be fixed now.

[2015-09-24 17:18] rmalina commented on #302
thanks
great
has tara approved it
dont use until she does
rpoger

On Thu, Sep 24, 2015 at 11:23 AM, Lina Moon notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-24 17:34] amb141330 commented on #319
Email has been sent to Tara Deporte letting her know I will be handling her podcasts and we will begin to upload content next week.

[2015-09-24 18:00] linamoon commented on #302
Right - will send her to approval. Definitely

On Thu, Sep 24, 2015 at 12:18 PM, rmalina notifications@github.com wrote:

[2015-09-24 18:20] linamoon commented on #314
Met with Fatemeh about album art - will send draft by upcoming Wednesday (educational rights for images?)

On Mon, Sep 21, 2015 at 10:00 AM, Cassini Nazir notifications@github.com
wrote:

[2015-09-24 18:31] cassininazir commented on #303
https://drive.google.com/folderview?id=0BwvQhnxKj6jFdGN2MVpfYUx5ZHM&usp=drive_web

This is a good compromise!

[2015-09-24 18:46] rmalina commented on #288
hi
who is working on the art and climate change splash page
we are now up on the COP 21 web site
http://www.artcop21.com/events/creative-disturbance-art-and-climate-change/

they ask us to post their URL, LOGO and twitter hashtac details below
on our web site so these need to go on our splash page

who is assigned to work in the splash page for art and climate change
lets meet as soon as possible

[2015-09-25 01:43] cassininazir opened #328 "Experimental Channel: Chat with Paul Ford about the Sentimental Piano"
@halclark Take a look at his capstone project at

http://104.131.175.79:8080/

and

https://www.kickstarter.com/projects/387741088/the-sentimental-piano

Interest coonnection for the Experimental Space

[2015-09-25 14:24] porteriffic commented on #321
Cut down suggestions. Address during Monday's meeting on 9/28

[2015-09-25 14:24] #321 closed, assigned to porteriffic

[2015-09-25 14:27] porteriffic commented on #288
@rmalina All team member have been assigned to their roles according to the Feature Day Action Plan.
- Description - Josephine
- Splash Page - Corey
  - Replace Creative Disturbance logo on homepage with bumper graphics that links to splash page
  - Create the splash page (example here and here) that is linked from the home page (instructions on - CD 2.2.6.1)
  - Graphics - Lina
  - Facebook - 120

[2015-09-25 14:47] porteriffic commented on #220
Splash Page is ready to go.

[2015-09-25 16:16] porteriffic commented on #264
@dylanorgeron Can you list any tools you use under the "web editing" section?

[2015-09-25 16:44] linamoon opened #329 "Get Dylan's picture up on Creative Disturbance site"
- Need to schedule (sometime next week)

[2015-09-25 17:33] coreysmart92 opened #330 "Podcast Production Process Bar: Lifting the Veil"
Create a bar that will show producers and voices where a podcast is in the production process. (9/25/15)

[2015-09-26 02:29] yvantina opened #331 "cleaning sd cards"
@coreysmart92 @amb141330 @halclark  hey guys ! can you please take a look to the sd card in the zoom audio recorder and remove files that have already been uploaded to dropbox or published on the website ? i get a bit confused a few minutes after having recording a podcast with Roger and Meredith Tromble earlier today.. thank you !

[2015-09-26 02:40] yvantina commented on #326
assigned to @amb141330

[2015-09-26 02:44] yvantina opened #332 "a new leonardo podcast with Meredith Tromble"
@coreysmart92 Please find a new podcast on dropbox under the new leonardo folder called "aesthetics of complexity: dystopia of scales" - Roger will may want to update/correct the title so please double check with him - thanks

[2015-09-26 16:15] rmalina commented on #249
no we did not discuss this channel
corey maybe we should do a follow up meeting
and go over what we decided last time and also
discuss this channel
roger
@coresmart92

On Wed, Sep 23, 2015 at 10:15 AM, amb141330 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-28 07:42] yvantina opened #333 "ideas for art and climate change"
@porteriffic @coreysmart92 check out the link !
https://www.artsy.net/article/artsy-editorial-nine-artists-respond-to-climate-change

[2015-09-28 14:51] #280 closed, assigned to linamoon

[2015-09-28 15:17] linamoon commented on #303
Tara DePort has approved the album art - @amb141330 Feel free to upload it now

[2015-09-28 15:24] dylanorgeron commented on #264
added sublime text 3, its all i use

[2015-09-28 15:33] dylanorgeron commented on #327
https://drive.google.com/file/d/0Bww1-yjnkCeeSnZVX3Z4dXpvZVk/view?usp=sharing

[2015-09-28 16:12] coreysmart92 commented on #332
I have found and scheduled it for editing. (9/28/15)
Close: When podcast is published.

[2015-09-28 16:15] coreysmart92 commented on #325
I have scheduled it to be edited by myself. (9/28/15)
Close: When podcast is completed and ready to publish.

[2015-09-28 16:16] yvantina commented on #332
@coreysmart92  please ask podcast info form to Roger - thanks

[2015-09-28 16:21] coreysmart92 commented on #315
This goes with the podcast I am editing. (9/28/15)
Close: When podcast is scheduled to publish.

[2015-09-28 16:22] coreysmart92 commented on #313
Closing: All of the forms are in and I have scheduled all the podcast for editing (9/28/15)

[2015-09-28 16:22] #313 closed, assigned to coreysmart92

[2015-09-28 16:22] coreysmart92 commented on #332
No problem will do.

[2015-09-28 16:23] coreysmart92 commented on #312
Closing: I have all ready made this change. (9/28/15)

[2015-09-28 16:23] #312 closed, assigned to coreysmart92

[2015-09-28 16:28] coreysmart92 commented on #311
I thought I had sent the content check, but I was mistaken. I have now sent the content check to both Dr. Malina and Mr. Maranan. I have scheduled it to publish October 2, I will change this if I have not heard back from Mr. Maranan by then. (9/28/15)
Close: When podcast is published.

[2015-09-28 16:36] coreysmart92 commented on #304
Yes I will start scheduling these podcast for publish next week October 6th and on. (9/28/15)
Close: When podcast have started to be published.

[2015-09-28 16:38] coreysmart92 commented on #293
Closing: I have fixed this. (9/28/15)

[2015-09-28 16:38] #293 closed, assigned to coreysmart92

[2015-09-28 16:39] coreysmart92 commented on #292
Closing: The forms are in and the podcast is published. (9/28/15)

[2015-09-28 16:39] #292 closed, assigned to coreysmart92

[2015-09-28 16:40] coreysmart92 commented on #291
Closing: The forms are in and the podcast is scheduled to publish. (9/28/15)

[2015-09-28 16:40] #291 closed, assigned to coreysmart92

[2015-09-28 16:41] coreysmart92 commented on #290
The forms are in but the podcast file has not be added to Libsyn. @halclark can you add the completed version on to Libsyn. (9/28/15)

[2015-09-28 16:48] coreysmart92 commented on #101
This week (9/28/15-10/5/15) I will be making final adjustments and begin translating the video into Echo360. (9/28/15)
Close: When Echo360 video tutorial is completed.

[2015-09-28 17:29] #294 closed, assigned to dylanorgeron

[2015-09-28 17:36] cassininazir commented on #327
Dylan, also create the blog post. Happy to review before it goes live.

[2015-09-28 17:36] dylanorgeron commented on #327
@linamoon will have it up in a few minutes

[2015-09-28 18:28] #301 closed, assigned to cassininazir

[2015-09-28 18:29] #88 closed, assigned to cassininazir

[2015-09-28 21:21] rmalina commented on #311
OK
Charge ahead

roger malina
On Sep 28, 2015 11:28 AM, "coreysmart92" notifications@github.com wrote:

[2015-09-28 22:13] linamoon commented on #327
Blog post is up along with the forms.

[2015-09-28 22:13] #327 closed, assigned to linamoon

[2015-09-29 04:54] rmalina commented on #290
am confused

you have the form and the podcasts right
it just needs to be published

do you need anything from me ?

roger

On Mon, Sep 28, 2015 at 11:41 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-09-29 15:17] porteriffic commented on #288
Idea from Yvan: https://www.artsy.net/article/artsy-editorial-nine-artists-respond-to-climate-change

[2015-09-29 15:17] porteriffic commented on #333
@yvantina Thanks for sharing the link with us but please don't make "ideas" a GitHub issue since technically it's not an issue. This helps us keep our GitHub from piling up and looking clutter. Please send future ideas to this GitHub issue that I started for Art & Climate Change: [COP21 Art & Climate Change Prep](https://github.com/creativedisturbance/podcasts/issues/288)

[2015-09-29 15:17] #333 closed, assigned to porteriffic

[2015-09-29 15:21] porteriffic opened #334 "Podcast with Roger Malina & Eun Ah Lee"
@coreysmart92 I have the podcast that was recorded with Roger and Eun Ah last Friday. I'd like have Eun Ah listen to the podcast before uploading it. I'll create a file in Dropbox and upload it there.

Close when you've received the podcast.

[2015-09-29 15:23] porteriffic commented on #320
Email has been sent out.

[2015-09-29 15:23] #320 closed, assigned to linamoon

[2015-09-29 15:55] porteriffic commented on #305
@coreysmart92 What happened? No blog post?

[2015-09-29 15:59] porteriffic commented on #105
Still haven't heard back. (9/29)

[2015-09-29 19:01] coreysmart92 commented on #305
I made it to late, Cassini didn't have time to check it. I is ready to go I am just waiting on his go ahead. (9/29/15)

[2015-09-29 19:04] halclark commented on #290
No, we don't need anything else. About to upload the podcast to libsyn. Thanks roger!

Sent from my iPhone

[2015-09-29 19:12] porteriffic commented on #305
Send it to me please

[2015-09-29 19:12] porteriffic commented on #305
Send it to me

On Tue, Sep 29, 2015 at 2:01 PM, coreysmart92 notifications@github.com
wrote:

[2015-09-29 19:16] coreysmart92 commented on #305
The link is http://creativedisturbance.org/2015/04/celebrate-international-coffee-day-sep-29/. It is a draft in wordpress. Is there a specific way you want me to  send it to you? (9/29/15)

[2015-09-30 02:15] rmalina commented on #334
dont publish this podcast without eun ah's approval
she may not want it published

roger

On Tue, Sep 29, 2015 at 10:21 AM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-10-01 16:08] porteriffic commented on #263
I will address this at Monday's meeting on 10/5

[2015-10-01 16:08] #263 closed, assigned to porteriffic

[2015-10-01 16:16] porteriffic commented on #158
Email sent on 10/1. That was the most nerve-racking email I've ever sent.

[2015-10-01 16:16] #158 closed, assigned to porteriffic

[2015-10-01 16:26] porteriffic commented on #334
@coreysmart92 Podcast is located in the Dropbox right now. Let me know when this podcast is done editing and I'll email Eun Ah and get her approval.

[2015-10-01 16:42] porteriffic commented on #323
@yvantina Would content from the emails be sufficient or do you need me to create something else?

**Climate is everyone’s business**. In anticipation of the United Nations Conference on Climate Change ([**COP21**](http://www.artcop21.com/about/)) on Nov 15, Creative Disturbance will **feature podcasts** discussing:
- Sustainable global culture and economy
- Environmental change and awareness
- Wa

[2015-10-01 16:43] #220 closed, assigned to porteriffic

[2015-10-01 16:48] porteriffic commented on #147
Will contact Bronac tomorrow if we still haven't received the first podcast by end of today (10/1)

[2015-10-02 15:24] porteriffic commented on #147
Emailed Bronac (10/2)

[2015-10-02 15:43] porteriffic commented on #131
Emailed her again to see if anyone at her lab is interested in doing a podcast (10/2)

[2015-10-02 15:48] #264 closed, assigned to porteriffic

[2015-10-02 15:48] #35 closed, assigned to coreysmart92

[2015-10-02 16:03] amb141330 commented on #326
I will write up an email to send to them next time I am able to meet with Yvan.

[2015-10-02 16:05] amb141330 commented on #331
I actually have never used an SD card reader and I am unsure which podcasts have already been uploaded. @coreysmart92 Work with me on this?

[2015-10-02 16:08] amb141330 commented on #249
Roger, I'd be happy to meet with you and discuss this channel. If you'd rather do this with Corey since he is coordinating your other channels that's fine too. Just let me know.

[2015-10-02 17:41] amb141330 opened #335 "Podcast Awards!!!@!#!$!!!!! Exciting."
Cassini mentioned we should look into the podcast awards for this upcomming year on http://podcastawards.com/

Here is a link to last years rules/regulations. This year's rules should be almost exactly the same. I think this is information to relay to our ELIGIBLE producers and see if they would like to participate/promote via social media.

http://podcastawards.com/index.php?option=rules

[2015-10-03 16:27] rmalina commented on #318
hal  corey dylan

i have been trying to submit my form with judy malloy but
a) i couldnt find the place to put the bio of the voice
b) i saved the form but then it wouldnt let me submit it

anyway there is a saved form that has part of the info
here is the rest of the info can you inset it

dylan-maybe we need some more test submissions ?

roger
@halclark @coreysmart92 @dylanorgeron

Podcast Title

[2015-10-03 16:30] rmalina commented on #259
i assume that since the forms are on line we are now testing them tehre ? i am closing this

[2015-10-03 16:31] #259 closed, assigned to rmalina

[2015-10-03 16:31] rmalina commented on #222
havent had time still plan to do-sorry

[2015-10-03 22:20] rmalina commented on #335
cassini
we could either nominate creative disturbance as a whole or
one channel with more than ten podcasts or maybe both ?
eg virtual africa has 20 podcasts up

would we nominate it in the mitpress context as part
of the move with the new web site ?

roger

On Fri, Oct 2, 2015 at 12:41 PM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-10-04 04:26] dylanorgeron commented on #329
lets take care of this on monday

[2015-10-05 15:43] #323 closed, assigned to porteriffic

[2015-10-05 15:51] yvantina opened #336 "possible podcasts for art and climate change !!"
@coreysmart92 @porteriffic
just received from SLSA newsletter -
The organizers should be ideal persons to interview before the workshop !
please see attached

---------- Forwarded message ----------
From: Susan M. Gaines smgaines@uni-bremen.de
Date: 2015-10-05 7:30 GMT-05:00
Subject: Fiction Meets Science workshop on climate change fiction
To: LITSCI-L@duke.edu

Dear SLSAers,

 This workshop may i

[2015-10-05 16:11] porteriffic commented on #336
@yvantina Will be contacting the organizers.

[2015-10-05 16:19] coreysmart92 opened #337 "Process for Recording a Podcast in the ArtSciLab"
Write up a process for recording podcast in the ArtSciLab and ATEC building.

[2015-10-05 16:23] coreysmart92 commented on #305
Closing: Blog post was made but never approved for publishing. (10/5/15)

[2015-10-05 16:23] #305 closed, assigned to coreysmart92

[2015-10-05 16:46] dylanorgeron commented on #318
you should be able to submit the form now. sorry for the delay. im
working on add bios for voices.

On 10/03/2015 11:27 AM, rmalina wrote:

[2015-10-05 18:12] coreysmart92 commented on #334
This is the Femgineers podcast, it is scheduled to edit. (10/5/15)

[2015-10-05 18:21] porteriffic opened #338 "Auto-generated Emails"
@dylanorgeron

@linamoon has the templates that Cassini created a while back.

Would like to have weekly emails about upcoming podcasts, announcements, etc.

[2015-10-05 18:22] porteriffic opened #339 "Contact Guy Edmonds"
Contact Guy Edmonds for World Day of Audiovisual Heritage Day

[2015-10-05 18:23] porteriffic opened #340 "Meet with Roger about Art & Climate Change"
Set up a meeting with Roger to discuss Art & Climate Change splash page.

[2015-10-05 18:33] coreysmart92 commented on #310
The first podcast is being edited this week by Corey Smart. (10/5/15)

[2015-10-05 18:37] rmalina opened #341 "podcasts in other languages"
for any podcast in a language that the sound editor doestn know
a second person needs to listen to it to validate that it conforms to
our policies on acceptable language etf ( swearing, insults etc)

please modify the podcast editor cheat sheet to include this
site on all non english podcasts

roger
@porteriffic

[2015-10-05 18:39] porteriffic commented on #335
@linamoon Let's come up with an email to send out to producers.

[2015-10-05 18:41] porteriffic commented on #335
@dylanorgeron @cassininazir Roger is wanting to have the website redesigned before we submit to the Podcast Awards.

[2015-10-05 18:47] rmalina opened #342 "creative disturbance guidelines on acceptable speech"
develop acceptable speech guidelines for our podcasts

sound editors would be responsible  for checking this off

at the meeting the idea of getting the utd radio station
and the utd magazine ) lina had contacts

chaz lillu can probably help

roger
@coreysmart92 @linamoon

[2015-10-05 20:24] rmalina opened #343 "keep the kickstarter donors informed"
do occasional updates to the kickstarter donors
eg when we award the first student grant

[2015-10-05 20:29] rmalina opened #344 "make sure we have implemented all promises to different levels of donors"
lina can you coordinate
i am happy to do some of it

eg ask the advisory board for advice !

roger

[2015-10-06 19:02] rmalina opened #345 "ken snelson podcast"
corey can you assign a sound editor to work with paul snelson and i to have you edit
this skype recording into a podcast- about 40 minutes-there is a section that will
have to be cut out

paul snelson is a phd student in atec his email is
pls091020@utdallas.edu

roger

yvan loaded the file into the system- paul can prepare the draft form

@yvantina

Hi Roger,

Fine with me about your podcast platf

[2015-10-06 20:06] coreysmart92 commented on #283
The Johannesburg Rocket Factory has a youtube video as a link. When inputting the link it adds the video to the webpage. Do we want this or just the link? (10/6/15)

[2015-10-06 22:57] coreysmart92 commented on #283
I have gone through and checked/fixed Space Art and Culture, Frank Malina, Bold Roast, Indie Game Nation, Voices from the Crowd, Pioneers and Pathbreakers. Still have to finish: Virtual Africa, Sound & Data, Art and Earth Science, New Leonardos, Meta-Life, Adventures in Crowdfunding, Cinemersia, Thoughts on Big Design.
Close: After the following are checked/fixed. Then open a new issue to fix all

[2015-10-07 00:10] cassininazir commented on #329
Where? I don't see your name or picture in the listing.

A few _additional items_
- Remove Kyle from the list
- Add Anvit to the alumni list. Please email to ask which website we should link to.

[2015-10-07 05:06] coreysmart92 commented on #283
Closing: I have checked/fixed all urls in old podcast.
Now creating an issue to standardize formatting of all of them. (10/7/15)

[2015-10-07 05:06] #283 closed, assigned to coreysmart92

[2015-10-07 05:07] coreysmart92 commented on #255
Closing: The forms are functioning and look great. I will create new issues if anything arises. (10/7/15)

[2015-10-07 05:07] #255 closed, assigned to coreysmart92

[2015-10-07 05:10] coreysmart92 opened #346 "Old Podcast URL Formatting"
I will go through and standardize all URLs in old podcasts. I will be removing http:// and / form the URLs.
Close: when I have formatted all old URLs to preferred formatting. (10/7/15)

[2015-10-07 08:34] yvantina opened #347 "new guest info !!! ?"
@coreysmart92 @dylanorgeron @cassininazir
so I've been using the new podcast form for my podcasts but just to make sure you don't bother these guests once again as i asked for their info before we implemented the new versions  -i'm copying below their bios info (attached are the pics)
![jepchumba](https://cloud.githubusercontent.com/assets/10967939/10333920/83414fdc-6cac-11e5-990f-e4fb8de163e4.jpg

[2015-10-07 09:13] yvantina commented on #347
same goes for these ones (below is guest info, attached is the pic)
![morgan trevor](https://cloud.githubusercontent.com/assets/10967939/10333943/a748d9b8-6cac-11e5-8323-007bb445d0a0.JPG)

@coreysmart92 in order to make it more fluid and agreable to hear, can you please remove the silences,  repetitions and noises that appear sometimes in the records ? we had some skype/internet issues that led to

[2015-10-07 15:27] rmalina commented on #340
we need to meet and get going
for the social media plan for art and climate change here are so me places to twitter
roger

Climate Change Conference London 21st December 2015:

The next ‘Planning for Climate Change’ Conferences will be held on the 21st December 2015 in London and on the 28th October 2015 in Dublin. Details can be found here and details of the current speaker line up can be found h

[2015-10-07 19:00] cassininazir opened #348 "Update podcast form to include guest information"
Should allow three methods:
1. **New Guest** producer completes form
2. **New Guest** guest completes form; this form would need to be independent of a login
3. *\* Guest exists*\* in our database -- producers adds from dropdown.

[2015-10-08 17:34] linamoon commented on #329
Kyle has been removed, Anvit is listed as alumni with a link to his site, and Dylan is finally up with a bio (!)

[2015-10-08 17:34] #329 closed, assigned to linamoon

[2015-10-09 03:02] rmalina opened #349 "broken link"
this was on facebook
i followed the link but the human impacts channel wasnt there
roger
@linamoon @dylanorgeron

Creative Disturbance
Published by Hootsuite · Yesterday at 8:35am ·
The Human Impacts Institute has been kind enough to share their podcasts on the Creative Disturbance platform starting this week! Head on over to our website to check out The Human Impacts Channel! http://ow.ly/T20s8

[2015-10-09 03:11] yvantina commented on #288
3 artists to contact in Perth, Australia
Devon Ward  >> devon.ward@uwa.edu.au
Cat Jones >> catmjones@gmail.com
Loren Kronemyer >> l.kronemyer@gmail.com

---------- Forwarded message ----------
From: Cat Jones catmjones@gmail.com
Date: 2015-10-08 21:12 GMT-05:00
Subject: Re: Art and Climate Change Podcasts for COP21 !!
To: Yvan Tina yvantina@gmail.com
Cc: Loren Kronemyer l.kronemyer@gmail.com, devo

[2015-10-11 22:54] amb141330 opened #350 "Forms for Aesthetics of complexity with M. Tromble"
@rmalina Can you fill out these forms?

[2015-10-11 23:06] rmalina commented on #350
will do in next few days

roger

On Sun, Oct 11, 2015 at 5:54 PM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-10-12 01:22] yvantina commented on #288
Rebecca Perry looks at the effects of nuclear radiation on seashells
should be definitely contacted - can you put her in touch with Susan Eriksson for a podcast ?
rebperry@mit.edu
sciencesphere@gmail.com

Dear Yvan,
It was wonderful to meet you in Perth, and thank you for all of this good information and links! I hope we can find time to continue some of the interesting conversational threads in H

[2015-10-12 02:49] amb141330 opened #351 "Splitting a podcast in two"
@cassininazir can you listen to your podcast and let me know what else to cut out? Or whether to turn this to multiple podcasts?

https://drive.google.com/open?id=0B_JqEII0hWd8OFJfOVZQOVpicmc

[2015-10-12 16:35] linamoon commented on #314
Emailed Fatemeh drafts - waiting for response.

[2015-10-12 16:36] linamoon commented on #310
Have album artwork drafts ready, planning to email Eun Ah for approval early this week.

[2015-10-12 16:39] linamoon commented on #335
@porteriffic Were we planning to send this email out this week (10/12)? Couldn't remember.

[2015-10-12 17:34] porteriffic commented on #335
@linamoon I think so. I vaguely remember. Were we going to just send an announcement or ask producers to submit?

[2015-10-12 18:29] porteriffic opened #352 "Email Announcing New Forms"
@linamoon I think we were planning on sending this out end of last week but got delayed since I haven't been in. Is it possible to send this email out this week? We already have a blog post on this.

[2015-10-12 18:48] linamoon opened #353 "Splash page graphic for World Day for Audiovisual Heritage (Oct. 27)"

[2015-10-12 18:53] rmalina commented on #288
josephine- as soon as you fill better lets meet and plan a week by week task list for the cop21 art and climate change/ i am out next week oct 20-24
roger
@porteriffic

[2015-10-12 18:53] cassininazir opened #354 "Setup meeting with Roger for COP21 Coordination"
@porteriffic, @rmalina

We updated the Feature Day document to include coordinators. I've added you as coordinator for the COP 21 (Art and Climate Change) feature. Can you setup a meeting with Roger to figure out a path forward?

https://docs.google.com/document/d/1lA0UaMrmaxg-rOLGox4mCvvn_tB3DBqwo5PoWWsPgZA/edit#

[2015-10-12 18:54] rmalina commented on #318
podcast is up

[2015-10-12 18:54] #318 closed, assigned to rmalina

[2015-10-12 18:58] linamoon opened #355 "Work with Hal on theme and design of experimental home page"
http://x.creativedisturbance.org/
- Lead-in content for home page
- ???

[2015-10-12 18:59] cassininazir commented on #351
Will review.

[2015-10-12 19:00] #290 closed, assigned to halclark

[2015-10-12 19:01] amb141330 commented on #335
Basically just ask eligible producers if they are interested in participating. As far as I know we will be the ones who submit their channel.

[2015-10-12 19:02] linamoon commented on #352
@porteriffic Yes - we should definitely do that. I can do a draft from the blog post and maybe you can look over it? I'll send you something by the end of today.

[2015-10-13 18:24] amb141330 commented on #319
First podcast scheduled to be uploaded on Friday 10/16/2015

[2015-10-13 18:24] #319 closed, assigned to amb141330

[2015-10-13 18:33] amb141330 commented on #331
Currently there's several unnamed files in the zoom. I haven't listened to every single podcast so it's difficult for me to know which ones have, and haven't, been uploaded yet. @yvantina

[2015-10-14 01:03] rmalina opened #356 "ken snelson podcast"
corey
please assign someone to work with paul to edit the ken snelson podcast
roger
Paul
The ken snelson podcast is at
https://www.dropbox.com/s/kr6lvblcvm63l11/rec_k_snelson_05_Oct_2015_19_13_53.wmv?dl=0

corey can you assign it to someone for editing and work with paul
to do this-there is a segment in the middle that needs to be edited out
-also its long- the final podcast will be about 40 minut

[2015-10-14 06:51] yvantina commented on #331
closed

[2015-10-14 06:51] #331 closed, assigned to amb141330

[2015-10-14 06:53] yvantina commented on #225
---------- Forwarded message ----------
From: Yvan Tina yvantina@gmail.com
Date: 2015-10-14 1:37 GMT-05:00
Subject: Re: Creative Disturbance_PainLab Channel (Dr Gromala)
To: Mahsoo Salimi salimi@sfu.ca, Diane Gromala gromala@sfu.ca
Cc: Roger Malina rmalina@alum.mit.edu, Cassini Nazir cassini@utdallas.edu

Thank you very much ! Mahsoo
Please let me share this with Roger Malina and Cassini Nazir
for

[2015-10-14 06:53] #225 closed, assigned to porteriffic

[2015-10-14 06:56] yvantina commented on #295
@halclark Hal, in case you're still missing for content for audio visual heritage

[2015-10-14 12:46] rmalina opened #357 "nowhere else channel"
corey
can you assign this new channel to someone
and get the channel up as quickly as possible

roger

Thank you very much ! Mahsoo
Please let me share this with Roger Malina and Cassini Nazir
for the implementation of this disturbance. No where else ! Yay !
Someone will contact you soon to proceed.
Very best

2015-10-13 17:16 GMT-05:00 Mahsoo Salimi salimi@sfu.ca:
Dear Yvan,

I have attached the

[2015-10-14 16:19] rmalina opened #358 "clean up New Leonardo's channel in drop box"
corey
can you go through the new leonardos channel drop box and
clean it up
- some of the podcasts have already been blished and need to be taken out
  of drop box and moved to where you are archiving

-some of the podcasts have not been published yet and you need to assign them
to an editor and move them to editing

roger

[2015-10-14 16:23] rmalina opened #359 "give roger access to space and the arts on dropbo"
corey
dont have access to the space and the arts channel on drop box so
cant deposit any podcastss

can you give me access ?

roger

[2015-10-14 16:54] rmalina opened #360 "Creative disturbance students present at RAW"
cassini

lets brainstorm how we can use RAW to do some kind of student
presentatins from creative disturbance

roger

Poe Johnson
11:41 AM (10 minutes ago)

to Cassini, roger
Not mentioning sound might be something of a self-fulfilling prophecy. Since I've been organizing RAW, we've never had a proposal that dealt with sound design so it's not included  in the CFP, but maybe we've never had a soun

[2015-10-14 18:22] porteriffic commented on #352
@linamoon Sounds good. I'll be in the lab tomorrow morning.

[2015-10-15 08:31] yvantina opened #361 "10 new podcasts !"
@coreysmart92 @amb141330 @halclark
There is 7 new meta-life podcast in dropbox
please use them !
But please START with thIS 3 Virtual Africa ones !!!
After Fakugesi, EmoticoneS and the Afro-Renaissance

Let me know if you need anything from me

[2015-10-15 10:58] yvantina commented on #361
@coreysmart92 @amb141330 @halclark
You will open the new Meta-Life podcast series with
Information and Power in the Age of Biotechnology

thank you !

[2015-10-15 15:50] porteriffic commented on #349
@rmalina It was just supposed to be a link to the website. I was going to replace the link in hopes that the Human Impacts Channel would be up by then. I'll go ahead and remove the tweet since the channel is not up yet.

[2015-10-15 15:50] #349 closed, assigned to porteriffic

[2015-10-15 15:52] porteriffic commented on #310
@coreysmart92 Has the first podcast been emailed to Eun Ah?

[2015-10-15 16:24] linamoon commented on #341
Closing this issue due to redundancy- please refer to issue creative disturbance guidelines #342

[2015-10-15 16:24] #341 closed, assigned to coreysmart92

[2015-10-15 16:25] linamoon commented on #342
From issue #341:

for any podcast in a language that the sound editor doestn know
a second person needs to listen to it to validate that it conforms to
our policies on acceptable language etf ( swearing, insults etc)

please modify the podcast editor cheat sheet to include this
site on all non english podcasts

[2015-10-15 16:26] linamoon commented on #342
I briefly talked with Anwesha in student media:
- Radio plays just follow the FCC guidelines (which I can look into)
- Print has their own Code of Conduct handbook, and I've asked the EIC to send me a copy that we can reference. Haven't heard back from him yet.

[2015-10-15 16:39] porteriffic commented on #147
Bronac injured her wrist and won't be able to make any podcasts until next year.

[2015-10-15 17:21] porteriffic commented on #147
Added this to the tracking sheet in Google Drive.

[2015-10-15 17:21] #147 closed, assigned to porteriffic

[2015-10-15 17:27] porteriffic commented on #302
Close when first podcast goes up 10/16

[2015-10-15 18:46] coreysmart92 commented on #359
There was no folder created for Space Art & Culture. I have created the folder and sent you the link.
Close this issue when you have gained access. (10/15/15)

[2015-10-15 18:51] coreysmart92 commented on #357
@halclark I am assigning this channel to you, let me know if you need help.
Close: When the channel is published. (10/15/15)

[2015-10-15 18:55] coreysmart92 commented on #356
Closing: Duplicate of issue #345 (10/15/15)

[2015-10-15 18:55] #356 closed, assigned to coreysmart92

[2015-10-15 18:59] coreysmart92 commented on #340
@porteriffic I am assigning this issue to you. I the last sound meeting (10/12/15) we decided that each splash page would have a coordinator. This position is the same person who does the description. The job is to coordinate with producers and voices to bring in or plan out podcast for the given splash page. Roger would like to setup a meeting and work out an action plan. Let me know if you need

[2015-10-15 19:02] coreysmart92 commented on #339
I emailed Guy and have received a  response. He is very interested in making a podcast. He has told me the times he is available and I will try to setup a time for him to make a recording.
Close: When the podcast is recorded. (10/15/15)

[2015-10-15 19:03] coreysmart92 commented on #311
Closing: This podcast has been published. (10/15/15)

[2015-10-15 19:03] #311 closed, assigned to coreysmart92

[2015-10-15 19:05] coreysmart92 commented on #304
Closing: @amb141330 has been working on this. The first podcast will be published 10/16/15. After the first publishing I will work with @amb141330 to schedule and plan out the rest of the Human Impacts podcasts. (10/15/15)

[2015-10-15 19:05] #304 closed, assigned to coreysmart92

[2015-10-15 19:06] coreysmart92 commented on #285
Closing: This podcast has been published. (10/15/15)

[2015-10-15 19:06] #285 closed, assigned to coreysmart92

[2015-10-15 19:12] coreysmart92 commented on #25
The UTD radio station has begun playing some of Creative Disturbances podcasts on the Mercury Morning News show at 11 am. I will be putting this experiment on hold until Anwesha and I begin a new method of collaboration. (10/15/15)

[2015-10-15 19:13] coreysmart92 commented on #137
Closing: This podcast has been published. (10/15/15)

[2015-10-15 19:13] #137 closed, assigned to coreysmart92

[2015-10-15 19:17] coreysmart92 commented on #358
Closing: I have gone through backed-up and removed all podcasts that were published. (10/15/15)

[2015-10-15 19:17] #358 closed, assigned to coreysmart92

[2015-10-15 21:11] cassininazir commented on #25
Fantastic! We should announce this in our blog. Can you work with Lina on this? If you draft I'm happy to edit.

Sent from my iPhone

On Oct 15, 2015, at 2:12 PM, coreysmart92 <notifications@github.com<mailto:notifications@github.com>> wrote:

The UTD radio station has begun playing some of Creative Disturbances podcasts on the Mercury Morning News show at 11 am. I will be putting this experiment

[2015-10-15 23:14] rmalina commented on #25
great
is there a link on utdradio ?
roger

On Thu, Oct 15, 2015 at 2:12 PM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-10-16 14:49] porteriffic commented on #340
@rmalina I'll go ahead and start an action plan. I know you'll be out next week (10/19-10-23). Can you meeting on 10/36 Monday @ 10am?

[2015-10-16 14:50] porteriffic commented on #226
@yvantina Is there an update on this?

[2015-10-16 14:53] #359 closed, assigned to coreysmart92

[2015-10-16 14:54] #352 closed, assigned to linamoon

[2015-10-16 14:55] porteriffic commented on #336
@yvantina Any update on contacting the organizers? I will include this in the COP21 action plan.

[2015-10-16 15:22] porteriffic commented on #334
@coreysmart92 Is this podcast done editing? If so, it needs to be sent to Eun Ah for review before scheduling.

[2015-10-16 15:22] porteriffic commented on #332
@coreysmart92 Is there an update for this?

[2015-10-16 15:53] porteriffic commented on #354
We're meeting Monday, October 19th @ 10am

[2015-10-16 15:54] porteriffic commented on #340
Meeting @ 10am on Monday 10/19.
Closing. This is a duplicate.

[2015-10-16 15:54] #340 closed, assigned to porteriffic

[2015-10-16 15:55] porteriffic commented on #306
Closing. Podcast has been recorded.

[2015-10-16 16:00] porteriffic commented on #309
@rmalina Does Susan know about this?

[2015-10-16 16:01] porteriffic commented on #302
Podcast is up.

[2015-10-16 16:01] #302 closed, assigned to porteriffic

[2015-10-16 16:02] porteriffic commented on #296
Close when first podcast goes up.

[2015-10-16 16:27] #299 closed, assigned to dylanorgeron

[2015-10-16 16:27] #279 closed, assigned to cassininazir

[2015-10-16 16:29] porteriffic commented on #324
Close everyone provides an update at Monday meeting.

[2015-10-16 16:46] linamoon opened #362 "Send out reminder email for ARTCOP 21"
Send out call for submission on Wednesday, Oct 21 - CD celebrates on Nov 20th

[2015-10-16 19:41] linamoon commented on #314
Album art (small and large) has been finalized and uploaded in the Drive CD 5.1 Album Artwork folder: https://drive.google.com/open?id=0BwvQhnxKj6jFdGN2MVpfYUx5ZHM

[2015-10-16 19:42] #314 closed, assigned to linamoon

[2015-10-16 19:43] linamoon commented on #296
Album art has been finalized and uploaded on the Drive folder CD 5.1 Album Artwork folder: https://drive.google.com/open?id=0BwvQhnxKj6jFdGN2MVpfYUx5ZHM

(Reference issue #314 )

[2015-10-16 19:48] yvantina commented on #296
Love it !
Did you check back with Fatemeh?

yvan
Le 16 oct. 2015 14:43, "Lina Moon" notifications@github.com a écrit :

[2015-10-16 19:51] linamoon commented on #296
Yes I did!

[2015-10-16 20:00] halclark commented on #297
Good understanding of what needs to be produced. Produced a few already with more coming.

[2015-10-16 20:00] #297 closed, assigned to halclark

[2015-10-16 20:10] yvantina commented on #296
Cool. Love it !
Le 16 oct. 2015 14:51, "Lina Moon" notifications@github.com a écrit :

[2015-10-16 20:58] coreysmart92 commented on #334
@porteriffic I have emailed the completed version of the podcast to you. Let me know if there is anything else I need to edit or do for this podcast. (10/16/15)

[2015-10-16 21:10] linamoon commented on #342
From the Student Media handbook (I can provide a copy for reference):

The Mercury follows the **Associated Press’ guide** to profane word usage.

Inclusion of profanity and vulgarity is discouraged **if it is used exclusively for humor or shock value** and **lacks any journalistic reasoning** for its use.  Profane or vulgar language may be acceptable in quotations when used by official sources (u

[2015-10-16 23:37] yvantina commented on #296
@linamoon is this a public image ? hope we don't get in trouble with owners...

[2015-10-16 23:41] yvantina commented on #336
@porteriffic I thought you said you are going to contact them (see above) - I have no problem forwarding an email if you send me the right template

[2015-10-16 23:46] yvantina commented on #226
@porteriffic @coreysmart92  No, but we received a proposal for a new channel from Diane Gromala and her Phd Student from SFU - see with Corey . Not sure if this will be the SFU channel I was talking about (see above) but it is anyway already a good news !

[2015-10-17 02:38] rmalina commented on #306
please do not close until its published
roger

On Fri, Oct 16, 2015 at 10:55 AM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-10-17 20:28] linamoon commented on #296
@rmalina said before it would be all right under educational fair use - perhaps should confirm again with Roger?

[2015-10-17 21:57] rmalina commented on #296
what was the question

you have a go to publish the first podcast and open the artisthjinkive
channel
roger

On Sat, Oct 17, 2015 at 3:28 PM, Lina Moon notifications@github.com wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-10-17 22:26] linamoon commented on #296
@rmalina Yvan was wondering whether we could use the use the image in the background of the album artwork, I thought I remembered you saying it was all right under educational fair use.

You can see it in the Drive - https://drive.google.com/open?id=0B1tS6I_YV9uPTXk1Q0NvRlZJbTA

[2015-10-17 22:39] yvantina commented on #296
@linamoon @coreysmart92 Thanks Lina ! yep I guess Corey this means you have the green light to release the channel and its first podcast !

[2015-10-17 23:16] yvantina commented on #296
@coreysmart92 Please let me know when the channel is up so I can close this issue

[2015-10-18 20:10] rmalina opened #363 "missing urls"
cd team

there is no url or link to the human impacts page

http://creativedisturbance.org/channel/human-impacts-institute/

PLEASE  can we make sure that all bios  and podcasts have
a URL linking to the person or the project

this is embarassing

can anyone posting a podcast or putting up a new channel
or a voice make sure there are live URLS

i listed to the podcast but could not click through

[2015-10-19 02:27] amb141330 commented on #347
@yvantina we still need the description of the podcasts and keywords

[2015-10-19 16:00] porteriffic commented on #336
@yvantina I apologize I should've worded that better. What I meant was you will be contacting them. I tagged you in the post instead of actually saying your name.

I can go ahead and contact them but I won't be doing a podcast with them. I'll need someone else to do it.

[2015-10-19 16:01] porteriffic commented on #226
@yvantina Great! I'll have Corey provide an update for us and we can start another GitHub item and close this one.

[2015-10-19 16:29] coreysmart92 opened #364 "Wordpress Secondary Channel"
The secondary channel in wordpress podcast pages does not work. Can you fix this so that a podcast can be be published on two separate channels without making separate podcast pages. If possible include a function which designates one channel as the primary/main channel.

[2015-10-19 17:16] yvantina commented on #336
@porteriffic Josephine, I can't do podcasts with everyone on this planet :) no seriously i wish I could but am already overwhelmed with my own CD duties, not even mentioning school etc. what I can do, and i'm happy to do so, is forwarding an invitation to collaborate for this special day but I think it looks more professional if it's sent from CD's official email address letting them know that the

[2015-10-19 17:22] porteriffic commented on #336
@yvantina I agree with you. I misunderstood you when we chatted about this in person. I would prefer to send the email but will have to find someone to do the podcast with them since I'll probably be doing the podcast with all the other people I invite (which are 9 people at this point).

If there is someone on that list that interests you, let me know. You can view all the people I will be contac

[2015-10-19 17:35] yvantina commented on #336
👍
still don't understand why you need to find someone to do a podcast with if you let them know they can submit their own podcast as long as it falls under our requirements... Suggest someone from our team only as a second or third option.. people are most likely willing to do something with their own colleagues and friends than with strangers

[2015-10-19 18:20] amb141330 commented on #350
Any update on this?

[2015-10-19 18:32] coreysmart92 commented on #105
Closing: Never responded. (10/19/15)

[2015-10-19 18:32] #105 closed, assigned to porteriffic

[2015-10-19 18:37] coreysmart92 commented on #310
I have sent the podcast to Eun Ah Lee. (10/19/15)

[2015-10-19 21:07] yvantina opened #365 "a new tool to experiment ?"
@cassininazir @rmalina Have you heard about this ? https://medium.com/@periscope/up-periscope-f0b0a4d2e486 Frank and I are going to experiment this in our classes for personal meetings ! just wanted to bring it to your attention since it almost works the same as blab.im  - not sure if relevant for podcasts
yvan

[2015-10-20 15:56] cassininazir commented on #365
Yes. Blab, Periscope and Meerkat are streaming video services that solve similar needs. Periscope is primarily for mobile users. Blab works well on desktop environment.

Sent from my iPhone

On Oct 19, 2015, at 4:07 PM, yvantina <notifications@github.com<mailto:notifications@github.com>> wrote:

@cassininazirhttps://github.com/cassininazir @rmalinahttps://github.com/rmalina Have you heard about th

[2015-10-20 18:36] amb141330 commented on #335
@porteriffic @linamoon any update on that email?

[2015-10-20 18:37] amb141330 commented on #326
Email should be going out this week

[2015-10-20 18:40] amb141330 commented on #266
I have determined that Quartzy is not an effective inventory check out for our needs. I will be testing out softwares that offer free trials. No free software seems to meet our needs that I could find.

[2015-10-20 18:40] amb141330 commented on #265
Another Quartzy issue already. We should be getting rechargeable batteries from Brian.

[2015-10-20 18:40] #265 closed, assigned to amb141330

[2015-10-20 18:41] amb141330 commented on #249
Met with Roger. Will keep our agenda for this channel up to date on g-drive.

[2015-10-20 18:41] #249 closed, assigned to amb141330

[2015-10-20 18:41] rmalina commented on #266
sandy
have you found any inventory systems we can use
to track equipment in my lab ?

roger

On Tue, Oct 20, 2015 at 1:40 PM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in Dallas
1-510-853-2007

[2015-10-20 18:42] amb141330 commented on #40
Moving this issue to another individual since I am no longer involved with creating stingers.

[2015-10-20 18:46] amb141330 commented on #363
The channel page now has a link for the website. Also the voices have URLs to their pages by clicking the "learn more about.." link. I think the only issue was on the channel page, not the podcast page itself.

[2015-10-21 02:21] yvantina commented on #365
Okay - thanks !

[2015-10-21 02:21] #365 closed, assigned to nobody

[2015-10-21 05:13] yvantina commented on #336
@porteriffic one more (LAST) suggestion for guests - I Am happy to do podcasts with these ones if they're interested !!! http://zkm.de/en/event/2015/10/globale-exo-evolution

[2015-10-21 18:06] porteriffic commented on #336
@yvantina Great. I'll add that to the list.

[2015-10-21 19:47] rmalina commented on #350
Will try and do tomorrow

From roger malina

[2015-10-21 22:56] halclark commented on #355
@linamoon when are you available to meet with me for this?

[2015-10-21 22:57] halclark commented on #324
Discussed at Monday meeting. Ideal for intellectual dating. Will look more into it

[2015-10-21 22:57] #324 closed, assigned to halclark

[2015-10-21 22:57] halclark commented on #322
Set in motion!

[2015-10-21 22:57] #322 closed, assigned to halclark

[2015-10-21 22:58] #237 closed, assigned to halclark

[2015-10-21 22:58] #236 closed, assigned to halclark

[2015-10-21 22:58] halclark commented on #219
Team decided that we will do ArtCOP21 instead of Audio Visual Heritage Day.

[2015-10-21 22:58] #219 closed, assigned to halclark

[2015-10-21 22:59] halclark commented on #126
No reply after multiple emails. Closing.

[2015-10-21 22:59] #126 closed, assigned to halclark

[2015-10-22 00:05] porteriffic commented on #335
@amb141330 Currently we're working on emails for Art COP21. I can put this on our to-do list for next week. Sorry it's taking so long.

[2015-10-22 14:41] linamoon commented on #310
Eun Ah has approved the album art, and I've uploaded the images in the Google Drive in the Album Artwork folder (below) so they can be used when ready.
- https://drive.google.com/open?id=0BwvQhnxKj6jFdGN2MVpfYUx5ZHM

[2015-10-22 14:42] linamoon commented on #334
Album art is ready to go in the Album Artwork folder (below) to be used when ready. Also see issue #310
- https://drive.google.com/open?id=0BwvQhnxKj6jFdGN2MVpfYUx5ZHM

[2015-10-22 15:48] porteriffic commented on #354
Roger and I met and developed an [action plan for Art COP21](https://docs.google.com/document/d/1Cj5yhRLJsWVzmWLsy26_RRqU7uuTc5upaQF-V2PZ-UI/edit#). This action plan will be updated and referred to by the CD Team.

[2015-10-22 15:48] #354 closed, assigned to porteriffic

[2015-10-22 16:02] linamoon commented on #362
Email has been sent to producers (can be found in the feedback gmail)

[2015-10-22 16:02] #362 closed, assigned to linamoon

[2015-10-22 16:03] porteriffic commented on #309
I've emailed Susan regarding doing a possible podcast with Jenifer Wightman but I haven't heard from her all week.

[2015-10-23 15:19] porteriffic commented on #226
@coreysmart92 Please email me an update.

[2015-10-23 15:21] porteriffic commented on #363
@rmalina I spoke with Lina to see if there's a way to go to the Human Impacts website by clicking the logo and we couldn't find one.

@dylanorgeron Is there a way for us to do this?

[2015-10-23 15:27] porteriffic commented on #342
Created a document under "4.0 Reference Documents" in the Google Drive. [Guideline on Acceptable Speech](https://docs.google.com/document/d/1vgGo9dCR5Xaw22ujymqAx1nXx9Bb2dm-XWDImdklATU/edit).

[2015-10-23 15:32] rmalina commented on #363
can you show a url just below it ?
roger

On Fri, Oct 23, 2015 at 5:21 PM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Spain

[2015-10-23 15:33] porteriffic opened #366 "Draft Social Media Posts for Art COP21"
According to the Social Media Plan/Table located in the [Art & Climate Change Action Plan](https://docs.google.com/document/d/1Cj5yhRLJsWVzmWLsy26_RRqU7uuTc5upaQF-V2PZ-UI/edit), we'll need posts on social media announcing upcoming content (podcasts, splash page, blog, etc.).

[2015-10-23 15:35] porteriffic commented on #336
I've emailed the organizers of this workshop and the curator the Globale: Exo-Evolution Exhibit. Will update through the Art & Climate Change Action Plan

[2015-10-23 15:35] #336 closed, assigned to porteriffic

[2015-10-23 15:36] porteriffic commented on #317
This has been completed for a few weeks now. Update the doc as needed. Closing.

[2015-10-23 15:36] #317 closed, assigned to porteriffic

[2015-10-23 15:38] porteriffic commented on #296
First podcast for this channel is scheduled to go up on Monday. Close when podcast and channel are live.

[2015-10-23 15:39] porteriffic commented on #363
@rmalina Yes, there's already a URL in the description for the channel and also in the description for the podcast.

[2015-10-23 15:41] porteriffic commented on #353
Closing since we're not doing this anymore.

[2015-10-23 15:41] #353 closed, assigned to linamoon

[2015-10-23 15:45] porteriffic commented on #295
Closing since we're no longer doing Audiovisual Heritage.

[2015-10-23 15:45] #295 closed, assigned to halclark

[2015-10-23 15:47] porteriffic commented on #307
Duplicate of #339. Closing

[2015-10-23 15:47] #307 closed, assigned to coreysmart92

[2015-10-23 15:47] #261 closed, assigned to yvantina

[2015-10-23 15:49] porteriffic commented on #141
This should be a pretty simple task. I'll take over.

[2015-10-23 15:50] #131 closed, assigned to porteriffic

[2015-10-23 15:53] porteriffic commented on #125
@coreysmart92 Did you ever get the podcast?

[2015-10-23 16:05] rmalina commented on #295
but we can still record podcasts on the topic
i will do the one with guy
roger

On Fri, Oct 23, 2015 at 5:45 PM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Spain

[2015-10-23 17:10] linamoon commented on #355
@halclark I can do next Monday 3-5pm when you have your lab hours.

[2015-10-23 17:14] linamoon opened #367 "Send out emails and create blog post for CD successes timeline"
Have:
- Timeline on Codepen: http://codepen.io/linamoon/full/yYGoVV/
- Document with list of key CD moments: https://docs.google.com/document/d/1kRhmFgRqzBiKmqIfFtVzRPG0rnlncQZk31QgJRdfD5c/edit

Need:
- Content for email
- Any add. graphics

@porteriffic and I can begin working on content and decide on a date to send these out.

[2015-10-23 17:39] porteriffic commented on #367
Will send this out when we hit 20,000 downloads. @linamoon and I will be working on it between now and mid November.

[2015-10-23 17:44] porteriffic opened #368 "Blog Post for 20,000 Downloads"
Create a blog post for timeline/20k downloads.

[2015-10-23 17:46] porteriffic commented on #284
@coreysmart92 Please provide an update.

[2015-10-23 17:47] porteriffic commented on #282
@yvantina Were you able to contact Laura?

[2015-10-23 17:48] porteriffic commented on #123
Duplicate of #141. Closing

[2015-10-23 17:48] #123 closed, assigned to cassininazir

[2015-10-23 18:08] yvantina commented on #282
Not yet. but would need to! Thanks

2015-10-23 12:47 GMT-05:00 porteriffic notifications@github.com:

##

check out this website for more information on art, synthetic biology and
a-life
http://synthbioart.texashats.org/
and listen to our podcasts !
http://creativedisturbance.org/

[2015-10-23 21:40] porteriffic commented on #339
@coreysmart92 Any update on the podcast recording?

[2015-10-24 09:45] rmalina commented on #339
josephine
i am the one holding this one up as
i will do the podcast with him
roger

On Fri, Oct 23, 2015 at 11:40 PM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Spain

[2015-10-24 10:06] rmalina commented on #350
i have uploaded the form for meredith tromble

[2015-10-24 10:17] rmalina commented on #350
ashton-i think i submitted for the for for the meredtih tromble-can you confirm you have it ? roger @amb141330  i think i also submitted her voice bio-but cant figure out how to check-roger

[2015-10-24 10:21] rmalina commented on #342
please add a link to the fcc guidelines
and discuss at a next meeting
roger

On Fri, Oct 23, 2015 at 5:27 PM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Spain

[2015-10-24 10:22] rmalina commented on #354
josephine
great
lets make sure we get two human impacts podcasts up a week
only one went up this week
roger

On Thu, Oct 22, 2015 at 5:48 PM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Spain

[2015-10-24 10:32] rmalina opened #369 "is roger holding anything up ?"
colleagues
i think i just did the last thing i needed to do which was submit the forms for the meredith tromble podcast

i cheched github and i have no other actions assigned to me

IF I AM HOLDING ANYONE UP-please tell me via github assignment

roger
@halclark @amb141330 @porteriffic

[2015-10-26 15:04] porteriffic commented on #366
@amb141330 Any update on these posts? The splash page is supposed to go up today.

[2015-10-26 17:21] rmalina opened #370 "podcast recording for watering hole"
corey
i would like to do some podcast recording this friday
after the watering hole oct 30

are you available ?

roger
@coreysmart92

[2015-10-26 18:25] rmalina commented on #339
@coreysmart92
corey i have recorded the guy edmonds podast it is in new leonardos drop box
i filled out the forms in the new forms
can you confirm you got the forms and are ready to go
you will need to edit the podcast a bit as there are some gaps
roger

[2015-10-27 22:34] rmalina commented on #356
corey
paul snelson would like to edit the snelsn podcast file but he needs in
in a format he can edit such as .wav

can you send it to him as soon as possible
in the tracking sheet it says there is a file called
rec_k_snelson_05_Oct_2015_19_13_53.wav
can you send this to paul snelson

pls091020@utdallas.edu

roger

roger
@coreysmart92

[2015-10-28 09:30] yvantina commented on #288
@porteriffic A UTD student that might be of interest for COP 21
http://www.utdallas.edu/news/2015/10/28-31758_Hall-of-Fame-Scholarship-Winner-Sees-Money-in-Sust_story-wide.html?WT.mc_id=NewsEmail

[2015-10-28 18:46] porteriffic commented on #288
@yvantina Thanks, Yvan. I'll email him this week.

_Update_: Emailed Hazem.

[2015-10-28 21:13] halclark opened #371 "Login information for ArtSciLab computer"
Computer in the lab froze, had to restart, and I do not know what the login information is. Does anyone know?

[2015-10-29 03:39] rmalina commented on #371
all passwords are in the password file in gdocs
roger

On Wed, Oct 28, 2015 at 4:13 PM, halclark notifications@github.com wrote:

##

Roger F Malina
is in Dallas

[2015-10-29 22:19] rmalina opened #372 "schedule 2 ellen levy podcasts for new leonardos channel"
please schedule the two podcasts with ellen levy
that i put in drop box new leonardods file

roger

[2015-10-29 22:42] coreysmart92 opened #373 "Farsi Podcast Text Format"
@dylanorgeron @cassininazir @yvantina The Farsi Podcast has a formatting error, I am not sure if it is because Farsi is read right to left or if this is because we have combine English with Farsi for the post. Can you check the format we used on the Arabic podcasts and see if you can fix two things:
1. Correctly replace the image of IRCAM with text, without moving its position in the paragraph.
2.

[2015-10-29 22:46] yvantina commented on #373
Corey
Am not sure where the error comes from but Fatemeh told me it's probably due to the combination of Farsi and English

[2015-10-30 14:22] porteriffic commented on #363
@rmalina Let me know if the URL in the description of the channel and podcast are okay. If so, I can close this issue.

[2015-10-30 14:36] porteriffic opened #374 "Blog Art for Podcast Awards"
I'd like for a blog to go up regarding the Podcast Awards and maybe a banner to go with it. Can also be used in the email we send out this week.

[2015-10-31 18:35] rmalina commented on #363
josephie
all is fixed
thanks\
roger

[2015-10-31 18:36] #363 closed, assigned to porteriffic

[2015-11-01 21:35] rmalina opened #375 "roger to do podcast with julian reyes in january"
From: julian reyes [mailto:jrgcop@gmail.com]
Sent: Saturday, October 31, 2015 7:23 PM
To: Malina, Roger
Cc: Leonardo (manuscripts)
Subject: Re: leonardo manuscript proposal

Yes, I included the 360 video and the link to findr local but the oculus share page link was only made active yesterday.

That sounds great! I'd be happy to speak to you whenever the time comes.

Thank you,

Julian

On Sat, Oc

[2015-11-01 21:36] rmalina commented on #350
ashton can you confirm you have what you need to publish tromble and tell me planned publication date, thanks, roger @amb141330

[2015-11-01 21:36] rmalina commented on #222
still planning to do, roger

[2015-11-02 01:04] halclark commented on #355
@linamoon Sorry I never saw this. Will talk to you tomorrow during the meeting.

[2015-11-02 01:06] halclark commented on #176
Work in progress.

[2015-11-02 01:06] halclark commented on #357
@coreysmart92 let's talk about this tomorrow.

[2015-11-02 16:16] amb141330 commented on #335
@porteriffic I think we should try and get these emails out before the middle of this month

[2015-11-02 16:16] amb141330 commented on #326
Waiting on response from @cassininazir and or @rmalina on the email draft we wrote up to send out

[2015-11-02 16:19] amb141330 commented on #271
This issue was fixed when I updated firefox.

[2015-11-02 16:19] #271 closed, assigned to amb141330

[2015-11-02 16:20] amb141330 commented on #266
Will start downloading trials for different programs and creating small inventories to test the software rather than wasting time putting in every single item

[2015-11-02 16:21] amb141330 commented on #153
I'll email Brian about recording Jabber sessions if we're still interested in doing this. We don't use it often, but I understand wanting to be able to.

[2015-11-02 16:23] porteriffic commented on #335
@amb141330 Lina and I have it scheduled to be sent out this Thursday. I have the email content but may need your input before today's meeting.

[2015-11-02 16:23] amb141330 commented on #56
The document for using the four projects is almost finished and will include how to change the inputs and use the audio station we are setting up once it is finished.

Still working on a good equipment check-in/check-out system

I don't drink coffee... Coffee machines are scary.

[2015-11-02 16:29] rmalina commented on #326
works this with cassini
roger

On Mon, Nov 2, 2015 at 10:16 AM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in Dallas

[2015-11-02 17:01] coreysmart92 commented on #361
I have scheduled both the Virtual Africa and the Meta-Life podcast. (11/2/15)
Close: when they are published.

[2015-11-02 17:06] coreysmart92 commented on #347
I will confirm that all the information published is correct.
Close: After I publish the Lovely Weather podcasts with Morgan Trevor.

[2015-11-02 17:07] coreysmart92 commented on #372
I have scheduled the podcast for editing.
Close: When the podcasts are published. (11/2/15)

[2015-11-02 17:09] coreysmart92 commented on #370
Closing: I was there and we did make a podcast recording. We will be making a recording almost every Friday after the watering hole. (11/2/15)

[2015-11-02 17:09] #370 closed, assigned to coreysmart92

[2015-11-02 17:15] coreysmart92 commented on #345
I have sent both an unedited and an edited wav file to Mr. Snelson, per his request. I am waiting for him to remove a specific segment of audio before I can finish editing and publish.
Close: when the podcast has been published. (11/2/15)

[2015-11-02 17:17] coreysmart92 commented on #339
I have both the audio file and the forms. The podcast has been scheduled for editing.
Close: When podcast has been published. (11/2/15)

[2015-11-02 17:18] coreysmart92 commented on #337
Still on hold. Will resume 11/9/15.

[2015-11-02 17:20] coreysmart92 commented on #334
The wrong audio file was uploaded to dropbox, this has been corrected and the podcast will be edited by 11/5/15.
Close: When the edited podcast has been sent to Eun Ah Lee. (11/2/15)

[2015-11-02 17:21] coreysmart92 commented on #332
Ashton has finished editing, I will email and have Roger complete the forms.
Close: when podcast has been published. (11/2/15)

[2015-11-02 17:23] coreysmart92 commented on #325
The podcast editing is complete, I have sent it to Roger for a content check and for the form completion.
Close: when the podcast is published. (11/2/15)

[2015-11-02 17:27] coreysmart92 commented on #306
Closing: This is a duplicate of issue #325. (11/2/15)

[2015-11-02 17:27] #306 closed, assigned to coreysmart92

[2015-11-02 17:31] yvantina commented on #345
@coreysmart92 Corey, below is Paul Snelson's email for the specific segment he wants to remove
Tuesday, October 13, 2015 6:18 PM
I just want to confirm that the Kenneth Snelson Skype Recording from Monday October 5, 2015 is indeed archived in 'some' digital location. It is an important artifact to me personally and I _hope_ that it has not been accidentally deleted. I have reached out via email to

[2015-11-02 17:31] coreysmart92 commented on #284
I have emailed again on 11/1/15, yet to receive a response.

[2015-11-02 17:38] coreysmart92 commented on #371
The login information is:
           Username - art
           Password - science
Closing: I have added this information onto the password and login information document. (11/2/15)

[2015-11-02 17:38] #371 closed, assigned to cassininazir

[2015-11-02 17:39] coreysmart92 commented on #101
We will be having Echo 360 tutorial from Ashton in Sound Meeting 11/2/15.

[2015-11-02 17:45] coreysmart92 commented on #310
The first submitted podcast will be completed by 11/5/15. The second podcast is scheduled for editing.
Close: when the Femgineers podcast has been published. (11/2/15)

[2015-11-02 19:10] yvantina commented on #361
Please let me know which forms you'll need ASAP !

[2015-11-02 20:21] rmalina commented on #345
paul
were you able to edit the podcast ?

corey-do you have all the forms

roger

On Mon, Nov 2, 2015 at 11:15 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas

[2015-11-02 20:23] rmalina commented on #334
corey
and make sure eun ah wants to publish it or not
this was a test podcast and she may not want to
publish it

roger

On Mon, Nov 2, 2015 at 11:20 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in Dallas

[2015-11-02 22:32] rmalina commented on #345
https://www.dropbox.com/s/lezuu7v53hb44de/Snelson_10_5_15.wav?dl=0

[https://cf.dropboxstatic.com/static/images/icons128/page_white_sound.png]https://www.dropbox.com/s/lezuu7v53hb44de/Snelson_10_5_15.wav?dl=0

Snelson_10_5_15.wav
Shared with Dropbox
Read more...https://www.dropbox.com/s/lezuu7v53hb44de/Snelson_10_5_15.wav?dl=0

I cut out the Gagosian Gallery piece and smoothed out the piece about

[2015-11-02 23:47] rmalina commented on #345
corey
did you get the edited podcast from paul snelson
https://www.dropbox.com/s/lezuu7v53hb44de/Snelson_10_5_15.wav?dl=0

Snelson_10_5_15.wav
Shared with Dropbox
Read more...

i also put it in drop box pioneers channesl

get paul to fill out the forms

roger

[2015-11-03 20:59] porteriffic opened #376 "Creative Disturbance Party Location"
Go over details for Urban Rio and Urban Crust to possibly host the Creative Disturbance Party. Please make a decision (end of week at the very latest) so that Josephine can send out invites to the community.

---

**Urban Rio**:
All reservations are done in two hour increments for a food and beverage minimum. Additional hours are available for an increased food and beverage minimum amount. If your

[2015-11-04 19:52] rmalina opened #377 "podcast to add to climate change page"
josephine

can you add this podcast to the climate change page

http://creativedisturbance.org/podcast/art-and-cop-21-artist-tara-deporte-and-her-work-with-environmental-scientists-eng/

roger

[2015-11-04 19:55] rmalina opened #378 "podacst with harrison s for art and climate change"
josephine
my podcast recorded with newton and helen harrison
should go up in new leonardos and is part of art and climate chante

i think its in the editing queue=i cant remember if i did the forms

 corey-can you work the scheduling so this podcast appears
by december 1 ?

roger

@coreysmart92

[2015-11-04 23:43] porteriffic commented on #377
@rmalina Podcast has been added to the splash page. Closing.

[2015-11-04 23:43] #377 closed, assigned to porteriffic

[2015-11-04 23:46] porteriffic commented on #325
@coreysmart92 Please have the podcast appear by December 1st at the very latest.

[2015-11-04 23:46] porteriffic commented on #378
@rmalina There is already a GitHub item for this podcast. Located in #325. Corey is waiting on forms and content check. Last update was Monday 11/2.

[2015-11-04 23:46] #378 closed, assigned to porteriffic

[2015-11-04 23:48] porteriffic commented on #376
Location and date have been officially decided. All other changes will be made in [this document](https://docs.google.com/document/d/124ho-dOd9fFQ4mP4YLQSnMBDWQRCIXU4T4GV_kFnn68/edit)

[2015-11-04 23:48] #376 closed, assigned to rmalina

[2015-11-04 23:52] #316 closed, assigned to porteriffic

[2015-11-04 23:59] porteriffic commented on #136
@yvantina Any update on this?

[2015-11-05 00:02] porteriffic commented on #39
@coreysmart92 Dylan is working on creating emails for this. Once they are ready to go, you might have to provide content for the email (i.e. upcoming podcasts). I'll update you as soon as this is available to us. (11/4)

[2015-11-05 00:03] porteriffic commented on #284
@coreysmart92 Did you use the Creative Disturbance email or your personal one?

[2015-11-05 00:10] yvantina commented on #136
@porteriffic Have done the podcast with Trevor, but haven't heard back from the other people. I'll send a last reminder this week ! Will close this issue next week if I don't receive any reply

[2015-11-05 00:12] porteriffic commented on #136
@yvantina Okay, sounds good! Thank you!

[2015-11-06 05:53] rmalina opened #379 "add to art and climate change"
needs to be added to art and climate change page

http://creativedisturbance.org/podcast/a-lovely-weather-in-defense-of-waste-eng/

[2015-11-06 14:57] porteriffic commented on #379
Added.

[2015-11-06 14:57] #379 closed, assigned to porteriffic

[2015-11-06 15:01] porteriffic opened #380 "New Image for FB & Twitter"
I'd like to have a different image for our profile picture that features Art COP21. Maybe a banner as well?

[2015-11-06 15:24] rmalina commented on #325
i found the podcast-but please lets get it published this month-roger

[2015-11-06 15:29] porteriffic commented on #325
@rmalina The podcast is already in the tracking sheet. It's scheduled to publish some time next week.

[2015-11-06 15:30] porteriffic commented on #296
Channel and podcast are live.

[2015-11-06 15:30] #296 closed, assigned to porteriffic

[2015-11-06 15:32] rmalina commented on #325
do you have the forms?
roger

On Fri, Nov 6, 2015 at 7:29 AM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Dallas

[2015-11-06 15:55] porteriffic commented on #342
Link to FCC guidelines has been added.

[2015-11-06 15:55] #342 closed, assigned to porteriffic

[2015-11-06 17:10] porteriffic opened #381 "Create a Schedule for Group Meetings (Once a Month)"
ArtSciLab Meetings once a month

[2015-11-06 23:12] linamoon commented on #374
The blog post has gone up, and can be found here:
- http://creativedisturbance.org/2015/11/annual-podcast-awards/

The emails have gone out as well!

[2015-11-06 23:12] #374 closed, assigned to linamoon

[2015-11-06 23:49] rmalina commented on #325
corey plese contact the harrisons-they want to edit the podcast
you may want to send them your edited version, roger

[2015-11-09 19:56] rmalina commented on #325
i have deposited the version of the harrison podcast that was edited by the harrisons PLEASE make sure to use this version for your edit and posting
roger
@coreysmart92 @halclark @amb141330

[2015-11-09 20:25] linamoon opened #382 "Create Radio Plays graphic art for Experimental"

[2015-11-09 20:28] linamoon opened #383 "Create link to Experimental space from Creative Disturbance website"
Would like to have a way for people to access to the experimental space from the CD website.

Was thinking we could put a link up in the main nav, which would lead to either the website or a page introducing the experimental project (which would then link to the experimental website). Working with @halclark on this.

[2015-11-10 00:30] porteriffic opened #384 "RAW Conference - Creative Disturbance"
Create a 200 word abstract by November 20th for the RAW conference.

http://utdgsa.com/

[2015-11-10 00:31] porteriffic opened #385 "RAW Conference - Arteca"
Create a 200 word abstract by November 20th for RAW Conference.

http://utdgsa.com/

[2015-11-10 00:34] porteriffic opened #386 "RAW Conference - Xperimental"
Create a 200 word abstract by November 20th for RAW Conference.

http://utdgsa.com/

[2015-11-10 00:45] porteriffic opened #387 "Create an Action Plan for Podcast Awards"
We need to know important dates, info, etc. Use the Art COP21 Action Plan as a template if needed. Deliver by November 20th.

[2015-11-10 15:47] cassininazir commented on #383
Agreed on adding to the main nav. We can remove the "Home" button so long as the text "Creative Disturbance" links to the home page.

@halclark please also work on a blog post to coincide.

[2015-11-10 22:41] porteriffic commented on #357
@yvantina I've emailed Mahsoo and Dr. Gromala. They have instructions how to start their channel and I offered my assistance if they ever need it.

[2015-11-10 22:49] yvantina opened #388 "Please swap these titles and descriptions !!"
@halclark @coreysmart92 hey guys ! please swap the title and descriptions of those two podcasts
the content don't match with the title nor the description - the audio is ok, just change the texts
http://creativedisturbance.org/podcast/a-lovely-weather-eco-cancer-and-garbage-art-eng/
with
http://creativedisturbance.org/podcast/a-lovely-weather-in-defense-of-waste-eng/

Thank you !

[2015-11-10 22:51] yvantina commented on #357
Thanks so much Josephine ! Yes, I think they are eager to start it ! we'll see. more soon

[2015-11-10 23:32] yvantina commented on #288
Just FYI - no pressure, just wanted to bring this to your attention !

Hello,

Below is some information about an upcoming NYC event regarding the art and science of climate change.
Thought you might be interested.  If the email is not displaying properly, please view it online here <https://vr2.verticalresponse.com/emails/14293651189741?contact_id=14293659617303&sk=a9qwB2JgNjBIby6ZRAPIF5PcQJn6sr8

[2015-11-11 03:12] porteriffic commented on #288
@yvantina Very cool! I'll email her this week. Thank you!

[2015-11-11 03:13] porteriffic opened #389 "Email Melissa Fleming for Art COP21"
Email Melissa Fleming regarding Art COP21
https://vr2.verticalresponse.com/emails/14293651189741?contact_id=14293659617303&sk=a9qwB2JgNjBIby6ZRAPIF5PcQJn6sr8YYMSRwMyRiz28=/aHR0cHM6Ly92cjIudmVydGljYWxyZXNwb25zZS5jb20vZW1haWxzLzE0MjkzNjUxMTg5NzQxP2NvbnRhY3RfaWQ9MTQyOTM2NTk2MTczMDM=/3LaAsCuO9pDs8YyhZJhnlQ==

[2015-11-11 03:19] porteriffic commented on #388
@yvantina I swapped the descriptions. Do the tags need to be swapped as well?

[2015-11-11 03:25] rmalina opened #390 "climate change page"
josephine
the art and climate change podcasts are not being added to the splash page
http://creativedisturbance.org/cop21/
several of yvans's art and climate change podscasts dont appear

roger
can you coordinate with corey ?
@coreysmart92

[2015-11-11 03:41] porteriffic commented on #390
@rmalina Which podcasts are you speaking of? I see both "A Lovely Weather" podcasts on the splash page. They're currently at the bottom of the page but I'm working on making the most recent podcasts appear at the top of the page.

[2015-11-11 03:45] rmalina commented on #390
yvan's two latest podcasts for sure
ask him
roger

On Tue, Nov 10, 2015 at 9:41 PM, porteriffic notifications@github.com
wrote:

##

Roger F Malina
is in Dallas

[2015-11-11 03:46] porteriffic commented on #390
@yvantina Okay then yes those podcasts are already on there. They were just at the bottom of the page. I rearranged everything so that the most recent podcasts appear first.

[2015-11-11 18:29] cassininazir commented on #387
Let's not assume that producers will submit to this. Please identify specific channels or podcasts to submit by Nov. 20. Please explain.

Deliverable should be a Google Document with the channel, explanation and any additional information.

[2015-11-11 18:31] cassininazir commented on #56
I'd like you to have a draft document in the shared Google Drive by Nov. 20 that lists how to use the XOOM recorder and the Blue mics. This should be easy to read and review from the perspective of a producer.

[2015-11-11 18:32] cassininazir commented on #153
Please provide an update when you have new information.

[2015-11-11 18:33] cassininazir commented on #266
Please update status.

[2015-11-11 18:37] cassininazir commented on #56
Please provide a link to the instructions for the Crestron you've created here.

[2015-11-11 18:38] cassininazir commented on #326
Reviewed draft.

[2015-11-11 21:57] porteriffic commented on #389
Emailed Melissa

[2015-11-11 21:57] #389 closed, assigned to porteriffic

[2015-11-12 16:30] #390 closed, assigned to porteriffic

[2015-11-12 16:31] porteriffic commented on #388
@yvantina Can you confirm the descriptions are now correct? I can close this issue if it has been corrected.

[2015-11-12 18:32] amb141330 commented on #326
Will spend my lab hours, starting on Monday 11/16/15, on sending out these emails now. The document keeping track of who has been, and hasn't been, contacted can be found here.
https://docs.google.com/document/d/1dsQK5EoZlj4etQgvxWAxhd9m5su_IoBOowjNnhhvY6M/edit

[2015-11-12 18:34] amb141330 commented on #335
Issue #387 will have updates on this. The emails have been sent out to producers, but in that issue I will be providing a list of the eligible channels and suggested categories.

[2015-11-12 18:34] #335 closed, assigned to amb141330

[2015-11-12 18:45] amb141330 commented on #56
The Jabber section of this document
https://docs.google.com/document/d/1NP-TLJ38swdwy3bZrvcW4umn3Dmy1q5y8RrTfkkNbuE/edit#
is fine for setting up jabber. I need to take that section and add it to its own document just for jabber. I need to add how to call into the conference from the jabber system in the room.

This is the document for the projector walkthrough with the Cisco wall device
https://do

[2015-11-12 19:10] yvantina commented on #388
Nope. almost.  now just swap the titles. thanks

[2015-11-12 21:20] cassininazir commented on #56
The Jabber section needs to be updated. The email address/number to dial into has been changed.

I made comments on the Google drive document.

[2015-11-12 21:23] porteriffic commented on #388
@yvantina Wait. I'm confused. I just swapped the descriptions. If I swap the titles it'll go back to what they were before...

[2015-11-12 21:34] cassininazir commented on #326
Excellent progress! **Please update the list to remove blank spaces**: Looks like there are 181 but there are probably half or a third of that.

Also **please indicate on the document those you've sent out and when**. Don't want to bombard these individuals with the same email from two separate people.

[2015-11-12 22:47] yvantina commented on #326
Will meet with Ashton, tomorrow Friday 11/13 to work on this !

[2015-11-12 22:48] yvantina commented on #388
That's what I said in the podcast issues. Swap both the title and descriptions because it didn't match with the podcast content. Now that you already swapped the descriptions, you need to swap the titles...

[2015-11-12 23:01] porteriffic commented on #388
@yvantina Okay. So "content" means the actual podcast. Gotcha. I think that's what confused me. I didn't know what "content" meant (i.e. description, title, tags, etc.). The titles have been swapped. Let me know if I need to make any more changes.

[2015-11-12 23:01] yvantina commented on #288
When art meets science meets climate change issues meets education meets pleasure ....

I know I know.. Just FYI for podcasts in Spanish
http://www.smproart.com/sm-news/

[2015-11-12 23:04] yvantina commented on #388
Perfect ! Thank you - wait ! this was assigned to Hal and Corey - why did you end up doing this ?

[2015-11-12 23:06] porteriffic commented on #388
Because no one else did it.

[2015-11-12 23:07] yvantina commented on #388
Wow !

[2015-11-12 23:07] #388 closed, assigned to nobody

[2015-11-12 23:07] porteriffic commented on #388
I've also been updating the COP21 splash page. I believe the same thing needs to happen for your podcasts on the page as well. Would you mind taking a look just to make sure?

http://creativedisturbance.org/cop21/

[2015-11-12 23:08] yvantina commented on #388
Yes Please !

[2015-11-12 23:10] yvantina commented on #388
It seems like the links doesn't link to the right podcast/page.. can you help fix this also?

[2015-11-12 23:15] porteriffic commented on #388
Working on it right now...

[2015-11-12 23:18] porteriffic commented on #388
@yvantina Okay...

The correct title and descriptions should match the podcast on the Virtual Africa page, the splash page, and on each individual page for the podcast.

Let me know if there's anything I missed.

[2015-11-12 23:33] yvantina commented on #388
No, that's it ! you rockk !! thanks

[2015-11-13 16:11] amb141330 opened #391 "Write a guide for how to access our @creativedisturbance emails"
Can you write up a guide/set up a meeting for us to set up these emails? Emailing producers and future voices/producers looks much more professional coming from an @creativedisturbance email address.

Thanks!

[2015-11-13 17:32] porteriffic opened #392 "Spring 2016 Prep"
Review Academic calendar (Winter break, spring break, finals, etc.) and plan out PhD student presentations for ArtSciLab meetings once a month (Jan, Feb, March, April). Make a calendar so candidates know in advance.

Plan for RAW and Art Fair (PhD students can participate).

?DARPA visiting?

[2015-11-16 15:34] amb141330 commented on #56
Zoom Recorder walkthrough started. Might need to be tweaked, but I followed this setup for a podcast I helped Yvan record on Friday and it worked great.

https://docs.google.com/document/d/1k0K5TlQClR7S7rSVGLsQaiVNS3JE9fkIaZ6RfW3PIaw/edit

[2015-11-16 15:35] amb141330 commented on #326
Yvan and I have started sending out emails to the list of people last Friday. The document shows who has received emails so far.

[2015-11-16 15:35] amb141330 commented on #153
No new information. Still haven't heard whether or not the recording through Jabber was successful.

[2015-11-16 15:36] amb141330 commented on #266
Starting to use CheqRoom. Will begin adding inventory items this week.

[2015-11-16 19:42] rmalina opened #393 "correction to web site"
josephine
can you make sure this gets taken care of
thanks

roger

Dhruba Deb
12:15 PM (1 hour ago)

to roger, Yvan, Jamie
Hi Roger,

I am providing a link to your Creative Disturbance at the LuminArte gallery website showing our "Beauty in the Beast" art show. At the same time, I requested Yvan to put a hyperlink in Elisabeth's podcast description to the LuminArte gallery. In this way, we can pus

[2015-11-16 23:17] rmalina opened #394 "urgent podcast"
Patrícia Correia
Attachments2:32 PM (2 hours ago)

to roger, Yvan, Lina, Sam, Ana
Hi Roger,
corey
can we try and publish this podcast before friday
yvan is goingto help me get the forms done

its in new leonardos

roger
@yvantina

We have been following the news from Paris with extreme sadness. We hope all your friends and family living in France are safe.
From our side all is good.

I want to let

[2015-11-17 03:44] yvantina commented on #394
@rmalina @coreysmart92 @porteriffic Email sent. Will fill out the description form.

[2015-11-17 17:02] linamoon commented on #385
CD 5.9.2 RAW Conference folder can be found here:
- https://drive.google.com/open?id=0B47T3_SpQdTWSl9QNmltM3J5NUE

[2015-11-17 17:02] linamoon commented on #386
CD 5.9.2 RAW Conference folder can be found here:
- https://drive.google.com/open?id=0B47T3_SpQdTWSl9QNmltM3J5NUE

[2015-11-17 17:02] linamoon commented on #384
CD 5.9.2 RAW Conference folder can be found here (putting this for reference):
- https://drive.google.com/open?id=0B47T3_SpQdTWSl9QNmltM3J5NUE

[2015-11-17 17:09] linamoon commented on #385
I've put a draft in the RAW Conference folder - think Chaz might look over it before submission, but it's there if anyone wants to look at it. Think it's pretty much good to go. Link to file:
- https://drive.google.com/open?id=12mgzHuxy7GjT99AbcXwVUsuPPBy_gm5KLO3sqqOIOxA

[2015-11-17 17:24] linamoon commented on #150
We have forward movement on this - updates will now take place in the Tracking List in the CD International Student Grants folder to avoid redundancy
- https://drive.google.com/drive/folders/0B1tS6I_YV9uPfnRYUTlfbV8wQU41bUFkcUpadnpWWnZhVHVYRk92YWF2SnRuNmNyRDZjZ2M

[2015-11-17 17:24] #150 closed, assigned to linamoon

[2015-11-17 17:25] linamoon commented on #201
We have forward movement on this - updates will now take place in the Tracking List in the CD International Student Grants folder to avoid redundancy
- https://drive.google.com/drive/folders/0B1tS6I_YV9uPfnRYUTlfbV8wQU41bUFkcUpadnpWWnZhVHVYRk92YWF2SnRuNmNyRDZjZ2M

[2015-11-17 17:25] #201 closed, assigned to linamoon

[2015-11-19 16:37] porteriffic commented on #394
@yvantina So the podcast is already edited and just needs a bumper, correct?

[2015-11-19 16:41] porteriffic commented on #393
@rmalina I went to the website but couldn't find a specific page for the "Beauty in the Beast" exhibition. Would it be okay to just use the link for the gallery website? -----> http://luminartegallery.com/

[2015-11-19 17:23] yvantina commented on #394
@porteriffic @coreysmart92 YES: I tried to fill out the podcast form without success: Corey is supposed to have it done. Remember we need to publish it before Cop21 starts.

[2015-11-19 17:28] porteriffic commented on #394
@yvantina Okay, go ahead and fill out a form on Wufoo since this is urgent but please let Dylan know what went wrong with the forms. The podcast is in the New Leonardos folder on Dropbox, correct?

[2015-11-19 17:45] porteriffic commented on #392
All planning can be viewed here: http://teamup.com/ksd6a53f8b03c96dea

[2015-11-19 17:45] yvantina commented on #394
@porteriffic @coreysmart92 Corey told me on Tuesday he would take care of this. Corey did you fill out the form or should I go ahead with Wufoo ? Yes the podcast is in the right location

[2015-11-19 17:49] porteriffic commented on #394
@yvantina Oh, I see. I just checked both Wufoo and the new forms. No forms have been submitted. I'll contact Corey to get this resolved. It's already Thursday and needs to be fixed by the end of today.

[2015-11-19 17:52] yvantina commented on #394
@coreysmart92 @porteriffic Yes it needs to be fixed today !! Corey and I have all information we need: I'm simply going through troubles while using the new forms, that's why Corey said he would take care of this, but I can do Wufoo if needed  !!

[2015-11-19 18:41] porteriffic commented on #394
@yvantina I'll help you coordinate with Corey to get the podcast up but you might want to just go ahead and fill out the forms. It'll be one less thing we have to worry about.

[2015-11-19 22:09] rmalina commented on #393
Yes
On Nov 19, 2015 10:41 AM, "porteriffic" notifications@github.com wrote:

[2015-11-20 15:19] porteriffic commented on #394
@yvantina The podcast is up on Creative Disturbance with the bumper. If it's all correct, please go ahead and close this issue.

[2015-11-20 18:29] amb141330 commented on #387
Here is the document for the Podcast Awards nomination

https://docs.google.com/document/d/1uss-cg0pycF3EKqfUFsbeGzTmojXrZSE8RoZlWN9etU/edit

[2015-11-20 18:43] linamoon opened #395 "Document listing all partners of Creative Disturbance and blog post announcing any new partners"
Will likely work with @coreysmart92 @porteriffic @yvantina on this.

[2015-11-20 18:45] linamoon opened #396 "Brainstorm ideas on what to call Creative Disturbance Fellowships and submit for approval"
Anyone feel free to submit ideas!

[2015-11-21 19:04] rmalina opened #397 "podcast"
corey\
you have got to do a better job dealing with emails
its embarassaing when i get emails like this

can you send her instructions on how to submit a podcast

thanks

roger

Lilla

good to hear from you again- we are still welcoming podcasts

corey can you send lilla instructions on how to submit a podcast

roger

On Sat, Nov 21, 2015 at 12:55 PM, Lilla LoCurto loc.out@verizon.net wrote:

[2015-11-21 19:15] rmalina opened #398 "correcton to podcast correa"
corey

can you correct this error ?

roger

Patricia Correia
2:55 AM (10 hours ago)

to roger, Yvan, Sam, Josephine, Corey
Hi Roger,

Our book is lovely! (unfortunately only in Portuguese for now, but we are keeping a copy for you!)
Yesterday we celebrated our first podcast too! Thanks so much Yvan and Corey!

I have only a small note on the tags.. something went wrong with the words (probably bec

[2015-11-22 03:42] yvantina commented on #357
@porteriffic Please let me know how this evolve ! Bon week end

[2015-11-22 04:05] #394 closed, assigned to coreysmart92

[2015-11-23 20:59] porteriffic commented on #357
@yvantina I emailed them but haven't received a response since then. I'll let you know if they respond. I can touch bases with them soon. Maybe not this week because of Thanksgiving but would next Monday work?

[2015-11-23 21:14] porteriffic commented on #397
@rmalina Is this podcast for something specific? Either way we can accept their podcast. I can email them if you'd like.

[2015-11-23 21:16] porteriffic commented on #381
I've scheduled meetings [here](http://teamup.com/ksd6a53f8b03c96dea)

[2015-11-23 21:16] #381 closed, assigned to porteriffic

[2015-11-23 21:19] porteriffic commented on #368
Blog post is ready. Just need the timeline from @linamoon

[2015-11-23 21:22] cassininazir commented on #381
Thanks. We may forget about these dates from having to use another tool.

Can you also put the dates in a Google Doc that we can refer to?

[2015-11-23 21:23] porteriffic commented on #381
@cassininazir Sure can!

[2015-11-23 21:24] yvantina commented on #357
Okay
Le 23 nov. 2015 14:59, "porteriffic" notifications@github.com a écrit :

[2015-11-23 21:26] porteriffic commented on #347
Podcasts have been published

[2015-11-23 21:26] #347 closed, assigned to coreysmart92

[2015-11-23 21:49] porteriffic commented on #381
Schedule located in Google Drive under Project Management [CD 1.2.6](https://docs.google.com/document/d/1o2tKweAWNli3SBrs-vS-2IEKE1WVMpYNEYu7EOx3PEM/edit)

[2015-11-23 21:56] porteriffic commented on #360
RAW Conference updates located in Google Drive [here](https://drive.google.com/drive/u/0/folders/0B47T3_SpQdTWSl9QNmltM3J5NUE)

[2015-11-23 21:56] #360 closed, assigned to cassininazir

[2015-11-23 22:00] porteriffic commented on #393
Correction made.

[2015-11-23 22:00] #393 closed, assigned to porteriffic

[2015-11-23 22:04] porteriffic commented on #392
All Spring 2016 Prep can be viewed [here](https://docs.google.com/document/d/1o2tKweAWNli3SBrs-vS-2IEKE1WVMpYNEYu7EOx3PEM/edit). The document in the Google Drive will stay up-to-date.

[2015-11-23 22:04] #392 closed, assigned to porteriffic

[2015-11-23 22:41] porteriffic commented on #397
Emailed Lilla

[2015-11-25 16:17] rmalina opened #399 "urgent re art and climate change podcast"
corey
PLEASE reply to this email and copy me
roger

Hello Roger and Corey,

I just got s link to an exhibition I am in as part of COP21.
Here it is:
http://www.artcop21.com/events/tipping-points-artists-address-the-climate-crises/

This made me wonder if the podcast that Miriam Seidel and I did has been posted yet??

Thank you.

Best,
@porteriffic

Diane Burko
310 South Juniper Street
Philadelphia

[2015-11-26 17:59] rmalina opened #400 "podcast screwed up - nov 26"
corey

this podcast is screwed up

http://creativedisturbance.org/podcast/kim-fraczek-artist-and-activist-eng/

it cuts off in mid sentence at 1 m 21 second

i assume you didnt loan up the whole podcast

PLEASE fix this urgently its embarassing

roger
@coreysmart92

[2015-11-26 18:01] amb141330 commented on #400
It worked fine when I uploadted the file. I'll fix it right now.

[2015-11-26 18:05] rmalina commented on #400
thanks !!
happy thanksgiving !

roger

On Thu, Nov 26, 2015 at 10:01 AM, amb141330 notifications@github.com
wrote:

##

Roger F Malina
is in california
COME TO OUR DALLAS CHRISTMAS PARTY DEC 6 SUNDAY 4-10pm
If you want to come or know someone who would-contact me
my cell is still 510-853-2007

[2015-11-26 18:07] amb141330 commented on #400
Should be fixed now. Just skipped to that time in the podcast and had no issue. Happy Thanksgiving!

[2015-11-26 18:07] #400 closed, assigned to coreysmart92

[2015-11-30 15:16] amb141330 commented on #387
Document was created in preparation for the last team meeting. Would you like me to send out an email to each specific eligible producer? Also the producers that are close to being eligible?

[2015-11-30 15:17] amb141330 commented on #366
There was social media posts scheduled during the release week and following week for Art Cop21. I forgot to comment because I worked with Josephine on drafting those posts.

[2015-11-30 15:19] amb141330 commented on #326
No update on further emails just yet in terms of sent and received.

[2015-11-30 15:20] amb141330 commented on #153
Jabber was not working last week due to the power outage bringing down the server so Brian was not able to give me an update here.

[2015-11-30 15:21] amb141330 commented on #56
Printing this out after review with the rest of the sound team today.

[2015-11-30 17:37] coreysmart92 commented on #399
Closing: I have responded and everything is ready to go. The podcast will be published 12/1/15 at 12:30 AM.

[2015-11-30 17:37] #399 closed, assigned to coreysmart92

[2015-11-30 17:39] coreysmart92 commented on #398
Closing: I have corrected this. [11/30/15]

[2015-11-30 17:39] #398 closed, assigned to coreysmart92

[2015-11-30 17:44] coreysmart92 commented on #397
Apologies I will be more careful in the future. I emailed her on 11/25/15, it seems everything is ready to go for the recording. Lilla said she would email if there are any complications.
Close: When the podcast has been submitted.

[2015-11-30 17:46] coreysmart92 commented on #372
The podcasts are edited. Once the forms are complete we can publish. I have scheduled the publishing for Friday 12/4/15.
Close: When the podcasts are published (11/30/15)

[2015-11-30 17:50] coreysmart92 opened #401 "Helen and Newton Podcast Forms"
The only podcast I edited that is still waiting on podcast forms from you is the Helen and Newton podcast. I can shift the podcast scheduling depending on how much time you need to complete the forms. Just let me know.
Close: When the podcast has been published.

[2015-11-30 17:52] coreysmart92 commented on #369
Closing: I have created a new issue for the only podcast I have which needs forms from you. Issue #401. (11/30/15)

[2015-11-30 17:52] #369 closed, assigned to coreysmart92

[2015-11-30 17:53] coreysmart92 commented on #334
This podcast is done editing and has been sent to Eun Ah Lee.
Close: When podcast is published. (11/30/15)

[2015-11-30 17:55] coreysmart92 commented on #332
Hal has put it on Libsyn, I will transfer this issue to Hal.
Close: When podcast has been published.(11/30/15)

[2015-11-30 18:04] coreysmart92 commented on #284
Closing: This podcast has been submitted and edited. It will be published 12/1/15. (11/30/15)

[2015-11-30 18:04] #284 closed, assigned to coreysmart92

[2015-11-30 19:47] coreysmart92 opened #402 "Analyze November 2015 Stats"
Analyze November 2015 stats and Creative Disturbance information. @coreysmart92 start with a list of podcast publication and splash page podcasts numbers from 8/15-11/15.
Close: When we discuss this during a meeting. (11/30/15)

[2015-11-30 22:57] porteriffic commented on #387
@amb141330 That would be great! Maybe include in the email if they don't respond that you'll enter for them?

[2015-12-01 00:02] linamoon opened #403 "Add feedback@creativedisturbance.org email, social media and Stitcher links to website footer and important pages"
- I couldn't find a way to contact CD on the website - eventually found an email link on the bottom of the dashboard page, but this needs to be made more visible
- I know there are social media icons at the header of the website, but these need to be made more visible as well

[2015-12-01 04:28] yvantina commented on #326
I did actually. From Amal Alayan, Laura Marks, and Tobias Van Veen with whom I actually made a podcast. Need to follow up with the other ones. and we need to plan our next emailing session this week !

[2015-12-01 15:54] rmalina commented on #369
Will do this afternoon
On Nov 30, 2015 11:52 AM, "coreysmart92" notifications@github.com wrote:

[2015-12-02 17:24] #348 closed, assigned to dylanorgeron

[2015-12-03 18:06] cassininazir opened #404 "Conduct year-end inventory check of ArtSciLab equipment"
@amb141330, I'd like you to schedule an **inventory check** for items in the ArtSciLab. Would like to make sure the lab is not missing any items and the people we think have the equipment, still have it!

[2015-12-06 06:00] amb141330 opened #405 "Forms for Aesthetics of complexity with M. Tromble.WAV"
Roger can you do this please?
I just checked the forms and I didn't see it on there.
Thank you!

[2015-12-07 21:44] rmalina opened #406 "problem on podcast form"
corey gave me a mp3 file for the harrisons but the new podcast form wont let me load mp3 files
roger

corey-either you need to send me files in a firmat the form will accept
or you need to get dylan to fix the new podcast form

roger
@dylanorgeron

[2015-12-07 21:48] rmalina commented on #401
corey
i have done the forms for the harrisons podcast
please go ahead and publish this week
thanks

roger

[2015-12-08 00:02] dylanorgeron commented on #406
working on it

On Mon, Dec 7, 2015 at 3:44 PM, rmalina notifications@github.com wrote:

[2015-12-08 17:12] linamoon opened #407 "Implement logo reciprocity for partner organizations - ideally by end of week"
For CD partner organizations, we should make sure that they have a link to CD on their site and that we have a logo link to them on our site as well. See example with Audiolats at:

http://www.olats.org/audiolats/audiolats.php

Partner organizations include:
- Human Impacts Institute
- RAMI
- Noisy People
- Meta-Life

Touch base with @yvantina and @linamoon on this if any questions.

[2015-12-09 05:12] #406 closed, assigned to coreysmart92

[2015-12-10 20:16] dylanorgeron commented on #407
waiting on metalife and noisy people confirmation

[2015-12-10 20:17] dylanorgeron commented on #338
ill handle this during skedge development

[2015-12-10 20:23] #373 closed, assigned to dylanorgeron

[2015-12-10 20:24] dylanorgeron commented on #373
text now right aligned

[2015-12-11 15:46] porteriffic commented on #368
Published Nov. 30th.

[2015-12-11 15:46] #368 closed, assigned to porteriffic

[2015-12-11 15:48] porteriffic commented on #334
@coreysmart92 When is this podcast scheduled to be published?

[2015-12-11 15:49] #288 closed, assigned to porteriffic

[2015-12-11 16:06] #366 closed, assigned to amb141330

[2015-12-11 16:11] porteriffic commented on #325
@coreysmart92 I don't see this podcast anywhere on the website. Why was this podcast not published?

[2015-12-11 16:13] porteriffic commented on #309
Will suggest Susan contact Jenifer for recording future podcasts and will create a new issue for it.

[2015-12-11 16:13] #309 closed, assigned to porteriffic

[2015-12-11 16:24] porteriffic commented on #226
@coreysmart92 Need an update on this ASAP.

[2015-12-11 19:32] yvantina commented on #226
Corey, I think it took too much time now quickly. It was 3 months ago and
we did not react enough quickly. I hope they're still willing to open a
'Nowhere Else' channel but I'm afraid they already busy with other
projects.. let see. Keep us posted
Le 11 déc. 2015 10:24, "porteriffic" notifications@github.com a écrit :

[2015-12-11 21:16] yvantina commented on #407
thanks ! as for Meta-Life (i.e. Leonardo/OLATS), we'd simply need to put CD's logo-link on the home page of the website  http://synthbioart.texashats.org/

[2015-12-12 17:51] rmalina commented on #325
I only just did the form
On Dec 11, 2015 10:11 AM, "porteriffic" notifications@github.com wrote:

[2015-12-12 17:51] rmalina commented on #334
I don't think eun ah wants to publish it
On Dec 11, 2015 9:48 AM, "porteriffic" notifications@github.com wrote:

[2015-12-12 20:21] porteriffic commented on #334
@rmalina She sent an email earlier this week approving it.

[2015-12-12 21:30] rmalina commented on #334
Ok greAt
On Dec 12, 2015 2:21 PM, "porteriffic" notifications@github.com wrote:

[2015-12-13 21:01] linamoon commented on #386
@halclark I've edited the Experimental abstract a little bit and added some comments that might be helpful - see below. Be aware that submissions are due this Fri Dec 18th!
- https://docs.google.com/document/d/14woBZrNi7nJAxg94XP4iYqZFroH_mtxHJAnziujNRPw/edit

@porteriffic - I guess you will be the one collecting and emailing to utd.gsa@gmail.com?

[2015-12-13 22:16] linamoon commented on #211
Blog posts have (finally!) been scheduled and published on Wordpress site.

[2015-12-13 22:16] #211 closed, assigned to linamoon

[2015-12-13 22:17] linamoon commented on #367
Email has been sent out and blog post has been published.

[2015-12-13 22:17] #367 closed, assigned to linamoon

[2015-12-13 22:40] amb141330 commented on #350
So, I wasn't getting notifications for this so I just saw it. The guest info is on the site, but not the actual form the the podcast including description and what not.

[2015-12-13 22:49] linamoon commented on #395
This has been started under 2.3 Community Building:
- https://docs.google.com/document/d/1VA5jC-Ina-iDM1yrGtna651Ofhwb3ofzKzaSfaW_sDI/edit

[2015-12-13 22:49] #395 closed, assigned to linamoon

[2015-12-13 22:50] linamoon commented on #407
Website has logos implemented (list and info document under 2.3 Community Building):
- https://docs.google.com/document/d/1VA5jC-Ina-iDM1yrGtna651Ofhwb3ofzKzaSfaW_sDI/edit

I guess next step is to send emails to partners that don't have the CD logo on their website? @yvantina

[2015-12-13 22:55] yvantina commented on #407
Yes Thank you. We should do that next week

[2015-12-13 22:56] linamoon commented on #407
Link to CD has been made on Meta-Life as well!

[2015-12-14 00:54] rmalina commented on #350
Ok will do
On Dec 13, 2015 2:40 PM, "amb141330" notifications@github.com wrote:

[2015-12-14 16:24] porteriffic commented on #401
Podcast has been published.

[2015-12-14 16:24] #401 closed, assigned to rmalina

[2015-12-14 17:43] porteriffic commented on #226
This issue is a duplicate of #357.

[2015-12-14 17:43] #226 closed, assigned to porteriffic

[2015-12-14 19:53] porteriffic opened #408 "Email Podcast Information to Sound Team"
Email any information needed for the following podcasts to someone on the sound team:

Information and Power in the Age of Biotechnology
Prosthetics Organs Wearable Art Podcast
On Aliveness with Stelarc
Microbiome Art
De l’Amitie avec Dominique Lestel 1 (Recording Quality)
De l’Amitie avec Dominique Lestel 2 (Recording Quality)
Future of Architecture and Synthetic Biology

[2015-12-17 03:11] porteriffic opened #409 "Create Artwork for Roots of Curiosity Channel"
See emails between Patricia Correia and myself. You should see an attached image they'd like to use but are open to whatever suites us as well. I'd like to have the channel live before the end of the year.

[2015-12-17 03:14] porteriffic commented on #339
Podcast has been published.

[2015-12-17 03:14] #339 closed, assigned to coreysmart92

[2015-12-17 03:16] porteriffic commented on #325
Podcast has been published.

[2015-12-17 03:16] #325 closed, assigned to coreysmart92

[2015-12-18 04:19] porteriffic commented on #384
Proposals have been sent. Create new items in the future for next steps.

[2015-12-18 04:19] #384 closed, assigned to porteriffic

[2015-12-18 04:20] porteriffic commented on #386
Proposals have been sent. Create new item in the future for next steps.

[2015-12-18 04:20] #386 closed, assigned to halclark

[2015-12-21 23:20] yvantina commented on #361
@coreysmart92 @halclark @amb141330
You should be able to publish those podcasts now that you have everything you need (description + guest forms). Please let me know your schedule so I can close this issue ! Thanks

[2015-12-21 23:23] yvantina opened #410 "Please change podcast voices !!"
@halclark @amb141330 Can you please update this podcast info accordingly ? See below. thanks !

For Clarification. The podcast listing Ryan is actually 3 people:

"with Ryan McMahan, Paul Fishwick, Kang Zhang
EN
December 6, 2014"

Your web site shows only Ryan. This is not a big deal, but I wanted to highlight it
in case this same issue is pervasive across podcasts.
-p

Paul Fishwick, PhD
Chair, A

[2015-12-22 01:48] yvantina commented on #408
DONE  !! They should have enough info to publish now

[2015-12-22 01:49] #408 closed, assigned to yvantina

[2015-12-22 04:03] rmalina commented on #410
yvan yvan
this was my mistake on my blog
the podcast is fine
roger

On Mon, Dec 21, 2015 at 5:23 PM, yvantina notifications@github.com wrote:

##

Roger F Malina
is in New York
my cell is still 510-853-2007

[2015-12-22 04:07] yvantina commented on #410
Okay okay, My BAD ! I didn't double check as Paul cc-me in your email... I thought our team was involved..
yvan

[2015-12-22 04:07] #410 closed, assigned to nobody

[2015-12-22 16:27] rmalina opened #411 "errors on web site re zhang mcmahan fishwick podcast"
paul fishwick reports the following errors it would be nice to fix
@halclark @amb141330

can you someone put this on their to do list

roger

Roger
 Thanks — two minor additions (but no rush):

(1) Kang Zhang’s name is misspelled. “Kang” rather than “Kan” in the main web page.

(2) There should be bio pages to Kang and I. Currently, when clicked, only Ryan’s photo and bio
show. For example (using

[2015-12-30 09:39] rmalina opened #412 "follow up with altugy akin for turkish creative fellow"
altug

Altug Akin altugakin@gmail.com
delighed to hear f
Vrom you !! and best for 2016

the project i mentioned it is Creative Disturbance

http://creativedisturbance.org/

we boadcast podcasts by professionals for professionals
in the broad fields of connecting the arts and emerging technologies
and arts and science

we raised money by crowdfunding to give 1000 dollar speaking 'fellowships)
to st

[2016-01-11 19:38] coreysmart92 opened #413 "MIT Press Switch Website Improvements"
For the MIT Press switch we need to clean and improve the quality of Creative Disturbance. First we need to plan for more strict podcast quality control. Second we need to plan and improve what a new listeners will see (such as a most listened to podcast pages).

[2016-01-11 19:38] rmalina opened #414 "update of job descriptions"
corey ashton hal meet as a group with cassini
- review job description and goals; do a self assessment of what was done/not done
- update job descriptions, goals for next semester
- organise amont the three of yourselves so that 5 podcasts a week go up
  rain or shine

roger
@cassininazir @halclark @coreysmart92 @amb141330