[2016-08-01 18:29] #343 closed, assigned to amb141330

[2016-08-01 18:31] amb141330 commented on #184
Their website no longer exists. Closing this issue

[2016-08-01 18:31] #184 closed, assigned to amb141330

[2016-08-01 18:33] amb141330 commented on #125
Will add Sasha Petrenko to the list of people who should be contacted. Will create a new issue for that purpose.

[2016-08-01 18:33] #125 closed, assigned to amb141330

[2016-08-01 18:38] amb141330 commented on #235
I think since it's the start of the semester, it'll be a good time to re-contact all producers. I did so at the beginning of summer and some of them said they were expecting podcasts toward the end/in the fall. This will be a good time to touch base with them.

Closing this issue and will open one for all producers.

[2016-08-01 18:38] #235 closed, assigned to amb141330

[2016-08-01 18:39] amb141330 commented on #135
Closing due to inactivity.

[2016-08-01 18:39] #135 closed, assigned to amb141330

[2016-08-01 18:40] amb141330 commented on #130
Opening a new issue with list of people to contact. Closing this one.

[2016-08-01 18:40] #130 closed, assigned to amb141330

[2016-08-01 18:41] amb141330 commented on #630
Do you want me to contact Brett and find out about this? Obviously if we've paid for it and haven't received service that's an issue.

[2016-08-01 18:42] amb141330 commented on #613
Dylan and I have discussed this plenty. He knows what is best for our current design.

[2016-08-01 18:42] #613 closed, assigned to dylanorgeron

[2016-08-01 18:43] amb141330 commented on #351
Closing due to inactivity.

[2016-08-01 18:43] #351 closed, assigned to cassininazir

[2016-08-01 18:43] amb141330 commented on #628
followed up with the email. Currently waiting on a response from Gryphon who will be the one we record a podcast with.

[2016-08-01 18:44] amb141330 commented on #632
Do you have an update on when you'll be meeting with Charissa for coffee and to record this podcast?

[2016-08-01 18:45] amb141330 commented on #598
@ZuraJavakhadze do you have any updates? Is there anything I can do to help you out and get the ball rolling on this for you?

[2016-08-01 18:51] amb141330 commented on #627
Assigned podcast to @halclark and replied to their email. Will send another email when we see what information we need from them.

[2016-08-01 18:51] amb141330 commented on #617
Paddy is making adjustments to the logo. I have been in contact with Reynaldo, he's happy to have modifications to the logo. Should be receiving podcasts from him soon.

[2016-08-01 18:52] amb141330 commented on #626
Forms will be cleaned up before the semester starts.

[2016-08-01 18:52] amb141330 commented on #626
Forms will be cleaned up before the semester starts.

[2016-08-01 18:53] amb141330 commented on #604
@halclark is in charge of the logo and bumper. However I was told this channel is on hold for now due to their situation.

[2016-08-01 18:55] amb141330 commented on #554
Will start archiving channels and notifying producers of those channels that their podcasts will still be visible, but that their channel is considered inactive until they provide us with more content

[2016-08-01 18:56] amb141330 commented on #503
Indu is in charge of lab equipment. She has the full list that Sandy and I provided.

[2016-08-01 18:56] #503 closed, assigned to amb141330

[2016-08-01 18:57] amb141330 commented on #439
Closing this issue since I've heard nothing from them and Yvan hasn't gotten any progress with them either.

[2016-08-01 18:57] #439 closed, assigned to amb141330

[2016-08-01 18:58] amb141330 commented on #141
Old issue. Process will change once Skedge is released. Can write something up then if still needed.

[2016-08-01 18:58] #141 closed, assigned to amb141330

[2016-08-01 19:00] amb141330 commented on #450
Putting this on a list of tasks to revisit. I think splash pages should be a normal part of our year, but be planned out to do a certain amount over the year.

[2016-08-01 19:00] #450 closed, assigned to amb141330

[2016-08-01 19:02] amb141330 commented on #466
Old issue. Closing, will put on my list of issues to revisit when looking at goals for the fall.

[2016-08-01 19:02] #466 closed, assigned to amb141330

[2016-08-01 19:03] amb141330 commented on #472
We took care of everything on box. It's not wise to leave podcasts laying around on the desktop. We keep them on box so that we have access to them from anywhere. Sticky notes are very easily moved or discarded. I will try to find them regardless and give you an update on Wednesday.

[2016-08-01 19:04] amb141330 commented on #520
I just recently received a completed collaboration agreement from Jepchumba. Will start the process of uploading their podcasts to the website.

[2016-08-01 19:05] amb141330 commented on #520
https://creativedisturbance.wufoo.com/entries/creative-disturbance-collaboration-agreement/

[2016-08-01 19:06] amb141330 commented on #634
If this involved monotonous work/paper work give it over to me. I can handle those tasks.

[2016-08-01 19:09] amb141330 commented on #25
Old issue and closing due to inactivity.

[2016-08-01 19:09] #25 closed, assigned to coreysmart92

[2016-08-01 19:10] amb141330 commented on #190
This is an old issue. Dylan if you'd like to close it you can, I've setup subdomains for all the channels, but it's a work in progress. Feel free to close.

[2016-08-01 19:11] amb141330 commented on #183
Will include an instructional page/tutorial as a part of the redesign. Allowing for producers AND guests to submit podcasts.

[2016-08-01 19:11] #183 closed, assigned to nobody

[2016-08-01 19:12] amb141330 commented on #101
@halclark please update or close this issue

[2016-08-01 19:13] amb141330 commented on #136
No activity. Old issue. Closing

[2016-08-01 19:13] #136 closed, assigned to yvantina

[2016-08-01 19:15] amb141330 commented on #212
Worth revisiting I think. Closing this issue and adding to list of contacts for new issue when I open it up.

[2016-08-01 19:15] #212 closed, assigned to cassininazir

[2016-08-01 19:16] amb141330 commented on #234
I contacted Annick seperately and am in contact with her about upcoming podcasts. Closing issue

[2016-08-01 19:16] #234 closed, assigned to yvantina

[2016-08-01 19:33] amb141330 commented on #282
Closing since there has been no activity. Will keep it on list to revisit in the event you're still interested.

[2016-08-01 19:33] #282 closed, assigned to yvantina

[2016-08-01 19:36] amb141330 commented on #372
both podcasts should have been published.

http://creativedisturbance.org/podcast/disorienting-procedures-teaching-consciousness-through-art-science-practice-eng/

http://creativedisturbance.org/podcast/when-the-mind-is-the-medium-on-the-new-connections-between-art-and-neuroscience-eng/

Closing issue.

[2016-08-01 19:36] #372 closed, assigned to rmalina

[2016-08-01 19:37] amb141330 commented on #375
No movement on this issue. Closing and adding to people to contact.

[2016-08-01 19:37] #375 closed, assigned to rmalina

[2016-08-01 19:38] amb141330 commented on #383
Please set up a meeting with Dylan or find some way to make progress on this. I'd like this done before school starts.

[2016-08-01 19:39] amb141330 commented on #440
No action on this issue. Closing

[2016-08-01 19:39] #440 closed, assigned to yvantina

[2016-08-01 19:40] amb141330 commented on #446
Closing, but adding to the list to revisit. Think this is a good opportunity if it's not too late.

[2016-08-01 19:40] #446 closed, assigned to nobody

[2016-08-01 19:41] amb141330 commented on #454
Dylan implemented archiving system for channels and podcasts

[2016-08-01 19:41] #454 closed, assigned to cassininazir

[2016-08-01 19:41] amb141330 commented on #456
Please update this issue or close it.

[2016-08-01 19:43] amb141330 commented on #471
No movement on this issue. Closing to clean up the GitHub

[2016-08-01 19:43] #471 closed, assigned to rmalina

[2016-08-01 19:44] amb141330 commented on #544
Please update this issue. Make sure the mics are both working before you close it.

[2016-08-01 19:46] amb141330 commented on #492
Reassigning since Lina is gone.

[2016-08-01 19:47] amb141330 commented on #496
duplicate issue. Closing and leaving the other, newer, issue open.

[2016-08-01 19:47] #496 closed, assigned to halclark

[2016-08-01 20:15] #190 closed, assigned to dylanorgeron

[2016-08-01 20:19] dylanorgeron commented on #630
Cassini has been on it for awhile. I think that with Arteca it has fallen to the side. It's not critical right now because there are other things that I can be doing with Skedge that don't require an upgrade. I plan on meeting with Cassini soon to discuss a few things, I'll see about moving control of the migration over to myself, as there are bound to be issues or questions they will ask about th

[2016-08-01 23:35] rmalina commented on #634
ashton
no the idea is that mit press gets the dois
the procedure needs to be worked with them
they have an existing doi system this would be part of
roger

Roger F Malina
is in Dallas
5108532007

On Mon, Aug 1, 2016 at 2:06 PM, amb141330 notifications@github.com wrote:

[2016-08-01 23:36] rmalina commented on #520
ashton
we need to modify these collaboration agreemens so
mit press has the rights to publish the podcasts on arteca
roger

Roger F Malina
is in Dallas
5108532007

On Mon, Aug 1, 2016 at 2:05 PM, amb141330 notifications@github.com wrote:

[2016-08-01 23:40] rmalina commented on #343
ashton
so do we have a procedure for informing the donors
on kickstarter
roger

Roger F Malina
is in Dallas
5108532007

On Mon, Aug 1, 2016 at 1:29 PM, amb141330 notifications@github.com wrote:

[2016-08-02 21:21] yvantina commented on #492
Okay, please feel free to introduce me to the new design fellow when applicable

[2016-08-02 21:42] yvantina commented on #456
Haven't received that list yet..

[2016-08-02 21:50] yvantina commented on #282
Yes I have reached her. Just lacking the time to record the podcast

[2016-08-02 21:54] yvantina commented on #136
Podcasts with Trevor published during COP21

[2016-08-02 21:55] yvantina commented on #25
Please follow up with ArtSeek @ KERA

[2016-08-02 22:09] yvantina commented on #472
Okay no problem but back in the days (when we just set up the sound station in the lab, that was the way we did) we deleted the dropbox account. Box was a suggestion of mine, or started with my podcasts for metalife and Expucu's roundtables. Anyway. I wrote the sticky notes in March or April after a watering hole session, Corey told me would take care of this so I thought they've been uploaded/edi

[2016-08-02 22:18] yvantina commented on #439
Yes too bad. She (Mahsoo) promised she will come back to us but never did..

(Excerpt Facebook)

Mahsoo
can you just send an email to Ashton and let him know you need more time? they're not aware of our exchanges and are worrying a bit about the next steps since they don't know what to do to help you
thanks

Mahsoo Salimi
21/05/2016 05:58
Mahsoo Salimi
Sure...I will, thanks for all of your help an

[2016-08-02 22:18] yvantina commented on #604
Yes, thank you

[2016-08-02 22:21] yvantina commented on #627
Okay but just for your info Cassini suggested we can re publish on Voice from the Crowd- you can duplicate under Meta-Life, but primary channel should be VFC

[2016-08-02 22:31] yvantina commented on #287
Same people than for the late Anthropodcast channel, you just deleted that issue.
Just in case, here's the email address of the potential producer Jonathan Maitrot  webmaster@voyagecast.ch
Not sure it worth it though

[2016-08-03 16:41] amb141330 commented on #520
I know about this. I'm not sure who to get a modified agreement. Would you like me to email Chaz the current form and let him know what permissions we need so that he's able to adjust the forms?

Yvan had just asked that it get done soon and I met with Cassini about what to do. We decided to use the old forms for now.

[2016-08-03 16:42] amb141330 commented on #628
In the email thread Roger said he is available between August 9th and August 13th. Gryphon, the Strange Attractor curator, agreed to meet during that time. Need to schedule a specific time slot to record.

[2016-08-03 16:43] amb141330 commented on #627
Understood. Will make sure this happens.

@halclark please see to it that it's published this way.

[2016-08-03 16:45] amb141330 commented on #612
We have a post on the blog ready to go up from Lina and her experiences. Waiting on Indu and Zura to let me know when to publish that so we can publish to both sites at the same time. I'll be publishing a blog post on what to expect with upcoming channels.

I've also asked @halclark to write up a blog post for content we can expect to see on Xperimental

[2016-08-03 16:46] amb141330 commented on #630
Alright, this is a duplicate issue as you've brought to my attention so I'll close this one.

[2016-08-03 16:46] #630 closed, assigned to dylanorgeron

[2016-08-03 16:47] amb141330 commented on #623
I'd like this to go up before the start of the semester if at all possible.

Perhaps @halclark should meet with @ZuraJavakhadze

[2016-08-03 16:48] amb141330 commented on #596
What's the progress on the emails in the voice section? Have you completed the list?

Do I need to take over archiving the forms?

[2016-08-03 16:48] amb141330 commented on #590
I know these have been edited and you've said that you emailed Roger about the forms. Any progress on getting these podcasts published?

[2016-08-03 16:53] amb141330 commented on #537
It's been awhile since we've received and podcasts from the Turkish channel, please contact them and ask if we can expect anymore content soon.

[2016-08-03 16:56] amb141330 commented on #629
Let me know when you'd like to schedule this Joel, we can setup a time after you're back on the 17th to go through how to record a podcast

[2016-08-03 18:21] amb141330 commented on #472
I found them on the desktop. I'm sorry for this happening. If you spoke to Corey about it I wasn't aware. I had dealt with all the ones on the box and didn't realize there was more on the desktop.

I have all 4 Jens hauser ones and will add them to the list.

Again, sorry Yvan.

[2016-08-03 20:19] yvantina commented on #472
No worries.. I can't hold you responsible for anything. There's just a need for more communication/coordination between us.. I mean within the lab and between the producers/voices/etc

[2016-08-03 20:53] cassininazir commented on #630
HostGator has made the changes! May take a bit of time for hte changes to propagate. All the passwords and such will be the same.

![screen shot 2016-08-03 at 3 51 47 pm](https://cloud.githubusercontent.com/assets/1661430/17381574/37e3357c-5992-11e6-8a0e-8698a379af2b.png)
![screen shot 2016-08-03 at 3 52 09 pm](https://cloud.githubusercontent.com/assets/1661430/17381582/3f9ae904-5992-11e6-811d-7fd

[2016-08-03 22:29] rmalina commented on #537
They are on holiday

On Aug 3, 2016 12:34 PM, "amb141330" notifications@github.com wrote:

[2016-08-07 00:38] yvantina opened #636 "Vasulka's podcasts ?"
I remember Philip Celander saying he recorded the Vasulkas last year and we've been unable to have them published on CD since then. This is definitely not a priority but the new leonardo special issue reminded me that - can we work with Philip this semester to have those podcasts?

LEONARDO 49:4 SPECIAL SIGGRAPH ISSUE
Siggraph2016_coverThis special issue is published in conjunction with the SIGGRA

[2016-08-07 00:46] yvantina opened #637 "Femgineers in Africa"
Ashton Brillante
21:17 (Il y a 5 heures)

Alright, we have many channels that I'll have to do that for. I'll get working on that very quickly then.

On Sat, Aug 6, 2016 at 2:08 PM, roger malina rmalina@alum.mit.edu wrote:
ashton
again if we cant come up with a logo dont let this hold
things up- future lab can generate a logo or you can use
something boiler plate until you have something better

ro

[2016-08-10 23:09] #577 closed, assigned to dylanorgeron

[2016-08-25 13:51] amb141330 opened #638 "Problem with saving and submitting podcast forms"
Both Yvan and Annick have expressed trouble yesterday with being able to submit and save their podcast forms. As a result they had to just email me all the information. I'm unaware as to if this applies to guest forms as well.

[2016-08-25 17:02] dylanorgeron commented on #638
Likely something got missed during the server transfer. Im looking into it.

[2016-08-26 19:06] amb141330 commented on #634
Roger
So now it's my understanding most of the DOIs should be handled on the MIT Press side of things. Based on the meeting I had with Cassini when they met with MIT about a week and a half ago, it seemed they were under a different impression.

I guess Nick Larson is the individual to discuss this with or that has to sign off on this?

Is there anything I can help do in the meantime to get the DO

[2016-08-26 19:37] dylanorgeron commented on #638
I've fixed two bugs. One was preventing certain forms from entering the database. Unfortunately, this means that their forms will need to be resubmitted. Second, I've disabled a caching plugin that was preventing new forms from being visible on the pending page. This should resolve the issue Yvan and Annick were having.

[2016-08-26 19:37] #638 closed, assigned to dylanorgeron

[2016-08-26 22:33] cassininazir commented on #638
Thanks, @dylanorgeron. @amb141330 can you confirm that it's working on your end?

[2016-08-29 19:45] amb141330 opened #639 "Kickstarter Donation Promises"
Check on Kickstarter to see what was promised for each tier of contribution

Check with Lina to see what the progress of this is

[2016-10-14 18:15] halclark opened #640 "Website Speed"
I have noticed that for the past 3 weeks, the Creative Disturbance website, including the wordpress pages, have been incredibly slow in loading, and will sometimes not ever load at all. Just thought I should mention it.

[2016-10-14 21:32] joelewing commented on #629
Are we still planning to do this at some point?

[2016-10-17 16:37] ritwikjk opened #641 "Not able to go on the CD website"
Everytime I try to access Creative disturbance website in the night , the websites for Wp-admin and the main website do not respond.
Do let me know if there is maintenance or any other things going on.

Ritwik

[2016-10-31 17:13] cassininazir opened #642 "New Podcast Channel Cover Art"
@amb141330 (Ashton) please work with @scolecite (Yana) regarding new channels that need artwork.

Reminder that the producers should have approval at draft stage and final stage.

[2016-10-31 17:15] cassininazir commented on #642
Review the [Album Artwork guidelines](https://docs.google.com/document/d/1rF5ZSlPwMFK9gTTlXywviDQlCNnZkFbMGvJxORMwIyw/edit) and the [Brand Guidelines](https://docs.google.com/document/d/1I7wcy-BkpTK5QDva5prW8ZCNboTlYaNF2nq0uY0FQEk/edit)

[2016-11-03 03:56] amb141330 commented on #642
**SRS BSNS**
This channel needs a logo and doesn't have anything of substance at the moment. The last line of this has what she's looking for.

"Thanks to de-individuation and avatars to represent ourselves on the internet, deception is a core feature. From the 18-year old female could really be a 46 year-old man, to toxic trolls with anger management issues who might even be teachers to pre-schoo

[2016-11-04 18:42] amb141330 opened #643 "Podcast Forms section not working"
Hey Dylan,

I've had three people now submit podcasts and the forms are not showing up on the website. I, myself, just submitted a test form with an mp3 file less than 60 mb and the form is not there. Perhaps it will take some time for mine to show up, but right now we're missing podcasts from people because they've submitted them and I'm not able to see them.

Not sure if the form is being saved

[2016-11-04 18:44] amb141330 commented on #643
Should we have some sort of email confirmation that allows users to see the information they have submitted in their form? That way if something like this happens, they at least don't have to write everything down again.

[2016-11-05 18:57] dylanorgeron commented on #643
Do you recall what time/day you tested this? I'm trying to reproduce it and I can't. I haven't received an email saying a form couldn't be saved to the database, however the logs show that for a certain time the database was unreachable. If a form was submitted during this time, it wouldn't have sent me an email saying it couldn't be submitted.

UPDATE:
I've increased the maximum packet size for m

[2016-11-07 17:00] ygev commented on #642
**SRS BSNS**
![image](https://cloud.githubusercontent.com/assets/1816215/20064057/f9e9b330-a4ce-11e6-8184-eed64d020b6b.png)

**DALA**
![image](https://cloud.githubusercontent.com/assets/1816215/20069563/ba10e224-a4e2-11e6-919e-79a87f68a23e.png)

**Dark Arts**
_Image is copyrighted by [John Jennings](https://news.illinois.edu/blog/view/6367/210109#image-1); it's his original art. Please verify they

[2016-11-07 17:03] cassininazir commented on #642
Love these. @amb141330 please share and solicit feecback from the respective channel owners.

On DALA album artwork, please remove the white border.

[2016-11-07 17:04] cassininazir commented on #642
Also, the edges on PP&C have a great deal of artefacting, please clean up before final.
E.g.
<img width="346" alt="screen shot 2016-11-07 at 11 04 24 am" src="https://cloud.githubusercontent.com/assets/1661430/20067235/f5af530a-a4d9-11e6-8777-7aafc18210d8.png">

[2016-11-07 17:19] dylanorgeron commented on #643
Lets sit down at some point and try and reproduce this issue on your machine. What time works for you?

[2016-11-07 17:19] cassininazir commented on #643
@amb141330 I've asked @dylanorgeron to work with you on this. Please schedule a time to meet. Were you one of the three people who had trouble submitting?

[2016-11-07 18:07] ygev commented on #642
Edited & cleaned up; added to original comment.

[2016-11-07 18:21] cassininazir commented on #642
Thanks, let's review together. I'm still seeing some smaller  throughout.

[2016-11-07 18:55] ygev commented on #642
If you mean the pale blue lines, I added them on purpose. I can remove them like so, because I don't think they add much to the composition:

![image](https://cloud.githubusercontent.com/assets/1816215/20071278/71ff02ac-a4e9-11e6-8624-d0e4c8150469.png)

[2016-11-07 18:59] amb141330 commented on #643
I was not. Including myself would make 4. The people who have experienced issues are Poe Johnson for Dark Culture, Ana Rita Fonseca from Roots of Curiosity, and Fatimeh from Artisthinktive.

All three of them have tried to submit forms and when I've checked the submitted section they are nowhere to be found. I personally tested this on Friday right before I made the issue.

Fatimeh was able to sav

[2016-11-07 19:12] amb141330 commented on #642
Emails have all gone out. Will update as responses come in.

[2016-11-07 21:39] amb141330 commented on #642
Poe Johnson said that the Dark Culture image from John Jennings is just a reference image. Not to use that one for his album, but something to work based off of.

[2016-11-09 20:02] amb141330 opened #644 "Transposh section in WordPress podcasts page"
Ritwik and myself were curious if this section of the page was causing pages on Wordpress to load more slowly and if it's a necessary feature.

It seems that the loading of that feature is what requires the most time. It's on the top right of the page right above where you select the publication time.

[2016-11-09 20:53] amb141330 commented on #642
Received positive feedback from Alex Garcia Topete (Parsecs, Phasers & Cyborgs) and Celestia (SRS BSNS). Both are happy with the product. Have not yet heard from Reynaldo Thompson.

Will have another channel artwork needed from Zura for his Chess and Technology channel. I am meeting with him tomorrow about that. You can also begin working on the Dark Culture logo whenever you are ready.

[2016-11-10 19:49] rmalina opened #645 "mitpress release form for arteca"
ashton
i did a recording with zura this morning
he did not know about how to do the guest release
forms including the mit press forms

can you make sure all podcasts we are now recording have people
sign both our release form and the mit press one

discuss this with cassini before implementing

roger

[2016-11-10 19:50] rmalina commented on #632
this is on hold for now but will keep active

[2016-11-10 19:51] rmalina commented on #631
on hold but will do

[2016-11-10 19:52] rmalina commented on #589
on hold but will do

[2016-11-10 19:52] rmalina commented on #560
on hold but will do

[2016-11-10 19:52] rmalina commented on #222
still planning to do

[2016-11-11 23:22] dylanorgeron opened #646 "Clean up forms in preparation for Skedge"
There are a fair amount of saved, submitted, and archived forms that have built up on CD. In order to make things go smoothly when deploying Skedge, please complete the following:

- Delete any "saved" forms that are not in use
- Archive any "submitted" forms that have been completed
- Delete any forms that are duplicates or were created for testing purposes

Once this has been completed, I can cr

[2016-11-12 00:00] dylanorgeron commented on #643
A setting in the php config file was limiting the size of the POST to 8mb and had to be adjusted in addition to the setting for maximum file size. Form should now be working with large files. Sorry for the interruption.  @amb141330 confirm this is working with a test on your end. If so, please close out the issue.

[2016-11-14 19:16] amb141330 opened #647 "MIT Forms for Future Labs Africa Channel- BETA access"
Creating an issue to document processes needed for Future Labs Africa to publish their podcasts on ARTECA.

-New Collaboration Agreement
-MIT Podcast form

Getting Teagan Bristow and Jepchumba II free beta access to ARTECA

[2016-11-16 19:15] amb141330 commented on #643
The issue has been fixed. Closing the issue.

[2016-11-16 19:15] #643 closed, assigned to cassininazir, dylanorgeron

[2016-11-16 20:27] halclark commented on #623
@cassininazir @dylanorgeron @ZuraJavakhadze  still not working. Neither frontend editor or the portfolio page editing section.

[2016-11-18 10:04] ygev commented on #642
**Dark Culture**
![image](https://cloud.githubusercontent.com/assets/1816215/20426279/12118370-ad44-11e6-9878-d6f05dc23464.png)

Will upload Zura's in the morning.

[2016-11-18 14:49] cassininazir commented on #642
Please make sure Poe and I have an opportunity to review. A few thoughts:
- Overall a good composition. Strong contrast between the colours.
- The words should be larger.
- The dots making up the work "DARK" should be larger. Try previewing this at a very small size with the low-brightness on a phone and the word "DARK" gets lost.
- I recommend removing the lights at top. They look great when larg

[2016-11-18 15:37] ygev commented on #642
**Dark Culture ver2**

![image](https://cloud.githubusercontent.com/assets/1816215/20435624/6723eab4-ad72-11e6-8c7e-798ca13c4ed5.png)

[2016-11-18 16:53] cassininazir commented on #642
Looks good. The front-facing ribbon on the `r` is misaligned. Needs to move left slightly

[2016-11-25 04:32] ygev commented on #642
Fixed **Dark Culture.**
![image](https://cloud.githubusercontent.com/assets/1816215/20614587/cc5c606e-b295-11e6-97f5-2b75d4cf3c32.png)

Talked to Zura and we came up with this design for **Chess & Technology**. He is very pleased with it.
![image](https://cloud.githubusercontent.com/assets/1816215/20614607/0f7f4f78-b296-11e6-872a-951996d28dae.png)

I think we are done here?

[2016-11-30 03:32] rmalina commented on #642
looks great to me
roger

Roger F Malina
is in Dallas
1-510-853-2007
malina.diatrope.com

On Thu, Nov 24, 2016 at 10:32 PM, yana <notifications@github.com> wrote:

[2016-12-01 19:11] rmalina opened #648 "web site wrong url"
i just subscribed to the cd email list
i confirmed the email

then clicked on go back to our web site and was directed to

http://bb.bbinc.tv/

roger

[2016-12-01 19:17] ritwikjk opened #649 "info card"
As everyone asks what Creative Disturbance is we need to have like a small info card (the size of a visiting card without any name. just CD and then the website link) or something with just

"Creative Disturbance
 an international, multilingual network and podcast platform supporting collaboration among the arts, sciences, and new technologies communities.

www.creativedisturbance.org"

this way p

[2016-12-05 05:12] halclark opened #650 "Libsyn password"
Libsyn password from ASL 1.1.3 on google drive is not working. Need to get access ASAP.

[2016-12-05 05:14] dylanorgeron commented on #650
Foobar1!

Sent from mobile, pardon my dust.
On Dec 4, 2016 11:12 PM, "halclark" <notifications@github.com> wrote:

[2016-12-05 05:15] halclark commented on #650
Sweet, thanks. Will change the password document to this.

On Sun, Dec 4, 2016 at 11:14 PM, Dylan Orgeron <notifications@github.com>
wrote:

[2016-12-05 16:22] cassininazir commented on #650
Don't post passwords on Github. Send this  via email.

Sent from my iPhone

On Dec 4, 2016, at 11:14 PM, Dylan Orgeron <notifications@github.com<mailto:notifications@github.com>> wrote:

Foobar1!

Sent from mobile, pardon my dust.
On Dec 4, 2016 11:12 PM, "halclark" <notifications@github.com<mailto:notifications@github.com>> wrote:

-
You are receiving this because you are subscribed to this threa

[2016-12-05 23:04] dylanorgeron commented on #650
removed comments

[2016-12-05 23:04] #650 closed, assigned to dylanorgeron

[2016-12-09 18:01] ygev commented on #649
How is this for an info card?

front ![image](https://cloud.githubusercontent.com/assets/1816215/21059269/33abfeba-be07-11e6-98ae-6f027a11392e.png)
back ![image](https://cloud.githubusercontent.com/assets/1816215/21059273/36f5c510-be07-11e6-8753-ce238f4edf30.png)

[2016-12-09 19:29] rmalina opened #651 "load up mit pressLMJ podcast on to arteca"
please can you make sure the mit press lmj podcast with nick collins is loaded
up on arteca

Podcasts There are currently 25 episodes in our podcasts program, 1 of which is affiliated with LMJ. Download counts on iTunes do not denote the total number of downloads; we unfortunately cannot gather download counts from the mitpressjournals.org website. Podcast Pageviews Unique Pageviews Avg. Time on P

[2016-12-14 15:55] dylanorgeron commented on #644
unlikely to be the cause, closing

[2016-12-14 15:55] #644 closed, assigned to dylanorgeron

[2016-12-14 15:56] #606 closed, assigned to dylanorgeron

[2016-12-14 15:57] #364 closed, assigned to dylanorgeron

[2016-12-19 14:15] rmalina opened #652 "new complexity and music channel"
ashton
i kn ow you have a backlog of new channels to set up but here is one
i wold like someone to work on

roger

Dear Roger (if I may)

My colleague at the University of Manchester, Rupert Cox, is involved in a research network that I'm leading, called Evaluating Methods of Aesthetic Enquiry across Disciplines (http://www.aestheticnetwork.manchester.ac.uk/about/). The Network has partners in the

[2016-12-26 18:40] ritwikjk opened #653 "creative disturbance page not loading"
The CD webpage hasn't been loading since a couple of days. This needs to be addressed asap as I need to upload a lot of recent podcasts.
@dylanorgeron @amb141330 @rmalina

[2016-12-27 20:15] cassininazir commented on #653
I've made a temporary fix for those visiting the site (without logging into the WordPress backend). Exploring a more permanent fix for those of us logged in.

A few things that will help in the meantime @ritwikjk:

- Login using Chrome's Incognito mode
- Note that we've enabled SuperCache - this caches (stores locally) pages. As you editing previously published pages, you may need to empty the cac

[2016-12-27 21:46] cassininazir commented on #653
I've updated the WordPress core to 4.7, deleted never- or seldom-used plugins (6) and de-activated those not in use.

Need to explore server changes in more detail as these affect *all* our sites.

[2017-01-01 12:30] rmalina opened #654 "broken link to audiolats"
this link is dead

Error establishing a database connection

http://creativedisturbance.org/channel/audiolats/

can you have someone fix it

roger

[2017-01-01 12:31] rmalina commented on #654
now works ' maybe internet problem

[2017-01-01 12:31] #654 closed, assigned to amb141330

[2017-01-03 00:03] ritwikjk commented on #653
I tried it using incognito mode in google chrome and deleting all cache files. It still is not loading. Maybe I should use a different browser.
@cassininazir

[2017-02-19 20:43] amb141330 opened #655 "Issue loading Creative Disturbance in other countries"
I received an email that some of Annick Bureaud's colleagues couldn't access Creative Disturbance. I will paste the relevant email sections below.

"Roger, Ashton,

Erich is in Australia, so I asked an Australian friend to test the access. She is reporting the same problem as Erich, that it times out. She also says that it is not allowed to take a screen shot of the website  ?!

So, in Europe we c

[2017-02-20 16:31] cassininazir commented on #655
@duncangallagher could you investigate as well?

Try using a plugin like Hola Unblocker  to spoof the browser into thinking you are visiting from specific parts of the world.

[2017-02-20 19:21] magicspacekiwi commented on #655
I'll be in today and will check this out.

AFAIK this may just be an issue with the HostGator server being very slow.

The inability to screenshots may happen if she's using a browser extension to take screenshots (often they don't work on built-in error pages which a connection timeout may generate).

[2017-02-20 20:41] magicspacekiwi commented on #655
I tested the site via VPN service and accessed the site through servers in Sydney and Melbourne using Chrome v55 on macOS 10.12.1

@cassininazir The results were the same both times; the site was extremely slow to respond, but I was able to stream podcasts. Closing as I am unable to reproduce the issue.

[2017-02-20 20:41] #655 closed, assigned to cassininazir, serahc

[2017-02-21 00:35] magicspacekiwi commented on #655
@amb141330 I've closed this issue because I don't think there's anything we can do about this for now.

The problem may go away when we migrate to better servers, but it'd be nice to have more details to see if we can reproduce it and ensure that the new server doesn't suffer from those issues.

Can you see if they can provide:

- Operating System Version _(e.g. Windows 10, macOS 10.12)_

- Browse

[2017-02-21 00:50] magicspacekiwi commented on #655
@amb141330 Also, I tested access from some other locations like you suggested and found no problems other than poor performance (as expected) from any of the following places:

- Seoul, South Korea
- Tokyo, Japan
- Hong Kong, China
- Singapore
- São Paulo, Brazil

[2017-02-21 01:18] magicspacekiwi commented on #655
FYI @amb141330

I've opened https://github.com/artscilab/admin/issues/72 to discuss options for better hosting.

[2017-02-21 02:37] cassininazir commented on #655
Thanks @colin-c for this thorough review.

[2017-02-27 23:07] amb141330 opened #656 "Error Establishing Database Connection"
I've tried connecting to creativedisturbance.org both in my normal browser and in incognito.

I keep getting a page saying "Error Establishing Database Connection"

Any idea what may be causing this?

[2017-02-27 23:42] amb141330 commented on #656
It's working now, but I'm not sure what causes this to begin with.

[2017-02-28 00:45] cassininazir commented on #656
@colin-c was this related to install JVM earlier?

[2017-02-28 00:46] cassininazir commented on #656
Confirmed, it is working now. @colin-c was installing server components earlier today which we knew had the possibility of knocking the server down for a short while. Will see if he confirms.

[2017-02-28 22:11] magicspacekiwi commented on #656
@cassininazir I had to leave before I could install Solr, so that shouldn't be it actually.
This has happened before from PHP consuming so much memory that the system kills mysqld to prevent the server from crashing.

[2017-02-28 22:23] magicspacekiwi commented on #656
@cassininazir I just tried to check the server logs to be sure, but it's not set up to log kernel events (like when the system is forced to kill processes due to resource starvation).

I just enabled kernel logging so we'll be able to confirm 100% next time.
Let me know if it happens again @amb141330

[2017-03-26 17:02] amb141330 opened #657 "Combining Our Forms with MIT Press Agreement"
We need to combine our current forms and process with our new MIT Press Agreement so that our producers can find and sign the necessary forms all in one place.

[ARTECA/MIT Press & Creative Disturbance Agreement](https://docs.google.com/document/d/1joVjlHzatpqwGNdYOHfgmrbHsndYCb0XHfzE5xxnzds/edit)

This is found on the google drive. ArtSciLab > Projects > Creative Disturbance > Forms

[2017-03-31 19:22] magicspacekiwi commented on #656
CD has been migrated to a server with significantly more memory.
This won't be an issue anymore.

[2017-03-31 19:22] #656 closed, assigned to duncangallagher

[2017-03-31 19:23] magicspacekiwi opened #658 "WordPress Installation Cleanup"
Even on a blazingly fast server, CD is still unacceptably slow.

This is issue is for discussion and updates on progress in improving performance.

[2017-03-31 19:26] magicspacekiwi commented on #658
I've removed several plugins from the site.
No significant performance gains noted, but still probably a good thing to do.

## List of purged plugins

### Previously inactive

- Advanced Code Editor
- Better WordPress Minify
- Better WordPress reCAPTCHA
- Bowe Codes
- BuddyPress
- CodePen Embedded Pens Shortcode
- Download Theme
- Duplicator
- LayerSlider WP
- Post Duplicator
- Really Simple CAPTC

[2017-03-31 19:31] magicspacekiwi commented on #653
Creative Disturbance is on a new, much more reliable server now.
However, performance is still an issue so I've created #658 to continue that discussion.

[2017-03-31 19:31] #653 closed, assigned to nobody

[2017-03-31 19:37] magicspacekiwi commented on #648
@rmalina I've corrected the site's URL in MailChimp (it was using creativedisturbance.net instead of creativedisturbance.org) so future emails will take people back to the site.

However, creativedisturbance.net should redirect to the main site.
I was unable to find it listed on the HostGator control panel to correct that.
@cassininazir Do you know why that would be?

[2017-03-31 21:28] magicspacekiwi commented on #658
Previously the MySQL tables for CD were using the inefficient MyISAM engine.
I've switched them all to InnoDB which is more performant as it locks per-row instead of per-table.

Unfortunately, the performance benefit is still tiny compared to the massive ~10 sec TTFB for CD.
Still hunting down the root cause of that.

[2017-04-01 00:18] magicspacekiwi commented on #658
Progress!

After observing all queries to the  database with the MySQL general query logging utility, I discovered a pattern - WordPress was pulling some base64 encoded junk from wp_options from an option called wp_data_newa which from what I can tell is a remnant from an old malware infection on the site.

I successfully removed it, and load times have gone from ~ 13 seconds to ~ 3 seconds.
I thi

[2017-04-01 00:29] cassininazir commented on #658
Excellent progress. The innodb setup in previous post might from the cpanel installer?

Should we also explore the other sites for similar issues?

Sent from my iPhone

On Mar 31, 2017, at 7:18 PM, Colin Campbell <notifications@github.com<mailto:notifications@github.com>> wrote:

Progress!

After observing all queries to the database with the MySQL general query logging utility, I discovered a pat

[2017-04-01 00:43] cassininazir commented on #658
Oh my. This is already *much* faster.

[2017-04-05 20:17] ganeshcreation opened #659 "Unable to Upload Image in Wordpress - Creative Disturbance!"
I am unable to upload an image when adding details for a new person in creative disturbance - word press. I am getting a blank screen like this when trying to upload an image.

I tried it in multiple browsers and also in Incognito mode just to see if there is any issue with Cache , but the issue still exists.

<img width="1278" alt="screen shot 2017-04-05 at 3 01 41 pm" src="https://cloud.githubus

[2017-04-05 20:37] magicspacekiwi commented on #659
Appears to be due to some security options I had set.
I had set [X-Frame-Options](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options) to deny all. I've adjusted it to allow same-origin framing.

@ganeshcreation Should be fixed now, give it a go.

[2017-04-05 20:37] #659 closed, assigned to cassininazir, serahc, ganeshcreation

[2017-04-05 22:05] cassininazir commented on #659
Ganesh can you confirm this works for you now?

Sent from my iPhone

On Apr 5, 2017, at 3:39 PM, Colin Campbell <notifications@github.com<mailto:notifications@github.com>> wrote:

Appears to be due to some security options I had set.
I had set X-Frame-Options<https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options> to deny all. I've adjusted it to allow same-origin framing.

@gan

[2017-04-05 22:06] ganeshcreation commented on #659
I'll check it and get back to you shortly!
Thanks!

Best,
Ganesh

Get Outlook for iOS<https://aka.ms/o0ukef>

On Wed, Apr 5, 2017 at 5:05 PM -0500, "Cassini Nazir" <notifications@github.com<mailto:notifications@github.com>> wrote:

Ganesh can you confirm this works for you now?

Sent from my iPhone

On Apr 5, 2017, at 3:39 PM, Colin Campbell <notifications@github.com<mailto:notifications@github.co

[2017-04-05 22:33] ganeshcreation commented on #659
It works fine now!
Thanks a lot!

Best,
Ganesh
________________________________
From: Venkataraman, Ganesh <gxv160730@utdallas.edu>
Sent: Wednesday, April 5, 2017 5:06:22 PM
To: creativedisturbance/podcasts; creativedisturbance/podcasts
Cc: Mention
Subject: Re: [creativedisturbance/podcasts] Unable to Upload Image in Wordpress - Creative Disturbance! (#659)

I'll check it and get back to you short

[2017-05-04 18:54] ganeshcreation opened #660 "Unable to Open New Podcast Form in Creative Disturbance Website"
Unable to pull up the form for new podcast through this:
https://creativedisturbance.org/dashboard/podcast/

The webpage is unable to connect to the database!
<img width="564" alt="screen shot 2017-05-04 at 1 54 59 pm" src="https://cloud.githubusercontent.com/assets/25909611/25720103/5155ddd6-30d1-11e7-8104-a3d218bcd4ff.png">

[2017-05-23 21:14] rmalina opened #661 "cd gmail account"
creative disturbance has a gmail account for feedback
feedback.createdisturb@gmail.com

no one seems to have looked at it in six months
we should either close the account or use it !

roger

[2017-06-03 06:54] ritwikjk opened #662 "not able to access guest forms"
I am not able to access submitted guest forms in the dashboard in the CD website . I tried incognito mode too. did not work
@cassininazir @rmalina @duncangallagher

[2017-08-31 15:57] #641 closed, assigned to nobody

[2017-08-31 15:57] #649 closed, assigned to ygev, ritwikjk

[2017-08-31 15:57] #660 closed, assigned to cassininazir

[2017-08-31 15:57] #662 closed, assigned to almadireddy

[2017-08-31 15:58] #640 closed, assigned to cassininazir, dylanorgeron

[2017-08-31 16:31] #652 closed, assigned to amb141330

[2017-08-31 16:32] ritwikjk commented on #661
Yes
I logged in today and checked it out.
I saw one email from a guest there.
Lets keep the account. Will check it weekly

[2017-08-31 16:33] #661 closed, assigned to ritwikjk

[2017-08-31 16:44] ritwikjk opened #663 "experimental section,not loading"
https://x.creativedisturbance.org/

Is this the experimental section for CD?
The page isn't loading for some reason.

[2017-08-31 16:48] #642 closed, assigned to nobody

[2017-08-31 16:56] ritwikjk commented on #631
@rmalina
is this podcast stilll on hold?

[2017-09-15 15:40] rmalina opened #664 "follow up on scot problems sept 15"
Fantastic you are all cranking away. Here are some notes. I think this is a great start, but some details need attention, still.

Arael: Great you finished the Kramer podcast. What is the pointer?

Ritwik: When will this page reflect the addition of the new podcasts?
https://creativedisturbance.org/channel/sound-data/

Where is the Paul Vickers podcast. That was completed almost 1.5 years ago and

[2017-09-15 15:42] rmalina opened #665 "access to CD github"
ritwik
i see there are a bunch of people with access to the cd github that no longer
work in the lab

can you work with emma to remove the former people off the cf github
access
thanks

roger

[2017-09-15 18:37] ritwikjk commented on #665
sure

[2017-09-18 00:43] #664 closed, assigned to ritwikjk

[2017-09-18 00:45] #544 closed, assigned to halclark

[2017-09-18 00:51] #541 closed, assigned to amb141330

[2017-09-18 00:54] ritwikjk commented on #161
@cassininazir Is this idea still on the table?

[2017-09-18 00:57] ritwikjk commented on #222
@rmalina Roger what about this podcast?

[2017-09-18 00:59] ritwikjk commented on #244
@rmalina should i close this or keep it on hold?

[2017-09-18 01:00] ritwikjk commented on #246
@yvantina is this still open? shall i close the issue?

[2017-09-18 01:01] ritwikjk commented on #345
@rmalina was this podcast published?

[2017-09-18 01:02] #415 closed, assigned to cassininazir

[2017-09-18 01:03] #419 closed, assigned to nobody

[2017-09-18 01:04] #423 closed, assigned to amb141330

[2017-09-18 01:06] ritwikjk commented on #432
@cassininazir was this completed?

[2017-09-18 01:11] ritwikjk commented on #456
Hey @yvantina was this completed?

[2017-09-18 01:13] #487 closed, assigned to cassininazir

[2017-09-18 01:15] #492 closed, assigned to cassininazir, amb141330

[2017-09-18 01:17] #520 closed, assigned to amb141330

[2017-09-18 01:17] #598 closed, assigned to ZuraJavakhadze

[2017-09-18 01:19] #582 closed, assigned to halclark

[2017-09-18 01:19] ritwikjk commented on #551
@rmalina let me know if this is still open

[2017-09-18 01:21] ritwikjk commented on #552
@rmalina is this still open?

[2017-09-18 01:22] #556 closed, assigned to dylanorgeron

[2017-09-18 07:43] yvantina commented on #456
Nope..

[2017-09-18 07:47] yvantina commented on #246
Virtual Africa and Rami are two permanent channels of CD
You might need to get in touch with the producers (Claudine and Renaud)
if they want to keep their channel on air

[2017-09-18 15:47] #514 closed, assigned to cassininazir, rmalina, ritwikjk, yusrak

[2017-09-18 15:48] #464 closed, assigned to cassininazir, dylanorgeron, ritwikjk

[2017-09-18 15:48] #383 closed, assigned to cassininazir, ritwikjk

[2017-09-18 15:48] cassininazir commented on #244
Re-assign to Yusra.

[2017-09-18 15:49] cassininazir commented on #161
Yes, but lower priority for the moment.

[2017-09-19 16:41] rmalina commented on #632
will close now

[2017-09-19 16:41] #632 closed, assigned to rmalina, amb141330

[2017-09-19 16:41] rmalina commented on #631
roger is keeping this active and will follow up

[2017-09-19 16:41] #631 closed, assigned to rmalina

[2017-09-19 16:42] rmalina commented on #589
keep active

[2017-09-19 16:43] rmalina commented on #560
still active

[2017-09-19 16:43] rmalina commented on #552
still active

[2017-09-19 16:44] rmalina commented on #551
keep

[2017-09-19 16:46] rmalina commented on #222
sxtill active

[2017-09-20 19:12] ritwikjk opened #666 "Trust Process Sheet"
How do we work with producers to make them understand the process better and build trust?
Arael, try to work on a process sheet for doing this. Include bumper author rights for producers and bumper authors.

[2017-09-20 19:21] ritwikjk opened #667 "CD to ARTECA qualification sheet"
Develop process sheet for moving podcasts from CD and republishing on Arteca. What qualifies the podcast to be published in arteca?  Try to develop metrics.

[2017-09-20 19:23] ritwikjk opened #668 "Develop metrics and analyze"
Develop and Analyze metrics to check on every week for CD. What are the metrics we should look at?

[2017-09-20 19:27] ritwikjk commented on #666
Information sheet on bumper authors and how a producer can approach bumper authors?

[2017-09-20 21:06] rmalina opened #669 "add to podcast procedure putting name of new voices into the communities contact list"
Ritwik and team
Emma and i just worked on the database of communities members email addresses

We need to make sure that when you publish a podcast from now on
(congrats on the two podcasts this morning) that the info on the voice
Gets added to the data

Ritwik maybe you can point us to the procedure that you are using for
Each podcast so we can add an item- to put the voices email and info
Into t

[2017-09-20 21:11] cassininazir commented on #668
Start with the metrics on

- Libsyn
- Google Analytics

[2017-09-21 20:41] cassininazir commented on #488
- [x] Remove former members
- [ ] Add new members
- [ ] Update bios

[2017-09-22 03:43] ritwikjk commented on #472
@yvantina we'll handle this. how many of the above have been published?

[2017-09-22 03:44] ritwikjk commented on #456
@yvantina What was the artist's name?

[2017-09-22 10:11] yvantina commented on #456
Ronan Martin http://douxdivorcerecords.com/index.php/ronan-martin/

[2017-09-22 16:22] OskarOlssonCD commented on #472
@yvantina Can you upload the ones that aren't published yet to a Box folder so I can get working on them? I'll make this a priority. Thanks for your patience as we get this sorted out!

[2017-09-22 19:29] yusrak commented on #667
Quality of sound
Minimum # of podcast
Subject aligns with the title of podcast/podcast relevant to content
Peer reviewed-listener
# of downloads/popularity
Language

[2017-09-22 19:31] ritwikjk commented on #667
- Quality of Sound
- Minimum Number of podcasts on a channel.
- Peer Review podcasts- listener feedback
- Number of downloads- popularity
- Language
- Title of podcast relevant to content

[2017-09-22 19:39] yusrak commented on #666
These are my notes from the book on trust.

https://docs.google.com/document/d/1AyPYDqlZzWhjkFeISeD-c2qfF3FN_fO0HtoMTIV3rV8/edit?usp=sharing

[2017-09-22 19:57] ritwikjk commented on #586
@rmalina  is this still possible ? to be a remote resident?

[2017-09-22 19:58] #593 closed, assigned to nobody

[2017-09-23 17:55] OskarOlssonCD commented on #669
@ritwikjk Please send me a link to our current podcast process document so I can add a step to give the voices and producers beta access to ARTECA

[2017-09-25 18:37] ritwikjk commented on #651
@rmalina  roger did these go up on arteca?

[2017-09-25 18:44] #559 closed, assigned to nobody

[2017-09-25 18:45] #645 closed, assigned to nobody

[2017-09-26 18:22] OskarOlssonCD commented on #472
Completed podcasts are in bold. @ritwikjk

**1- starts with "De l'amitié" (French podcasts, episodes 1 and 2 with Dominique Lestel)**

2- The Semi-Living Perceptions of life (TC&A) episode 1 _???_

3- (untitled TC&A) episode 2, not already in Box but will be uploaded soon _???_

**4- A Theater of Cruelty (TC&A) episode 3**

**5- Adam Zaretsky, episode 1, not already in Box but will be uploaded soo

[2017-09-26 21:38] yvantina commented on #472
2- The Semi-Living Perceptions of life (TC&A) episode 1 ??? completed
https://creativedisturbance.org/podcast/mechanisms-and-abstractions-of-life-eng/

3- (untitled TC&A) episode 2, not already in Box but will be uploaded soon ??? completed
https://creativedisturbance.org/podcast/scales-of-life-in-art-eng/

[2017-09-27 21:27] ritwikjk commented on #633
Emailed Charissa regarding this.

[2017-09-27 21:27] #633 closed, assigned to ritwikjk

[2017-09-27 21:34] #628 closed, assigned to nobody

[2017-09-27 21:34] #599 closed, assigned to nobody

[2017-09-27 21:34] #596 closed, assigned to ritwikjk

[2017-09-27 21:36] ritwikjk commented on #612
@yusrak lets work on a new blog post for CD blog section

[2017-09-27 21:38] ritwikjk commented on #604
@yvantina  is KMIC channel still in the picture?

[2017-09-27 21:50] ritwikjk commented on #627
@yvantina   did wavefarm want to start a channel on CD?

[2017-09-27 21:53] #626 closed, assigned to nobody

[2017-09-27 21:56] ritwikjk commented on #592
@rmalina has this been published?

[2017-09-27 22:04] ritwikjk commented on #590
@rmalina Do you still have access to these files?

[2017-09-27 22:05] #557 closed, assigned to coreysmart92

[2017-09-27 22:06] #558 closed, assigned to nobody

[2017-09-27 22:06] ritwikjk commented on #345
@rmalina was this podcast published?

[2017-09-27 22:07] #623 closed, assigned to nobody

[2017-09-27 22:09] ritwikjk commented on #662
Fixed by @almadireddy

[2017-09-27 22:10] #617 closed, assigned to nobody

[2017-09-27 22:16] #629 closed, assigned to nobody

[2017-09-27 22:17] ritwikjk commented on #615
@rmalina did you want to do this?

[2017-09-27 22:18] #637 closed, assigned to nobody

[2017-09-27 22:19] ritwikjk commented on #581
@rmalina was this done?

[2017-09-27 22:20] #569 closed, assigned to nobody

[2017-09-27 22:25] #566 closed, assigned to nobody

[2017-09-27 22:30] ritwikjk commented on #456
@OskarOlssonCD
@arfaye can you work on which podcasts have this bumper and give the bumper author name as the above artist?

[2017-09-27 22:31] #561 closed, assigned to nobody

[2017-09-27 22:32] #191 closed, assigned to dylanorgeron

[2017-09-28 17:15] OskarOlssonCD commented on #456
@ritwikjk
I'll look into this. Is it just for that channel?

[2017-09-28 21:19] yusrak commented on #612
I just checked the blog, the last post was from last year. What do you suggest we post about? Let's talk about this tomorrow.

[2017-09-29 00:17] OskarOlssonCD commented on #667
@ritwikjk I would suggest that any multilingual podcast should be posted with a translation. This could be done with text.
Does Arteca include a transcript feature?

[2017-09-29 00:42] OskarOlssonCD commented on #667
@ritwikjk @yusrak @rmalina   I think it might be worth it to explore a different storage solution specifically for ARTECA podcasts. Since these are the episodes that we present to MIT's audience, we could look at reducing the issues that MP3 files are known for, such as artifacts. FLAC / WAV are larger, but much higher  fidelity. They also cause less strain on the ears of the listener. Since a lot

[2017-09-29 00:49] OskarOlssonCD commented on #594
@yusrak Do we still need this issue?

[2017-09-29 01:06] yusrak commented on #594
I will discuss with Ritwik tomorrow. I am not familiar.

[2017-09-29 13:45] cassininazir commented on #667
@OskarOlssonCD No transcript feature currently. What data would be in transcript?

Regarding different file formats, this should be a both/and scenario: upload both .mp3 and a lossless audio format. We'll need a process to make this happen.

[2017-09-29 13:46] cassininazir commented on #612
A few thoughts:

- Introduce the new team lead and members.
- New channels since the last blog post
- Announce the inclusion of podcasts on ARTECA

[2017-09-29 16:52] OskarOlssonCD commented on #667
@cassininazir
I have read that Google Docs is able to transcribe audio into text, but I haven't tried it yet. Of course, that would still leave the issue of translation.

[2017-09-29 17:04] arfaye commented on #667
How is the text on the website translated when visitors select a language? I’m not a web developer so I don’t know but if it is automatic, will the system in place not automatically translate a transcription?

[2017-09-29 18:34] OskarOlssonCD opened #670 "Bumpers inaccessible on Google Drive"
@ritwikjk @EmmaNewkirk
The channel bumpers stored on the Creative Disturbance google drive are creating the 'forbidden' error message upon attempting to download them, and they also are not generating previews.

The bumpers are located at [https://drive.google.com/drive/u/1/folders/0B0RS2YDJUln1fng5aTlnd0tzTXVZamZOeUdHckN0OEJ4RXVDZVFITHlHOTJ4bzdrdjZNNHc](url)

[2017-09-29 18:53] OskarOlssonCD commented on #472
@ritwikjk The only one of these that isn't uploaded is the Olenkule podcast.

[2017-09-29 19:00] OskarOlssonCD commented on #456
@ritwikjk Please see the issue posted about the bumpers on google drive. We'll need access to those to identify the bumper by how it sounds.

[2017-09-29 19:22] OskarOlssonCD commented on #670
@cassininazir Is it possible my access to these files was restricted along with the previous staff members?

[2017-09-29 19:44] OskarOlssonCD commented on #547
I've added Ronan Martin as the bumper author for the following podcasts:

Introducing Kapital Movie Industry Corporation [ENG]
Being a Young Designer in Cairo [ENG]
Announcing an Afrofuturism Podcast Series [ENG]
African Robots [ENG]
A Lovely Weather: In Defense of Waste! [ENG]
A Lovely Weather: Eco-Cancer and Garbage Art [ENG]
Émoticônes et Diversité Culturelle [FR]
Creative Technology and Soft P

[2017-09-29 19:48] OskarOlssonCD commented on #669
@ritwikjk I think we can close this one

[2017-09-29 19:52] cassininazir commented on #670
I've added you. Not sure why that happened.

[2017-09-29 19:52] #670 closed, assigned to EmmaNewkirk, ritwikjk

[2017-09-30 22:47] yvantina commented on #472
@OskarOlssonCD @ritwikjk I have actually lost this file when I moved from the States.. Please discard this podcast, it wasn't the best interview record anyway in my memories... thanks.

[2017-10-02 19:54] #472 closed, assigned to yvantina, ritwikjk, arfaye, OskarOlssonCD

[2017-10-02 20:05] #547 closed, assigned to ritwikjk, OskarOlssonCD

[2017-10-03 16:50] ritwikjk commented on #647
@cassininazir  does Future labs africa have beta access to arteca?

[2017-10-03 16:50] OskarOlssonCD opened #671 ""View more" button link on any individual podcast link is broken"
Certain instances of the link redirect to the Lynx Science disturbance page. For example, Sound & Data podcasts. The primary channel field matches on both the episode and disturbance pages.

[2017-10-03 16:56] arfaye commented on #667
@OskarOlssonCD I wasn't sure if you were notified of another response since I didn't actually @ you.

[2017-10-03 16:59] ritwikjk opened #672 "Unordered voices on CD home page"
If the names of individual voices are too long, they do not appear in order on the page.
see visual attached
<img width="1440" alt="screen shot 2017-10-03 at 11 56 39 am" src="https://user-images.githubusercontent.com/21272100/31137933-4f49f6b6-a832-11e7-9c28-6b52c4c5f79a.png">

[2017-10-03 17:43] cassininazir commented on #647
Not sure. Get me the names of the individuals and we can look them up.

[2017-10-03 17:45] ritwikjk commented on #647
@cassininazir  Teagan Bristow , Jepchumba II

[2017-10-03 17:47] cassininazir commented on #647
Teagan does. Jepcumba may ... can you tell me her email addres?

[2017-10-03 17:50] ritwikjk commented on #647
contact@jepchumba.com

[2017-10-03 17:51] cassininazir commented on #647
Thanks. I've added her. It will send an email to her directly, but sometimes gets caught in spam. You might also email her.

[2017-10-03 17:51] #647 closed, assigned to ritwikjk, arfaye, OskarOlssonCD

[2017-10-03 18:11] ritwikjk commented on #488
@almadireddy
We can archive the present meet the team page as cassini suggested.
We can work on a simple page introducing the new team

[2017-10-03 18:19] OskarOlssonCD commented on #456
I've added Ronan Martin into the descriptions of each of these podcasts with a hyperlink to his website.

[2017-10-04 08:52] yvantina commented on #456
Much thanks Oskar and Ritwik
ps: can you please do the same with the Frank Malina's ones ?
one example https://creativedisturbance.org/podcast/chardronnet-and-lapelletrie-discuss-frank-malina-and-his-circle-of-friends-2/

[2017-10-06 01:00] OskarOlssonCD commented on #456
@yvantina Will do! Just for clarity's sake, this podcast bumper was also done by Ronan, correct?

[2017-10-06 18:17] yvantina commented on #456
yes

[2017-10-06 23:37] OskarOlssonCD commented on #456
@yvantina @ritwikjk  Alright, now all of the podcasts on both channels featuring Ronan Martin's bumper are credited to him. Closing this issue.

[2017-10-06 23:37] #456 closed, assigned to yvantina, ritwikjk, OskarOlssonCD

[2017-10-09 17:26] arfaye commented on #431
@cassininazir @ritwikjk @OskarOlssonCD Updated CD 7.0 Metrics with document "Quality Measurements for Podcasts"

Sheet does not yet involve quality of contact with producers

[2017-10-10 15:55] OskarOlssonCD opened #673 "Upload a podcast to Beta ARTECA site"
@joelewing @ritwikjk
One Sound & Data podcast, Some Thoughts on Sonification, has been uploaded to the beta version of the ARTECA website. Our next step is to move the podcast to the official ARTECA site as soon as possible.
Joel, how do we assign a DOI to the podcast?

[2017-10-10 15:55] arfaye commented on #431
Closing issue; updating the quality measurement sheet will become a new issue when we have more contact with producers.

[2017-10-10 15:55] #431 closed, assigned to ritwikjk, arfaye

[2017-10-10 16:03] arfaye commented on #667
@OskarOlssonCD you created a process sheet for moving podcasts correct? If so, I'm wondering if y'all are okay with using the new quality measurements sheet to qualify podcasts from CD to be moved to ARTECA in the first place or if we need a separate one.

[2017-10-10 16:13] ritwikjk opened #674 "Skype meeting with ArteSciencia team (producer-joao)"
Do CD Skype meeting with luciano and joao.

[2017-10-10 16:15] ritwikjk opened #675 "Work on campus engagement for CD on UTD"
yusra to work on making a workshop/brochure/One pager on Creative Disturbance and its association with ArtSciLab

[2017-10-10 16:19] ritwikjk opened #676 "Build simple Meet the team page for CD"
Build simple Meet the team page for CD within wordpress , updated with latest team members.

[2017-10-10 16:21] ritwikjk opened #677 "Dallas Meet-Up"
Oskar to go for Dallas meet-up.

[2017-10-10 16:27] ritwikjk commented on #673
@OskarOlssonCD has uploaded to beta.

[2017-10-10 16:27] #673 closed, assigned to joelewing, ritwikjk, OskarOlssonCD

[2017-10-10 16:31] ritwikjk opened #678 "Upload podcast from beta to Official Arteca Website"
Upload podcast from beta to Official Arteca Website.
work with joel on the process

[2017-10-10 16:46] cassininazir commented on #678
@ritwikjk please add here the list of podcasts that are going into ARTECA.

[2017-10-10 16:54] ritwikjk opened #679 "Archive unwanted items on CD gdrive"
Archive unwanted items, drafts in Forms Folder to  a separate folder on CD Gdrive

[2017-10-10 16:56] ritwikjk opened #680 "Producer agreement- Gari- Indian Channel"
Complete the producer agreement to start a new Indian podcast channel.

[2017-10-10 16:58] ritwikjk opened #681 "New podcast Channel form"
Work and refine the producer forms and formalities.

[2017-10-10 17:05] ritwikjk opened #682 "Lynx Academy Workshop"
Oskar, Yusra and Arael to work on putting together material for Lynx Academy workshop.
How to make a podcast?
What is a podcast?
What is Creative Disturbance?
How to train the students to make sure podcasts are more of a conversation than a presentation?

[2017-10-10 17:13] OskarOlssonCD commented on #682
Podcast: A recorded conversation that informs listeners about a subject over the course of 10-15 minutes on average.
"Creative Disturbance is an international platform supporting collaboration among the arts, sciences, and new technologies communities."-CD Kickstarter mission statement

[2017-10-10 17:13] arfaye commented on #682
I'm going to sift through the drive and see what documents we have that we can put to use for this with some molding and shaping; I believe there is a document about how to make a podcast as well as how to make sure the podcasts are more conversational

[2017-10-10 17:20] arfaye commented on #682
Made a copy of an already existing podcast production "cheat sheet" and published in CD 4.0 Reference Docs. @OskarOlssonCD I'd like to look through it with you and make the necessary changes to make it work for Lynx Academy

[2017-10-10 17:26] ritwikjk commented on #488
@almadireddy Could we start working on this asap. How long do you need to get it done?

[2017-10-10 17:27] ritwikjk opened #683 "CSV files on Dashboard CD"
CSV files on Dashboard  in CD  aren't working. producers can't access the stats.

[2017-10-10 17:32] ritwikjk commented on #636
Whats thew status on this @yvantina

[2017-10-10 17:37] OskarOlssonCD commented on #682
@arfaye I went ahead and added a brief note about cell phone use and wireless audio equipment. It's under section 2.

[2017-10-10 17:59] OskarOlssonCD commented on #677
I will be attending the next session

[2017-10-10 18:11] OskarOlssonCD commented on #648
Is this still an issue?

[2017-10-11 21:19] OskarOlssonCD commented on #667
@arfaye, I think that the same sheet can probably be used for the ARTECA podcasts. After all, we should be shooting for high overall quality on both CD and ARTECA. @ritwikjk I suggest we e-mail this qualification sheet to our producers along with an announcement about CD's involvement with ARTECA. If we haven't done that already, it will help give our producers a way to judge their own material an

[2017-10-11 21:34] OskarOlssonCD commented on #679
@ritwikjk I can make a physical backup of anything we don't need. Externals are getting cheaper and cheaper.

[2017-10-11 22:33] arfaye commented on #679
Oskar if you want to sift through it I’ll be in the lab tomorrow 11-2

[2017-10-11 22:33] arfaye commented on #667
Okay! I wanted to make sure that was the plan before I closed this issue.

[2017-10-11 22:33] #667 closed, assigned to ritwikjk, yusrak, arfaye, OskarOlssonCD

[2017-10-11 23:14] cassininazir commented on #678
@ritwikjk can you point me to the list of podcasts?

[2017-10-12 03:09] ritwikjk commented on #678
https://drive.google.com/drive/folders/0B36xYmO3PgTEZjExbmdHYldfTEU?usp=sharing

@cassininazir

[2017-10-12 18:10] arfaye commented on #678
@ritwikjk or @cassininazir is an account on arteca.mit required independently of the account on the arteca.atec.io site in order to publish things to the MIT site itself?

[2017-10-12 18:39] arfaye commented on #682
So far what we've got done is:

- [x] How to make a podcast?

- [x] What is a podcast?

- [x] What is Creative Disturbance?

- [x] How to train the students to make sure podcasts are more of a conversation than a presentation?

To the above point, the podcast making and rating sheet both help those making the podcasts to understand that the direction they should be going in when recording their po

[2017-10-13 00:14] OskarOlssonCD commented on #682
@arfaye, I think what I want to go for with this is a presentation and then distributing the documents to the LYNX students. I'm working on a short document of tips for conversational recording.

[2017-10-13 00:21] OskarOlssonCD commented on #682
I'll have to ask Jason about a date for this, but I also want to demonstrate the proper use of a ZOOM recorder for these students, as that's the gear that they use. I'm also including a copy of the ZOOM H6 Handy user manual.

[2017-10-13 01:30] arfaye commented on #682
I think there’s also a document in the CD drive about using the Zoom recorder

[2017-10-13 02:56] ritwikjk opened #684 "Podcast recording for Charissa terranova"
Charissa terranova (terranova@utdallas.edu) to interview 3 people.
Nov - Patricia Olynyk
Dec/Jan - PhD student, Elif Kavakci
Daniel Jardine (to be scheduled)

[2017-10-15 18:49] OskarOlssonCD commented on #671
@almadireddy Have you gotten a chance to look into this one?

[2017-10-15 18:53] OskarOlssonCD opened #685 "Sound & Data episode not appearing under 'recent episodes' on ARTECA"
http://arteca.mit.edu/podcasts

This page should show the _Some Thoughts on Sonification_ episode of Sound & Data that was just recently moved from the beta version of ARTECA to the live version under the 'Recent Episodes' header.

Note that everything else worked properly with the upload.

[2017-10-15 18:58] OskarOlssonCD commented on #678
@ritwikjk @cassininazir I've just uploaded Scot's podcast to the live site after creating the show.

Show:
http://arteca.mit.edu/sound-data

Episode:
http://arteca.mit.edu/pauline-oliveros-%E2%80%93-some-thoughts-sonification

The limit for archiving is 2gb on the live site, so the file has been uploaded as well and will be preserved for the next 50 years.

The only issue I've noticed is that it d

[2017-10-15 18:58] #678 closed, assigned to arfaye

[2017-10-15 19:25] OskarOlssonCD opened #686 "DOI for Sound & Data podcast"
The Sound & Data podcast episode on the ARTECA alpha site needs a DOI.

http://arteca.mit.edu/pauline-oliveros-%E2%80%93-some-thoughts-sonification

[2017-10-15 20:16] ritwikjk opened #687 "producers agreement - sharath chandra channel"
@OskarOlssonCD work with sharath chandra (looplogic@gmail.com) to get his producers agreement sent in.
heres the form:
https://docs.google.com/forms/d/1x57FyZ7MiVV_4afwGsjZnuw7QRid9vFGqBDwDbFbNsI/edit

[2017-10-15 20:21] ritwikjk opened #688 "producers agreement - joao silviera"
@arfaye  work with joao silviera (silvieraufrj@gmail.com) and  Luciano (lucianoocupim@gmail.com) to get their producers agreement forms sent in for the art sci brazilian channel.
heres the form:
https://docs.google.com/forms/d/1x57FyZ7MiVV_4afwGsjZnuw7QRid9vFGqBDwDbFbNsI/edit

[2017-10-15 20:23] ritwikjk commented on #682
@arfaye  whats the stat on this? We need to review this in the coming tuesday(oct 17th) meeting.

[2017-10-15 20:26] OskarOlssonCD commented on #687
I've sent the form to Sharath

[2017-10-16 16:01] arfaye commented on #688
Form has been sent, now waiting for reply

[2017-10-16 16:02] arfaye commented on #679
Downloaded a copy of the entire CD drive as is to the main computer in the Lab

[2017-10-16 16:07] ritwikjk commented on #676
@almadireddy Can we do this on wednesday? When do we do this?.. this is high priority

[2017-10-16 19:51] joelewing commented on #685
I changed the sort to display episodes based on when they were posted, with the more recently ones being posted first.  This means that they are not displayed in the order that they were created.  Worth talking with both Creative Disturbance and ARTECA about the best way to display featured episodes.

[2017-10-16 19:52] #685 closed, assigned to joelewing, almadireddy

[2017-10-16 19:59] joelewing commented on #686
I'm not familiar with how to add a DOI.  Also, I want to note that arteca.mit.edu is referred to as the live site (the site that users see).

[2017-10-17 05:48] OskarOlssonCD commented on #686
@joelewing Who can I contact about the DOI?

[2017-10-17 05:55] OskarOlssonCD commented on #685
Thanks! Looks good now.

[2017-10-17 15:39] cassininazir commented on #678
Excellent. The URL for the episode will need to be shortened. A few things:

- Remove the %E2%80%93 from the URL.
- On the podcast page, the link http://oxfordindex.oup.com/view/10.1525/california/9780520257801.003.0014 needs to be hot.
- A period is missing on the  end of the sentence.

[2017-10-17 16:24] arfaye commented on #682
Updated CD 4.0 Reference Docs with Lynx Academy Workshop slides presentation - not completely finished but a start

[2017-10-17 18:33] joelewing commented on #686
MIT Press.

[2017-10-18 01:26] OskarOlssonCD commented on #678
@Cassininazir
-Added HTML tags to make the link hot
-Added the period, will do the same on the CD page for the podcast
-New URL alias is http://arteca.mit.edu/pauline-oliveros-some-thoughts-on-sonification

[2017-10-18 01:50] OskarOlssonCD commented on #686
Would I talk to Nick Larson about this? He was mentioned in an earlier issue

[2017-10-18 02:51] OskarOlssonCD commented on #682
Started also working on the presentation

[2017-10-18 16:53] rmalina opened #689 "creative disturbance hierachy on arteca"
it is confusing on arteca because the podcasts arent under channesl-there is no hierarchy
need to discuss with cassini how to make sure the user design works ok as we start getting hundreds of podcasts in

[2017-10-19 03:32] OskarOlssonCD commented on #682
@ritwikjk @arfaye  I've finished the workshop presentation slides
[https://docs.google.com/presentation/d/1LUZBKfZyG6cL8LCg2Oecyc1yShY8oFMzTIjuQYzg8Js/edit#slide=id.p](url)

[2017-10-20 19:34] almadireddy opened #690 "Need envato account details to activate Visual Composer"
We cannot add images to any Creative Disturbance page, and I believe the Visual Composer plugin is what's causing this problem. We need to update Visual Composer to the latest verions (it is now called WPBakery Page Builder) and then activate the plugin with the envato username, the secret api key and the Visual Composer License key. These are found in the account details on envato.

[2017-10-23 17:59] OskarOlssonCD commented on #687
Sharath and I will be meeting Wednesday to complete the forms.

[2017-10-24 17:55] ritwikjk opened #691 "Kananda language description on CD"
work on Kannada language script plugin inside CD wordpress to get kannada script in description

[2017-10-24 18:05] rmalina opened #692 "revise and improve new channel producer form"
oskar
would you be willing to work with me on looking at the new channel producer form to see if we need to add or improve things or cover any legal issues we havent included

roger

[2017-10-24 18:09] rmalina opened #693 "remove former employees from github access for creative disturbance"
in filing a github action i notice that former employees still have access
can one of you work out how to remove fomer employees from github access to creative
disturbance-please discuss with emma  before doing anything

change admin for this gitub also

thanks

[2017-10-24 18:42] OskarOlssonCD commented on #692
@rmalina

Definitely, I’d like to get this up as soon as possible. I want to record podcasts specifically about sound design. I know people who are involved in a lot of interesting projects or who have commentary on techniques, tools, etc.

[2017-10-25 18:39] ritwikjk opened #694 "Visual , text tab in wordpress not working"
<img width="373" alt="screen shot 2017-10-25 at 1 26 27 pm" src="https://user-images.githubusercontent.com/21272100/32016440-9c571818-b989-11e7-938a-fbdffcdceac1.png">
Having trouble in making hyperlinks within podcast descriptions. Not able to switch between visual and text tab in wordpress.

[2017-10-25 18:39] ritwikjk commented on #688
form received an signed.

[2017-10-25 18:39] #688 closed, assigned to arfaye

[2017-10-26 19:26] OskarOlssonCD opened #695 "Update podcast procedures to include language information"
Review procedures so they address podcasts in languages other than English.

[2017-10-26 20:41] ritwikjk opened #696 "renew Libsyn subscription"
Renew Libsyn subscription for CD to be able to see geographic stats.

[2017-10-30 16:19] arfaye commented on #684
e-mailed Charissa regarding November's interview

[2017-10-30 16:58] arfaye commented on #684
Scheduled November's interview for 17th at 3 pm - Moving issue from Github to separate note in G Drive

[2017-10-30 16:58] #684 closed, assigned to arfaye

[2017-10-31 15:52] OskarOlssonCD commented on #693
Past employees have been removed from the github

[2017-10-31 15:52] #693 closed, assigned to OskarOlssonCD

[2017-10-31 15:57] OskarOlssonCD commented on #682
Workshop materials finished, workshop scheduled for November 16th at 3:00pm

[2017-10-31 15:57] #682 closed, assigned to yusrak, arfaye, OskarOlssonCD

[2017-10-31 15:58] ritwikjk commented on #694
@colin-c Colin has solved this issue. thanks colin

[2017-10-31 15:58] #694 closed, assigned to cassininazir, almadireddy

[2017-10-31 16:44] #665 closed, assigned to EmmaNewkirk, ritwikjk

[2017-11-07 16:47] ritwikjk opened #697 "CD team access to playback studio"
Members of CD team will need access to the playback studio so that we can work on quality and post finishing in a better way.

[2017-11-07 16:57] rmalina opened #698 "video for cd experimental linda anderson"
Dear Roger,
I got some help today from someone I hadn't met in the altsci lab who was very helpful, found the root of my problem and got me going again.  I'm finishing up tonight and sent Oskar my schedule so we can meet tomorrow.  I'm also finishing up the TASTA documents this evening too.  Lots to do, but doable.  Spent some time with Sharon Hewitt discussing her proposal for film stuff.  It is

[2017-11-07 17:08] rmalina opened #699 "transfer non cd github items to appropriate github channel"
ritwik says there are many github items that are not cd but are in th e cd gitbhub
ritwik will transfer them to the right channel and re assign to the right person

[2017-11-07 17:14] rmalina opened #700 "change agenda so anything to do with an individual channel is reported by the editor of that channel"
the problem part of the agenda should
 be 'generic problems)

individual specific problems should be reported by that channel editor in the agenda

[2017-11-07 17:25] rmalina opened #701 "creative disturbance forms dont work"
producers are unable to fill out the voice forms on line

[2017-11-07 18:35] OskarOlssonCD opened #702 "Including ARTECA Beta Access in Production guidelines"
Currently, there is no item in our production guidelines for giving voices and producers involved with podcasts republished to ARTECA are given free Beta access to the service. The google drive hosts a large number of documents that could include this information.

[2017-11-13 20:25] OskarOlssonCD opened #703 "Shorten ARTECA url paths"
Retroactively shorten ARTECA podcast url paths to increase accessibility and ease of sharing.
Click "Edit" on the podcast and scroll down to "URL Path Settings" and un-check "Generate automatic URL alias."

Enter the following:

podcast/words-moreWords

Podcast titles shouldn't include numbers or more than 15 characters

[2017-11-13 20:51] OskarOlssonCD commented on #703
All URLs to date have been shortened.

[2017-11-13 20:51] #703 closed, assigned to OskarOlssonCD

[2017-11-13 20:51] cassininazir commented on #703
Nice work!

[2017-11-13 22:38] OskarOlssonCD commented on #696
Upgrade will cost $5 more per month for a total of $20/mo.

[2017-11-14 18:21] OskarOlssonCD opened #704 "Web Development plan"
@cassininazir
One area that needs particular time and effort is the state of the CD website. We would like to meet with you and create a 6-month plan for web development as @almadireddy begins to work more with CDASH.

[2017-11-14 23:23] cassininazir commented on #696
Upgraded to LibSyn Advanced 400. Confirm that this enables the stats you mentioned.

[2017-11-14 23:23] #696 closed, assigned to cassininazir, rmalina, EmmaNewkirk

[2017-11-17 01:15] OskarOlssonCD commented on #696
@cassininazir
I just checked, works great!

[2018-01-11 20:08] #687 closed, assigned to OskarOlssonCD

[2018-03-06 17:37] OskarOlssonCD opened #705 "Athenaeum Review Logo"
The last thing we need before launching Ben Lima's channel is new channel art. As soon as the art is created, the channel will be launched.

[2018-03-07 16:24] rmalina commented on #705
has the new channel form been approved ?
it needs to be signed with the new channel name
roger

roger malina
is in Dallas, 510-853-2007

On Tue, Mar 6, 2018 at 11:37 AM, OskarOlssonCD <notifications@github.com>
wrote:

[2018-06-01 01:08] #705 closed, assigned to cassininazir

[2018-06-01 01:09] yvantina commented on #704
Shared with Hannah Barnes and Yvan

[2018-06-01 01:09] #704 closed, assigned to cassininazir, almadireddy

[2018-06-01 19:28] #702 closed, assigned to EmmaNewkirk, OskarOlssonCD

[2018-06-01 19:29] #668 closed, assigned to ritwikjk, yusrak

[2018-06-01 19:29] #658 closed, assigned to serahc

[2018-06-01 19:30] #679 closed, assigned to arfaye

[2018-06-01 19:32] #700 closed, assigned to ritwikjk

[2018-06-01 19:32] #699 closed, assigned to ritwikjk

[2018-06-01 19:33] #698 closed, assigned to OskarOlssonCD

[2018-06-01 19:33] #697 closed, assigned to rmalina, EmmaNewkirk

[2018-06-01 19:33] #695 closed, assigned to OskarOlssonCD

[2018-06-01 19:34] #692 closed, assigned to OskarOlssonCD

[2018-06-01 19:35] #691 closed, assigned to almadireddy

[2018-06-01 19:36] #690 closed, assigned to cassininazir, rmalina, almadireddy, ritwikjk

[2018-06-01 19:38] #689 closed, assigned to cassininazir, ritwikjk

[2018-06-01 19:39] #686 closed, assigned to joelewing

[2018-06-01 19:40] #683 closed, assigned to almadireddy

[2018-06-01 19:41] #681 closed, assigned to ritwikjk

[2018-06-01 19:42] #680 closed, assigned to ritwikjk

[2018-06-01 19:47] #676 closed, assigned to almadireddy

[2018-06-01 19:50] #675 closed, assigned to yusrak

[2018-06-01 19:51] #674 closed, assigned to ritwikjk

[2018-06-01 19:51] #672 closed, assigned to almadireddy, ritwikjk

[2018-06-01 19:52] #671 closed, assigned to almadireddy, OskarOlssonCD

[2018-06-01 19:52] #669 closed, assigned to ritwikjk

[2020-02-16 19:28] rmalina commented on #431
We are organising a Yuri's night  (see at https://yurisnight.net/ ) a
global space party
in dallas in Saturday April 11 2020 ;4-11pm, at http://mercado369.com/
in Dallas, Texas

Contact me if you would like to help us make trouble or just party

Families with Children welcome at 4pm-7pm

Oh Yes its also my wife Christine and my 70th Birthday party
Reply if you would like an invitation.
ROGER AND C