[2015-02-11 18:33] porteriffic opened #1 "Dark Matter in Astronomy and in Art has no bumpers"
The most recent podcast for Voices of the Crowd has no bumpers. It was uploaded in early November. Please put bumpers on this podcast.

[2015-02-13 18:27] cassininazir opened #2 "Create plan for March 8 International Women's Day"
Let's do some social media to drive traffic to podcasts in anticipation of March 8, Int'l Women's Day.

[2015-02-13 20:27] cassininazir opened #3 "Submit Bio - Corey"
We will need short descriptions of your overall background and current majors to put on the team page for CD. Corey, can you help get these from the team members?

Basic example: [ Your name ] is currently pursuing her ____ degree at UTD and is focusing on ____. She is interested in ___ with ___ and the effects it has on ___. Current qualifications? Future goals?

[2015-02-13 20:27] cassininazir opened #4 "Submit Bio - Hal"
We will need short descriptions of your overall background and current majors to put on the team page for CD.

Basic example: [ Your name ] is currently pursuing her ____ degree at UTD and is focusing on ____. She is interested in ___ with ___ and the effects it has on ___. Current qualifications? Future goals?

[2015-02-13 20:27] cassininazir opened #5 "Submit Bio - Ashton"
We will need short descriptions of your overall background and current majors to put on the team page for CD.

Basic example: [ Your name ] is currently pursuing her ____ degree at UTD and is focusing on ____. She is interested in ___ with ___ and the effects it has on ___. Current qualifications? Future goals?

[2015-02-13 20:28] cassininazir opened #6 "Submit Bio - Josephine"
We will need short descriptions of your overall background and current majors to put on the team page for CD.

Basic example: [ Your name ] is currently pursuing her ____ degree at UTD and is focusing on ____. She is interested in ___ with ___ and the effects it has on ___. Current qualifications? Future goals?

[2015-02-13 21:36] cassininazir opened #7 "Benchmarking: Review Podcasts in the Stitcher Awards"
What can we learn from these podcasts? http://www.stitcher.com/blog/?p=1375

[2015-02-13 22:56] porteriffic opened #8 "Overlaps in Practices Between Humanists and Scientists - P&P"
Hal,

This podcast is uploaded but it is not featured. Please make sure to check the "Featured" box when uploading a new podcast and making sure it shows up as expected on the home page.

[2015-02-13 23:20] porteriffic commented on #6
Done! :)

[2015-02-13 23:20] #6 closed, assigned to porteriffic

[2015-02-13 23:29] porteriffic commented on #2
Go through podcasts and select those featuring voices of at least one woman.

[2015-02-13 23:34] cassininazir commented on #2
Or maybe some one o  the sound team can find and schedule a speaker who can talk on a subject related to this.

Sent from my iPhone

On Feb 13, 2015, at 5:29 PM, porteriffic <notifications@github.com<mailto:notifications@github.com>> wrote:

Go through podcasts and select those featuring voices of at least one woman.

�
Reply to this email directly or view it on GitHubhttps://github.com/creativedi

[2015-02-13 23:34] porteriffic commented on #7
Didn't get to listen to all of them (on my to-do list) but I love the Alton Browncast. Love the spin on his own name and the word "podcast". Clever! Also, very cool bumper. Definitely suits the podcast.

[2015-02-16 16:45] kkondas commented on #7
Here is a list of all the Podcast Awards winner from 2005 to 2012:
http://www.podcastawards.com/index.php?option=pastwinners

[2015-02-16 19:08] coreysmart92 opened #9 "Practice"
Practice Github

[2015-02-16 19:08] coreysmart92 commented on #9
good job

[2015-02-16 19:08] #9 closed, assigned to halclark

[2015-02-17 21:52] halclark commented on #8
Fixed

[2015-02-17 21:52] #8 closed, assigned to halclark

[2015-02-19 01:16] porteriffic commented on #2
I'm working on a podcast with a classmate that is related to this topic. However, it wouldn't be 15 minutes long. I can ask my classmate if she'd be willing to let us use the podcast.

[2015-02-19 05:01] amb141330 commented on #5
Ashton Brillante is currently persuing his Arts and Technology degree at UTD and is focusing on sound design. He is interested in sound with virtual environments and the effects it has on the growing virtual reality market. His current qualifications are having been an audio and visual technician for two years and studying in the field of sound design. His future goals include becoming a composer,

[2015-02-19 05:01] #5 closed, assigned to nobody

[2015-02-19 19:32] porteriffic opened #10 "Guests/Voices Cheat Sheet"
Update cheat sheet with current recording software... if we are using Pamela still or not.

[2015-02-20 17:33] coreysmart92 commented on #3
Corey Smart is currently pursuing his Arts and Technologies degree at UTD with a focus in Sound Design.  He is interested in sound for movies or games and the effects it has on the final product.  He has an extensive background in music and is currently working towards an interest in foley for movies and games.

[2015-02-20 21:26] porteriffic commented on #1
Can't assign multiple people. Whoever can do this soon, please go ahead and just do it. Thanks!

[2015-02-23 00:01] halclark commented on #4
(Guess I'll just post here?)

Hal Clark is currently an undergraduate student at UTD studying for a degree in Sound Design with a focus on digital composition for film and video games. He has over 10 years of experience in traditional music platforms and 6 years experience producing on digital platforms. He is most interested in the production of music and sound effects for these media platforms a

[2015-02-23 19:01] kkondas opened #11 "New Podcast"
I just sent an e-mail out, but wanted to post here also, the Neel Kar podcast is up on the Dropbox and ready for editing.

[2015-02-23 19:06] porteriffic commented on #11
Thanks, Kyle. Posting it on here, I think, is definitely more efficient. That way we're not sifting through old emails and such.

[2015-02-23 19:09] porteriffic commented on #2
Classmate is happy to contribute. The podcast is only about 5 minutes long. Very short. She just needs to fill out a form. It can go on The Bold Roast??

Also, Roger is recording two podcasts with Patricia Correia on March 5. Those podcasts can be used for IWD.

[2015-02-23 21:40] kkondas commented on #11
Agree. It's just taking a bit to get us too. LOL

[2015-02-23 21:44] kkondas opened #12 "If you need to get in touch with me..."
Hey Guys,
In case you need to get in touch with quickly, my # is 972-365-9853. You can text or call. If you do call and I don't answer, be sure to leave a message. I don't always answer a number I don't recognize.

[2015-02-23 22:02] kkondas commented on #12
So do we want to attempt a Skype meeting, or can people meet maybe tomorrow before or after the coordinators meeting?

[2015-02-24 16:19] kkondas opened #13 "Images..."
Hey guys,
The new Indie Game Nation is up, but we're still missing images for the podcast and voice (Adam).
I shot you Adam's pic in the paperwork. Let me know if you got it and if I need to send it again. We also need the Indie Game Nation Channel Pic up on the main page so that people that only go there know a new podcast has gone up. Let me know if I need to send that also.
Thanks,
Kyle

[2015-02-27 18:46] cassininazir commented on #2
@creativedisturbance/sound, @porteriffic, @halclark, @amb141330, @kkondas

For all podcasts that will go up related to International Women's Day, use the tag "IWD" in WordPress.

If you've never done this before, see the page below for instructions:
https://en.support.wordpress.com/posts/tags/

[2015-02-27 23:29] halclark commented on #13
Image and voice is up but the pic is not 300x300. I will fix.

[2015-03-02 18:15] cassininazir commented on #4
@vivraman Please edit and add to Meet the Team page.

[2015-03-02 18:15] #4 closed, assigned to halclark

[2015-03-02 18:15] cassininazir commented on #3
@vivraman Please edit and add to Meet the Team page.

[2015-03-02 18:15] #3 closed, assigned to coreysmart92

[2015-03-05 23:23] porteriffic commented on #10
I will work with Stephanie to make the cheat sheets look nicer, Corey will update with the new recording process.

[2015-03-09 21:46] cassininazir opened #14 "Schedule Performance Review with Roger - Josephine"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March.

[2015-03-09 21:46] cassininazir opened #15 "Schedule Performance Review with Roger - Hal"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March.

[2015-03-09 21:46] cassininazir opened #16 "Schedule Performance Review with Roger - Corey"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March.

[2015-03-09 21:47] cassininazir opened #17 "Schedule Performance Review with Roger - Ashton"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March.

[2015-03-09 21:48] cassininazir opened #18 "Schedule Performance Review with Roger - Kyle"
Email Nancy Bryant (Nancy.Bryant@utdallas.edu) to schedule a time for your performance review with Roger. Include in your email a few times that you are generally available.

Would like to have these complete by the end of March. Doing these for everybody -- you and me include!

[2015-03-10 01:32] porteriffic commented on #14
Emailed Nancy.

[2015-03-11 15:23] cassininazir opened #19 "Pocast "Roots of Curiosity Conference" title should be in Portuguese"
@amb141330 There was confusion on the CD home page with the English and Portuguese version of the Roots of Curiosity Conference.

Ideally the Portuguese version's title should be written in Portuguese to differentiate it from the English version. Or add the language in parentheses the language at the end.

http://creativedisturbance.org/?p=1134

[2015-03-13 17:13] cassininazir opened #20 "Address Issues Archiving Content from DropBox"
- Running out of space
- Requires everyone to have free space on their personal DropBox space
- Must archive the content to Mac computer in ArtSciLab

[2015-03-13 17:15] cassininazir opened #21 "Setup Skype session with a Producer to coincide with our bi-weekly Friday sessions"
Connect with a producer specific producer, possibly Susan Erickson

[2015-03-13 17:18] cassininazir opened #22 "Add nomination requisite to Podcast Production Process"
At the end of every podcast, ask the guest/voices to nominate:
- Someone they know, and someone they don't know
- Find out if okay to get that individual's content

[2015-03-13 17:23] cassininazir opened #23 "Alert Producers about Earth Day Podcasts (April 22)"
Earth Day is April 22
- Let producers know that we are hosting Earth Day and solicit their podcasts around the topic

[2015-03-16 19:45] kkondas opened #24 "Dropbox Space!"
Hey guys,
I was trying to up-load a podcast that needs editing to the dropbox, but it won't let me saying that I'm out of space. Can you all go through and start compiling and saving the ones that have already been edited so that we can put them on the ArtSciLab Computer, and then go through and take down the original up-loaded files so that we can up-load future ones. For now, I will take the one

[2015-03-16 20:14] cassininazir commented on #24
I created a Dropbox account for ArtSciLab (see 1.1.3 for Password). Also installed the DropBox app on the Mac in the ArtSciLab. This Mac gets backed up regularly, so downloading and archiving files to this Mac is a good idea.

Please do make a physical backup of your podcast (to a thumb drive or other) before removing from Dropbox.

[2015-03-16 20:16] cassininazir commented on #20
This is a duplicate of #24. Closing.

[2015-03-16 20:16] #20 closed, assigned to nobody

[2015-03-23 20:30] cassininazir opened #25 "Write up how a radio station could use our podcast content"
Let's work together on describing how a radio station (domestic and international) could use our content.

[2015-03-25 03:34] kkondas opened #26 "Missing data from podcast...."
Corey there is some missing data from two of the podcasts, one which I think you up-loaded.

On the Personalized Learning Using Modeling podcast, when you go to the episode page, Sharon Hewitt's name is missing from the title. Also, both her and Paul Fishwick's pics are missing for the voices. Paul is already one of the voices, so could you grab his pic and add it, and also e-mail Sharon and ask h

[2015-03-25 03:46] amb141330 commented on #26
I just took care of the one with Huda Hashim. Yvan called me and brought it to my attention. I know what went wrong, but it's partially my fault and also something peculiar with the way wordpress uploads.

[2015-03-25 15:53] cassininazir commented on #26
Thanks for the quick fix, Ashton. Next time you see me, show me the peculiarity and we'll see if we can fix it.

[2015-03-30 18:17] cassininazir opened #27 "Update non-English podcasts with language in title"
Will need to add language for all non-English titles in WordPress. Format should follow

[ Title ]([language name])

So would look like:

Gréaud, L'irrésolu (FR)

[2015-04-03 17:42] cassininazir opened #28 "Add Shortened URL to Podcast Production Checksheet"
Use bit.ly to shorten podcasts. This should be shared with producers so that they may share and forward.

[2015-04-07 01:30] porteriffic commented on #14
Done!

[2015-04-07 01:30] #14 closed, assigned to porteriffic

[2015-04-07 01:34] porteriffic opened #29 "DropBox Update"
Just based on my recent communication with Tim Perkis:

I shared the Noisy People dropbox folder with him and he was unable to upload his podcasts. It seems the only way he can upload is if I invite him to the CD Dropbox. I'm not sure if he tried dragging and dropping his podcasts though...

I'd like to test this out on someone who doesn't have access to the dropbox yet and see if they are running

[2015-04-07 14:11] cassininazir commented on #29
Good idea. Try testing with another email account (setup a new one just for this if you like).

Do you know what error message he received?

Cassini Nazir

Clinical Assistant Professor, Arts and Technology
The University of Texas at Dallas

From: porteriffic <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedisturbance/podcasts <reply@reply.github.com<mailto:reply@reply

[2015-04-07 18:08] porteriffic commented on #29
Hmm. Okay. I tried using my UTD email to see if I had any issues accessing the DropBox. It might be that I'm accessing the DropBox from the same computer. Maybe this issue pops up when the user has never used DropBox before...

[2015-04-07 18:20] porteriffic commented on #29
This is what Tim said:

"Dropbox solution doesnt work for me without it trying to download to my hardrive a local copy of everything in every Creative Disturbance channel folder!  I don't want that!"

[2015-04-07 19:21] porteriffic opened #30 "Images for Voices"
Some pictures of the voices are coming out squished. How are you guys editing images? Are you resizing it or cropping it?

[2015-04-08 22:57] cassininazir commented on #30
Marcus Neustetter's photo is one that is like this.

[2015-04-09 23:26] cassininazir opened #31 "Celebrate 100 Podcasts"
As of April 9, 2015 we are 22 "episodes" away from 100 podcasts. The page at https://itunes.apple.com/us/podcast/creative-disturbance/id931330050?mt=2 is helpful in determining this.

We should plan for the 100th podcast and think about what it should be and how to announce. Would be a good time to ping our community as well.

@porteriffic, @kkondas can you discuss in the next Sound Team meeting?

[2015-04-10 17:22] kkondas opened #32 "Podcasts..."
Hey guys,
It's Friday, and we only have 3 podcast up-loaded for this week, where we should at least have a minimum of 4 up.
What going on? We need to fix this ASAP!!!

[2015-04-11 18:21] kkondas opened #33 "Podcast for this week!!!"
Major priority for this week. First we need to have "AT LEAST" 4 podcast published to Libsyn and the site.  Along with that, we need to also up-load the podcast that were suppose to be published this week along with them. So if we are missing any forms, get in touch with the producers that you were assigned so that you can have them fill them out!

[2015-04-13 18:53] rmalina opened #34 "rights release form for stingers and bumpers"
we need to develop a rights form that developers of stingers and bumpers sign to give us rights to use their bumper and certifying that the material doesnt infringe third party copyright

[2015-04-13 20:02] #24 closed, assigned to nobody

[2015-04-13 20:04] #26 closed, assigned to nobody

[2015-04-13 20:04] #33 closed, assigned to nobody

[2015-04-13 20:04] #32 closed, assigned to nobody

[2015-04-13 20:09] #23 closed, assigned to nobody

[2015-04-13 20:10] #21 closed, assigned to nobody

[2015-04-13 20:10] coreysmart92 commented on #22
Add to Producer/Guest Cheat Sheet

[2015-04-13 20:12] #19 closed, assigned to amb141330

[2015-04-13 20:12] #13 closed, assigned to halclark

[2015-04-13 20:12] #18 closed, assigned to kkondas

[2015-04-13 20:13] #12 closed, assigned to nobody

[2015-04-13 20:13] #16 closed, assigned to coreysmart92

[2015-04-13 20:13] #11 closed, assigned to nobody

[2015-04-13 20:14] #2 closed, assigned to nobody

[2015-04-13 20:14] #7 closed, assigned to kkondas

[2015-04-13 20:18] porteriffic commented on #29
He should still be able to access the Dropbox on a web browser. He can just ignore or refuse to download Dropbox on his hard drive... Idk...

[2015-04-14 18:38] porteriffic commented on #31
~20 podcasts away.

[2015-04-14 18:41] cassininazir commented on #31
If we estimate 4 podcasts a week, that puts us five weeks away (roughly around May 19, or the week after finals).

[2015-04-14 18:52] cassininazir opened #35 "Do we need an online checklist for CD 2.3.0 and CD 2.2.2.9?"
Explore what problems this solves:
- How do we translate improved procedures into improved product.

[2015-04-14 19:54] cassininazir commented on #29
Ok. Kyle and I investigated. Looks like the _solution_ is to move all channel information to the top-level of Dropbox. I haven't done this because it will require sending out new invites to producers again.

So, everything here:

![screen shot 2015-04-14 at 2 53 18 pm](https://cloud.githubusercontent.com/assets/1661430/7146011/0ca3e856-e2b6-11e4-8af6-9854cf4e95d0.png)

Will need to be moved here:

[2015-04-14 19:56] cassininazir commented on #29
Also, Dropbox had functionality to share sub-folders at one point. Looks like it is now only for Pro and Business users.

[2015-04-14 21:24] porteriffic commented on #29
Would you mind going over this with me sometime this week, Cassini?

[2015-04-14 21:38] porteriffic commented on #31
@coreysmart92 @heiwanalady Let's coordinate on this next week after Earth Day

[2015-04-17 13:41] rmalina opened #36 "music rights"
team
in the first tim perkis podcast -he uses music segments by other famous composers- we need to make sure that when we post a podcast we have the rights for the music covered ( and we need to be careful on the stingers) i think the rights release from needs to be modified to ask the producer/voice that they have the rights to any music used in the podcast
roger

[2015-04-18 04:53] kkondas opened #37 "New Podcast Form Issues...."
So this has happened to me twice now. I've tried to submit a new podcast info form, but every time it comes back asking me to upload the voice pictures and the Estimated Length of Podcast. I repeatedly enter the information again, but it never submits. I end up having to send the sound team a word document and attach the pics to the e-mail.

[2015-04-20 18:27] porteriffic commented on #27
Parenthesis or brackets? I think brackets might look nicer...

[2015-04-20 18:29] #15 closed, assigned to halclark

[2015-04-20 23:04] cassininazir commented on #37
Tried duplicating this, but haven�t been able to. Would like to take a look at this on your computer.

Cassini Nazir

Clinical Assistant Professor, Arts and Technology
The University of Texas at Dallas

From: kkondas <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedisturbance/podcasts <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, April 17, 2015

[2015-04-21 18:17] rmalina opened #38 "podcast recording equipment"
i came into the lab to do a podcast recording

i found the two zoom units

they were a mess and unusable as is

it took me 30 minutes to put together a
working zoom with working batteries with
mikes

lets put on someones check list- to check weekly
that the two zoom units are complete, with spare
batteries and memory card

there were no instructions in either of the zoom boxes
so i had to play aro

[2015-04-21 18:44] rmalina opened #39 "task for corey for weekly podcast schedule email"
corey

can you set up a system so every monday evening an email is sent to the CD team and all producerswith a list of the podcasts going up that week- and which day it goes up

the email should be a standard email with

Week of April x to Y
The following podcasts are being published this coming week
a) monday midnight; name of podcasts, channel
b) tuesday midnight: name of podcasts, channel
c) we

[2015-04-21 18:53] rmalina opened #40 "style sheet for bumpers and stingers"
develop a written style sheet for bumpers and stingers- and includ discussion of how to avoid copyright problems

roger

tim perkis sends us this information:
as far as music rights goes: this is a thorny area, and the not-really-legal practices of many entities now  with 'automated takedowns' is a real problem. The fact is that aside from the theme music(which I created and own), every music clip

[2015-04-24 17:39] cassininazir opened #41 "Ashton - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-24 17:39] cassininazir opened #42 "Kyle - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-24 17:39] cassininazir opened #43 "Josephine - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-24 17:39] cassininazir opened #44 "Hal - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-24 17:40] cassininazir opened #45 "Chaz - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-24 17:40] cassininazir opened #46 "Anvit - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-24 17:40] cassininazir opened #47 "Yvan - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-24 17:40] cassininazir opened #48 "Stephanie - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-24 17:40] cassininazir opened #49 "Corey - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-24 17:56] cassininazir opened #50 "Setup instruction sheet for ZOOM recorder in ArtSciLab"
We should have at least 1 ZOOM recorder handy in the lab for quick podcast. Should have:
- Instruction sheet
- Batteries stocked
- Everything in good working order
- In a location we all know about

[2015-04-27 18:02] cassininazir opened #51 "Podcast Research"
Look at the top 100 podcasts (there was another GitHub task with this open, see if you can find it, @amb141330) and review the stingers for best practices.

Roger mentioned that Angela Lee (http://www.utdallas.edu/atec/artstechnology/lee/) would have some insight and may be able to help when we do a literature review.

[2015-04-27 18:15] cassininazir opened #52 "Train Podcast Team on Website Functionality and Podcast Process"
@porteriffic, @kkondas making sure you're in on this. Let's setup time over the summer to get everyone trained on this.
- Blog posts
- Create new channels
- Dropbox - create new folders, invite others
- Anything additional

[2015-04-27 18:55] cassininazir commented on #31
Also include the 10 top most popular podcasts as well on this page.

[2015-04-27 18:56] porteriffic commented on #31
Will need a logo/banner for splash page @heiwanalady

[2015-04-27 18:57] #1 closed, assigned to coreysmart92

[2015-04-27 19:10] porteriffic commented on #50
Check every Monday to make sure all equipment is available.

Also add:
- Sign in/out sheet

[2015-04-27 19:12] cassininazir commented on #40
@amb141330 this should tie in to item #51. Suggest the specs.

[2015-04-27 19:13] #38 closed, assigned to nobody

[2015-04-27 19:14] porteriffic commented on #37
Kyle will test using Chrome.

[2015-04-27 19:16] coreysmart92 commented on #36
Kim Knight Class

[2015-04-27 19:16] porteriffic commented on #36
Ask Kim Knight what she has her class uses for them to check the rights for music

[2015-04-27 19:21] porteriffic commented on #30
Create a guideline on how to properly resize/crop in Word Press and find a new one if necessary.

[2015-04-27 19:21] porteriffic commented on #30
Add to Podcast Production Sheet

[2015-04-27 19:23] #34 closed, assigned to nobody

[2015-04-27 19:29] porteriffic commented on #28
Bitly.com (Use Creative Disturbance to log in. Log in information is in CD 1.1.3)

[2015-04-27 19:32] porteriffic commented on #29
Ashton, I'll work with you on reorganizing DropBox

[2015-04-27 19:33] #27 closed, assigned to coreysmart92

[2015-04-27 19:33] porteriffic commented on #25
Add to Summer Plan

[2015-04-27 19:38] porteriffic commented on #22
Add to Summer Plan

[2015-04-27 22:36] cassininazir opened #53 "Setup Jabber"
From Brian's document:

After running the installer click the wrench icon and select "sign-on settings" and enter the following…

Internal Server vcsctl.utdallas.edu 
External Server: vcsxway.utdallas.edu
SIP Domain: vc.utdallas.edu

[2015-04-28 13:52] cassininazir opened #54 "Marco Buongiorno Nardelli Podcast"
Quick-turnaround request from SGL (copied from email)

"I have uploaded Marco_Buongiorno_Nardelli.mp3 to the "needs editing" on dropbox for the "Sound and Data" channel on Creative Disturbance. Could you or someone on the team put the stinger that I made for my channel on the front of it and push it up to libsyn and CD fairly quickly. We have a request into IRCAM for a collaboration and need to ge

[2015-04-28 17:04] rmalina commented on #17
new job description developed to be approved by cassini

[2015-04-28 18:40] porteriffic opened #55 ""De Guanajuato a UTD" Podcast"
Picture of the Voices are not showing up.

[2015-04-28 21:33] cassininazir opened #56 "Develop cheat sheet for use of the ArtSciLab"
Keep in Google Drive and print copies for the lab

[2015-04-29 04:14] amb141330 commented on #55
People in the voices page were added, but not yet published. It has been fixed.

[2015-04-29 04:14] #55 closed, assigned to amb141330

[2015-04-29 17:18] cassininazir commented on #53
I haven't been able to get Jabber to work from my computer (with the settings and my NetID). Spoke with Brian Merlo briefly about this and we will test. Roll this out to the rest of the team before semester ends!

[2015-04-29 17:19] cassininazir opened #57 "Cassini - Complete Post Mortem by May 8"
https://docs.google.com/forms/d/1sH6ODmAciiw5xkyFaAKsSxrVpEWTjUNZMPUEfWQGz4w/viewform

[2015-04-29 17:28] cassininazir commented on #57
Complete!

[2015-04-29 17:28] #57 closed, assigned to cassininazir

[2015-04-29 20:58] cassininazir commented on #53
Sent Brian NetIDs for everyone on the ArtSciLab team. Will do another test run after we have access.

[2015-04-29 21:15] cassininazir commented on #51
Created a folder in _Google Drive_ > _Research_ > _Podcast Survey_ > _Literature Review_. I've added research papers that I've found on podcasts. Most of them pertain to podcasts in education.

We need to conduct a thorough lit review. Let's discuss best ways to accomplish this.

[2015-05-04 18:12] #49 closed, assigned to coreysmart92

[2015-05-04 18:36] #17 closed, assigned to amb141330

[2015-05-04 18:51] porteriffic commented on #53
Go here to download: http://www.utdallas.edu/ir/downloads/

Go to Video Conferencing and select your OS.

[2015-05-04 19:00] kkondas opened #58 "100 Podcast Splash Page"
Corey to meet with Stephanie and Josephine about creation for the 100 podcast splash page.

[2015-05-07 05:48] cassininazir commented on #31
Wow. We are 2 away!

[2015-05-07 17:18] kkondas opened #59 "Publishing Podcast"
I know that the podcasts were already up on Libsyn, and that we scheduled each of them to go live this week in Monday's meeting, but we had a hicup and today's podcast didn't get published to the site. I've been in touch with Corey and the problem is fixed now, but in the next meeting when we schedule the next batch of podcasts, we need to make sure all of the settings are correct so that we don't

[2015-05-07 17:48] heiwanalady commented on #31
I'm on it!

On Thu, May 7, 2015 at 12:48 AM, Cassini Nazir notifications@github.com
wrote:

[2015-05-08 01:58] porteriffic commented on #59
Which podcast was it?

[2015-05-08 01:59] porteriffic commented on #58
Stephanie has the banner ready

[2015-05-08 02:02] porteriffic commented on #54
Already discussed at Monday's meeting. Roger doesn't want to push back other podcasts. Will discuss again on Monday.

[2015-05-08 02:02] porteriffic commented on #54
Corey, did you email Scot about this?

[2015-05-08 02:05] porteriffic commented on #52
Let's add this to the agenda for Monday's meeting @coreysmart92

[2015-05-08 02:39] porteriffic commented on #43
Aaaaand DONE

[2015-05-08 02:39] #43 closed, assigned to porteriffic

[2015-05-08 20:56] yvantina opened #60 "Podcast Chafchaouni part 2"
@halclark @coreysmart92 @kkondas
hey guys ! couldn't find chafchaouni podcast on the production tracking sheet
https://docs.google.com/spreadsheets/d/1JUtI3ecGsmmmIR9dKtSGxkuNFcKvmzhXc2ND69MSvd4/edit#gid=1552320650
since the first part has been published a month ago, was wondering if it has been edited or lost ?
if you find it please be kind enough to add to our schedule
have a good week end !
y

[2015-05-08 21:45] porteriffic commented on #53
Train members on how to use Jabber.

[2015-05-08 22:17] #30 closed, assigned to porteriffic

[2015-05-08 22:18] #48 closed, assigned to heiwanalady

[2015-05-08 22:21] porteriffic commented on #22
Already on Cheat Sheet. Need to clean up cheat sheet over summer.

[2015-05-08 22:21] #22 closed, assigned to nobody

[2015-05-11 18:39] #41 closed, assigned to amb141330

[2015-05-11 18:54] #59 closed, assigned to nobody

[2015-05-11 18:56] #54 closed, assigned to coreysmart92

[2015-05-11 18:57] coreysmart92 commented on #53
How to get people accounts.

[2015-05-11 18:58] cassininazir commented on #52
Discuss with @anvit and @sayloo about this. Let's include @linamoon as well to bring her into loop.

[2015-05-11 18:59] #36 closed, assigned to amb141330

[2015-05-11 19:03] cassininazir commented on #29
@amb141330 please work with @porteriffic on this. We need to this up as soon as possible. Producers are unable to upload podcasts.

Let me know if by Wed, May 13 if you need help with this.

[2015-05-12 19:18] rmalina opened #61 "screw up in email system"
corey
i got this email but when i tried to reply it started sending my
reply to david marlett's email address
you need to check with cassinin whats going on
roger

From: CREATIVE DISTURBANCE [mailto:no-reply@wufoo.com]
Sent: Tuesday, May 12, 2015 5:23 PM
To: Malina, Roger
Subject: CREATIVE DISTURBANCE - New Podcast Info Form

This is confirmation that you have uploaded a new Podcast for you Creati

[2015-05-13 02:43] cassininazir commented on #29
Just FYI, we get 100GB from Box.com. http://utdallas.app.box.com

[2015-05-14 01:15] porteriffic commented on #61
Roger,

It probably started to reply to David's email because the Wufoo Forms are under David's account. Sruthi is almost done with the Google Forms so this shouldn't be an issue in the future. @cassininazir Correct me if I'm wrong.

[2015-05-14 02:06] cassininazir commented on #61
Glad you emailed that. Yes, you are correct.

[2015-05-14 04:52] porteriffic commented on #29
Do I log in with my Net ID or does it have to be an ArtSciLab log in?

[2015-05-14 04:58] cassininazir commented on #29
_Net ID_. I did some exploring and this can be a space that we use for the internal team.

Google Drive gives us 15 GB of space. Box gives us 100 GB and as Roger indicated in another GitHub issue, we may be able to request additional space.

Not sure that we'll need it, but thought to add it here as a resource.

@amb141330 any status update on progress?

[2015-05-14 05:12] porteriffic commented on #29
Okay. I'll look into it. I'd like to have the Dropbox cleaned up. I'll work on it a little tomorrow.

[2015-05-14 20:57] rmalina commented on #61
cassini
once the new forms are up- can you tell david copy me that he can close down wufoo forms
as we dont need it any more
roger

[2015-05-15 19:52] rmalina opened #62 "picture of voice missing"
corey
can you make sure the voices picture always goes up
when the podcast goes up
roger
sounds reasonable to titrate them, rather than dumping them all out in one big lump! I see episode 2 has been added, thank you!

One thing I noticed that on the Noisy People channel summary page, for episode 2 (Joëlle Léandre), her picture did not get added... whether this is my fault – that somehow the pic di

[2015-05-15 20:56] amb141330 commented on #62
Josephine fixed this issue. Don't worry about it Corey.

[2015-05-15 20:56] #62 closed, assigned to coreysmart92

[2015-05-18 18:17] #42 closed, assigned to kkondas

[2015-05-18 18:25] #61 closed, assigned to coreysmart92

[2015-05-18 18:27] coreysmart92 commented on #60
Completed first part, but not sure about a second part.

[2015-05-18 18:30] coreysmart92 commented on #60
Published already.

[2015-05-18 18:32] kkondas commented on #58
The Banner is up on the site.

[2015-05-18 18:32] #58 closed, assigned to coreysmart92

[2015-05-18 18:33] coreysmart92 commented on #53
This week everyone at least login.

[2015-05-18 18:35] cassininazir commented on #52
@halclark, @coreysmart92 please make sure you do this by next meeting, May 25.

[2015-05-18 18:35] coreysmart92 commented on #52
Next Sound meeting have a tutorial. May 25

[2015-05-18 18:37] cassininazir commented on #50
Poe Johnson will do podcast for Center for Values this week (beginning May 18).

[2015-05-18 18:38] coreysmart92 opened #63 "Poe Johnson Needs a Zoom Recorder"
Have Instruction sheet done by 5/21/15

[2015-05-18 18:39] cassininazir commented on #50
@coreysmart92 will email Poe Johnson.

[2015-05-18 18:41] coreysmart92 commented on #37
Solved by New Forms

[2015-05-18 18:41] #37 closed, assigned to kkondas

[2015-05-18 18:42] coreysmart92 commented on #35
Finish Cheat Sheet First.

[2015-05-18 18:42] porteriffic commented on #31
Splash page is already up. Will continue to work with @coreysmart92 this week for the 100th Podcast Celebration.

[2015-05-18 18:44] coreysmart92 opened #64 "New Podcast Cheat Sheet"
Update and reorganize the [Podcast Production Cheat Sheet](https://docs.google.com/document/d/1G2KOpmqrrWR-hw4OLO9xn7UNhOM_QHf8kOuCuQ0342o/edit). For new and improved recording methods, which use Audacity as main recording software instead of Pamela.

[2015-05-18 18:44] porteriffic commented on #29
Updated the Dropbox as @cassininazir mentioned with @amb141330 on Friday 5/15. Will be sending producers access to individual channel folders soon.

[2015-05-18 18:51] cassininazir opened #65 "Agendas on Google Drive"
Please make sure Monday agenda lists are on Google Drive. Helps for remote team members to be able to follow along.

Please have this ready by next meeting Monday, May 25.

[2015-05-18 20:35] heiwanalady commented on #53
I was able to login!

[2015-05-18 21:26] cassininazir commented on #53
Have written up a short doc, [CD 1.3 Working Remotely](https://docs.google.com/document/d/1NP-TLJ38swdwy3bZrvcW4umn3Dmy1q5y8RrTfkkNbuE/edit) that we can add to.

[2015-05-18 21:26] #53 closed, assigned to cassininazir

[2015-05-18 21:28] cassininazir opened #66 "Hal - Setup Jabber"
Please confirm that you are able to use Jabber. Review the document at [CD 1.3 Working Remotely](https://docs.google.com/document/d/1NP-TLJ38swdwy3bZrvcW4umn3Dmy1q5y8RrTfkkNbuE/edit) for instructions.

**Complete by Monday, May 25**

[2015-05-18 21:29] cassininazir opened #67 "Corey - Setup Jabber"
Please confirm that you are able to use Jabber. Review the document at [CD 1.3 Working Remotely](https://docs.google.com/document/d/1NP-TLJ38swdwy3bZrvcW4umn3Dmy1q5y8RrTfkkNbuE/edit) for instructions.

**Complete by Monday, May 25**

[2015-05-18 21:29] cassininazir opened #68 "Josephine - Setup Jabber"
Please confirm that you are able to use Jabber. Review the document at [CD 1.3 Working Remotely](https://docs.google.com/document/d/1NP-TLJ38swdwy3bZrvcW4umn3Dmy1q5y8RrTfkkNbuE/edit) for instructions.

**Complete by Monday, May 25**

[2015-05-18 21:30] cassininazir opened #69 "Ashton - Setup Jabber"
Please confirm that you are able to use Jabber. Review the document at [CD 1.3 Working Remotely](https://docs.google.com/document/d/1NP-TLJ38swdwy3bZrvcW4umn3Dmy1q5y8RrTfkkNbuE/edit) for instructions.

**Complete by Monday, May 25**

[2015-05-18 21:30] cassininazir opened #70 "Lina - Setup Jabber"
Please confirm that you are able to use Jabber. Review the document at [CD 1.3 Working Remotely](https://docs.google.com/document/d/1NP-TLJ38swdwy3bZrvcW4umn3Dmy1q5y8RrTfkkNbuE/edit) for instructions.

**Complete by Monday, May 25**

[2015-05-18 21:30] cassininazir opened #71 "Kyle - Setup Jabber"
Please confirm that you are able to use Jabber. Review the document at [CD 1.3 Working Remotely](https://docs.google.com/document/d/1NP-TLJ38swdwy3bZrvcW4umn3Dmy1q5y8RrTfkkNbuE/edit) for instructions.

**Complete by Monday, May 25**

[2015-05-19 04:06] cassininazir commented on #29
[CD 2.2.2.9a Archiving Podcasts](https://docs.google.com/document/d/1IoYkLJMJkRPqp_F7HD6GZE1EBzCghXxbdZ_tiY6MdQU) explains current thinking on setup.

[2015-05-19 04:16] cassininazir commented on #52
Who needs to be at this meeting @coreysmart92?

[2015-05-19 06:07] rmalina commented on #29
for what its worth- i am proposing we not assign DOIs to podcasts until the aggregator starts operation at mit press early next year-dont know if this affects this discussion

[2015-05-19 06:51] yvantina commented on #60
@coreysmart92  @halclark  can you please shorten the title to "Faire palpiter les sens" ?  thank you

[2015-05-19 16:08] cassininazir commented on #51
A list of podcasts similar to the top 100 podcasts. Might be some gems in here:

http://www.producthunt.com/e/podcast-hunt

[2015-05-19 18:59] halclark commented on #60
Updated to shortened title. http://creativedisturbance.org/podcast/faire-palpiter-les-sens-et-retrouver-lintemporel-2/

[2015-05-19 19:00] halclark commented on #44
Completed and submitted!

[2015-05-19 19:00] #44 closed, assigned to halclark

[2015-05-19 19:19] rmalina commented on #51
we should learn from how they write good podast one sentence titles !

[2015-05-19 20:20] porteriffic commented on #68
I've logged in to Jabber on my laptop remotely and it worked. I have not tried to call or anything yet.

[2015-05-19 20:20] #68 closed, assigned to porteriffic

[2015-05-19 20:40] porteriffic opened #72 "Storing Bumpers"
@coreysmart92 , @halclark , @amb141330

If you have a completed bumper, please store on the Creative Disturbance Google Drive in folder "CD 2.2.1.5 Bumpers".

If you have a draft of a bumper, please store in folder "CD 2.2.1.6 Bumpers (Draft)".

Both of these folders are located in "CD 2.2.2 Audio Files" in the Production Team folder. Path should look something like this:

2.2 Production Team >> C

[2015-05-19 20:46] rmalina commented on #72
also- i am interested in short podcasts on each bumper that can be posted on the experimental section explaining what the stinger writer was experimenting with/trying to do to link the stinger to the topic of the channel
roger

[2015-05-19 22:17] cassininazir commented on #60
Two things:
- First and last words in a title should always be capitalized.
- Don't forget should be fixed in LibSyn as well. http://createdisturb.libsyn.com/webpage?search=palpiter&Submit=Search

Guidelines:
1. Capitalize the first and the last word.
2. Capitalize nouns, pronouns, adjectives, verbs, adverbs, and subordinate conjunctions.
3. Lowercase articles (a, an, the), coordinating conjunctio

[2015-05-19 23:45] kkondas opened #73 "Just a reminder..."
Corey met with Poe Johnson this morning to give him and go over how to use the xoom recorder for the Conference on Values in Medicine. He said that he'll probably have it back by this weekend.

[2015-05-20 22:08] porteriffic commented on #73
Thanks for the update @kkondas. In the future, please refrain from duplicating issues. The issue regarding Poe Johnson was opened on Monday [here](https://github.com/creativedisturbance/podcasts/issues/63)

[2015-05-20 22:29] kkondas commented on #73
Sorry about that. My fault. I missed the first one. Will go ahead and close this one.

[2015-05-20 22:29] #73 closed, assigned to nobody

[2015-05-20 23:54] porteriffic commented on #31
@coreysmart92 @cassininazir One thing I noticed is that the Nobel Prize Winner Amartya Sen podcasts have the same description. Perhaps we should break up the descriptions so it doesn't seem so thoughtless and repetitive?

[2015-05-21 20:14] kkondas commented on #71
Had a few problems, but after meeting with Brian, I was able to get Jabber working.

[2015-05-21 20:14] #71 closed, assigned to kkondas

[2015-05-21 20:20] coreysmart92 commented on #72
Write up a cheat sheet on Google Drive about the Stinger making process.

[2015-05-21 20:25] coreysmart92 commented on #70
@linamoon Please do this before Monday, and post any issues here. Thank you

[2015-05-21 20:25] coreysmart92 commented on #69
@amb141330  Please do this before Monday, and post any issues here. Thank you

[2015-05-21 20:26] coreysmart92 commented on #66
@halclark  Please do this before Monday, and post any issues here. Thank you

[2015-05-21 20:27] coreysmart92 commented on #67
@coreysmart92 Please do this before Monday, and post any issues here. Thank you

[2015-05-21 21:10] coreysmart92 opened #74 "Rhythmically Inclined - Sound Team Experimental Channel"
@halclark The Sound Team has decided to hand over the producer position of this channel to you. Could you please write up a plan of action towards this channel.
1. Give a plan of action at next meeting (June 1, 2015)
2. Write up a Guideline Document for this channel (on Google Drive)
3. Have the channel up on Creative Disturbance and producing podcast

Close when you have completed all three of th

[2015-05-21 21:15] coreysmart92 commented on #65
@coreysmart92 - I have placed the [older agendas](https://drive.google.com/drive/folders/0B5c7wZNmEjILVE5tRWhsQU9TcGc/0BwvQhnxKj6jFVVV3U3pvMEstN1E/0B0RS2YDJUln1fjdaRWg5dmo0TEk5MGI3Qjd4ckNjLUQ3dEVWbm9STG9TeEp2YVlGYkVkZkE/0B0RS2YDJUln1fllNZTNxWkN3alRHRWI0QlR0aEdTMkg1b2trY1NSd2YzcEtKMXJkaFNaLUE) online and created a new template for [future agendas](https://docs.google.com/document/d/14uSZ_Sp2ONNxYLJ

[2015-05-21 21:15] #65 closed, assigned to coreysmart92

[2015-05-21 21:30] cassininazir commented on #63
Please do not write on Microsoft Word, but instead create the document on Google Drive in the appropriate folder. Please update this GitHub issue with the link when you have it.

[2015-05-21 21:31] coreysmart92 commented on #63
Issues were who had the right to use the zoom recorder and files left on the sd card in zoom recorder.

@coreysmart92 complete Zoom Recorder Instruction sheet and begin making process for checking out zoom recorders by May 25, 2015.

Close when Instruction sheet is completed. But make new issue if zoom recorder process has not been completed.

[2015-05-21 21:37] coreysmart92 commented on #60
@halclark Have you been able to get to this? If not could you please look at and try to have this at latest May 25, 2015. This is a High Priority Issue and needs to be handled ASAP.

[2015-05-21 21:40] coreysmart92 commented on #56
@amb141330 Could you please have an update ready to present by next meeting. Does not have to be completed, but we would like to see where you are at and assist where we can.

[2015-05-21 21:42] coreysmart92 commented on #52
@coreysmart92 @halclark @porteriffic @amb141330 @kkondas @cassininazir Need to be at the Sound team meeting Monday May 25, 2015.

[2015-05-21 21:44] coreysmart92 commented on #50
@coreysmart92 I have created a newer issue for this problem #56.

Closing this issue for updates refer to #56.

[2015-05-21 21:44] #50 closed, assigned to coreysmart92

[2015-05-21 21:46] coreysmart92 commented on #47
@yvantina Could you please complete this ASAP.

Close when you have submitted you Post Mortem.

[2015-05-21 21:46] coreysmart92 commented on #46
@anvit Could you please complete this ASAP.

Close when you have submitted you Post Mortem.

[2015-05-21 21:47] coreysmart92 commented on #45
@ChazLilly  Could you please complete this ASAP. Please contact Corey if you have any questions.

Close when you have submitted you Post Mortem.

[2015-05-21 21:54] coreysmart92 commented on #39
@coreysmart92 and @cassininazir have discussed making a email template with images. Plan to proceed along this plan of action in the future.

Close this issue when template is completed and the first email has been sent.

[2015-05-21 21:59] yvantina commented on #47
@coreysmart92 Hey Corey I've already competed mine you should have received it..don't know what happened..

[2015-05-21 22:01] coreysmart92 opened #75 "Editor to Producer Email Examples for Cassini"
@coreysmart92 @halclark @amb141330 @porteriffic Collect at least three example of email correspondence with producers. Send these examples to Cassini to help with email template creation. This should be done no later than May 27, 2015.

Close when all Podcast Editors have sent examples to Cassini.

[2015-05-21 22:02] coreysmart92 commented on #39
For creating template - podcast editors need to send examples of emails between them and producers. See #75 for more detail.

[2015-05-21 22:56] #60 closed, assigned to halclark

[2015-05-21 22:59] halclark commented on #60
Fixed the title. However, I do not know where to add those guidelines in
Google docs. @coreysmart92 could you add it and then link it to me? Thanks

On Thu, May 21, 2015 at 4:37 PM, coreysmart92 notifications@github.com
wrote:

[2015-05-21 23:35] cassininazir commented on #60
Please review the production process files. There is a style guide somewhere which is probably a good spot for it.

Sent from my iPhone

On May 21, 2015, at 3:59 PM, halclark <notifications@github.com<mailto:notifications@github.com>> wrote:

Fixed the title. However, I do not know where to add those guidelines in
Google docs. @coreysmart92 could you add it and then link it to me? Thanks

On Thu,

[2015-05-22 00:15] linamoon commented on #70
@coreysmart92 @cassininazir I emailed Brian at brian.merlo@utdallas.edu on Monday to be added to the server, but I haven't received a response back.

[2015-05-22 00:40] cassininazir commented on #70
I think I added your name on the original list. Did you go thru the setup and it not work?

Sent from my iPhone

On May 21, 2015, at 5:15 PM, Lina Moon <notifications@github.com<mailto:notifications@github.com>> wrote:

@coreysmart92https://github.com/coreysmart92 @cassininazirhttps://github.com/cassininazir I emailed Brian at brian.merlo@utdallas.edumailto:brian.merlo@utdallas.edu on Monday to be

[2015-05-22 00:47] linamoon commented on #70
Ah, just tried it and it worked. I must have missed something before.

[2015-05-22 00:48] #70 closed, assigned to linamoon

[2015-05-22 03:16] anvit commented on #46
Done.

[2015-05-22 03:16] #46 closed, assigned to anvit

[2015-05-22 04:10] kkondas opened #76 "The two bumpers per month"
Hey team, during this coming Monday's sound meeting, let's sit down and make a plan of action for the the bumpers that are to be produced each month.  I say that each month, we should decided on which two channels will have their bumpers worked on.

[2015-05-22 04:14] kkondas opened #77 "C.D. Videos - Github"
Another video idea that was given to me today to produce for C.D. was  "How to use Github".

[2015-05-22 05:11] halclark commented on #76
Sounds great! I'm working on a few currently.

On Thu, May 21, 2015 at 11:10 PM, kkondas notifications@github.com wrote:

[2015-05-24 01:56] amb141330 commented on #69
Logged in and setup cam + mic

[2015-05-24 01:56] #69 closed, assigned to amb141330

[2015-05-24 01:57] cassininazir commented on #69
Great! I think Jabber will work well for us.

May need to setup a meeting with Brian Merlo to have him show you how to configure the screen in the lab.

[2015-05-24 02:19] amb141330 commented on #69
I'll be showing up early for Monday's meeting in order to work on it more myself.

[2015-05-24 02:29] cassininazir commented on #69
Great. Start a Google doc and link to it here as well.

Sent from my iPhone

On May 23, 2015, at 7:19 PM, amb141330 <notifications@github.com<mailto:notifications@github.com>> wrote:

I'll be showing up early for Monday's meeting in order to work on it more myself.

�
Reply to this email directly or view it on GitHubhttps://github.com/creativedisturbance/podcasts/issues/69#issuecomment-104968139.

[2015-05-24 02:44] porteriffic commented on #10
@coreysmart92 Do you have an update for us? I'm coordinating with Voices and Producers for Polyglot Day and unfortunately I have to send them our current cheat sheets which are highly out of date.

I'm more than happy to work with you on this. Just name a time and/or date. Would like to get updated cheat sheet soon.

[2015-05-24 02:48] porteriffic commented on #64
This is a duplicate of [this](https://github.com/creativedisturbance/podcasts/issues/10).

Make sure we are updating cheat sheet for both Producers AND Voices.

[2015-05-24 03:03] porteriffic commented on #28
This has been added to the [CD 2.2.2.9 Podcast Production Process](https://docs.google.com/document/d/1zYIkYATPUnkd2sHSWAZUX9kHgJxld5LHs5ZjvEC32Jw/edit) and [CD 2.3.0 Podcast Production Process Overview](https://docs.google.com/document/d/1bpp1B-l_pNffAbKo06guml-GhTHJilB-EQQGrc9y-2Y/edit).

[2015-05-24 03:03] #28 closed, assigned to coreysmart92

[2015-05-25 18:20] halclark opened #78 "Forms for Reynaldo Thompson Podcast"
Remind Roger to fill out forms for Reynaldo Thompson Podcast.

[2015-05-25 18:20] halclark commented on #78
@rmalina

[2015-05-25 18:34] coreysmart92 commented on #67
Closing: Completed Signing in and Downloading, as well as basic use.

[2015-05-25 18:34] #67 closed, assigned to coreysmart92

[2015-05-25 18:36] halclark commented on #66
Set up and working

[2015-05-25 18:36] #66 closed, assigned to halclark

[2015-05-25 18:38] rmalina commented on #76
creating a tracking sheet for stingers

[2015-05-25 18:39] coreysmart92 commented on #76
@coreysmart92 One bumper for Bold Roast. To be completed at latest by 5/30/15.

[2015-05-25 18:39] rmalina commented on #76
create a short podcast with each stinger explainilng what the composer tried to do connected to the channel them

[2015-05-25 18:40] porteriffic opened #79 "Polyglot Splash Page"
For steps on creating a splash page and/or editing, go here: [Splash Page Procedure](https://docs.google.com/document/d/1UTMi35cU1sZk7z6KbefUQ-ZMkyztFyA-lH6Knl6BFH4/edit)

There is already a "Polyglot Day" draft under the **Pages** tab on WordPress.

Edit the page accordingly.

Contact @cassininazir or @porteriffic for assistance.

[2015-05-25 18:43] coreysmart92 commented on #75
Clarification: 6 examples-3 sent, and 3 received sent to Cassini

[2015-05-25 18:45] rmalina commented on #74
i love the name

[2015-05-25 18:46] amb141330 commented on #79
I've already contacted Stephanie about creating the art for Polyglot day. She told me she or Lina would see to it.

[2015-05-25 18:47] coreysmart92 commented on #74
@heiwanalady Please complete the Art work by 6/4/15 by the latest.

[2015-05-25 18:47] rmalina commented on #25
marcus neustetter in south africa has access to community radio stations there that would re broadcast

[2015-05-25 18:48] cassininazir commented on #72
https://docs.google.com/document/d/1IoYkLJMJkRPqp_F7HD6GZE1EBzCghXxbdZ_tiY6MdQU/edit

[2015-05-25 18:51] porteriffic commented on #79
@amb141330 Great! Stephanie said she'd have it ready this week.

[2015-05-25 18:58] porteriffic commented on #29
I will be cleaning up Dropbox more and start transitioning Producers to new folders.

[2015-05-25 18:59] coreysmart92 commented on #64
The Cheat Sheets are updated. Need to be reviewed and moved to Creative Disturbance drive.

[2015-05-25 19:00] coreysmart92 commented on #63
Poe Johnson has the recorder.
Close when returned.

[2015-05-25 19:02] coreysmart92 commented on #56
Cheat Sheet needs to be reviewed and transferred to Creative Disturbance drive.

[2015-05-25 19:02] cassininazir commented on #56
@coreysmart92 please add a link to the file on Google Drive.

[2015-05-25 19:05] coreysmart92 commented on #52
Due to weather. Tech tutorial is moved to 6/1/15.

[2015-05-25 19:08] rmalina commented on #39
i didnt receive any announcement this week

[2015-05-25 19:21] cassininazir opened #80 "Celebrate 10,000 Downloads"
Let's discuss a plan for this. @porteriffic assigning to you, let's put a team together. We can celebrate via social media.

Currently at 9,453.

[2015-05-25 19:27] heiwanalady commented on #80
Will need graphic for Twitter/Facebook @heiwanalady

[2015-05-25 19:32] cassininazir commented on #79
@halclark connect with me or @heiwanalady (Stephanie) to learn how to do a splash page. Please be up and running by June 5.

[2015-05-25 19:37] cassininazir commented on #39
@coreysmart92 adding a High Priority tag back to this. Not sure why I took it off originally. Apologies.

This needs to go out by Wed., May 27.

[2015-05-26 02:06] porteriffic commented on #75
@cassininazir Sent you an email with screenshots.

[2015-05-26 02:15] porteriffic commented on #80
Whoa! That's awesome!

@cassininazir Will we be doing a splash page for this as well?

[2015-05-26 17:17] cassininazir commented on #80
No splash page. We should make use of the blog and social media. Am available Tuesday or Friday if you'd like to discuss.

[2015-05-26 18:36] amb141330 commented on #72
Per Cassini's document--We will use that process. We are waiting for that to be implemented.

[2015-05-26 18:43] cassininazir commented on #56
This should include:
- How to use Jabber (use the [CD 1.3 Working Remotely](https://docs.google.com/document/d/1NP-TLJ38swdwy3bZrvcW4umn3Dmy1q5y8RrTfkkNbuE/edit) document) as a start. Add on as needed.
- How to setup and change the four projectors
- Equipment check-in/check-out
- How to make a coffee

[2015-05-26 18:47] amb141330 commented on #51
Will continue when Cassini is back in Dallas

[2015-05-26 21:10] heiwanalady commented on #79
Initial concepts:
![cd_polyglot_banner](https://cloud.githubusercontent.com/assets/6133439/7823530/b134625c-03c1-11e5-8dc6-4aea5bca38e9.jpg)
![cd_polyglot_banner2](https://cloud.githubusercontent.com/assets/6133439/7823529/b1314f2c-03c1-11e5-9f87-8631d0d5e291.jpg)

[2015-05-26 21:53] heiwanalady commented on #75
@cassininazir created a doc with my examples (some from the early days!) here
https://docs.google.com/document/d/1Kwu7TmZw34eZx_1zcg1JiBj7g2KX175GgUkHlGL4Gco/edit

[2015-05-26 23:09] cassininazir commented on #75
Bellissima!

[2015-05-26 23:09] cassininazir commented on #75
@halclark @coreysmart92 still need yours by tomorrow, please.

[2015-05-27 03:04] porteriffic commented on #80
@cassininazir  How about Tuesday? I'll be unavailable from Friday through Sunday.

[2015-05-27 07:46] rmalina opened #81 "missing podcast for schick on noisy people"
there is no podcast at

http://creativedisturbance.org/podcast/03-ignaz-schick/

please put the podcast up

and PLEASE check the check list- we should be checking for errors like this
before a listener finds them !!

roger

[2015-05-27 07:48] rmalina opened #82 "Noisy People Podcast Titles"
this podcast title is inadequate =only has the name of the guest

http://creativedisturbance.org/podcast/03-ignaz-schick/

please the sound editor is responsible for making sure the podcast title
is good and follows our title guidleines

roger

[2015-05-27 08:04] coreysmart92 commented on #81
[03: Ignaz Schick](http://creativedisturbance.org/podcast/03-ignaz-schick/) has been fixed. The problem was that no Libsyn episode had been created, hence the Wordpress had no where to link to.  It is fixed now, but be careful in the future to avoid this or let me know if a Libsyn episode was created so that we can figure out if there was more to this problem.
Closing.

[2015-05-27 08:04] #81 closed, assigned to coreysmart92

[2015-05-28 00:46] porteriffic commented on #82
@rmalina This is a Noisy People podcast and all podcasts from Tim Perkis are titled this way. He uses this format on iTunes and his website as well. I can ask him to revise his titles for us, but I doubt he'll comply.

[2015-05-28 00:49] porteriffic commented on #64
@coreysmart92  Do you have an ETA on when they'll be able to be sent out to Producers and Voices? I'm getting a lot of podcast requests and I'm having to give them the outdated cheat sheets.

[2015-05-28 01:08] coreysmart92 commented on #64
[The Producer Podcast Cheat Sheet](https://docs.google.com/document/d/1Io4Cj1Btt56jifbt4I8R1K4fdX1JYHPEzaYHbLAQBKY/edit) is completed, although I would still like feedback for improvements.  [The Guest Podcast Cheat Sheet](https://docs.google.com/document/d/1vlE3APrrN7_rRylUSuKdS8dvwDrDWd9PHG9QxpXZyJ4/edit) can be sent out if necessary, but the update was made to an old version. Remember that both

[2015-05-28 01:15] porteriffic commented on #64
@coreysmart92 The screenshot needs to be placed near the steps you're guiding them through. Using bold or colored numbers will help when labeling the steps.

[2015-05-28 12:26] rmalina opened #83 "no podcast under link"
no podcast here

http://creativedisturbance.org/podcast/04-caroline-martel/

[2015-05-28 14:38] coreysmart92 commented on #83
[04: Caroline Martel](http://creativedisturbance.org/podcast/04-caroline-martel/) has been fixed the issue was incorrect audio url. Closing this issue.

[2015-05-28 20:19] #83 closed, assigned to coreysmart92

[2015-05-30 10:01] rmalina opened #84 "set up podcast recording with artscilab alumnus cathryn ploehne"
cathryn ploehne is an atec alumnus who worked in art sci lab

can one of the editors set up a podcast recording with her ?

coordinate with stephanie

will let you assign

roger
Stephanie Brisendine sabrisendine@gmail.com
Apr 21

to Cathryn, Roger
Roger- Cathryn is ready to do a podcast with us!

Cathryn,

We can definitely figure out a time for next week. Yes our podcasts are still audio-based, b

[2015-05-31 01:53] yvantina opened #85 "Please always keep a Zoom in the artscilab"
@amb141330 @coreysmart92 @porteriffic @kkondas @halclark
hey guys
I think we should ALWAYS be able to record a podcast in the artscilab
As I explained to Corey last week I had recorded a podcast with Max and Doron for the polyglot day but didn't have time to upload the file on Dropbox because I was traveling that friday. Since I was in a rush I thought I would be able to do so the following monday

[2015-06-01 17:43] halclark opened #86 "Wufoo Account Frozen"
Unable to access wufoo, due to "Too many login attempts. Account temporarily frozen." Been like this for at least 2 days now.

[2015-06-01 17:46] amb141330 commented on #86
I got on just fine yesterday.

[2015-06-01 18:01] cassininazir commented on #86
Password has been changed. To all, make sure you review [CD 1.1.3](https://docs.google.com/document/d/1ipNxXHlGpEPgllR6QBQ2HF6vrOWRgLuhnngcUIqClxU/edit)

[2015-06-01 18:03] halclark commented on #86
Logged in fine.

[2015-06-01 18:03] #86 closed, assigned to nobody

[2015-06-01 18:33] cassininazir opened #87 "Description for Big Design Conference podcast"
Submit forms

[2015-06-01 18:38] amb141330 opened #88 "Lightening Talks for Big Design Podcasts"
Go ahead and get the information and files for the 5 podcasts. We can do this with or without the presentations included.

[2015-06-01 18:50] cassininazir commented on #79
@porteriffic could you provide a list of podcasts that we are expecting for PolyGlot Day?

[2015-06-01 18:55] coreysmart92 opened #89 "Yasser Jeradi Needs Forms"
@yvantina @amb141330 Podcast Yasser Jeradi and Huda Hashim needs forms to be published. Ashton is in charge of this podcast, must contact Yvan and have forms by 6/17/15. Yvan is waiting for podcast information from the host. This podcast is in Arabic.

[2015-06-01 19:00] coreysmart92 opened #90 "Yasser Jeradi(FR) Needs Forms"
@yvantina @amb141330 Yasser Jeradi in French needs forms. Complete by 6/8/15. Ashton will contact Yvan.

[2015-06-01 19:10] cassininazir commented on #88
Have one presentation. Will get the rest of the info to you.

[2015-06-01 19:10] cassininazir commented on #87
Duplicate of #88. Closing

[2015-06-01 19:10] #87 closed, assigned to cassininazir

[2015-06-01 19:13] coreysmart92 commented on #85
@corey.smart92 Need to make Cheat Sheet for BLU Microphones in Lab. Complete by latest 6/17/15.

[2015-06-01 19:20] amb141330 opened #91 "Contact Stephanie for Alumni podcast"
@coreysmart92 , can you email @heiwanalady about recording the podcast with the UT Dallas alumni? Need someone to help record the podcast and do the interview for the podcast.

[2015-06-01 19:27] cassininazir commented on #79
@porteriffic and I gave feedback via email. @heiwanalady is in the process of making the magic happen.

[2015-06-01 19:28] halclark commented on #78
According to Ashton, will be done by next week.

[2015-06-01 19:31] coreysmart92 commented on #75
@coreysmart92 @halclark @ashton Send email examples to Cassini by latest 6/3/15. Use Stephanie's as an example.

[2015-06-01 19:32] cassininazir opened #92 "Hal - Editor to Producer Email Examples for Cassini"
Collect at least three example of email correspondence with producers. Send these examples to Cassini to help with email template creation. Need by June 3.

Example of what Stephanie sent: https://docs.google.com/document/d/1Kwu7TmZw34eZx_1zcg1JiBj7g2KX175GgUkHlGL4Gco/edit

[2015-06-01 19:32] cassininazir opened #93 "Ashton - Complete Post Mortem by May 8"
Collect at least three example of email correspondence with producers. Send these examples to Cassini to help with email template creation. Need by June 3.

Example of what Stephanie sent: https://docs.google.com/document/d/1Kwu7TmZw34eZx_1zcg1JiBj7g2KX175GgUkHlGL4Gco/edit

[2015-06-01 19:33] cassininazir commented on #75
@coreysmart92 assigning to you. Have opened other tasks for Hal and Ashton individually. Send to me by June 3.

[2015-06-01 19:34] #63 closed, assigned to coreysmart92

[2015-06-01 19:35] coreysmart92 commented on #72
Will be using Google Drive [Bumpers](https://drive.google.com/drive/folders/0B5c7wZNmEjILVE5tRWhsQU9TcGc/0BwvQhnxKj6jFVVV3U3pvMEstN1E/0BwvQhnxKj6jFVU1rSGYwdmtIVmc/0B0RS2YDJUln1fng5aTlnd0tzTXVZamZOeUdHckN0OEJ4RXVDZVFITHlHOTJ4bzdrdjZNNHc) folder. Closing until new developments.

[2015-06-01 19:35] #72 closed, assigned to amb141330

[2015-06-01 19:36] coreysmart92 commented on #64
Close when content is completed, then open a new issue for visual design.

[2015-06-01 19:43] #47 closed, assigned to yvantina

[2015-06-01 19:43] yvantina commented on #47
Closed

[2015-06-01 19:44] coreysmart92 commented on #31
Closing. 100th podcast has been up with no issues and will be taken down soon.

[2015-06-01 19:44] #31 closed, assigned to coreysmart92

[2015-06-01 19:46] coreysmart92 commented on #25
I have been in touch with Anwesha and will be meeting soon to talk about and make a Creative Disturbance Radio Station. Anyone who wants to join please let me know.

[2015-06-02 01:52] porteriffic commented on #79
Here are the languages I'm expecting to have for Polyglot Day:
- German
- Bengali
- Korean
- Bahasa
- Japanese
- Spanish
- Russian
- Arabic
- French

I've been coordinating all of them except Korean and Japanese. Responses have been slowing down so I'm hoping I can still get them in.

I can send an email out this week as a reminder to Voices and Producers. Mostly a waiting game right now.

[2015-06-02 20:19] cassininazir commented on #79
Update from discussion with @porteriffic. Please check to see your assignment listed below.

Already recorded:
- **German** Darren ?? + Max Schich
  - Discipline: Digital Humanities, Complex Networks and Art History
- **Portuguese** Roger + Patricia

Expecting:
- **Bengali** Dhru Deb + unknown - ~~@porteriffic will email~~ **Update**: Working on script.
  - Channel: Bold Roast
- **Spanish**:
  Dar

[2015-06-02 20:21] cassininazir commented on #79
@amb141330 assigning this back to you. Reminder: The task is to create the splash page for PolyGlot Day. **Have a prototype ready for next Monday's meeting (June 8)**.

[2015-06-03 00:56] yvantina commented on #79
@cassininazir  @porteriffic @heiwanalady @amb141330
- We had an issue with the podcast in German (SD card deleted) so Max and Doron agreed to make another one but will not receive this one before June 13 at the best
- The podcast in Japanese will be sent to me later this week (Kei Takahashi + Taro Toyota + Muneyuki Matsuo)
- Another podcast in Egyptian Arabic (Masry) should be added to the list (t

[2015-06-03 01:19] porteriffic commented on #79
@yvantina Great! Thank you! I will update above accordingly.

No worries about the German podcast. We can make an exception for that one since it was accidentally deleted.

I've seen a channel proposal for RAMI. Do they have a logo already? If they don't, worst case scenario we put their podcasts on a different channel. Either @heiwanalady or @linamoon will have to design a logo.

Also, I agree wi

[2015-06-03 04:25] kkondas opened #94 "Indie Game Nation Channel"
Plans to push the Indie Game Nation Channel:
1. Produce a minimum of two podcast a month starting in June.
2. Work to possibly bring a few other people in to record podcast and even possibly help produce for the channel
3. Work with C.D. to work on a social media push for the channel to get more views and downloads

[2015-06-03 07:40] coreysmart92 commented on #82
Closing because as Josephine has mentioned this is the style that Tim Perkis prefers and all of these come completed and ready to publish, @porteriffic you know the most about Noisy People so if anything changes make a new issue and let us know.

[2015-06-03 11:45] coreysmart92 commented on #10
Closing because it is a duplicate of #64.

[2015-06-03 11:45] #10 closed, assigned to coreysmart92

[2015-06-03 12:04] coreysmart92 commented on #64
I have updated the content of the most recent [Guest/Voice Cheat Sheet](https://docs.google.com/document/d/1xpzeYtgntUoadfs68wZp-Nqs73oIgqz1rN0rGlErzIM/edit) .

I now need to work on the visual aspects of the Cheat Sheets. Close when completed.

[2015-06-03 12:10] coreysmart92 commented on #39
I have sent a version to Roger and Kyle, but I want to improve this to include more detail and all of those involved with podcasts being published in that week.
Close when you have updated the system to include all producers, hosts, and voices of that week.

[2015-06-03 12:16] coreysmart92 commented on #75
I have completed my examples in [Corey Smart Email Examples](https://docs.google.com/document/d/1MaFJD_nvRqBtEppmCp3VNBb_NSCJuESdXjXHX0WWz_U/edit) . I have organized it in correspondence instead of one by one. I thought this would give a better example of my emails for Creative Disturbance.

@cassininazir Close if this is enough examples.

[2015-06-03 16:13] cassininazir commented on #79
@yvantina if you have SD card, try using an undelete software to try to resurrect the file. @porteriffic you might also help @yvantina with this. Better to spend 30 minutes with the software than have them re-record.

http://pcsupport.about.com/od/filerecovery/tp/free-file-recovery-programs.htm

[2015-06-03 16:32] coreysmart92 commented on #84
Stephanie and Lina are prime candidates to do a podcast with Cathryn. I will contact them and setup a podcast with one or both.

[2015-06-03 16:33] coreysmart92 commented on #91
Closing, Duplicate.
See #84 if more details.

[2015-06-03 16:33] #91 closed, assigned to coreysmart92

[2015-06-03 16:35] coreysmart92 commented on #75
Closing, Cassini has signed off that he received the examples.

[2015-06-03 16:35] #75 closed, assigned to coreysmart92

[2015-06-03 16:55] coreysmart92 commented on #35
In house Check List for Sound Editors about the production process. Review [CD 2.2.2.5 Posting a Complete Podcast](https://docs.google.com/document/d/124eiA3g5XaeDlbtN-yrAfTi9yVGz-2DwgWn5s0HqnlY/edit).

[2015-06-03 17:12] yvantina commented on #79
@cassininazir Corey unintentionnally deleted the files on the SD card and I assume they have been replaced by new podcasts since then.. but @porteriffic I am happy to try again if it makes things simpler...

[2015-06-03 18:23] rmalina commented on #39
corey-why dont you send it out as it is- you can improve the format next time
roger

[2015-06-03 18:25] rmalina commented on #82
i disagree with this decision- tim perkis will happily change his podcast titles if you
work it with him so its not just the name of the person
have you contacted tim ? copy me on your email to him and i will insist

roger

[2015-06-03 22:26] porteriffic commented on #82
@rmalina I will email him this week and ask if he will change the titles of his podcasts. I'll CC you in the email.

[2015-06-03 22:30] porteriffic commented on #80
@cassininazir Would you like for me to work on a blog post for this?

[2015-06-03 22:41] porteriffic commented on #79
@yvantina I'm more than happy to meet up to try and recover the podcast. According the link Cassini posted, it should be able to recover the file. It doesn't hurt to try!

[2015-06-03 22:46] yvantina commented on #79
@porteriffic will be in the lab tomorrow 1-5 pm. Preferred window is 1.30-2pm since Ashton and I should get trained for echo 360 afterwards..

[2015-06-03 22:47] porteriffic commented on #79
@yvantina Okay. I can be there around 1:30. See you then

[2015-06-04 00:16] rmalina commented on #80
why dont you try and do a social media push including blog posts-not sure what our communication plan -but i can tell you at a distanace creative disturbance is invisible on my social media !!

[2015-06-04 00:17] rmalina commented on #82
i emailed him and he said he was more than happy- he hadnt received any instructions on how we like the titles written-do we need to send all producers a request to improve their titles and give them guidleines

[2015-06-04 01:24] porteriffic commented on #82
@rmalina Great!

A title guideline has been on the back burner for a while. I will email Tim this week but would like to delegate creating the guideline to another team member.

@halclark @coreysmart92 @halclark @kkondas Would one of you please assist in creating a guideline for creative and unique podcast titles?

[2015-06-04 01:43] porteriffic commented on #80
@rmalina Yes, a social media push will be in the works on my end.

@cassininazir and I have been trying to disperse community building roles to the sound team. They are a little bit new to it and it will take a little time for them to get accustomed to doing social media pushes.

Also, we are still adding to the Community Building Plan. Social media pushes are already in there and I will be adding

[2015-06-04 01:56] porteriffic commented on #82
Emailed Tim.

[2015-06-04 22:05] heiwanalady commented on #79
@porteriffic @yvantina @cassininazir Am working on the splash page, and have very little information on the podcasts and which channels they will be on. Any info would be helpful! Just a few are on wufoo - so will try and finish those.

[2015-06-04 22:11] heiwanalady commented on #79
@porteriffic @amb141330 @cassininazir @coreysmart92
I'm guessing the RAMI channel will be posted on Polyglot Day - along with their Arabic podcast (    Mayye Zayed)?
Album Artwork already exists - made it a few months ago. I can upload to the wordpress.

[2015-06-04 22:21] heiwanalady commented on #80
Here's the graphics I made - one for Twitter (506x253) and one for Facebook (1200x900)
These dimensions are the recommended dimensions for sharing pictures on each platform (did a little research).
Let me know if you need anything else!
![cd_10k-downloads-facebook2](https://cloud.githubusercontent.com/assets/6133439/7995694/20f5d346-0ade-11e5-91b8-08a515b861c2.png)
![cd_10k-downloads-twitter2](htt

[2015-06-04 23:07] yvantina commented on #79
@heiwanalady I've sent an email to Renaud regarding the podcast title
@porteriffic @cassininazir the German podcast has been recovered, thanks ;)
where are we supposed to upload podcasts for the Polyglot day that don't have yet any channel affiliation ?

[2015-06-05 02:52] yvantina commented on #79
@heiwanalady For the ones I am involved in (more or less), if it can help:
- Russian (Olga Bannova) = Space Art and Culture
- German (Max + Doron) = TBD, I know they talk about Digital Humanities, Complex Networks and Art History
- Japanese (Tkahashi + Toyota + Matsuo) = TBD, I know they talk about DNA-lipid and Stem cells, so Biology
- Masry (Arabic) (Nawar + Malina + Tina) = Virtual Africa
- Ara

[2015-06-05 02:55] yvantina commented on #79
@heiwanalady by the way you need to double check with the producers of the channels mentioned..

[2015-06-05 19:03] porteriffic commented on #79
@heiwanalady Yes, we'll have the RAMI channel up with Polyglot Day. The soonest I can work on that page is beginning of next week.

@yvantina Glad you were able to recover the podcast! If you have time, I'll need your help in collecting the disciplines of the podcasts you're working with. I only have disciplines for the ones I'm working with.

@kkondas Can you look into Dropbox to see if we have r

[2015-06-05 19:15] porteriffic commented on #29
Transferred Dropbox to @kkondas. He will be in charge of Dropbox from now on.

[2015-06-05 19:15] #29 closed, assigned to porteriffic

[2015-06-05 21:19] kkondas commented on #79
@porteriffic At the moment we have around 1.5 GB of space free on the dropbox.

[2015-06-06 09:58] rmalina commented on #35
thanks for updating- the date on the document still says feb 3 ? is this the latest version

i looked at the instructions for titles of podcasts-it says
Episode = Title of Podcast
If Podcast is in a Non-English Language then add two letter abbreviation of language in parentheses to end of podcast title.

it says nothing about making sure the title is at least a half of full sentence with some
kind

[2015-06-06 10:44] rmalina commented on #78
hal- i have filled out the form- and sent you a copy
roger
@halclark

[2015-06-06 18:40] rmalina opened #95 "correction to reynaldo thompson podcast form"
correction to form for reynaldo thomson podcast i just submitted
roger

Podcast Title \* Data Base of Latin American Electronic and Digital Artists; Art and Spirituality in the Digital Arts
Short Description of this Podcast \* Reynaldo Thompson Professor of Design at the University of Guanajuato and Roger Malina discuss the project to set up a data base of Latin American electronic and digital art

[2015-06-07 03:00] yvantina commented on #90
Done

[2015-06-07 03:01] yvantina commented on #89
Done

[2015-06-07 03:04] yvantina opened #96 "Podcast Masry (egyptian arabic)-English Haytham Nawar for Polyglot Day !"
@coreysmart92 @halclark @amb141330 can you please move the podcast with Haytham, Roger and myself to polyglot Day in your tracking sheet ? Thanks

[2015-06-07 06:29] rmalina commented on #96
there are two-one is in arabic-so move the one in arabic-the one in english can be published later

[2015-06-07 06:44] yvantina commented on #96
no worry
if needed then

[2015-06-07 20:40] halclark commented on #95
Will do. Podcast will be ready to go up by Mondays meeting

[2015-06-08 18:24] halclark commented on #95
Hey Roger, the title for this podcast is a tad lengthy. How about just "Art and Spirituality in the Digital Arts"?

[2015-06-08 18:57] coreysmart92 commented on #90
Closing: Forms are completed

[2015-06-08 18:57] #90 closed, assigned to nobody

[2015-06-08 18:58] coreysmart92 commented on #89
Closing: Forms are Completed

[2015-06-08 18:58] #89 closed, assigned to amb141330

[2015-06-08 18:59] coreysmart92 commented on #88
@cassininazir Can we get updated?

[2015-06-08 18:59] coreysmart92 commented on #78
Closing: Forms are completed

[2015-06-08 18:59] #78 closed, assigned to rmalina

[2015-06-08 20:40] rmalina commented on #95
ok
roger

[2015-06-09 11:43] rmalina opened #97 "unacceptable podcast title"
this noisy people podcast is unacceptably uninformative

06: Roscoe Mitchell

tim perkis is happy to rewrite podcast titles if you ask him to

roger

[2015-06-09 18:01] porteriffic commented on #97
@rmalina I emailed Tim about this last week (I copied you in that email). I'm still waiting to hear back from him.

[2015-06-09 18:03] porteriffic commented on #82
Closing this since it is now a duplicate of Issue #97

[2015-06-09 18:03] #82 closed, assigned to coreysmart92

[2015-06-09 18:34] porteriffic commented on #80
@cassininazir Started a draft for a blog post on this. Should we post before of after Polyglot Day?

[2015-06-09 19:19] porteriffic commented on #64
@coreysmart92 I highly recommend you get feedback from @heiwanalady, @cassininazir and @linamoon on creating graphics. Maybe they can assist in creating them.

[2015-06-10 06:37] rmalina opened #98 "wrong info for reynaldo thompson went up"
hal
what happened
this went up with the wrong title- after i approved your excellent suggested change to it
and it went up with the wrong photo after the voice sent you the new photo
also he had other suggested changes-did these get made ?
can you check the text to make sure you made the changes he requested
thanks

roger

with Roger Malina, Reynaldo Thompson
In Person
EN
June 10, 2015

[2015-06-10 06:46] coreysmart92 commented on #98
This was my mistake, I published the podcast without knowing of the title change. I have fixed it but I do not have the photo change. @halclark could you fix the photo problem and check to make sure that everything else is correct.

[2015-06-10 08:26] rmalina commented on #98
no problem- what are you doing up in the middle of the night !
hal-there was both the new photo and the corrections to the bio text i thin k that he send
you
roger

[2015-06-10 08:27] rmalina commented on #80
polyglot day is in ten days so you could do it now
roger

[2015-06-10 08:29] rmalina commented on #97
josephine
no problem
but hopefully the procedure cheat sheet used by the sound editors
has the title approval in the check list so we dont post a podcast in the future
with an unaccetable title
roger

[2015-06-10 15:21] porteriffic commented on #80
@rmalina Okay. Will work on social media (including blog) today.

[2015-06-10 17:22] halclark commented on #98
I'll fix it as soon as I get back to my computer!

[2015-06-10 22:11] porteriffic commented on #80
Completed social media push on Facebook, Twitter, blog and emails to the community. Will post and tweet throughout the week. Will close this at end of week.

[2015-06-10 22:13] porteriffic commented on #97
@rmalina Tim has already submitted some forms for incoming podcasts and those titles are different. So all his future podcasts will have acceptable titles.

[2015-06-11 19:15] rmalina commented on #97
great
lets be clear with all the producers !
roger

[2015-06-12 20:50] yvantina opened #99 "Virtual Africa folder on updated Dropbox"
@kkondas @coreysmart92 @porteriffic @amb141330 Hey Guys I couldn't locate the V-A folder on Dropbox until I found it under the old Creative Disturbance folder..I wonder whether or not it was voluntary since it is not been listed with the other channels..am a bit confused...

[2015-06-12 22:07] amb141330 commented on #99
I'll be fixing this before monday, Yvan.

[2015-06-15 17:36] coreysmart92 commented on #97
I will add these notes to the producer cheat sheet. But I feel that many producers still want to use the same name for multi-parted podcasts.

[2015-06-15 17:37] coreysmart92 commented on #39
I have add to the tracking sheet to improve this. I will walk through the changes in Sound meeting on 6/15/2015.

[2015-06-15 18:48] halclark commented on #95
Corrected info.

[2015-06-15 18:48] #95 closed, assigned to halclark

[2015-06-15 18:58] halclark commented on #98
Corrected

[2015-06-15 18:58] #98 closed, assigned to halclark

[2015-06-18 21:49] yvantina commented on #79
@amb141330 @coreysmart92 @porteriffic @kkondas
Can you please replace / add to the podcast in French with Yasser Jeradi (by) the one in Arabic with Roger and Haytham Nawar for polyglot week ? French is probably the most represented foreign language on CD but it is up to you to keep that this way for next week, I don't want to change your plans.. I'd just like the ones in Arabic to be released also

[2015-06-19 22:59] porteriffic commented on #97
I will send out an email next week to let producers know about naming their podcasts. It's already in the cheat sheets but will emphasize. That way we can avoid any weird podcast titles in the future.

[2015-06-19 22:59] #97 closed, assigned to coreysmart92

[2015-06-19 23:00] porteriffic commented on #80
Celebrated. Did multiple social media posts.

[2015-06-19 23:00] #80 closed, assigned to porteriffic

[2015-06-19 23:02] porteriffic commented on #99
Virtual Africa folder should be available in the new Dropbox folder. You may want to check your email. It says you haven't accepted any of the invites to your folders.

[2015-06-22 16:56] coreysmart92 commented on #84
I have emailed Cathryn Ploehn again, but yet to receive a response. (6/22/15)

[2015-06-22 17:35] porteriffic commented on #74
@coreysmart92 @halclark Artwork is done. Please get this channel up ASAP.

[2015-06-22 18:16] coreysmart92 commented on #39
Josephine, will walk me through how to update voices. I will make a new template for weekly podcast schedule. (6/22/15)
Close when template is completed.

[2015-06-22 18:19] coreysmart92 commented on #74
Meet in week of 6/22/15-6/29/15 to record podcast about bumpers. (6/22/15)
Close when channel is up.

[2015-06-22 18:23] cassininazir commented on #74
Listen to this podcast with sound designer/composer Brian Reitzell for ideas on how to discuss sound within a podcast.

http://99percentinvisible.org/episode/all-in-your-head/

[2015-06-22 18:30] coreysmart92 commented on #79
Polyglot Splash page has been published.
Close when taking splash page down.

[2015-06-22 18:37] cassininazir opened #100 "Record Podcast for Rhythmically Inclined"
@halclark and @amb141330 can you both record a new podcast discussing bumpers for:
- Sound & Data
- Indie Game Nation

Because we didn't a podcast up for May, shoot for another podcast by the end of June.

[2015-06-22 19:01] halclark opened #101 "Video Tutorials"
Create video to show producers how to properly make a podcast.

[2015-06-22 20:52] rmalina commented on #79
it does not list the disciplines included in polyglot day
please add as soon as possible
roger

[2015-06-22 20:53] rmalina commented on #74
i am available on skype to record podcast about new leonardos bumper
roger @coreysmart92

[2015-06-23 02:47] porteriffic commented on #79
@rmalina Disciplines are listed under each podcast. See above a post from @cassininazir 20 days ago.

[2015-06-23 02:49] porteriffic commented on #79
Splash page should be up to date with disciplines with the exception of the Arabic and Japanese podcast. Some kind of glitch. Working with Stephanie to fix it right now.

[2015-06-23 04:01] heiwanalady commented on #79
@porteriffic @rmalina disciplines are now displayed on each podcast and in the intro info!

[2015-06-23 19:33] heiwanalady commented on #79
@porteriffic @amb141330 @halclark @coreysmart92
Just FYI, for future reference, **we should keep all of the foreign language slugs (url links) in English.**
I just changed the Japanese one to _/dna-rna-1_
I have not changed the Arabic one yet. I believe foreign text in a link might create glitches in the link's functionality

[2015-06-25 21:22] yvantina opened #102 "Rollout podcasts"
@coreysmart92 @porteriffic @amb141330 @halclark @kkondas
Have uploaded two podcasts in gdrive (need editing folder) for the Voices from the Crowd channel
or the Femgineer's one - it's all about AEC market and technology entrepreneurship, so I'm not sure where it should go.. will fill out the forms later this week..

[2015-06-25 22:02] yvantina commented on #96
@halclark @coreysmart92 @amb141330 Roger is present in this podcast - can you also please add his name/pic on the website page ? http://creativedisturbance.org/podcast/egyptianart-ar/

[2015-06-26 03:25] porteriffic commented on #102
@yvantina The Femgineers channel won't be up until (by the earliest) the beginning of August. So probably Voices of the Crowd for now. We can always ask Eun Ah about putting the podcast on the Femgineers channel once they have their first podcast up.

[2015-06-26 03:31] yvantina commented on #102
okay no worry then ! Voices from the Crowd would be good enough

[2015-06-26 17:05] rmalina opened #103 "leads for youth day"
here is a lead
to get three high school students to do pocasts
i will see if i can get any set up in time

roger

Hi Roger - Great thanks so much for  a great opportunity for the students - they produced their posters as part of their participation in NetSciHigh - more details here https://sites.google.com/a/binghamton.edu/netscihigh/
I'm happy to write an intro if you give me parameters for lengt

[2015-06-26 17:07] rmalina commented on #103
josephine corey
why dont you do an email to all producesr and voices to nominate
high school/secondary ( its not called high school outside of usa)
who we could do podcasts with in art/eci/tech topics
roger
@porteriffic

[2015-06-26 18:41] cassininazir commented on #103
Would like to review the email before it goes out to make sure it fits within the templates that @heiwanalady is working on.

[2015-06-29 18:11] halclark commented on #100
Plan on recording this week.

[2015-06-29 18:17] coreysmart92 commented on #84
Cathryn has responded and would like to do a podcast. I will get in touch with Stephanie for a time to make the podcast.

[2015-06-29 18:17] coreysmart92 commented on #79
Polyglot Splash page has published.
Closing because the completed version of the page has been published.

[2015-06-29 18:17] #79 closed, assigned to amb141330

[2015-06-29 18:18] cassininazir commented on #85
Closing this issue.

[2015-06-29 18:18] #85 closed, assigned to nobody

[2015-06-29 18:19] #64 closed, assigned to coreysmart92

[2015-06-30 23:51] porteriffic commented on #103
@cassininazir I will be at the lab tomorrow with Stephanie until 12:30ish. We'll be working on the email

[2015-07-01 17:11] porteriffic opened #104 "World Youth Skills Day"
Here is a document regarding all things related to [World Youth Skills Day](https://docs.google.com/document/d/1YXE71afggR8x4AJofYQHe75uEaSTMgkVdeClxksLLng/edit)

[2015-07-02 17:40] porteriffic commented on #100
@halclark Close issue when podcast has been recorded.

[2015-07-02 17:42] porteriffic commented on #74
@halclark Have the above items been completed? Please have a guideline completed to go along with the channel.

[2015-07-03 03:30] porteriffic opened #105 "Podcast with Ethan Friedericks"
Would like to do a podcast with Ethan Friedericks who is the Senior Dialog Editor at Disney Publishing Worldwide. Need to ask Scot if it's okay to use his channel.

[2015-07-03 08:31] rmalina opened #106 "please clean up drop box folders"
corey
i am totally confused by the podcast drop box folders- can you figure out/clean up

a) in my drop box i have a set of top level files for
new leonardos, virtual africa, frank malina , voice from the crowd
there dont seem to be any podcasts in those folders
B) separately i have a top level folder called creative disturbance
with sub folders for the same channels as in a) above
c) some of thos

[2015-07-03 10:58] yvantina commented on #25
Any update on this ?

[2015-07-03 11:11] yvantina commented on #96
RE @halclark @coreysmart92 @amb141330 Roger is present in this podcast - can you also please add his name/pic on the website page ? http://creativedisturbance.org/podcast/egyptianart-ar/

[2015-07-06 18:46] cassininazir opened #107 "July Bumpers"
Be ready to present these in next week's Monday meeting:

**Rhythmically Inclined**
- first draft by **July 13**
- completed by **July 20**

**Meta-Life**
- first draft by **July 13**
- completed **July 20**

[2015-07-06 18:47] cassininazir opened #108 "July Bumpers (Corey)"
Be ready to present these in next week's Monday meeting:

**Virtual Africa**
- first draft by **July 20**
- completed by **July 27**

**Within the Margins**
- first draft by **July 13**
- completed **July 20**

[2015-07-06 19:18] cassininazir opened #109 "Combine Issues"
Use the [GitHub Issue Mover](https://github-issue-mover.appspot.com/) to transfer all repos into the [Podcasts](https://github.com/creativedisturbance/podcasts/issues) issue space.

Add appropriate labels when moving into this space. You may need to add new labels as well.

[2015-07-06 19:18] cassininazir opened #110 "New Bumpers"
_From @amb141330 on June 1, 2015 19:36_

Put the new bumpers on the experimental page.

_Copied from original issue: creativedisturbance/experimental#6_

[2015-07-06 19:18] cassininazir commented on #110
New bumpers are located in [CD 2.2.1.5](https://drive.google.com/drive/folders/0B0RS2YDJUln1fng5aTlnd0tzTXVZamZOeUdHckN0OEJ4RXVDZVFITHlHOTJ4bzdrdjZNNHc). There are four there.

[2015-07-06 19:18] cassininazir opened #111 "new bumper scheduling"
_From @rmalina on May 7, 2015 14:31_

ashton
can you make sure that you update the excel spread sheet- isnt that what we
agreed ? to track the new bumpers on the excel spraed sheet
anyway discuss with corey and josephine

can you tell me when the first new bumper will go up ?

roger

_Copied from original issue: creativedisturbance/experimental#4_

[2015-07-06 19:18] cassininazir commented on #111
_From @amb141330 on May 26, 2015 18:39_

First bumper should go up on 5/30/15. This will be completed by @coreysmart92  for The Bold Roast. Will figure out a good format to add to the excel sheet once we have decided on stingers for the month of June.

[2015-07-06 19:18] cassininazir commented on #111
Please also make sure that it appears on the Experimental Website and Soundcloud as well.

[2015-07-06 19:18] cassininazir commented on #111
_From @rmalina on June 27, 2015 8:32_

please work with the new channel producers of RAMI to develop a bumper/stinger with them-this is culturally sensitive so important to collaborate with them
roger
@coreysmart92 @cassininazir

[2015-07-06 19:22] #45 closed

[2015-07-07 16:27] cassininazir opened #112 "Home Page Image Too Large + Wrong Link"
@halclark, thanks for pulling the Polyglot image from the home page yesterday. A few additional things:
- **Remove the image link.** Clicking the image takes you to the Polyglot Day page. This shouldn't take you there.
- **The image is too large.** Reduce to half the current size.

Let me know if you need assistance.

[2015-07-07 16:29] cassininazir commented on #112
Also, **change the link on Tiny Thumbs** to https://twitter.com/tiny_thumbs. Looks like the website is down.

[2015-07-07 23:34] kkondas commented on #112
@cassininazir @halclark The site has been down, but we still have the Facebook if that helps: https://www.facebook.com/TinyThumbsArcade

[2015-07-08 04:16] halclark commented on #112
Reduced size of the logo to half of it's resolution, and changed the link
of the tiny thumbs logo to it's twitter page.

However, not sure why the homepage logo is still going to polyglot day. The
hyperlink on the image is set to view it on it's own. Help!

On Tue, Jul 7, 2015 at 6:34 PM, kkondas notifications@github.com wrote:

[2015-07-08 07:11] anvit commented on #112
Fixed it. The hyperlink for the featured page is currently set only through the code. Removed it for now.

[2015-07-08 09:36] rmalina opened #113 "podcast language missing in p and p mandlebroft title"
corey
todays podcast is in french but the (FR) doesn appear in the title
http://creativedisturbance.org/

-when you clock through to the podcast the (FR) is htere

roger

[2015-07-08 20:12] halclark commented on #113
Updated.

[2015-07-08 20:12] #112 closed, assigned to halclark

[2015-07-08 20:14] halclark commented on #113
Odd. Fixed in wordpress but not showing updates on the website. Will check later.

[2015-07-08 20:17] halclark commented on #113
Fixed.

[2015-07-08 20:17] #113 closed, assigned to coreysmart92

[2015-07-09 16:17] porteriffic opened #114 "Podcast with Susan Eriksson"
For [World Youth Skills Day](https://docs.google.com/document/d/1YXE71afggR8x4AJofYQHe75uEaSTMgkVdeClxksLLng/edit#)
Recording Monday morning @ 11am Central

[2015-07-10 16:53] #102 closed, assigned to nobody

[2015-07-11 09:50] rmalina opened #115 "clean up drop box after podcasts are published"
corey

please can you have someone  clean up the drop box files and remove from needs editing podcasts that are already
published on CD

the two podcasts  with J Mandelbrojt are still in pioneers and pathbreakers but are already on drop box

roger

cassini-i guess this needs to be part of the archiving process ?
@cassini @halclark

[2015-07-11 11:54] rmalina opened #116 "publish pioneers and pathbreakers p;odcast with edmond couchot"
corey
you can schedule for editing my first podcast with edmond couchot
this one for pioneers and pathbreakers and its in french

podcast is in drop box for p and p
and i submitted the fom

roger

[2015-07-11 13:57] rmalina opened #117 "pioneers and pathbreakers podcast with dan sandin"
corey
you can assign for editing my first podcast with dan sandin in pioneers and pathbreakers
you should have the form and podcast uploaded
if not tell me

tryiing to help build up the backlog-so schedule them one a week or something

roger

[2015-07-11 14:07] rmalina opened #118 "publish dan sandin no 2 in new leonardos"
corey
you can assign for editing my second podcast with dan sandin
which is for the New Leonardos channel

the podcast and forms were uploaded

if you cant find me tell me

roger

[2015-07-11 14:29] rmalina opened #119 "publish neil rolnick podcast no 1 in pioneers and pathbreakers"
corey
you can assign for editing my first podcast with neil rolnick in pioneers and pathbreakers
podcast and form should be there
if not, yell
roger

[2015-07-11 14:30] rmalina opened #120 "publish neil rolnick podcast no 2 in new leonardos channel"
corey
you can assign for editing my second podcast with neil rolnick to go into
new leonardos channel

the podcast and form should be there
if not, yell

roger

[2015-07-11 14:34] rmalina opened #121 "publish second podcast with edmond couchot"
corey
you can assign for editing my second podcast with edmond couchot which goes inte new leonardos
the form and podcast should be there

roger

[2015-07-13 01:18] porteriffic commented on #114
Discussion Outline:

"Hello and welcome to the Art & Earth Science channel on Creative Disturbance. My name is Josephine Porter and today I have with me the producer of the Art & Earth Science Channel, Susan Ericksson."
- Go ahead and tell us a little bit about yourself. What is your current profession?
- When did you discover your fascination/ passion for what you're currently doing?
- What goals

[2015-07-13 01:50] porteriffic commented on #103
@rmalina Should we expect to get a podcast from her? If so, I will make a note of it on our [WYSD Doc](https://docs.google.com/document/d/1YXE71afggR8x4AJofYQHe75uEaSTMgkVdeClxksLLng/edit) in the Google Drive.

[2015-07-13 06:09] rmalina commented on #103
go ahead and contact her
ccramer@nysci.org]

she said since its summer it may be hard to get podcasts from the students

roger @porteriffic
From: Catherine Cramer [mailto:ccramer@nysci.org]
Sent: Wednesday, June 10, 2015 9:25 PM
To: Malina, Roger
Cc: Stephen Uzzo; Lori Sheetz; Hiroki Sayama
Subject: Network Science posters from high school students

Hi Roger - I attended the Leonardo symposium in

[2015-07-13 22:45] cassininazir commented on #76
First of these will appear this week. Closing as well. Expecting [two additional](https://docs.google.com/document/d/1FWIowgmapa4oWz8yaSpvSMrZYRUQ6UmO4KbJxDco82Y/edit) from Corey and Hal next week.

[2015-07-13 22:45] #76 closed, assigned to nobody

[2015-07-13 22:55] porteriffic opened #122 "Noisy People Image"
Images for Noisy People on Libsyn are not correct. If you look back at the older ones, they are different AND they are the correct ones. The gray looking one is not correct.

[2015-07-14 19:18] cassininazir commented on #114
Not sure if the podcast happened yet. A few thoughts. Reword as needs so it's more comfortable for you:
- What are you doing to ensure you continue to grow and develop as a leader in your field?
- What sorts of things were you involved in as a young person that fostered the passion you currently have? How do you continue to "stoke the fire" currently?
- What impact, if any, have social networking

[2015-07-15 18:14] halclark opened #123 "improve work on the podcast cheat sheet for people submitting podcasts"
_From @rmalina on July 12, 2015 14:0_

we really need to improve the cheat sheet for people submitting podcasts -either new producers or people invited to submit a podcast-i worked on it a bit but right now it is really user unfriendly and i suspect incomprehensible to people trying to submit a podcast

https://docs.google.com/document/d/1Io4Cj1Btt56jifbt4I8R1K4fdX1JYHPEzaYHbLAQBKY/edit

the secti

[2015-07-15 18:15] halclark opened #124 "help lilla submit a podcast for new leonardos"
_From @rmalina on July 7, 2015 15:15_

please send instructions on how to sumit a podcast to

Lilla LoCurto loc.out@verizon.net

_Copied from original issue: creativedisturbance/intellectual-dating#19_

[2015-07-15 18:15] halclark commented on #124
_From @porteriffic on July 10, 2015 15:54_

@coreysmart92 I made some minor changes to the [Podcast Production Cheat Sheet](https://docs.google.com/document/d/1Io4Cj1Btt56jifbt4I8R1K4fdX1JYHPEzaYHbLAQBKY/edit). Please download this document as a PDF to send to Lilla and others you are assigned to. Call, email, or text if you need help compiling an email.

[2015-07-15 18:15] halclark opened #125 "help sasha submit a podcast to new leonardos"
_From @rmalina on July 7, 2015 15:13_

can you assign to someone

Sasha Petrenko sashpetrenko@gmail.com
Sasha Petrenko
5:44 PM (23 hours ago)

to roger
hello Roger

This sounds very intriguing. I will think on this a while and get back to you in a few weeks with more information and an abstract. I am quite sure I'd like to take advantage of this. I think I'd like to do something around the idea ar

[2015-07-15 18:15] halclark commented on #125
_From @rmalina on July 7, 2015 15:52_

she may want to set up a channel
can you also send her info how to set up a temporary channel
roger

sasha
if you want to do several podcasts that are somehow related thematically
we can actually set up a 'temporary channel" with you as producer
we can open the channel when you submit a first podcast then you can
add others as you have time- if they all have

[2015-07-15 18:15] halclark commented on #125
_From @rmalina on July 7, 2015 16:35_

This all sounds fantastic. I'm leaving for Germany in a few days to attend an Artist Residency in Bavaria. This will certainly be one of the projects I'll be working on. I think what I'll do is make a pilot so to speak, a shorter intro episode then on to my first interviewee. I've been reading up on techniques to record podcasts via Skype so I can do this all

[2015-07-15 18:15] halclark commented on #125
_From @rmalina on July 7, 2015 16:40_

corey
can you put setting up this new channel on the agenda for next monday- sasha
has several podcasts in prep and this will be a good way to build up backlog
she needs instructions both on
- how to set up a new channel/producer instructions
  -how to record and submit a podcast

this could be a channel like noisy people where we get totally ready podcasts s

[2015-07-15 18:16] halclark opened #126 "help marcy darnovsky submit a pocast for new leonardos channel"
_From @rmalina on July 7, 2015 15:10_

can you assign to someione to follow up to help
Marcy Darnovsky darnovsky@geneticsandsociety.org via alum.mit.edu
6:53 PM (22 hours ago)

to roger
Dear Roger,

Thanks for your email. The podcast compilation is a great idea. Would it be appropriate to suggest you open to posting radio programs on which I was interviewed?

Best
Marcy

_Copied from original issu

[2015-07-15 18:18] halclark opened #127 "help katharine hawthorne submit a podcast ffor new leonardos"
_From @rmalina on July 7, 2015 15:8_

can you assign to somomeone

helpKatharine Hawthorne kmhawthorne@gmail.com
submit a pre recorded postcast

roger
10:51 PM (18 hours ago)

to roger
Hi Roger,
We presented at the same LASER at Stanford in March, and I was happy to receive your email.  I am interested in publishing a podcast and would love to receive further instructions.
All best,
Katharine

_Co

[2015-07-15 18:19] halclark opened #128 "help mark lewis wagner submit a podcast"
_From @rmalina on July 5, 2015 8:47_

help mark submit a podcast
send him instructions on how to submit a podcast for new leonardos channel

josephine- to be assigned to someone to help build up the backlog

roger
@coreysmart92
Mark Lewis Wagner via yahoo.com
11:06 PM (11 hours ago)

to roger
Hey Roger, sounds great.I would like you to publish a podcast from me.
~Mark Lewis Wagner

Mark Lewis Wagn

[2015-07-15 19:39] halclark opened #129 "help marti hearst submit a podcast"
_From @rmalina on July 5, 2015 8:43_

josephine
can you assign this to someone to help this person submit a podcast for the
new leonardo channel-they need clear instructions on how to submit a podcast

roger

if you can get these podcasts submitted it will help you build up hte back log

roger

@coreysmart92

Marti A HEARST via alum.mit.edu
7:54 PM (14 hours ago)

to roger
I could be interested, b

[2015-07-15 19:39] halclark opened #130 "help julia buntaine submit a podcast"
_From @rmalina on July 5, 2015 8:40_

josephine
can you assign this to someone- i didnt mean you to do all of these but as you are the overall coordinator i thought it best to have you assign them

corey- there are now about 5 people willing to send in podcasts themselves-but we
need to get them clear instuctions how to submit podcasts-this will help you build up the back log
@coreysmart92

roger

[2015-07-15 19:39] halclark opened #131 "Morehshin Allahyari Suggestions"
_From @rmalina on July 1, 2015 17:59_

some great leads from a voice
to be followed up !!

roger---------- Forwarded message ----------
From: Morehshin Allahyari morehshin@gmail.com
Date: Tuesday, June 30, 2015
Subject: Creative Disturbance Metrics!
To: Creative Disturbance feedback.createdisturb@gmail.com

Hello,

Let me first say that I am so happy to see this being a discussion and issue Creati

[2015-07-15 19:39] halclark commented on #131
_From @heiwanalady on July 1, 2015 23:51_

this is awesome.

[2015-07-15 19:43] halclark opened #132 "Intellectual Dating Opportunity with Women and Science in Australia"
_From @porteriffic on June 19, 2015 23:59_

josephine

can you add this to the intellectual dating tracking list
to be coordinated with eun ah

i offered that we post any podcasts they send us

thanks

roger

keith
ccc eun ah

happy to discuss ideas- if you have announcements
we can send them out through our leonardo network lists

i thought i would mention that on our creative disturbance platfor

[2015-07-15 19:43] halclark opened #133 "Organise a Podcast for Bold Roast with Astrid Slegten and Klara Alen"
_From @rmalina on June 16, 2015 14:36_

josephine
another lead for a podcast -i have a talk and asked for people to self nominate
it worked !

we now have several of these now waiting to be recorded
maybe we should have each of the students take one of these
so we can get them done ?

roger

to Astrid, Koenraad
Astrid Slegten Astrid.Slegten@arts.kuleuven.be
cc: Koenraad Brosens Koen.Brosens@arts.k

[2015-07-15 19:43] halclark commented on #133
_From @rmalina on June 16, 2015 15:5_

josephine
great-they want to do the podcast themselves
can you send them instruction sheet ?

roger

astrid klara
excellent- and july is fine

i am copying this to josephine porter who is our creative
disturbance coordinator and will send you the instructions
for podcasts

the podcast should be in the form of a dialogue not
a presentation like in a conference

[2015-07-15 19:43] halclark commented on #133
_From @porteriffic on June 20, 2015 1:8_

Contacted Astrid and Klara. Waiting to hear back.

[2015-07-15 19:43] halclark commented on #133
_From @porteriffic on July 10, 2015 15:51_

Still have not heard back.

[2015-07-15 19:43] halclark commented on #133
_From @rmalina on July 11, 2015 19:48_

i will send them a nudge
roger

[2015-07-15 19:43] halclark commented on #133
_From @porteriffic on July 13, 2015 1:33_

Sounds good!

[2015-07-15 19:43] halclark opened #134 "Email "Daters""
_From @porteriffic on June 15, 2015 18:58_

Check in on "daters" and find out if there was an outcome.

_Copied from original issue: creativedisturbance/intellectual-dating#5_

[2015-07-15 19:44] halclark opened #135 "Set Up Podcast with Elena Cologni"
_From @rmalina on June 13, 2015 20:39_

o Josephine, Elena
elena
assume this is to do a creative disturbance podcast
would be delighted to set one up
what would you like to talk about !

roger malina

_Copied from original issue: creativedisturbance/intellectual-dating#4_

[2015-07-15 19:44] halclark commented on #135
_From @rmalina on June 13, 2015 20:41_

elena cologhni is at
Elena Cologni ecologni@gmail.com
web site
http://www.elenacologni.com/index2.htm
can you assign this to one of the production team ?
i can be in the podcast with her

[2015-07-15 19:44] halclark commented on #135
_From @rmalina on June 14, 2015 8:27_

Hi Roger
I think the topic would be 'disruptions in processes of memorisation' as it was discussed in
http://rockfluid.com/cambridge-science-festival-2012 and informed the participatory
http://rockfluid.com/spaecious  and http://rockfluid.com/bergamo-spaecious which 'creates the physical and  psychological conditions to enhance an  awareness of the perception

[2015-07-15 19:44] halclark commented on #135
_From @porteriffic on June 20, 2015 0:31_

@amb141330 Would you be willing to set this up after you return from vacay?

[2015-07-15 19:44] halclark opened #136 "Record Podcast with Nigerians"
_From @rmalina on June 7, 2015 9:19_

for yvan tina
@porteriffic

Dear R. O. ROM KALILU, T. E. AKINDE and G. N. OGWU

This is roger malina, executive editor of the leonardo publications

thank you for submitting your text

FRUIT PEELINGS AS ASH GLAZES:
WASTE PHENOLOGY AND ARTISTIC PRAXIS

the topic is a bit outside our normal editorial scope but as a technical
article it brings an interesting topi

[2015-07-15 19:44] halclark commented on #136
_From @yvantina on July 3, 2015 10:53_

@rmalina Have sent an email to both  Kalilu et.al AND Morgan Trevor 3 weeks ago. Have not received any reply yet.

[2015-07-15 19:45] halclark opened #137 "Do a Podcast with ATEC Student Carlos Harleaux"
_From @rmalina on June 6, 2015 20:55_

roger to do in august for bold roast
roger

_Copied from original issue: creativedisturbance/intellectual-dating#1_

[2015-07-15 19:45] halclark opened #138 "drop box problem"
_From @rmalina on July 15, 2015 17:46_

we still have a drop box problem
can you reply to her ?
roger
Hi

This is Annick Bureaud, the producer of Audiolats.
I wanted to upload 2 new podcasts for my Disturbances Audiolats and Meta-Life but it says that _my_ dropbox is full.
I thought that I were uploading in _your_ dropbox.
Roger said that I should contact you as I were not the only one that had fa

[2015-07-15 19:46] halclark opened #139 "Possible New Channel Climate sHeros"
_From @rmalina on July 12, 2015 14:38_

possible new channel for discussion monday
@coreysmart92 @porteriffic
 from tara deporte

she has this podcast series called climate (s)heros of women in climate change
Wonderful!
Also, feel free to repost and share our current podcasts for Human Impact Stories:  HumanImpactsInstitute.org/HumanImpactStories

is there an easy way for us to create a channel wi

[2015-07-15 19:46] halclark opened #140 "organise dave burraston podcast"
_From @rmalina on July 8, 2015 9:54_

josephine
not sure who this is assigned to to coordinate with burraston to get his podcast
can you assign this to the right person ?
roger

Dave Burraston
4:42 AM (7 hours ago)

to roger, Creative
hi

yes very keen to do this, it will be very good for the rainwire project. i am not sure where we start tho, do u want me to send you a finished podcast of just me

[2015-07-15 19:46] halclark commented on #140
_From @porteriffic on July 9, 2015 2:11_

@rmalina I was originally going to handle this but never heard back from Dave until you emailed him. I can assign another person to this.

[2015-07-15 19:46] halclark commented on #140
_From @rmalina on July 9, 2015 13:4_

ok fine to reassign
hal ?
roger

[2015-07-15 19:46] halclark opened #141 "Develop Clearer Guidelines for People to Submit Their Own Podcasts"
_From @rmalina on July 4, 2015 9:57_

to help create a back log of podcasts i have send an email to leonardo authors to submit their own podcasts (ie that the record themselves and send it)

the cheat sheet i sent them is the one for producers but i really think we need one redone for people to submit their own podcasts

ie Creative Disturbance Podcast Submittion Guidelines

can you rework this an

[2015-07-15 19:46] halclark opened #142 "Make sure we are "following" our community on social media platforms"
_From @porteriffic on June 26, 2015 3:12_

Go through our Voices and Producers and see if they have Twitter, Facebook, and make sure we are following them.

@anvit Is there a way to check this without having to manually go to each person's "page" on WordPress?

_Copied from original issue: creativedisturbance/administrative#82_

[2015-07-15 19:46] halclark opened #143 "change procedure so ENG is indicated for podcast titles in english"
_From @rmalina on June 23, 2015 20:15_

right now podcasts in english dont have ENG as the indicated language of the podcast
podcasts in all other languages indicate the language
if we want to be multilingual we should treat all languages equally
roger
@coreysmart92

_Copied from original issue: creativedisturbance/administrative#81_

[2015-07-15 19:47] halclark opened #144 "Archive Adventures in Crowdfunding Channel"
_From @rmalina on June 21, 2015 20:5_

david marlett doest plan to produce any more podcasts for the crowdfunding channel ( he will for cinemersia) - maybe we should create an archive section for channels that are no longer active ?
or find someone else to produce podcasts for the crowdfunding channel ?
roger @cassininazir @coreysmart92

_Copied from original issue: creativedisturbance/administrat

[2015-07-15 19:47] halclark commented on #144
_From @porteriffic on June 22, 2015 17:8_

@anvit Is there a way we can archive the Adventures in Crowdfunding channel? If not, can we create an archive page?

[2015-07-15 19:47] halclark commented on #144
_From @rmalina on June 22, 2015 20:56_

we need to keep the podcasts up- but somehow indicated that the channel is archival
and we can solicit crowdfunding related podcasts but will need a new channel producer
roger

[2015-07-15 19:47] halclark commented on #144
_From @anvit on June 24, 2015 20:21_

@porteriffic There isn't a way to archive the channels at the moment but I can create a separate archive page and set up a simple process for showing the archived channels only on the archives page.

[2015-07-15 19:47] halclark commented on #144
_From @porteriffic on June 24, 2015 20:53_

@anvit Yes, I think ideally we'd like to still have the channel and podcasts available for listening or downloading so a separate page would work, I think. I'll be in the lab Thursday morning around 10am if you'd like to discuss.

[2015-07-15 19:47] halclark commented on #144
_From @anvit on June 24, 2015 21:11_

@porteriffic Will you still be here around 11am? I'll try coming earlier but I most probably will reach the lab around 11.

[2015-07-15 19:47] halclark commented on #144
_From @porteriffic on June 24, 2015 23:24_

@anvit Yup! I'll be there. I have to leave around 11:30 though. See you then!

[2015-07-15 19:47] halclark commented on #144
_From @heiwanalady on June 25, 2015 0:24_

@porteriffic will you still be meeting me and Cassini at the lab at 10am on
Thursday?

On Wednesday, June 24, 2015, porteriffic notifications@github.com wrote:

##

--- Sent from Stephanie's iPhone ---

[2015-07-15 19:47] halclark commented on #144
_From @porteriffic on June 25, 2015 0:38_

@heiwanalady Yup! I'll be there!

[2015-07-15 19:47] halclark opened #145 "Transfer of Producer for The Bold Roast"
_From @heiwanalady on June 17, 2015 20:22_

@porteriffic , Just got off a Skype with @rmalina

We need to discuss how to transfer producer duties to different person for The Bold Roast as well as discuss the possibility of using ArtSciLab alumni/alumna as the producers for the channel?

How do we keep the alumni/alumna involved after they've graduated and maintain that network?

I'd be open to co-

[2015-07-15 19:47] halclark commented on #145
_From @sayloo on June 18, 2015 0:7_

I'd be more than happy to voluntarily work for the lab :+1:

[2015-07-15 19:47] halclark commented on #145
_From @porteriffic on June 18, 2015 0:51_

This issue has been on the back burner for a while. I'd be more than happy to meet up to discuss.

@sayloo That would be awesome!

[2015-07-15 19:47] halclark commented on #145
_From @heiwanalady on June 25, 2015 16:49_

@rmalina @cassininazir @porteriffic @sayloo @anvit @heiwanalady

Josephine and I met this morning about how to handle this - and we are going to extend the invitation to Sruthi, Anvil, Cathryn and myself to run The Bold Roast together as an alumnae/alumna team :)
Still need to email Cathryn about this. I'm sure it will be easy to run the channel with 4+

[2015-07-15 19:47] halclark commented on #145
_From @rmalina on June 25, 2015 20:30_

i think this is a FANTASTIC idea !!

[2015-07-15 19:47] halclark commented on #145
_From @porteriffic on June 26, 2015 16:38_

Sruthi has agreed to be a producer!

[2015-07-15 19:47] halclark commented on #145
_From @porteriffic on July 10, 2015 16:56_

Anvit and Stephanie agreed to be producer as well. Have not heard back from Cathryn

[2015-07-15 19:48] halclark opened #146 "Email to Producers (Metrics, Podcasts, etc)"
_From @porteriffic on June 15, 2015 18:23_

Email community about the following:
- ~~Emails about upcoming days in July and August~~
- Let producers know how their channel is doing and give them stats.
  - Emailed Scot and Tim so far. Will email more over the weekend and after I collect stats for Polyglot.
- If a producer isn't bringing in podcasts, let them know and encourage them and offer assis

[2015-07-15 19:48] halclark commented on #146
_From @porteriffic on June 16, 2015 3:33_

Started working on drafts for the these emails. Will send out top priority ones tomorrow and the others on Thursday.

[2015-07-15 19:48] halclark opened #147 "Set Up "Pioneers in Print, Poetry & Performance between 1960s-1980s" Channel"
_From @rmalina on June 13, 2015 12:33_

poe
can you work with josephine to set up bronac's
new creative disturbance channel "P4"

bronac you need to fill out a new channel form-
and get the new instructions for producers and
making podcasts
work wiht poe to set up bronac ferran's new channel

 Pioneers in Print, Poetry & Performance between 1960s-1980s

roger
roger

On Wed, Jun 10, 2015 at 1:24 PM

[2015-07-15 19:48] halclark commented on #147
_From @porteriffic on June 19, 2015 22:48_

I've contacted Bronac about this channel. Waiting to hear back.

[2015-07-15 19:48] halclark commented on #147
_From @porteriffic on June 30, 2015 23:47_

Still have not heard from Bronac or Poe.

[2015-07-15 19:48] halclark commented on #147
_From @porteriffic on July 5, 2015 22:54_

Heard back from Bronac. She will get back to be in the next two days.

[2015-07-15 19:48] halclark commented on #147
_From @porteriffic on July 10, 2015 16:55_

Bronac is in the process of filling out forms and getting a podcast ready.

[2015-07-15 19:48] halclark opened #148 "Appoint First Creative Disturbers from Kickstarter Funds"
_From @rmalina on June 5, 2015 8:42_

i had very succesful meetings in lisbon with patricia correia, anna rita fonseca and sam meyler
they have accepted to be our first creative disturbers with three $1000 grants to crowd source content
their channel will be called "roots of curiosity- with a formal launch planned for october when they have a book coming out with the same title

stephanie-i dont k

[2015-07-15 19:48] halclark commented on #148
_From @heiwanalady on June 5, 2015 20:33_

@rmalina - I will try and do as much as I can before I leave! I'm glad the
meeting went well! How was Lisbon?!

On Fri, Jun 5, 2015 at 3:42 AM, rmalina notifications@github.com wrote:

[2015-07-15 19:49] halclark opened #149 "Intellectual Dating Opportunity with Women and Science in Australia"
_From @rmalina on May 30, 2015 10:8_

josephine

can you add this to the intellectual dating tracking list
to be coordinated with eun ah

i offered that we post any podcasts they send us

thanks

roger

keith
ccc eun ah

happy to discuss ideas- if you have announcements
we can send them out through our leonardo network lists

i thought i would mention that on our creative disturbance platform
www.

[2015-07-15 19:49] halclark commented on #149
_From @porteriffic on June 2, 2015 1:56_

@rmalina Added to the Intellectual Tracking Sheet.

Just a heads up, Eun Ah won't be delivering her podcast to us until after June. In the mean time, Stephanie is already working on the logo and I'll be setting up her channel. It won't go live until I get a podcast from Eun Ah.

[2015-07-15 19:49] halclark commented on #149
_From @porteriffic on June 19, 2015 23:58_

Moving this to the Intellectual-Dating repository.

[2015-07-15 19:49] halclark opened #150 "Student Grant to Egyptian Student"
_From @rmalina on May 29, 2015 20:1_

podcast voice haytham nawar teaches at the american university in cairo egypt- he says he has a student that could produce some podcasts

haytham is at Haytham Nawar haythamnawar@gmail.com

yvan tina is a liaison as haytham just did a podcast on virtual africa channel

josephine you need to discuss this with stephanie as this would be implemented
after she lea

[2015-07-15 19:49] halclark commented on #150
_From @porteriffic on June 2, 2015 1:37_

@heiwanalady Maybe we can Skype or meet up this week? I'm flexible.

[2015-07-15 19:49] halclark commented on #150
_From @heiwanalady on June 4, 2015 17:51_

@porteriffic I'm available! just let me know a time.

On Mon, Jun 1, 2015 at 8:37 PM, porteriffic notifications@github.com
wrote:

[2015-07-15 19:49] halclark commented on #150
_From @porteriffic on June 9, 2015 19:8_

@heiwanalady Sorry for the late response. Can we Skype tomorrow morning? Around 10?

[2015-07-15 19:49] halclark commented on #150
_From @heiwanalady on June 9, 2015 23:5_

@porteriffic sure, that should work for me.

On Tue, Jun 9, 2015 at 2:08 PM, porteriffic notifications@github.com
wrote:

[2015-07-15 19:49] halclark commented on #150
_From @rmalina on June 10, 2015 6:38_

i am travelling today and cant do a skype but maybe you can go ahead and keep this moving
roger

[2015-07-15 19:49] halclark commented on #150
_From @heiwanalady on June 23, 2015 22:28_

**Just sent Nawar this email:**

Mr. Nawar,

I work with Yvan Tina and Dr. Roger Malina on Creative Disturbance and am currently coordinating the perk fulfillments for our recent Kickstarter. I believe you mentioned you had an Egyptian student in mind as a potential recipient of our International Student Grant. I would love to discuss this further with y

[2015-07-15 19:49] halclark commented on #150
_From @cassininazir on July 13, 2015 22:37_

@linamoon including you on this thread.

[2015-07-15 19:49] halclark opened #151 "VOTC Podcast with Dave Burraston"
_From @porteriffic on May 26, 2015 21:30_

Contact Dave and give him necessary cheat sheets for making a podcast for Voices of the Crowd.

_Copied from original issue: creativedisturbance/administrative#57_

[2015-07-15 19:49] halclark commented on #151
_From @porteriffic on May 27, 2015 2:47_

Contacted Dave. Waiting to hear back.

Sorry, Roger. I forgot to CC you. I'll CC you when he responds.

[2015-07-15 19:49] halclark commented on #151
_From @porteriffic on May 28, 2015 18:55_

I've given Dave cheat sheets. Waiting to hear back.

[2015-07-15 19:49] halclark commented on #151
_From @porteriffic on June 2, 2015 1:38_

Still no response from Dave. (As of 6/1/2015)

[2015-07-15 19:49] halclark commented on #151
_From @porteriffic on June 5, 2015 19:13_

Still no response from Dave. (As of 6/5/2015)

[2015-07-15 19:49] halclark commented on #151
_From @rmalina on June 5, 2015 22:48_

just put this action on hold-roger

[2015-07-15 19:49] halclark opened #152 "Provide a demo of Echo360"
_From @cassininazir on May 26, 2015 18:12_

Please get up to date on Echo360 by June 9. What that includes:
- A demo recording, which might take the form of a tutorial
- Screen captures
- Explore the interface and become knowledgable about how to use/troubleshoot

Include any questions you have about the system.

Be ready to present in the Monday meeting on June 15.

_Copied from original issue: c

[2015-07-15 19:49] halclark commented on #152
_From @amb141330 on May 26, 2015 18:28_

Will contact Echo360 at UT Dallas to setup a training seminar.

[2015-07-15 19:49] halclark commented on #152
_From @cassininazir on May 26, 2015 18:30_

Email from Echo360 people:

Thank you for requesting an Echo 360 account. Your account has been created, and your username is cnazir. Please call extension 4900 to receive your password and login instructions from a member of the Echo 360 team. Once you have your password you may login here - https://utdechoapp01.utdallas.edu:8443/ess/login.jsp and chang

[2015-07-15 19:49] halclark commented on #152
_From @amb141330 on June 3, 2015 22:2_

Called and got my information. The person who sets up the training was not in the office today so I sent an email. Will call again tomorrow.

[2015-07-15 19:51] halclark opened #153 "How can we record Jabber sessions"
_From @cassininazir on May 25, 2015 19:5_

Find out how we may record Jabber sessions and create a sheet for it. Let's discuss in our Tuesday session.

_Copied from original issue: creativedisturbance/administrative#54_

[2015-07-15 19:51] halclark commented on #153
_From @amb141330 on May 26, 2015 18:34_

We can check and see if we can use FRAPS with Jabber sessions.

http://stream-recorder.com/forum/record-save-capture-jabber-xmpp-video-chat-t9701.html

That link talks about two different options for recording those sessions as well.

[2015-07-15 19:51] halclark commented on #153
_From @cassininazir on May 26, 2015 18:34_

Please connect with Brian Merlo by end of week on this issue.

[2015-07-15 19:51] halclark commented on #153
_From @amb141330 on May 26, 2015 18:35_

Waiting to hear back from Brain.

[2015-07-15 19:51] halclark opened #154 "Create Hand-off Template for Students"
_From @cassininazir on May 22, 2015 19:30_

This should allow any of the lab students to be able to wrap up at the end of semesters effectively and transfer knowledge.

Initial thoughts on document outline:
- Scope
- Responsibilities, duties
- Passwords
- Code
- ??

_Copied from original issue: creativedisturbance/administrative#53_

[2015-07-15 19:51] halclark opened #155 "Kyle - Update Job Description"
_From @rmalina on May 18, 2015 20:23_

kyle
can you update your job description in the job description book and set up
a skype with me
roger

_Copied from original issue: creativedisturbance/administrative#49_

[2015-07-15 19:52] halclark opened #156 "Create a Style Guide for Dropbox Procedure"
_From @porteriffic on May 15, 2015 22:11_

How to share folders with Producers. How to create a new folder for a channel. What goes in the folder. So on and so forth.

_Copied from original issue: creativedisturbance/administrative#48_

[2015-07-15 19:52] halclark commented on #156
_From @porteriffic on May 26, 2015 2:17_

Will be cleaning up DropBox this week and transitioning Producers over to new folders. Will work on Style Guide once that has been completed

[2015-07-15 19:52] halclark commented on #156
_From @porteriffic on May 27, 2015 3:2_

@cassininazir Would like your feedback. I've created the new folders but the only way I can share is if Dropbox sends an invite. For example, Roger's a producer for multiple channels, he'll multiple emails from Dropbox for each invite I send to him. Not sure how to handle this...

[2015-07-15 19:52] halclark commented on #156
_From @cassininazir on May 27, 2015 3:6_

I think that Roger will be the exception. I can't think of any other producers in the same boat, except perhaps Yvan. Because they are part of the project team, we can setup a folder for them specifically.

[2015-07-15 19:52] halclark commented on #156
_From @porteriffic on June 2, 2015 2:14_

@cassininazir I've assigned Kyle to start helping the team manage Dropbox. I will help send out the emails but after that I will need someone to take over Dropbox issues.

[2015-07-15 19:52] halclark opened #157 "Create a Style Guide for Emails"
_From @porteriffic on May 14, 2015 22:6_

Need a template for sending emails out to the community.

Template for upcoming events, podcasts, metrics, coordinating, etc.

_Copied from original issue: creativedisturbance/administrative#47_

[2015-07-15 19:52] halclark commented on #157
_From @porteriffic on May 18, 2015 19:30_

Use Cassini's redesigns

[2015-07-15 19:52] halclark commented on #157
_From @cassininazir on May 19, 2015 4:9_

Working on final version of write up here is example of template so far.

![template](https://cloud.githubusercontent.com/assets/1661430/7695280/e5702ba6-fdb2-11e4-8c31-2490a199f298.jpg)

[2015-07-15 19:52] halclark commented on #157
_From @porteriffic on May 19, 2015 22:5_

Created a brief guideline. I've asked Stephanie to take a look when she gets a chance. @cassininazir You are welcome to add to it as well.

[CD 2.2.6.4 Emails to Producers and Voices](https://docs.google.com/document/d/1l8OuGDLnWTP17HUtzj3A_7UTVcc4_Kb9T61QKRScG-c/edit)

[2015-07-15 19:52] halclark commented on #157
_From @cassininazir on May 19, 2015 22:10_

This is very good. Uploaded the intriguingly awfully titled [How to Create Email Newsletters that Don't Suck](https://drive.google.com/open?id=0BwvQhnxKj6jFcV9QRnpFRmx5NmM&authuser=0) from HubSpot to Google docs. Recommend reviewing that as well.

[2015-07-15 19:52] yvantina commented on #136
Morgan replied. Will do a podcast soon.. TBD

[2015-07-15 19:52] halclark opened #158 "Email Ann Maria De Mars (Ronda Rousey's mom)"
_From @porteriffic on April 28, 2015 1:54_

Ask Anna Maria De Mars if she can talk about STEM careers??? Possible podcasts?

_Copied from original issue: creativedisturbance/administrative#30_

[2015-07-15 19:52] halclark commented on #158
_From @porteriffic on April 28, 2015 19:45_

annmaria@thejuliagroup.com

[2015-07-15 19:52] halclark commented on #158
_From @cassininazir on April 29, 2015 3:0_

Thanks, @kkondas for finding the email address! @porteriffic would love to see this happen.

[2015-07-15 19:52] halclark commented on #158
_From @porteriffic on April 29, 2015 3:53_

Yes, thank you, @kkondas! This will be my summer project! :+1:

[2015-07-15 19:52] halclark commented on #158
_From @porteriffic on May 19, 2015 22:15_

I'll email her once I get my official Creative Disturbance email address linked with my current one so I don't look like some creeper.

[2015-07-15 19:53] halclark opened #159 "Proposal to do Yuri's Night (April 12, 2016)"
_From @rmalina on April 27, 2015 13:58_

colleagues

AUDIOLATS space exploration and the arts producers are proposing a theme week
for 12 april 2016

on the topic of the artist as space explorer

roger

About Yuri’s Night
Our Roots

Yuri’s Night is a global celebration of humanity’s past, present, and future in space. Yuri’s Night parties and events are held around the world every April in commemo

[2015-07-15 19:53] halclark opened #160 "Community Building Plan"
_From @porteriffic on February 18, 2015 0:48_

Focus on fleshing out CBP. (Especially for producers). Include frequency of contacting producers (and team).

_Copied from original issue: creativedisturbance/administrative#1_

[2015-07-15 19:53] halclark commented on #160
_From @porteriffic on March 2, 2015 18:39_

Work with Cassini, Vivek, and Chaz.

[2015-07-15 19:53] halclark commented on #160
_From @porteriffic on May 13, 2015 2:9_

Tag @mitpress on Twitter so they can retweet.

[2015-07-15 19:53] halclark commented on #160
_From @porteriffic on May 13, 2015 23:15_

Dedicate a section to Social Media Prep

[2015-07-15 19:53] halclark commented on #160
_From @porteriffic on May 13, 2015 23:15_

Located in Google Drive. [CD 2.1.5 Community Building Plan](https://docs.google.com/document/d/1qOUdULI8sq3-Lls5S6obyZDaVqEG_tt4aHdpKh75S5w/edit).

[2015-07-15 19:53] halclark commented on #160
_From @porteriffic on May 23, 2015 1:58_

Added a few more things. Would like to sit down with @cassininazir to talk about it more.

[2015-07-16 07:47] rmalina commented on #159
hal
@ChazLilly
hal- this needs to be coordinated with chaz lilly who will work with annick bureaud
on organising the content for yuri's night on  CD next april
chaz is producing an arts and space exploration ebook that will be out by
then and we can do podcasts with some of the article authors

roger

[2015-07-16 09:56] rmalina commented on #150
please do not contact egyptian contact until you coordinate with yvan tina as he
is in charge of our collaboration with haytham
roger
@linamoon @halclark @yvantina

[2015-07-16 17:16] cassininazir opened #161 "Create tool that auto-posts other podcast feeds into Creative Disturbance feed"
This tool should allow other podcast feeds to be included in:
- WordPress (channels, images, podcasts, and voices)
- LibSyn

It should automatically pick up new podcasts. The feed we’ll need to add in is:

http://futurelabafrica.org/feed/podcast

Please use development server to create.

[2015-07-16 17:40] rmalina commented on #161
cassiini @cassininazir

if you figure out how to aggregate the futureafrica lab
i have approval also to aggregate these podcasts

http://www.humanimpactsinstitute.org/#!human-impact-stories/c1cet

roger

[2015-07-16 19:40] heiwanalady commented on #148
@rmalina Am transferring this knowledge to lina. We had a meeting today!

[2015-07-17 15:49] porteriffic opened #162 "World Day for Audiovisual Heritage"
Contact Frank Dufour about this event ASAP.

Describe what we'd like from him and ask him for possible podcast/ideas.
Coordinate with Josephine and/or @cassininazir. Refer to [CD 2.2.10 Feature Day Action Plan](https://docs.google.com/document/d/1lA0UaMrmaxg-rOLGox4mCvvn_tB3DBqwo5PoWWsPgZA/edit#) for more info.

[2015-07-17 19:45] rmalina opened #163 "publish olats podcasts one a week for next two weeks"
corey
can you coordinate with yvan to get these podcasts into the excel
and then published

they need NO editing needed
as with me i suggest you go ahead now and schedule these one a week

@yvantina
roger

Yvan Hello,

I have sent the forms for the 2 Trust Me, I'M An Artist podcasts that I did in London in April.
I have sent you the podcasts themselves earlier this week.
You already have my pictur

[2015-07-17 19:54] rmalina opened #164 "for monday meeting- metrics on whether we are posting 5 podcasts a week"
corey

for the monday meeting can you present a summary of how many podcasts
a week you have published each week during the summer- say since may 1

and whether you have been publishing on the average 5 a week

if you have been publishing 5 a week we have met our goal for summer weeks

if not lets discuss how you can make sure that for the rest of the summer
at leat 5 podcasts a week go up each we

[2015-07-18 08:55] rmalina opened #165 "new leonardo podcasts with tara deporte- please give priority"
corey
i just loaded two podcasts into the new leonardo's channel
with Tara DePorte

since this is with a woman guest can you give it priority to publish ahead
of all the podcasts i have loaded with male guests

thanks

also she is talking about the UN environmental conference COP 21 in december
which would be a natural theme for us

roger

[2015-07-18 09:08] rmalina opened #166 "nov/dec art and climate change month for COP 21"
hal

i have a strong recommendation that from nov 20 to dec 20 we do a month
on art and climate change- with susan erickson but also tara deporte-see details
below

i have added to your document

roger

http://www.cop21.gouv.fr/en/cop21-cmp11/what-cop

In 2015, France will be hosting and presiding the 21st Session of the Conference of the Parties to the United Nations Framework Convention on Clima

[2015-07-20 07:03] halclark opened #167 "inform producers of where new forms are"
_From @rmalina on July 19, 2015 7:33_

pleaes inform the producers of where the forms are and ask them to report
any problems

anvit- where are you on being able to save incomplete forms ?
@anvit

roger

tim
i totally apologise for this- you should have received an email as a producer
the forms are now at

http://creativedisturbance.org/forms

anvit is working on improving the forms -and also so y

[2015-07-20 07:03] halclark opened #168 "Update Virtual Africa Producers"
_From @yvantina on July 3, 2015 10:45_

Welcoming Marcus Neustetter on board ! @cassininazir @porteriffic @ChazLilly  @anvit  Do you mind updating this page http://creativedisturbance.org/channel/virtual-africa/  this way as Marcus is co-producing the channel with me now ?  "Hosted by Marcus Neustetter and Yvan Tina"
Please remove Roger's and Annick's name. Thank you !

_Copied from original issue

[2015-07-20 07:03] halclark opened #169 "Breakdown Steps Needed to Create Community Building Plan with Cassini"
_From @cassininazir on March 2, 2015 20:37_

_From @cassininazir on January 28, 2015 18:40_

**Discover**
0. Business Model Canvas
1. Data audit of current information available from various online resources
2. Identify information we need
3. Identify measures of success, metrics
4. Benchmark: competition/collaborators
5. Conduct ethnographic research with local users to test our persona hypothesi

[2015-07-20 07:03] halclark commented on #169
_From @cassininazir on March 2, 2015 20:37_

Thoughts from 30 Jan. meeting:
- Letters of introduction have more cache than generic emails. Email of introduction.
- How to create a portrait of the community
- "Featured ears" is it possible to identify listeners on the website and say here's who is listening

[2015-07-20 07:03] halclark commented on #169
_From @cassininazir on March 2, 2015 20:37_

We need to flesh out how to best communicate with producers and how often. Perhaps monthly to update them and check if they have anything upcoming.

[2015-07-20 07:03] halclark commented on #169
_From @cassininazir on March 2, 2015 20:37_

Discuss with Max Schich how to visual this information and make sense of it.

[2015-07-20 07:03] halclark commented on #169
_From @cassininazir on March 2, 2015 20:37_

INclude international members in user testing.

[2015-07-20 07:03] halclark opened #170 "New RAMI Channel"
_From @yvantina on May 26, 2015 21:26_

@cassininazir @heiwanalady @rmalina
Cassini, I've been contacted by Renaud Vercey and Claudine Dussolier this morning for an inquiry about their channel (Stephanie created their logo over 3 months ago). So they have 2 new podcasts both in english and arabic that are ready to be edited/published and are wondering what is the next step..I thought it would be g

[2015-07-20 07:03] halclark commented on #170
_From @heiwanalady on May 26, 2015 21:58_

Awesome! That's perfect. Let me know if they need help with anything
concerning their album artwork.

Best,
Stephanie

On Tue, May 26, 2015 at 4:26 PM, yvantina notifications@github.com wrote:

[2015-07-20 07:03] halclark commented on #170
_From @cassininazir on May 27, 2015 5:15_

We've received the forms for the RAMI channel back in February so **we can create the channel**. We haven't yet received any forms for the podcasts. **Next step is to turn in forms for the two new podcasts.**

[2015-07-20 07:03] halclark commented on #170
_From @yvantina on May 27, 2015 6:45_

Sounds great ! Thanks

[2015-07-20 07:03] halclark commented on #170
_From @porteriffic on June 5, 2015 19:16_

I can start working on getting the channel up as soon as Monday.

[2015-07-20 07:03] halclark commented on #170
_From @yvantina on June 18, 2015 22:7_

@porteriffic @heiwanalady @cassininazir @coreysmart92 @amb141330
Josephine, any update on that ? can the RAMI channel be ready for next week ? I told them it would be up for polyglot day.. Also, did the sound team received all the forms for the podcasts ? meanwhile I suggest you create a new RAMI folder on Dropbox which would allow them to upload their own f

[2015-07-20 07:03] halclark commented on #170
RAMI channel is up

[2015-07-20 07:03] halclark commented on #170
_From @rmalina on July 17, 2015 18:53_

the rami channel is already up
http://creativedisturbance.org/channel/rami/
roger

[2015-07-20 07:03] halclark opened #171 "Procedure for creating Splash page images"
_From @cassininazir on May 11, 2015 18:45_

Continue to add to [CD 2.1.5](https://docs.google.com/document/d/1ZcSPNNKoEBiKdFMP4lEb-QtYoLpFxI_Hg1qgKeDoerg/edit)

_Copied from original issue: creativedisturbance/public-website#109_

[2015-07-20 07:03] halclark opened #172 "Change update process for 'featured voices'"
_From @rmalina on May 8, 2015 17:26_

the 'featured voices' list is not getting up dated at the same time as the featured pocasts
is getting updated

suggest you modifiy process so that the featured voics are automatically updated with the featured podcasts and are those voices

roger

_Copied from original issue: creativedisturbance/public-website#107_

[2015-07-20 07:03] halclark commented on #172
_From @porteriffic on May 8, 2015 22:2_

Voices must be updated manually. Will work with dev team to make it so that it is updated automatically.

[2015-07-20 07:03] halclark commented on #172
_From @cassininazir on May 19, 2015 4:54_

@anvit am assigning this to you.

[2015-07-20 07:04] halclark opened #173 "Investigate plugin that auto creates a bit.ly link"
_From @cassininazir on April 27, 2015 19:33_

https://wordpress.org/plugins/bitly/

_Copied from original issue: creativedisturbance/public-website#101_

[2015-07-20 07:04] halclark opened #174 "Let's test the website and podcast through multiple platforms and OSs"
_From @cassininazir on April 24, 2015 17:19_

_Copied from original issue: creativedisturbance/public-website#99_

[2015-07-20 07:04] halclark opened #175 "Amartya Sen Podcast"
_From @cassininazir on April 24, 2015 17:9_

Let's create momentum around this. We should celebrate on home page.

@ChazLilly let's discuss and plan.

When can we expect the first one to release? Perhaps for our 100th podcast?

_Copied from original issue: creativedisturbance/public-website#98_

[2015-07-20 07:04] halclark opened #176 "Changes to Experimental Space"
_From @cassininazir on April 14, 2015 17:6_
- Remove “test” items in portfolio
- Add link back to Creative Disturbance in main navigation and also in footer
- Top area that says “Creative Disturbance” should append “Experimental” making it “Creative Disturbance Experimental” and linking to Experimental home page.
- Add this to custom CSS: i.ion.ion-ios7-pulse { display: none !important }
- Add tag

[2015-07-20 07:04] halclark opened #177 "Blog post about DOI"
_From @cassininazir on April 3, 2015 17:28_

Explain what it is, the value and use to the audience.

When something is heavily cited, we offer to host it or archive it.

_Copied from original issue: creativedisturbance/public-website#87_

[2015-07-20 07:04] halclark opened #178 "Job Description for New Position"
_From @cassininazir on March 30, 2015 19:28_

Will need to get the position out soon. Write up using current docs.

_Copied from original issue: creativedisturbance/public-website#84_

[2015-07-20 07:04] halclark opened #179 "CF Perks Fulfillment"
_From @heiwanalady on March 30, 2015 17:15_

T-shirt and sticker designs are completed.
Currently waiting on people to respond to the survey with their t-shirt size and shipping address.

people who haven't responded to survey:
people who have:

_Copied from original issue: creativedisturbance/public-website#81_

[2015-07-20 07:04] halclark commented on #179
_From @heiwanalady on April 6, 2015 20:17_

Just got a full cost estimate from the vendor today! Waiting for Roger's approval.

[2015-07-20 07:04] halclark commented on #179
_From @porteriffic on May 8, 2015 16:11_

Already have stickers and t-shirts. Will work on putting together packages starting end of next week. Stephanie needs to talk to Nancy/Charlotte about mailing packages internationally. Will have cost estimate for final packaging in a week or two.

[2015-07-20 07:04] halclark commented on #179
_From @heiwanalady on July 16, 2015 19:54_

This task has been 90% completed. T-Shirts and Stickers have been sent to backers who responded to survey in mid June.

New Task is for @linamoon to make sure any "straggler" backers (those who answer the survey late) receives their perks.
I have already discussed with her.

[2015-07-20 07:04] halclark opened #180 "chrome compatibility"
_From @rmalina on March 30, 2015 3:56_

on line form doesnt work in chrome-make sure new form works on all browsers

_Copied from original issue: creativedisturbance/public-website#79_

[2015-07-20 07:04] halclark commented on #180
_From @cassininazir on March 30, 2015 14:35_

Will do testing to review this. Was this on your computer or reported from a producer/guest? Would like to reproduce the problem if possible.

[2015-07-20 07:04] halclark commented on #180
_From @rmalina on March 30, 2015 15:15_

on my computer
roger

On Mon, Mar 30, 2015 at 9:35 AM, Cassini Nazir notifications@github.com
wrote:

##

Roger F Malina
is in texas
1-510-853-2007

[2015-07-20 07:04] halclark opened #181 "language in podcast titles"
_From @rmalina on March 30, 2015 3:55_

we have a real problem that we dont indicate the language of each podcast when we list
it on featured page or under each channel list- its really stupid that you have to click on the podcast itself to figure out what language its in-can we indicate clearly in the TITLE of each podcast what language it is in
roger

_Copied from original issue: creativedisturb

[2015-07-20 07:04] halclark commented on #181
_From @cassininazir on May 19, 2015 4:55_

@coreysmart92 can you review? Can you track down where this is written? If it's not in the tracking sheet, please add.

[2015-07-20 07:04] halclark commented on #181
_From @coreysmart92 on June 3, 2015 16:29_

Closing.
The [CD 2.2.2.5 Posting a Completed Podcast](https://docs.google.com/document/d/124eiA3g5XaeDlbtN-yrAfTi9yVGz-2DwgWn5s0HqnlY/edit) has been updated.

[2015-07-20 07:04] halclark opened #182 "Create a way for producer nominate individuals to participate in podcast (send to Producers and Podcasts)"
_From @cassininazir on March 10, 2015 19:12_

We discussed that at the end of every podcast, producer and guest should generate two people for us to interview. Could you create a Google Form that tracks this info?

Google Drive> Creative Disturbance > Forms

_Copied from original issue: creativedisturbance/public-website#68_

[2015-07-20 07:05] halclark opened #183 "Add page (or info) on how to submit a new podcast"
_From @cassininazir on June 29, 2015 18:47_

How do new users or listeners submit a new podcast? Or a even new podcast idea? Create a page for individuals to submit (podcast, ideas) and contact us.

_Copied from original issue: creativedisturbance/public-website#118_

[2015-07-20 07:05] halclark opened #184 "Anthropodcast Channel Setup"
_From @cassininazir on March 9, 2015 20:21_

@yvantina let us know that we are expecting a new podcast from Switzerland. Have not received forms as of yet.

_Copied from original issue: creativedisturbance/public-website#57_

[2015-07-20 07:05] halclark commented on #184
_From @yvantina on March 9, 2015 20:49_

@cassininazir
*\* A new Channel to be more precise - they will filled the forms as soon as
possible !
thanks !

yvan

2015-03-09 14:21 GMT-06:00 Cassini Nazir notifications@github.com:

##

check out this website for more information on art, synthetic biology and
a-life
http://synthbioart.texashats.org/

[2015-07-20 07:05] halclark commented on #184
_From @cassininazir on May 19, 2015 5:18_

@yvantina any update on the Anthropodcast? May have missed an email about this.

[2015-07-20 07:05] halclark commented on #184
_From @yvantina on May 19, 2015 6:42_

@rmalina @cassininazir  I sent him a reminder few days ago, given he said he would get the forms filled about two months ago... but Jonathan never followed up with tangible actions ! so..still waiting...

[2015-07-20 07:05] halclark commented on #184
_From @cassininazir on June 25, 2015 21:11_

Unassigning Vivek from this task. Leaving this open in case the channel forms.

[2015-07-20 07:05] halclark opened #185 "Draft pages for "Voices" and "New Post""
_From @porteriffic on March 6, 2015 2:44_

Not sure if this is just happening to me, but each time I scroll to the bottom of the page when posting a "Voice" or a "New Post", I am not able to scroll back up. This has happened each time I do this. Is this just my stupid computer? I don't have any page scrolling issues on any other site. Just on WordPress stuff. Is anyone else having this issue?

_Co

[2015-07-20 07:05] halclark commented on #185
_From @vivraman on March 6, 2015 2:55_

it only happens when you update the picture specifically, accessing the
media section while editing a voice or podcast or channel causes it to
disappear
On Mar 5, 2015 8:44 PM, "porteriffic" notifications@github.com wrote:

[2015-07-20 07:05] halclark commented on #185
_From @vivraman on March 6, 2015 2:56_

in other news Nah its not just you
On Mar 5, 2015 8:55 PM, "Vivek Raman" vivraman@gmail.com wrote:

[2015-07-20 07:05] halclark commented on #185
_From @porteriffic on March 9, 2015 18:15_

Gotcha! Thank you!

[2015-07-20 07:05] halclark commented on #185
_From @sayloo on March 9, 2015 18:29_

This is because of the "Transposh" (Language Translation)  plugin which is basically trying to translate the image along with the text. I am not sure if we can avoid this.
If possible, I'll try to come up with a decent workaround.

[2015-07-20 07:05] halclark commented on #185
_From @cassininazir on March 9, 2015 21:59_

We may not be able to fully fix. One workaround to the not being able to scroll issue:

Hit Cmd (or Control on Windows) + F and do a search for the word �Publish�; usually pulls you back to the top of the page and allows you to save the document or as a drafty.

Cassini Nazir

Clinical Assistant Professor, Arts and Technology
The University of Texas at

[2015-07-20 07:05] halclark opened #186 "Community Building via Buddypress"
_From @cassininazir on March 3, 2015 17:54_

BuddyPress plugin has been installed on the production server. http://buddypress.com

This task is to
1. Get Buddypress working!
2. Move current users from WP Members to BuddyPress
3. Create interactions among community members

_Copied from original issue: creativedisturbance/public-website#53_

[2015-07-20 07:05] halclark commented on #186
_From @cassininazir on April 21, 2015 18:1_

This would also include:
1. Registration - New members would register through BuddyPress
2. Confirmation Screen - What page comes up after someone creates an account?
3. Emails - What email(s) get pushed after account creation?

[2015-07-20 07:05] halclark opened #187 "Usage Patterns"
_From @cassininazir on March 3, 2015 17:54_

_From @cassininazir on January 30, 2015 19:57_
- People who come to the website to listen on mobile devices (home page has to scroll a great deal)
- Title and descriptions of Non-English podcasts should be written in the language podcast was written in

_Copied from original issue: cassininazir/creativedisturbance#73_

_Copied from original issue: creat

[2015-07-20 07:05] halclark opened #188 "Create Design Process and Principle for Generating New Album Art"
_From @cassininazir on March 2, 2015 22:11_

_From @cassininazir on February 2, 2015 17:13_

_Copied from original issue: cassininazir/creativedisturbance#76_

_Copied from original issue: creativedisturbance/public-website#48_

[2015-07-20 07:05] halclark opened #189 "Improve 404 Error Page"
_From @cassininazir on March 2, 2015 22:11_

_From @cassininazir on February 2, 2015 18:26_

Current 404 Page says "You Broke the Internet" but doesn't help users get to what they were looking for. Perhaps add:
- Search
- Recent podcasts

_Copied from original issue: cassininazir/creativedisturbance#84_

_Copied from original issue: creativedisturbance/public-website#46_

[2015-07-20 07:05] halclark opened #190 "Channel Subscriptions for Users"
_From @cassininazir on March 2, 2015 22:10_

_From @vivraman on February 9, 2015 17:49_

Develop a way for specific users to subscribe to channels that they wish to listen to. The user would be notified every time the channel uploads a new podcast.

_Copied from original issue: cassininazir/creativedisturbance#90_

_Copied from original issue: creativedisturbance/public-website#45_

[2015-07-20 07:05] halclark opened #191 "Podcast Categorization"
_From @cassininazir on March 2, 2015 22:10_

_From @cassininazir on February 9, 2015 20:36_

Alpha
Language
Newest
By most famous
Most interesting
Most discussed
Most forwarded
Least ?

_Copied from original issue: cassininazir/creativedisturbance#95_

_Copied from original issue: creativedisturbance/public-website#43_

[2015-07-20 07:05] halclark opened #192 "Create International Student Grant Form"
_From @cassininazir on March 2, 2015 22:10_

_From @cassininazir on February 10, 2015 20:27_

Use Google Forms to create the form

_Copied from original issue: cassininazir/creativedisturbance#97_

_Copied from original issue: creativedisturbance/public-website#41_

[2015-07-20 07:06] halclark opened #193 "Create Communication Plan"
_From @cassininazir on March 2, 2015 22:9_

_From @cassininazir on January 22, 2015 18:29_
- Identify our methods of communication (email, website, social media, etc)
- Frequency of communication
- Methods of communication during the Podcast Production Process

_Copied from original issue: cassininazir/creativedisturbance#43_

_Copied from original issue: creativedisturbance/public-website#39_

[2015-07-20 07:06] halclark opened #194 "Create Community Building Plan"
_From @cassininazir on March 2, 2015 22:9_

_From @cassininazir on January 22, 2015 18:31_

This should identify ways to foster a community among the disturbers. Not all preliminary research needs to be complete as this can be a living document.

_Copied from original issue: cassininazir/creativedisturbance#44_

_Copied from original issue: creativedisturbance/public-website#38_

[2015-07-20 07:06] halclark commented on #194
_From @heiwanalady on July 16, 2015 19:56_

Our current plan document
https://docs.google.com/document/d/1qOUdULI8sq3-Lls5S6obyZDaVqEG_tt4aHdpKh75S5w/edit

[2015-07-20 07:06] halclark commented on #194
_From @rmalina on July 16, 2015 20:10_

now to actually implement it
can i suggest you create a section where its clear who on our team is individually responsible for implementing which part of this plan ! its a great plan but we certainly arent doing it yet
roger

[2015-07-20 07:06] halclark opened #195 "Identify local listeners (non-UT Dallas) for ethnographic research"
_From @cassininazir on March 2, 2015 22:9_

_From @cassininazir on January 22, 2015 23:40_

_Copied from original issue: cassininazir/creativedisturbance#51_

_Copied from original issue: creativedisturbance/public-website#37_

[2015-07-20 17:47] anvit commented on #167
@rmalina I'm working on them at the moment and I should be able to finish up the save functionality by the end of the day.

[2015-07-21 16:06] yvantina commented on #163
@coreysmart92 Corey, any update for these two podcasts  ?  I can't find them on the production tracking sheet.. Can we publish one this week and the other one next week ?
Please let me know if you have any question

[2015-07-21 16:35] yvantina opened #196 "2 virtual africa podcasts in Gdrive"
@coreysmart92 @porteriffic @halclark @amb141330
Just wanted to have an update on the TWO podcats (with Koffi Sename) I have uploaded on Gdrive 2 weeks ago as I don't see them on your production tracking sheet..The podcasts have been uploaded on Gdrive as we couldn't access Dropbox back in the time.. Please edit and post as soon as you can. Thank you !

[2015-07-21 17:43] yvantina commented on #196
The podcasts have been uploaded on Dropbox as well

[2015-07-21 17:45] yvantina commented on #163
Also these podcasts should go both to Audiolats AND Meta-Life. Thanks

[2015-07-22 16:20] #99 closed, assigned to nobody

[2015-07-22 16:23] coreysmart92 commented on #181
Standardized how to add Language to Podcast Title. Add ENG to end of English podcast.
Closing

[2015-07-22 16:23] #181 closed, assigned to coreysmart92

[2015-07-25 20:02] rmalina opened #197 "poor netiquette"
corey
thanks for sending this email out
Dear Producers and Guests,
It has been brought to our attention that the links to the Wufoo forms are not working. Here are the updated links for Creative Disturbance: New Podcast Info Form, Guest Release Form, New Channel Proposal Form. Please inform us if there are any continuing problems.
Sincerely Creative Disturbance

BUT you put the WHOLE LIST visible

[2015-07-25 20:06] rmalina opened #198 "wrong email list"
corey

this is the email list you sent that annoucement out to

who did you mean to send it to ?

it includes producers, voices, kickstarter donors

i think you meant to send this out to the producers email list ?
in which case you sent it to the wrong list

roger

a.shelby.c@gmail.com
(a.shelby.c@gmail.com)
Abdo Nawar
Adam Bayacal
Adrian Avendaño
Al Banda
Ale de la Puente
Alexander Djerassi (gmai

[2015-07-25 21:41] rmalina commented on #197
corey
i got this complaint from a person you sent our cc lst to

roger

Roger-

Never send these by CC

ALWAYS by BCC

It's not nice to have my email send out to 2 thousand strangers!!!

[2015-07-26 02:02] yvantina opened #199 "2 new Audiolats - MetaLife podcasts"
@coreysmart92
Hi Corey

the podcasts have been uploaded last week on Meta-Life as I didn't know I have access to the Audiolats folder
- my bad I should have put them under Audiolats instead but I sent you (meaning the production team, cc-you) an email early last week regarding that issue so you should have been able to locate them since then

my apologizes anyway and you will find them both under

[2015-07-27 09:32] rmalina opened #200 "record podcast with amar bakshi"
Amar Bakshi amar.bakshi@gmail.com

amar
greetings from roger malina- isabel's brother in law
and the founder of the creative disturbance multilingual
podcast platform for the art/science/tech community
www.creativedisturbance.org

i would be delighted to record a podcast with you- over skype
ideally or by phone= the idea is a dialogue/discussion about
your work and current passions ! not an interv

[2015-07-27 15:49] cassininazir opened #201 "grants to portuguese students"
_From @rmalina on July 26, 2015 9:17_

cassini lina

where are we tracking the awarding of hte student grants ? i would like
to get the grants sent out to the three portuguese students

maybe we can have a meeting cassini lina and i week of aug 2-10 when i am
in town to organise the student grants ?

cassini wasnt sure where in github to put this item-can you move it to right place ?

roger

@cass

[2015-07-27 15:49] cassininazir opened #202 "guest release from doesnt work for people in france"
_From @rmalina on July 18, 2015 20:2_

anvit
i just tried to fill out the guest release form
i put in france as a country'
and it asked for for what state with a list of american states

when you put in france you should not be asked for state !

roger
@anvit

_Copied from original issue: cassininazir/creativedisturbance#122_

[2015-07-27 18:44] #93 closed, assigned to amb141330

[2015-07-27 18:44] #92 closed, assigned to halclark

[2015-07-27 18:45] cassininazir commented on #74
This is live.

[2015-07-27 18:45] #74 closed, assigned to halclark

[2015-07-27 18:45] #77 closed, assigned to nobody

[2015-07-27 18:45] #94 closed, assigned to kkondas

[2015-07-27 18:46] cassininazir commented on #106
This looks like its been cleared. Reopen if needed.

[2015-07-27 18:46] #106 closed, assigned to coreysmart92

[2015-07-27 18:46] cassininazir commented on #104
Launched. Closing this document.

[2015-07-27 18:46] #104 closed, assigned to nobody

[2015-07-27 18:46] #100 closed, assigned to halclark

[2015-07-27 18:57] cassininazir opened #203 "Get Radio Play from Scot Gresham-Lancaster"
_From @cassininazir on March 2, 2015 20:37_

_From @cassininazir on January 28, 2015 18:52_

Scot mentioned that students worked on a radio play (I may have the name wrong). Email Scot requesting this by Friday, Jan. 30.

_Copied from original issue: cassininazir/creativedisturbance#65_

_Copied from original issue: creativedisturbance/public-website#9_

[2015-07-27 18:57] cassininazir commented on #203
_From @vivraman on January 30, 2015 17:8_

Update: he has "some radio play related material but its not ready yet"; he said he'll let us know when it's ready.

I'll probably bug him again in a week or so.

[2015-07-27 18:57] cassininazir commented on #203
@amb141330 reassigning this task to you. Scot Gresham-Lancaster students produced a radio play. Please check in with him (via email) to see if it's ready. This can go in the Experimental website.

[2015-07-27 18:58] cassininazir opened #204 "Create databases for the new Forms"
_From @cassininazir on March 2, 2015 22:5_

_From @sayloo on September 30, 2014 20:47_

_Copied from original issue: cassininazir/creativedisturbance#30_

_Copied from original issue: creativedisturbance/public-website#18_

[2015-07-27 18:58] cassininazir commented on #204
Sruthi, could you post the images you took? Would like to make sure we preserve those.

[2015-07-27 18:58] cassininazir commented on #204
_From @sayloo on March 12, 2015 20:52_

![20150302_130949](https://cloud.githubusercontent.com/assets/8712694/6627925/9cc26e4a-c8cf-11e4-879e-a8f642259b22.jpg)
![20150303_133603](https://cloud.githubusercontent.com/assets/8712694/6627929/a0c894ce-c8cf-11e4-8db5-5ebfc489ea66.jpg)
![20150303_133631](https://cloud.githubusercontent.com/assets/8712694/6627932/a379ad02-c8cf-11e4-84ac-0ed5b4d05070.jpg)

[2015-07-27 18:58] cassininazir commented on #204
Basic testing for internal team begins - Friday, April 24
QA - April 24-29.
Implement QA fixes April 30-May 7

[2015-07-27 18:58] cassininazir commented on #204
@anvit have assigned to you and timeline is:
- Complete forms by May 23
- Testing week of May 24

[2015-07-27 18:58] cassininazir commented on #204
_From @anvit on May 21, 2015 19:24_

Researched different methods for Wordpress authentication since creating a custom plugin for forms would take a while. For now, going with standalone website hosted on the production server. Plan to have a rudimentary version up by tomorrow.

[2015-07-27 18:58] cassininazir commented on #204
_From @anvit on May 25, 2015 15:19_

Database is up on the production server (atec_cd_forms). Currently the forms can be accessed at http://production.cd2.texashats.org/forms/all.php . The forms save the records to the database in a secure manner but some tasks still remain before they can be pushed live(Dynamically populating channels and languages from wordpress database, putting the forms behin

[2015-07-27 18:58] cassininazir commented on #204
_From @anvit on June 5, 2015 22:49_

The forms now use wordpress authentication(i.e. You must be logged into the wordpress site to access the forms). They can be accessed at http://production.cd2.texashats.org/forms/ .

[2015-07-27 18:58] cassininazir commented on #204
_From @rmalina on June 5, 2015 22:50_

i tried the links and they just took me to the cd web site
the new forms dont work
roger
please check again

[2015-07-27 18:58] cassininazir commented on #204
_From @rmalina on June 5, 2015 22:51_

even weirder
the link takes me to international womens day banner
roger

[2015-07-27 18:58] cassininazir commented on #204
_From @anvit on June 5, 2015 23:12_

Yes, that is because you need to be signed-in to access the forms. (I will put up a warning/alert in order to avoid confusion if someone tries to access it without being signing-in). Also, currently this is hosted on our production server which is for our internal testing purposes, hence it isn't updated and still has the women's day banner.

[2015-07-27 18:58] cassininazir commented on #204
_From @heiwanalady on June 9, 2015 23:21_

Worked for me (when I signed in!)
See screenshot below

One small thing: I don't like both of the logo marks sitting on top of each
other. I'd say just use the wordmark and leave out the symbol.

​

On Fri, Jun 5, 2015 at 6:12 PM, Anvit Srivastav notifications@github.com
wrote:

[2015-07-27 18:58] cassininazir commented on #204
@anvit please indicate on the page that users need to be logged in before they can use the forms. Also, please add a link to the "Create an Account page" here in case a user has no login.

Also, please see (CD 2.2.2.9a Archiving Podcast) [https://docs.google.com/document/d/1IoYkLJMJkRPqp_F7HD6GZE1EBzCghXxbdZ_tiY6MdQU/edit], which addresses where the files should be stored (/public/storage) and nam

[2015-07-27 18:58] cassininazir commented on #204
A few changes:
- Remove username from forms. This should be known since users have had to login.
- Indicate required fields (displays when you submit, but should have a red asterisk next to each required field on page load)
- **New Channel Form**
  - We should already have Producer name and email already. Remove these two from the page.
  - Reference image for the channel, remove 1400 x 1400 requi

[2015-07-27 18:58] cassininazir commented on #204
Please push your latest updates to the production server and comment on what is remaining. I'm adding the following to the list of feature updates:
- Enable "save" functionality
- When a user logins to the page at http://production.cd2.texashats.org/forms/, they should be able to see prior saved forms. See image below for a suggested layout.

![img_0774](https://cloud.githubusercontent.com/assets/

[2015-07-27 18:58] cassininazir opened #205 "Add Social Media Sites for Users"
_From @cassininazir on February 18, 2015 21:20_

_Copied from original issue: creativedisturbance/public-website#4_

[2015-07-27 19:31] cassininazir commented on #161
@anvit could you look into this and propose suggestions?

[2015-07-27 20:02] rmalina opened #206 "hints on running a meeting"
corey
today's meeting was great- you got a lot done !

and the youth skills day has gone really well

here are a few hints on running a meeting that are useful

a) the person organising and running the meeting should show up
ten minutes ahead of the meeting so everything is ready so the meeting starts
on time

you had 4 of us waiting for you and you joined in late
so we all wasted 5-10 minutes  wa

[2015-07-27 20:21] rmalina commented on #161
as i said as a start we can link to external podcasts
(which takes people out of our system) but thats an acceptable
first step

we can also discuss with the three other podast platform
organisers how to have them help us design an aggration
flow

roger

[2015-07-27 22:43] anvit commented on #204
The latest forms are up and working with the Save functionality in place. Some fields are broken (mostly the language and the select channel ones which I'm fixing currently) but the everything else should be in order.

[2015-07-27 22:46] anvit commented on #202
The Wufoo forms have already been fixed - the state field has a 'Not applicable' option at the top for people outside the US. They can chose to leave it blank as well since state isn't a required field.

[2015-07-27 22:46] #202 closed, assigned to anvit

[2015-07-28 03:12] yvantina opened #207 "1 new podcast for Pioneer and Pathbreaker !!!"
@coreysmart92 @porteriffic @halclark @amb141330 @kkondas

One new podcast between Roger Malina and fireworks' master Pierre-Alain Hubert

Title :
FRENCH
Pierre-Alain Hubert sur les feux d’artifice et la musique dans les espaces urbains (FR)
ENGLISH
Fireworks innovator Pierre Alain Hubert discusses fireworks and music in urban spaces (FR).

Summary
FRENCH
L’ artificier Pierre Alain Hubert, pionnier

[2015-07-28 03:16] yvantina opened #208 "1 new podcast for New Leonardos !!!"
@coreysmart92 @porteriffic @halclark @amb141330 @kkondas

One new podcast between Roger Malina and fireworks' master Pierre-Alain Hubert

Title
FRENCH
K0 : Le nouveau terrain des artistse pyrotechniciens (FR)
ENGLISH
K0 : the new territory of firework artists.(FR)

Summary
FRENCH
L’artiste Pyrotechnicien Pierre-Alain Hubert discute avec Roger Malina de ses performances publiques au milieu d’espace

[2015-07-28 03:17] yvantina commented on #208
Please use these french descriptions !!

[2015-07-28 03:18] yvantina commented on #207
Please use these french descriptions !!

[2015-07-28 03:24] yvantina commented on #207
BIO
French:

Pierre-Alain Hubert, pionniers des arts,sciences et nouvelle technologies des années 1970, un itinéraire d’artiste-plasticien a rapidement fait le choix d’une œuvre liant arts plastiques et arts populaires : les feux d’artifices. Il a donné, à cette activité, un sens personnel où arts plastiques, scénographie et artifices créent un évènement pour un lieu, pour une date. " Je cherchais

[2015-07-28 03:25] yvantina commented on #208
BIO
French:

Pierre-Alain Hubert, pionniers des arts,sciences et nouvelle technologies des années 1970, un itinéraire d’artiste-plasticien a rapidement fait le choix d’une œuvre liant arts plastiques et arts populaires : les feux d’artifices. Il a donné, à cette activité, un sens personnel où arts plastiques, scénographie et artifices créent un évènement pour un lieu, pour une date. " Je cherchais

[2015-07-28 10:13] rmalina commented on #208
corey

can you bring this to the attention of who you assign to edit the pierre alain hubert podcasts

roger

apologise for the confusion on the pierre alain hubert podcasts

i put the two podcasts for pierre alain hubert in the new leonardos drop box as for some reason i no longer have access to the  pioneers and pathbreakers drop box

podcast no 1 with pierre alain hubert should go in the pionee

[2015-07-29 14:48] cassininazir commented on #204
@anvit created a layout for the landing page at http://production.cd2.texashats.org/forms2/all.php

Also a basic layout for individual forms at http://production.cd2.texashats.org/forms2/new_podcast.html# (rename to .php and you won't see the errors). The forms should include the common header and footer.

[2015-07-31 21:51] porteriffic commented on #147
Still have not heard from Bronac. Sent an email on 7/31 to touch bases and see how everything is going.

_Update_: She responded. First expected podcast will be October 1st.

[2015-07-31 21:54] porteriffic commented on #114
Recorded the podcast. Was uploaded for WYSD!

[2015-07-31 21:54] #114 closed, assigned to porteriffic

[2015-07-31 21:55] porteriffic commented on #133
@rmalina Have you heard back from Astrid or Klara?

[2015-07-31 21:57] porteriffic commented on #160
Still working of CBP. It is continuously growing as we're trying to implement actions.

[2015-07-31 21:59] porteriffic commented on #146
Emails to producers regarding stats have been sent. Also encouraged producers to bring in more podcasts. Will add to Community Building Plan on doing this more often.

[2015-07-31 21:59] #146 closed, assigned to porteriffic

[2015-07-31 21:59] porteriffic commented on #145
Sruthi, Anvit and Stephanie are the current producers of The Bold Roast Channel.

[2015-07-31 21:59] #145 closed, assigned to porteriffic

[2015-07-31 22:01] porteriffic commented on #143
This process has been added to the Podcast Production Process sheet. It is being implemented on all incoming podcasts.

[2015-07-31 22:01] #143 closed, assigned to porteriffic

[2015-07-31 22:05] porteriffic commented on #132
Was added on the Community Involvement tracking sheet. Will touch bases with Euh Ah next week (8/5)

[2015-07-31 22:08] porteriffic commented on #132
Duplicated. Closing.

[2015-07-31 22:08] #132 closed, assigned to porteriffic

[2015-07-31 22:08] porteriffic commented on #149
Was added on the Community Involvement tracking sheet. Will touch bases with Euh Ah next week (8/5)

[2015-07-31 22:10] porteriffic commented on #157
[CD 2.2.6.4 Emails to Producers and Voices](https://docs.google.com/document/d/1l8OuGDLnWTP17HUtzj3A_7UTVcc4_Kb9T61QKRScG-c/edit) can be accessed in CD 2.2.6 Community Building folder. Refer to that document whenever you need assistance emailing the community.

[2015-07-31 22:10] #157 closed, assigned to porteriffic

[2015-07-31 22:13] porteriffic commented on #184
@yvantina Any word on setting this channel up? I can contact these people and maybe give them a nudge?

[2015-07-31 22:17] porteriffic commented on #194
This is a duplicate of [this](https://github.com/creativedisturbance/podcasts/issues/160)

[2015-07-31 22:17] #194 closed, assigned to cassininazir

[2015-07-31 22:20] porteriffic commented on #197
Refer to [CD 2.2.6.4 Emails to Producers and Voices](https://docs.google.com/document/d/1l8OuGDLnWTP17HUtzj3A_7UTVcc4_Kb9T61QKRScG-c/edit) if you are unsure about sending emails out to the community.

[2015-07-31 22:20] #197 closed, assigned to coreysmart92

[2015-07-31 22:23] porteriffic commented on #185
Issue resolved a LONG time ago.

[2015-07-31 22:23] #185 closed, assigned to coreysmart92

[2015-07-31 22:25] porteriffic commented on #175
Podcast already released

[2015-07-31 22:25] #175 closed

[2015-07-31 22:31] porteriffic commented on #170
RAMI channel is up

[2015-07-31 22:31] #170 closed, assigned to halclark

[2015-07-31 22:36] porteriffic commented on #163
@yvantina I believe these podcasts are now on the tracking sheet. Hopefully it will be FULLY updated by Monday (8/3).

[2015-07-31 22:41] porteriffic commented on #196
@yvantina I see the podcasts in the GDrive. Is there a New Podcast form for these podcasts? I see the guest release form but I couldn't find a New Podcast form. That might be why it's not on the tracking sheet. We use the forms to look for upcoming podcasts.

[2015-07-31 22:45] porteriffic commented on #103
Youth Day is over. Will use as a contact for future feature days.

[2015-07-31 22:45] #103 closed, assigned to coreysmart92

[2015-07-31 22:51] porteriffic commented on #207
Take note: This podcast is located in the New Leonardos Dropbox.

[2015-07-31 22:56] porteriffic commented on #198
Please refer to [CD 2.2.6.4 Emails to Producers and Voices](https://docs.google.com/document/d/1l8OuGDLnWTP17HUtzj3A_7UTVcc4_Kb9T61QKRScG-c/edit) on how to properly email the community.

[2015-07-31 22:56] #198 closed, assigned to coreysmart92

[2015-07-31 22:57] porteriffic commented on #203
@cassininazir As far as I know, Scot should have all the radio plays. @amb141330 and I were in that class.

[2015-08-01 00:09] linamoon commented on #188
Documents started by @cassininazir:
- CD 5.1 Brand Standards https://docs.google.com/document/d/1I7wcy-BkpTK5QDva5prW8ZCNboTlYaNF2nq0uY0FQEk/edit?usp=sharing and
- CD 2.1.5 Images for Creative Disturbance https://drive.google.com/open?id=1ZcSPNNKoEBiKdFMP4lEb-QtYoLpFxI_Hg1qgKeDoerg

Will continue drafting.

[2015-08-01 00:12] linamoon commented on #201
Meeting on this planned for when @rmalina is in town next week; document for reference:
- International Student Grant FAQ Sheet https://drive.google.com/open?id=1VNt0YZGX59WKhNJk2Kmv_brSK5TcbjSzcqmNd67ASh0

[2015-08-01 00:14] linamoon commented on #148
Will discuss with Roger, etc:
- Also reference: https://github.com/creativedisturbance/podcasts/issues/201
- Document for reference: International Student Grant FAQ Sheet https://drive.google.com/open?id=1VNt0YZGX59WKhNJk2Kmv_brSK5TcbjSzcqmNd67ASh0

[2015-08-01 00:17] linamoon commented on #150
Discussed with @yvantina; will be updated by Yvan as necessary.

[2015-08-01 00:17] linamoon commented on #150
Discussed with @yvantina; will be updated by Yvan as necessary.

[2015-08-01 00:29] linamoon commented on #179
Closing this for now; it seems that everyone that will respond to the survey has responded. Will fulfill perks if any more "stragglers" happen to respond. @coreysmart92 you happen to be a straggler - do you still want your shirt??
- Document for reference is CF Backers Email List: https://docs.google.com/spreadsheets/d/15tWk-698VIg96gUzmgRd_dtD6KRQwEG-7RZn36pQ2BU/edit#gid=0

[2015-08-01 00:30] #179 closed, assigned to linamoon

[2015-08-01 05:28] yvantina commented on #184
Yes please go ahead. Haven't heard back from them since March though
Le 31 juil. 2015 17:13, "porteriffic" notifications@github.com a écrit :

[2015-08-01 05:35] yvantina commented on #196
These podcasts have been uploaded to dropbox as well. Same files. I've
filled out two info forms so don't understand why you can't find them. Will
forward in another msg
Le 31 juil. 2015 17:41, "porteriffic" notifications@github.com a écrit :

[2015-08-01 07:22] rmalina opened #209 "rapid scheduling of audiolats and noisy people podcasts"
corey

it was agreed that we would post podcasts received in final edited form very quickly
this applies both to
a) noisy people
i see you got the noisy podcast up today saturday which is great

b) audiolats- see the complaint email from annick below

can we discuss monday how we could make sure that noisy people and audiolats podcasts get posted within X days of receipt and then we can inform the

[2015-08-01 10:29] yvantina commented on #196
TITLE: FabCamp, W.Afate, Woelab !

This is confirmation that you have uploaded a new Podcast for you Creative Disturbance Channel.

CREATIVE DISTURBANCE - New Podcast Info Form
Channel Name \*
Virtual Africa
Producer's Name \*       yvan tina
Producer's Email \*      yvantina@gmail.com
Podcast Title \*
FabCamp, W.Afate, Woelab !

Short Description of this Podcast \*
Le WɔɛLab compte probablement p

[2015-08-01 10:33] yvantina commented on #196
TITLE:  L'Africaine d'architecture et le style néo-vernaculaire

This is confirmation that you have uploaded a new Podcast for you Creative Disturbance Channel.

CREATIVE DISTURBANCE - New Podcast Info Form
Channel Name \*
Virtual Africa
Producer's Name \*       yvan tina
Producer's Email \*      yvantina@gmail.com

Podcast Title \*
L'Africaine d'architecture et le style néo-vernaculaire

Short De

[2015-08-01 10:44] yvantina commented on #196
![koffi sename](https://cloud.githubusercontent.com/assets/10967939/9021598/e686b4a0-380f-11e5-9f9f-032da1e876db.png)

[2015-08-01 10:58] yvantina commented on #163
Okay . can you please have them published the same week ? I just received an inquiry from Annick.
thank you !

[2015-08-03 14:25] coreysmart92 commented on #209
I understand the idea behind this and currently it will not cause any major disruptions. However we do need to discuss the implementation of this alongside a podcast backlog. (8/3/15)

[2015-08-03 14:34] coreysmart92 commented on #208
No problem I will add a comment and link to help the editor. Thank you for the update. (8/3/15)
Close when podcasts are published.

[2015-08-03 14:38] coreysmart92 commented on #207
Closing, because it is duplicate of #208. There are two podcasts both located in the New Leonardos folder, but this description and title are in the #208 issue. (8/3/15)

[2015-08-03 14:38] #207 closed, assigned to coreysmart92

[2015-08-03 14:40] coreysmart92 commented on #206
Closing: Thanks for the hints, most of this I have been try to implement and will try to do better in the future. (8/3/15)

[2015-08-03 14:40] #206 closed, assigned to coreysmart92

[2015-08-03 14:47] coreysmart92 commented on #199
Closing: I have sorted out where the audiolats podcast and emailed both Annick and Yvan. (8/3/15)

[2015-08-03 14:47] #199 closed, assigned to coreysmart92

[2015-08-03 15:02] coreysmart92 commented on #196
Sorry for the delay. I have scheduled them to be edited and published. Let me know if there is anything else I can do. (8/3/15)
Close: When podcasts are published

[2015-08-03 15:04] coreysmart92 commented on #192
I am not entirely sure what this form should en-tale. I will talk with Cassini and get some more information before starting. (8/3/15)

[2015-08-03 15:08] coreysmart92 commented on #168
Closing: I checked and this has already been updated. (8/3/15)

[2015-08-03 15:08] #168 closed, assigned to coreysmart92

[2015-08-03 15:12] coreysmart92 commented on #167
I have sent out an email update everyone to the Wufoo forms locations. However I do not have access to the new forms. When the new forms are completed I can send out an email. (8/3/15)
Close: when the new forms are completed and an email is sent informing producers and voices

[2015-08-03 15:15] coreysmart92 commented on #165
Closing: I have scheduled your podcast for editing and publishing. They will be published next week 8/10-8/16. (8/3/15)

[2015-08-03 15:15] #165 closed, assigned to coreysmart92

[2015-08-03 15:17] yvantina commented on #196
Corey
Please use the description I used on github for those two podcasts. There's
a small change with the original one (podcast form)
thank you
Le 3 août 2015 10:02, "coreysmart92" notifications@github.com a écrit :

[2015-08-03 15:22] coreysmart92 commented on #164
Closing: I have added it to the meeting and we will discuss it on 8/3/15. (8/3/15)

[2015-08-03 15:22] #164 closed, assigned to coreysmart92

[2015-08-03 15:27] cassininazir opened #210 "Add Diversity, Gender Info to Website"
_From @cassininazir on March 2, 2015 22:8_

_From @cassininazir on February 13, 2015 18:30_

Add to the About page. This should help members and potential members understand the community. Should demonstrate and encourage diversity.

_Copied from original issue: cassininazir/creativedisturbance#103_

_Copied from original issue: creativedisturbance/public-website#28_

[2015-08-03 15:27] coreysmart92 commented on #163
Closing: I have scheduled them both to publish this week. (8/3/15)

[2015-08-03 15:27] #163 closed, assigned to coreysmart92

[2015-08-03 15:28] coreysmart92 commented on #141
Nothing to report at this time (8/3/15)

[2015-08-03 15:30] coreysmart92 commented on #138
Cassini has increased the capacity for our dropbox. Are you still having this problem? (8/3/15)

[2015-08-03 15:31] coreysmart92 commented on #135
Nothing to report at this time. I will look into this in the future. (8/3/15)

[2015-08-03 15:31] cassininazir commented on #210
Have added a Gender field to all our voices. Working on a page that gives us up-to-date information from LibSyn and voices pages:

  http://production.cd2.texashats.org/forms2/stats.php

Will combine the above two pages into one. When fully working, we can add this to our voices page.

[2015-08-03 15:32] #195 closed, assigned to cassininazir

[2015-08-03 15:33] cassininazir commented on #191
This should be a simple sort. @anvit assigning to you.

[2015-08-03 15:33] cassininazir commented on #177
Won't implement yet.

[2015-08-03 15:33] #177 closed, assigned to cassininazir

[2015-08-03 15:34] coreysmart92 commented on #130
I have add this topic into the meeting and I will contact Julia Buntaine soon to assist her. (8/3/15)

[2015-08-03 15:36] cassininazir commented on #173
Won't implement this.

[2015-08-03 15:36] #173 closed, assigned to cassininazir

[2015-08-03 15:37] coreysmart92 commented on #125
I have added her to the New Channel part of the 8/3/15 sound meeting. We can discuss this then. (8/3/15)

[2015-08-03 15:39] coreysmart92 commented on #124
I will send the Cheat Sheet soon and see if they need any assistance. (8/3/15)

[2015-08-03 15:46] coreysmart92 commented on #122
02: Joëlle Léandre is correct, I will go through and shift all of them to this one. (8/3/15)
Close: when completed and check the images on wordpress

[2015-08-03 15:47] coreysmart92 commented on #121
Closing: It is already completed editing and scheduled for publishing. (8/3/15)

[2015-08-03 15:47] #121 closed, assigned to coreysmart92

[2015-08-03 15:48] cassininazir commented on #178
Written and posted.

[2015-08-03 15:48] #178 closed, assigned to cassininazir

[2015-08-03 15:50] cassininazir opened #211 "Create a blog post about International Student Grants"
_From @cassininazir on March 2, 2015 22:9_

_From @cassininazir on January 30, 2015 19:9_

_Copied from original issue: cassininazir/creativedisturbance#72_

_Copied from original issue: creativedisturbance/public-website#32_

[2015-08-03 15:50] cassininazir commented on #211
@linamoon once complete, can you post a write-up on our blog?

[2015-08-03 15:53] coreysmart92 commented on #120
Closing: It is already completely edited and I have scheduled it for publishing next week. (8/3/15)

[2015-08-03 15:53] #120 closed, assigned to coreysmart92

[2015-08-03 15:53] cassininazir commented on #154
Putting this on hold for now.

[2015-08-03 15:54] coreysmart92 commented on #119
Closing: This podcast is edited and scheduled for publishing. (8/3/15)

[2015-08-03 15:54] #119 closed, assigned to coreysmart92

[2015-08-03 15:57] coreysmart92 commented on #118
Closing: It is done editing and scheduled for publishing. (8/3/15)

[2015-08-03 15:57] #118 closed, assigned to coreysmart92

[2015-08-03 15:58] coreysmart92 commented on #117
Closing: This podcast has already been published. (8/3/15)

[2015-08-03 15:58] #117 closed, assigned to coreysmart92

[2015-08-03 16:02] coreysmart92 commented on #116
Closing: This podcast has already been published. (8/3/15)

[2015-08-03 16:02] #116 closed, assigned to coreysmart92

[2015-08-03 16:04] coreysmart92 commented on #115
I will take care of this. (8/3/15)
Close: When dropbox is up-to-date

[2015-08-03 16:06] cassininazir commented on #161
The RSS feed for this SoundCloud account: http://feeds.soundcloud.com/users/soundcloud:users:74023458/sounds.rss

@anvit we may not be able to do voices in the same way for this account.

[2015-08-03 16:08] coreysmart92 commented on #108
Nothing new to report, other then these have been pushed back. (8/3/15)
Close: When both bumpers are completed and ready to be published

[2015-08-03 16:11] coreysmart92 commented on #96
Closing: Polyglot Day is over and Roger has been added to the English version of the podcast. (8/3/15)

[2015-08-03 16:11] #96 closed, assigned to coreysmart92

[2015-08-03 16:12] cassininazir commented on #174
Wrapping this into our

[2015-08-03 16:12] #174 closed, assigned to cassininazir

[2015-08-03 16:12] coreysmart92 commented on #84
Closing: This podcast has been recorded and published. (8/3/15)

[2015-08-03 16:12] #84 closed, assigned to coreysmart92

[2015-08-03 16:13] coreysmart92 commented on #39
Nothing new to report. (8/3/15)

[2015-08-03 16:13] cassininazir commented on #171
[CD 2.1.5](https://docs.google.com/document/d/1ZcSPNNKoEBiKdFMP4lEb-QtYoLpFxI_Hg1qgKeDoerg/edit) and [CD 5.1](https://docs.google.com/document/d/1I7wcy-BkpTK5QDva5prW8ZCNboTlYaNF2nq0uY0FQEk/edit) explain this.

[2015-08-03 16:13] #171 closed, assigned to cassininazir

[2015-08-03 16:13] coreysmart92 commented on #35
Nothing new to report. (8/3/15)

[2015-08-03 16:14] coreysmart92 commented on #25
Nothing new to report. Will contact Anwesha for a follow-up soon. (8/3/15)

[2015-08-03 18:53] rmalina opened #212 "Online Intellectual Dating?"
cassini

hmm-here is someone doing intellectual dating

roger

The Bridge
Experiments in Science and Art
SciArt Center is excited to announce an open call to all members for our new virtual residency program, The Bridge: Experiments in Science and Art. With the ultimate goal of bridging the gulf between the sciences and the creative humanities in our culture at large, we will be forming three pair

[2015-08-03 19:52] cassininazir commented on #204
Closing this item. Congrats @anvit on closing the longest-runnign GitHub item!

[2015-08-03 19:52] #204 closed, assigned to anvit

[2015-08-03 19:53] cassininazir opened #213 "Implement Style Changes to Forms Page"
Reproduce styles from:
http://production.cd2.texashats.org/forms2/all.html
http://production.cd2.texashats.org/forms2/new_podcast.html

[2015-08-03 19:54] cassininazir commented on #180
Closing this item. Re-open if this is still occurring.

[2015-08-03 19:54] #180 closed, assigned to anvit

[2015-08-04 20:08] rmalina opened #214 "Bumpers/Stingers from Brian Merlo"
i have asked brian merlo to create some bumpers and stingers for the channels i produce
so you can expect in the next few weeks

we are giving brian the cheat sheet on bumpers and stingers and as he works
suggest improvements for the cheat sheet

can you contact brian to coordiante

roger

[2015-08-05 02:30] cassininazir commented on #205
Twitter links are now on all profiles if they have been set.

[2015-08-05 02:30] #205 closed, assigned to cassininazir

[2015-08-06 00:47] porteriffic opened #215 "Email Eun Ah about Femgineers"
Reach out to Eun Ah and offer assistance when she is ready to proceed.

[2015-08-06 00:50] porteriffic commented on #215
Emailed Eun Ah.

[2015-08-06 00:57] porteriffic commented on #203
Emailed Scot. Waiting to hear back. (8/5/2015)

[2015-08-06 16:59] cassininazir commented on #213
@anvit @rmalina

I've made quite a few visual and functionality changes to the forms.  We are _very_ close to doing some internal testing with the CD team before putting it out to the producers for beta testing. You can see the changes, such as they are, at:

http://production.cd2.texashats.org/forms2

@anvit, I'll create a list of things for you to complete before we open it up to group. In the m

[2015-08-06 21:26] yvantina opened #216 "This podcast doesn't work !"
@coreysmart92
Corey
this podcast doesn't work properly - can you please fix this ? Thanks
http://creativedisturbance.org/podcast/taste-of-flesh-bite-me-im-yours-as-seen-by-the-curator-meeting-with-jareh-das-eng/

[2015-08-08 01:20] rmalina opened #217 "urgent error in podcast title needs to be corrected"
corey
i screwed up
there is a typo of the podcast that just went up =its Neil Rolnick
can you correct the title rapidly

roger
@coreysmart92

[2015-08-08 21:23] porteriffic commented on #215
Eun Ah and her colleagues hope to resume their work in the fall and be ready for the first podcast ASAP. She'll keep in touch. (8/8/2015)

[2015-08-08 21:23] #215 closed, assigned to porteriffic

[2015-08-08 23:46] coreysmart92 commented on #217
Closing: I have already fixed this. (8/8/15)

[2015-08-08 23:46] #217 closed, assigned to coreysmart92

[2015-08-09 03:08] rmalina commented on #217
thanks corey
apologies for my typo
roger

[2015-08-10 13:09] coreysmart92 commented on #216
@yvantina can you be more specific, it seems that everything is working fine on my end. (8/10/15)

[2015-08-10 14:51] rmalina opened #218 "gresham lancaster dropbox problem"
@coreysmart92 @halclark

please please sort this out rapidly
its embarassing that this didnt get dealt with when scot originally asked

roger

Scot Gresham-Lancaster
11:30 PM (10 hours ago)

to Cassini, roger
I have a podcast for David Worral and Alexis Emelianoff that have been in the can since July, but my repeated requests for access to the box, dropbox, google drive or whatever have elicited n

[2015-08-10 16:28] cassininazir commented on #216
The podcast was not playing when Yvan made the note. Not sure who fixed, but seems to be working now.

Cassini

---

From: coreysmart92 [notifications@github.com]
Sent: Monday, August 10, 2015 8:09 AM
To: creativedisturbance/podcasts
Subject: Re: [podcasts] This podcast doesn't work ! (#216)

@yvantinahttps://github.com/yvantina can you be more specific, it seems that everything is working fine on

[2015-08-10 16:59] yvantina commented on #216
Hey Corey. Yes, Cassini is right ! not sure who fixed it but it didn't work
properly last week.
Thank you

2015-08-10 11:28 GMT-05:00 Cassini Nazir notifications@github.com:

##

check out this website for more information on art, synthetic biology and
a-life
http://synthbioart.texashats.org/

[2015-08-10 18:01] porteriffic commented on #218
Just emailed him.

I actually sent him multiple invites to his own Dropbox and emails notifying him back in June and again in July but they must've gotten lost in his inbox.

[2015-08-10 18:06] cassininazir commented on #216
Please close if this is fixed.

[2015-08-10 18:17] cassininazir commented on #109
Can this issue be closed?

[2015-08-10 18:18] cassininazir commented on #107
Any update on this?

[2015-08-10 18:22] cassininazir commented on #52
This has happened, I believe. Can this be closed?

[2015-08-10 18:22] halclark opened #219 "Contacts for Audiovisual Heritage Day"
Contact Frank, Scot, and Filip about the upcoming splash page for audiovisual heritage day. Ask about description, and request podcasts.

[2015-08-10 18:27] cassininazir commented on #129
@halclark any update on this?

[2015-08-10 18:29] halclark commented on #107
Already made bumpers.

[2015-08-10 18:29] #107 closed, assigned to halclark

[2015-08-10 18:31] halclark commented on #162
moved  to another issue

[2015-08-10 18:31] #162 closed, assigned to halclark

[2015-08-10 20:19] anvit commented on #189
Added search bar and recent podcasts to production server's 404 page

[2015-08-10 21:01] cassininazir commented on #189
Thanks for these updates. A few small changes:

The page needs to be more friendly:
-   Remove the default error title from "404: Page not Found" do this also for 500, 503, etc page
-   Change "Page not found" to a better title
-   Increase size of search box width to double what it is currently
-   Add below the search box "Let us know about this error. Email us at feedback@creativedisturbance.or

[2015-08-10 22:23] anvit commented on #189
Completed!

[2015-08-10 22:23] #189 closed, assigned to anvit

[2015-08-11 21:27] porteriffic commented on #218
Podcasts received and are in Google Drive. Once we transition to the new forms, it will help resolve a lot of the issues we are facing with Dropbox.

[2015-08-11 21:27] #218 closed, assigned to porteriffic

[2015-08-11 21:30] porteriffic commented on #187
Not sure how to handle this @cassininazir. "People who come to the website to listen on mobile devices (home page has to scroll a great deal)". I think Google Analytics can track this? Should we include in metrics?

 I believe we're already labeling podcasts in the language spoken (English and Non-English).

[2015-08-11 21:32] porteriffic commented on #184
@yvantina If I can get the contact info, that would be great!

[2015-08-11 22:04] porteriffic commented on #156
Located in the "Community Building Folder" under Production Team. [CD 2.2.6.2 Dropbox Procedure](https://docs.google.com/document/d/1lgiyo9CN_yjVcxMHKZD_DVX7MfZh0y35illbr0M767g/edit)

[2015-08-11 22:04] #156 closed, assigned to porteriffic

[2015-08-11 22:19] porteriffic commented on #133
Heard back from Astrid, they a little delayed in doing the podcast due to holidays and such. They still plan on doing the podcast but it might take a little longer. I've asked them to keep us in the loop (8/11/15)

[2015-08-11 22:19] #133 closed, assigned to porteriffic

[2015-08-12 06:14] yvantina commented on #184
sorry for the slow answer

Jonathan Maitrot >> webmaster@voyagecast.ch

http://www.anthropodcast.fr/

2015-08-11 16:32 GMT-05:00 porteriffic notifications@github.com:

##

check out this website for more information on art, synthetic biology and
a-life
http://synthbioart.texashats.org/

[2015-08-12 16:33] porteriffic commented on #203
Never heard back from Scot regarding the radio plays even though he's been responsive to other emails. (8/12/2015).

[2015-08-17 01:16] halclark commented on #219
Sent emails

[2015-08-17 15:35] coreysmart92 commented on #216
Closing: This is fixed. (8/17/15)

[2015-08-17 15:35] #216 closed, assigned to coreysmart92

[2015-08-17 15:40] coreysmart92 commented on #124
Emailed on August 8. No response yet (8/17/15).

[2015-08-17 15:41] coreysmart92 commented on #125
Emailed and received a response August 17. Expect to receive podcast Wednesday 8/19/15. (8/17/15)

[2015-08-17 15:42] coreysmart92 commented on #130
Emailed August 10. No response yet. (8/15/17)

[2015-08-17 15:43] coreysmart92 commented on #135
Emailed August 10. No response yet. 8/17/15

[2015-08-17 17:33] porteriffic commented on #134
Emailed Dhru about doing a podcast with Sam Viana. According to Dhru, they skyped once "but nothing interesting has popped up from [their] conversation about any collaboration apart from [their] mutual interest in both art and science." (8/12/15)

[2015-08-17 17:40] porteriffic commented on #131
Emailed Morehshin July 1st. She never responded. Maybe we can email her again? (8/17/15)

[2015-08-17 18:07] porteriffic opened #220 "International Coffee Day Prep"
Start preparing for International Coffee Day.

[2015-08-17 18:15] coreysmart92 commented on #101
Corey will have at least one example by Monday 8/24/15.

[2015-08-18 00:24] porteriffic commented on #166
This has been added to the Feature Day Document. Open issue for this feature sometime in September.

[2015-08-18 00:24] #166 closed, assigned to halclark

[2015-08-18 00:27] porteriffic commented on #139
@cassininazir Have you contacted Tara about this yet? If not, I'll be more than happy to take over :)

[2015-08-18 00:32] porteriffic commented on #136
@yvantina Did you get a chance to record this podcast?

[2015-08-18 00:37] yvantina commented on #136
not yet ! he didn't follow up unfortunately..
let me send him a reminder
I have two other podcasts for VA that I will upload to dropbox though
thanks
yvan

2015-08-17 19:32 GMT-05:00 porteriffic notifications@github.com:

##

check out this website for more information on art, synthetic biology and
a-life
http://synthbioart.texashats.org/

[2015-08-18 16:10] rmalina opened #221 "audiolats update"
corey
am just putting this in github so we have a record of it

thanks for sorting out the drop box etc problems- looks
like she is now happy ! great work

roger

Dear Corey

Sorry for my long silence and my communication only via Yvan. I had been a bit "out", reconnecting now. Thank you for the podcasts online. Everything is excellent. I'll recheck everything about the dropbox and if I have any p

[2015-08-18 21:48] cassininazir commented on #210
@anvit can you find a way to include this content into a live page? If the database connection dies, we'd just not publish anything.

[2015-08-19 17:51] rmalina opened #222 "roger to record a podcast with alena foustkova"
roger to record a podcast with alena foustkova

roger

good to hear from you- for various family reasons this
has been a difficult summer- but i am now back at work
in dallas

yes we have been having great fun developing the creative disturbance platform
and will be moving it to mitpress in next spring- we have had 15,000 podcasts
downloaded which is great

would you be interested in recording a p

[2015-08-19 21:17] rmalina opened #223 "home page comments"
josephine
not sure who this should be routed to !

a) on the home page the featured voices does seem to be updated on a regular basis

b) on the home page we dont show at the bottom of the page all our channels = as
a result people who come in through the home page dont know we have other channels/disturbances

c) on my cell phone its annoying on the home page because the top two screens are all t

[2015-08-20 15:45] porteriffic commented on #105
Let's contact him for World Day for Audiovisual Heritage to do a podcast with us.
efriedericks@mac.com

[2015-08-21 02:05] rmalina opened #224 "metrics on social media"
josephine
i just discovered we only have 100 followers on twitter ? might as well stop !

or else we need a concerted effort to increase our social media metrics !

what is our metrics of number of people following us on social media ?

for discussion at hte team team meeting

roger

[2015-08-21 03:30] cassininazir commented on #154
Completed. Online at [CD 1.7 Employee Handoff Document](https://docs.google.com/document/d/1JTv54-zNFzCF39g5ZOLbPydxAbumYiFoIPvnEIrTu1w/edit?usp=drive_web).

[2015-08-21 03:30] #154 closed, assigned to cassininazir

[2015-08-21 03:36] cassininazir commented on #139
Emailed Tara. Before proceeding want to confirm with Tara:
1. That we can upload their content to LibSyn. Unfortunately, LibSyn doesn't allow us to link out to other sources.
2. The scope of what is to be published and a schedule.

This should help us have a weekly flow of content for about 10 weeks that can be added into CD. Closing for now, will open a new ticket when I hear back.

[2015-08-21 03:36] #139 closed, assigned to cassininazir

[2015-08-21 05:11] porteriffic commented on #224
@rmalina Agreed! @cassininazir and I were discussing earlier today to find a way to properly track metrics on social media. I can add this to the agenda for Monday and Tuesday.

[2015-08-21 21:30] anvit commented on #210
Yes, I can easily show this content. Just let me know where you want it to be shown and I'll put it in.

[2015-08-23 01:45] yvantina opened #225 "Please help Diane Gromala to make a podcast !!!"
@coreysmart92 @porteriffic @halclark
Diane pledged for the KS campaign and is eager to contribute more
here's her email address  gromala@sfu.ca

Hi Diane

Well.. thanks so much then for pledging for the KS campaign and making this happen
thank you very much !!!

the only thing you have to do to be on the voice page is to submit your podcast to
feedback.createdisturb@gmail.com
or let me talk to the