[2016-01-11 19:43] cassininazir opened #415 "Put together one page plan for move to MIT Press re: Creative Disturbance"

[2016-01-11 19:44] cassininazir opened #416 "Update, Print and Post Lab Hours for Spring 2016"
@amb141330 please review the lab hours document in Google Drive and post in ArtSciLab

[2016-01-11 19:48] rmalina opened #417 "semester goals for spring 2016"
work out semester goals= update spring plan 2016
- move to mit web site
- multi-lingual
- gender balance
- splash pages
  - yuri's night
  - raw march 2

[2016-01-11 19:53] cassininazir opened #418 "Register CD in Podcast Awards"
@amb141330 can you register the appropriate channels in the Podcast Awards at
http://www.podcastawards.com/index.php?option=registerpodcast

[2016-01-12 17:29] dylanorgeron commented on #407
What's the status on this issue? I've added the links lina specified to our website, are we waiting on emails still or can I close this issue?

[2016-01-12 17:37] dylanorgeron commented on #210
add bits of stats page to the about page

[2016-01-12 17:38] dylanorgeron commented on #183
is this for users with an account or for guests?

[2016-01-12 17:46] dylanorgeron commented on #391
pending response from sound team

[2016-01-12 17:53] rmalina commented on #183
I guess with account
On Jan 12, 2016 11:38 AM, "Dylan Orgeron" notifications@github.com wrote:

[2016-01-12 20:09] #407 closed, assigned to dylanorgeron

[2016-01-12 20:09] dylanorgeron opened #419 "Make sure sponsors have logo and link to CD on their sites."

[2016-01-12 20:12] dylanorgeron commented on #391
figure out how to set up acc

[2016-01-12 20:31] rmalina opened #420 "please get the portuguese roots of curiosity channel up as soon as possible"
ashton

can you take this on ? and get this new channel up as soon as possible-
if yiou need help from lina or dylan ask cassini

roger

Patrícia Correia
11:56 AM (2 hours ago)

to Josephine, Corey, Sam, Ana, roger, Lina
Hi Josephine and colleagues,

Happy 2016! I wish you all a great podcast's year! :)

We are all set and ready to start posting our podcasts in the new channel! I would like to kno

[2016-01-12 20:33] linamoon commented on #420
I saw this, working on the logo - will email them by tonight @rmalina @amb141330

[2016-01-12 20:57] rmalina commented on #419
cassini
i think we need to convert this to a task included in the arteca action
item plan

we should probably contact everyone with their logo on our creative
disturbance site
and confirm the agreement for 2016 including their ok on the move to mit url

roger

On Tue, Jan 12, 2016 at 2:09 PM, Dylan Orgeron notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-01-13 21:29] cassininazir commented on #183
Yes for those with accounts. This is for individuals who either (1) have an idea for a podcast that they'd like to submit or (2) for those who would like to submit a recorded podcast for inclusion on Voices from the Crowd channel.

[2016-01-14 20:06] linamoon commented on #412
For reference (below):

Hi Altug,

Happy new year! It's good to (e-)meet you. As Roger mentioned, my name is Lina, and I am coordinating the student grants for Creative Disturbance.

I just wanted to follow up with you and say that we'd be delighted to have a graduate student that would be interested in gaining exposure for their research and producing podcasts on Creative Disturbance, at your rec

[2016-01-14 20:06] #412 closed, assigned to linamoon

[2016-01-18 23:16] yvantina opened #421 "Podcast schedule"
@coreysmart92 @amb141330 @halclark
Please let me know when the two new audiolats podcasts will be up. I can't find them here
https://docs.google.com/spreadsheets/d/1JUtI3ecGsmmmIR9dKtSGxkuNFcKvmzhXc2ND69MSvd4/edit#gid=1552320650
Also, let me know if there's anything you need from me

[2016-01-20 19:13] cassininazir opened #422 "Update Job Description with New Responsibilities"
Update doc in google Drive.

[2016-01-20 19:13] cassininazir opened #423 "Send podcast schedule to producers with weekly schedule"
Please include @rmalina and @cassininazir

[2016-01-20 21:10] rmalina opened #424 "lilla podcast"
please contact this person and tell them when their podcast will be published
this is embarassing
roger

Lilla LoCurto via alum.mit.edu
3:15 PM (23 hours ago)

to Dylan, roger, Creative, Corey
Hi Dylan,

We haven’t heard anything since you said you received everything. Can you let us know when we’ll be published? Many thanks. Lilla

[2016-01-21 15:33] rmalina opened #425 "opening roots of curiosity channel"
ashton
another example of our brand is suffering from our lack of
reacting to our producers !

can you contact the portuguese team immediately and introduce
yourself and then figure out how to open their channel as soon as
possihle

as you will see from the email its really embarassing but we have been promising
this for months

roger

Dear Josephine,

Sorry for insisting, but do you have any news

[2016-01-21 15:49] linamoon commented on #425
@amb141330 I've replied to the email and sent them the logo, but might be good for you to follow up with them.

[2016-01-21 15:58] rmalina opened #426 "marie pier boucher podcast for yuri's night"
ashton
who is coordinating the yuris night splash page and podcasts ?

i would like to start working with the person to organise yuri's night

here below are details of one post cast we need to record

roger

Marie-Pier Boucher
9:54 AM (2 minutes ago)

to me
Dear Roger

Thanks for your message. No worries in regards to MIT. They are offering 2 postdocs and it is unclear who is on the committee sin

[2016-01-21 19:34] amb141330 commented on #426
Lets get someone assigned to this on Monday during the meeting

[2016-01-21 19:34] amb141330 commented on #425
Just drafted an apology email + introduction of myself to Cassini for review to go to Patricia.

[2016-01-21 19:35] amb141330 commented on #424
Corey can you let me know about this?

[2016-01-22 19:25] rmalina opened #427 "cd professional development"
ashton
for our meeting with cassini- do we have on next week
would like to review hte spring goals document
but would also like to flesh out the professional development
one
which includes your all doing public speaking at RAW
but also we want to work with all on you on developing yout resumes
and cv's and provide any help we can on all of your job hunting

lets spend a little time fleshing this o

[2016-01-23 03:30] yvantina opened #428 "Andy Gracie for Oceans sci-art podcasts"
@amb141330 @rmalina

---------- Forwarded message ----------
From: andy gracie andy@hostprods.net
Date: 2016-01-15 9:02 GMT-06:00
Subject: Re: ocean sci-art
To: roger malina rmalina@alum.mit.edu
Cc: Yvan Tina yvantina@gmail.com

thanks to you too, roger. i was toying with the idea of putting myself forward for a podcast on the space theme. let's see if i can come up with a new and interesting angl

[2016-01-23 16:41] rmalina opened #429 "fee fishwick podcast"
corey

did you load up the forms for the fey broadcast as you said you would yesterday- i didnt get any message? here is a draft description of the podcast. YOU NEED TO GET PAUL FISHWICK TO FINALISE IT-contact him

you have total control over this broadcast-there is no reason you cant finish this up in
the next couple of days and upload it for broadcasting at a later date-like in two or three week

[2016-01-23 17:08] linamoon commented on #385
Conference materials submitted and registered for.

[2016-01-23 17:08] #385 closed, assigned to linamoon

[2016-01-23 17:27] linamoon commented on #409
Logo approved and ready to go - can be found in the Album Artwork folder.
- https://drive.google.com/open?id=0BwvQhnxKj6jFdGN2MVpfYUx5ZHM

[2016-01-23 17:27] #409 closed, assigned to linamoon

[2016-01-23 19:56] yvantina commented on #421
@coreysmart92 @halclark Can you please duplicate these two Audiolats podcasts under the Meta-Life channel as well ? Thanks
Skotopoiesis with Spela Petric and Jurij Krpan

[2016-01-23 20:39] yvantina opened #430 "Podcast with Nora Abushadi"
@coreysmart92 @amb141330 @halclark Can you please find and publish the podcast with Nora Abushadi for Virtual Africa ? I've submitted a completed form in December, so you should have everything you need.. Hope it's not lost. Thanks !

[2016-01-24 19:00] rmalina commented on #429
corey
paul edited the description- i think you have everyting you need to go ahead
and edit, finalise the forms and schedule it for a date in the future

roger

[2016-01-25 17:11] coreysmart92 commented on #424
This has been scheduled to publish. Roger has been updated, but there has been a technical complication with communicating to the producer. I have attempted to contacter her again.
Close: when podcast is published.
(1/25/16)

[2016-01-25 17:13] coreysmart92 commented on #397
The podcast is scheduled and ready to publish.
Closing: Duplicate of another issue.
(1/25/16)

[2016-01-25 17:13] #397 closed, assigned to coreysmart92

[2016-01-25 17:16] amb141330 commented on #427
Will talk with you during meeting to discuss meeting on Wednesday

[2016-01-25 17:16] coreysmart92 commented on #361
Closing: The last of these new podcasts have been published.
(9/25/16)

[2016-01-25 17:18] amb141330 commented on #425
I sent an email to Patricia last week, still waiting on a response from her. Other than that I believe we're ready to go on this channel?

[2016-01-25 17:18] coreysmart92 commented on #346
I have not had the time to do this. In sound meeting 1/25/16 we will discuss the format for the URLs.
(9/25/16)

[2016-01-25 17:18] amb141330 commented on #422
Done most of this, need to review it with you Cassini

[2016-01-25 17:18] amb141330 commented on #420
duplicate issue

[2016-01-25 17:18] #420 closed, assigned to amb141330

[2016-01-25 17:19] cassininazir commented on #422
Can you add a link to the updated version to this GitHub item?

Cassini Nazir

Clinical Associate Professor, School of Arts, Technology, and Emerging Communication
Director of Design and Research, ArtSciLab
The University of Texas at Dallas

From: amb141330 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedisturbance/podcasts <reply@reply.github.com<mailto:reply@reply.

[2016-01-25 17:20] cassininazir commented on #425
Thanks. Once scheduled, please send her an email letting her know the day the podcast will be published.

Cassini Nazir

Clinical Associate Professor, School of Arts, Technology, and Emerging Communication
Director of Design and Research, ArtSciLab
The University of Texas at Dallas

From: amb141330 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedisturbance/podcasts <

[2016-01-25 17:21] yvantina commented on #361
Nope. You haven't published Starbeast yet, nor prosthetics organs for Meta-Life !!!

[2016-01-25 17:22] coreysmart92 commented on #345
This podcast is done editing, I will make a draft of the forms need and contact Mr. Snelson again.
Close: When podcast is published.
(1/25/16)

[2016-01-25 17:28] yvantina commented on #361
Or maybe I'm mistaken ??

[2016-01-25 17:36] amb141330 commented on #416
Lab hours are updated
https://docs.google.com/document/d/1ndXzEpIHEwShp79lg5f6i8k9U5Bo6kBsgrJOtmhsuOA/edit
Can you print this in your office?

[2016-01-25 17:45] cassininazir commented on #416
Printed.

You can access and printer to the printer in the main ATC office by add the printer by IP address:

10.204.40.31

Cassini Nazir

Clinical Associate Professor, School of Arts, Technology, and Emerging Communication
Director of Design and Research, ArtSciLab
The University of Texas at Dallas

From: amb141330 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedist

[2016-01-25 17:47] amb141330 commented on #310
Is this still not up? Can I get an exact date this will be launched? I know we've been waiting on feedback, but we need to get this up.

[2016-01-25 17:48] coreysmart92 commented on #361
Star Beast just published. I fell asleep last night before it published and Prosthetics Organs has been completed and scheduled to publish 2/1/16 at 12:30 am.

[2016-01-25 17:51] coreysmart92 commented on #337
Closing: Ashton and Brian have made a process for recording in the ArtSciLab. I will make a new issue to write a process for other methods of recording.
(1/25/16)

[2016-01-25 17:51] #337 closed, assigned to coreysmart92

[2016-01-25 17:52] coreysmart92 commented on #334
Closing: This podcast has been published.
(1/25/16)

[2016-01-25 17:52] #334 closed, assigned to coreysmart92

[2016-01-25 17:54] coreysmart92 commented on #310
Closing: This channel has gone live with the first podcast. The second podcast is scheduled to publish 2/5/16.
(1/25/16)

[2016-01-25 17:54] #310 closed, assigned to coreysmart92

[2016-01-25 17:56] coreysmart92 commented on #124
Closing: Lilla has submitted a podcast, this podcast has been scheduled to publish 1/27/16.
(1/25/16)

[2016-01-25 17:56] #124 closed, assigned to coreysmart92

[2016-01-25 18:00] amb141330 commented on #422
https://docs.google.com/document/d/1HHe0dq7U69f4perh28GOa3IiUA6pPSAuBuPpZsybmyY/edit

[2016-01-25 18:01] rmalina commented on #337
we were unable to use the system last friday-please close this when the
system has been checked out and htere is an instruction sheet
roger

On Mon, Jan 25, 2016 at 11:51 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-01-25 18:03] rmalina commented on #345
can you do this though paul snelson ?
roger

On Mon, Jan 25, 2016 at 11:22 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-01-25 18:08] cassininazir commented on #337
Corey, please add a link to the document being referenced here.

Cassini Nazir

Clinical Associate Professor, School of Arts, Technology, and Emerging Communication
Director of Design and Research, ArtSciLab
The University of Texas at Dallas

From: coreysmart92 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: creativedisturbance/podcasts <reply@reply.github.com<mailto:reply@re

[2016-01-25 19:15] cassininazir opened #431 "Define Quality Measurements for Podcasts"
@amb141330, @coreysmart92 and @halclark please meet soon (before end of Jan) to put together a list of measures of quality for podcasts.

[2016-01-25 19:21] cassininazir commented on #431
- Measure of quality should also include the quality of contact with the producers.

[2016-01-25 19:27] cassininazir opened #432 "Contact Sponsors and Partners re: Move into MIT Press"
@amb141330 work with @cassininazir and @rmalina on this. @cassininazir will help draft intro email.

[2016-01-25 19:39] cassininazir opened #433 "Develop Metrics for relaunch with MIT Press"
What are our current metrics on CD?

[2016-01-25 19:40] cassininazir opened #434 "Launch Experimental by Feb. 15"
@halclark please work with @linamoon and @dylanorgeron on design and linking.

We need a blog post to announce this when it launches.

[2016-01-25 19:47] cassininazir opened #435 "Turkish Channel"
@amb141330 please work with Roger on details for getting this up and running.

[2016-01-25 22:03] rmalina opened #436 "make sure CD 2.2.7 is updated"
ashton
per our discussion your key management tool is making sure
that CD 2.2.7 is regularly updated - all the tabs

make sure this is someones  regular job- just make sure the doc is pulled up every monday
and make sure its updated before the meeting

roger

[2016-01-25 22:04] rmalina opened #437 "stitcher is not being updated"
ashton for some reason todays podcast on the web site is not showing up on stitcher
please assign to someone to check/fix

roger
@cassininazir

[2016-01-27 04:25] yvantina opened #438 "mistake in starbeast description"
@coreysmart92 Corey, can you please help me fix this? simply replace
" (Biofilia, Helsinki) " with (organized and produced by the Bioartsociety)"
and adding the link below - keep the other one
http://bioartsociety.fi/making_life/

THANKS

---------- Forwarded message ----------
From: roger malina rmalina@alum.mit.edu
Date: 2016-01-26 19:20 GMT-06:00
Subject: correction
To: Yvan Tina yvantina@gmail

[2016-01-27 04:28] yvantina opened #439 "Nowhere Else Channel !!!"
@amb141330
---------- Forwarded message ----------
From: Yvan Tina yvantina@gmail.com
Date: 2016-01-26 14:30 GMT-06:00
Subject: Fwd: Creative Disturbance_NoWhere Else
To: Ashton Brillante ashtonbrillante@gmail.com

Can you please follow up on this ?!
We don't want to lose them again
She, and Diane Gromala should be copied in your emails
Much thanks !!

yvan

---------- Forwarded message ----------

[2016-01-27 05:25] yvantina opened #440 "BIOFICTION - SHAHARATECH"
@rmalina @cassininazir

Good Morning every one !
Dear Amal and Markus, this is true synchronicity

Markus met Amal, Amal met Markus

Amal, as you can see below Markus and I talked about the opportunity to tour the BioFiction festival in Africa. Markus is the founder and artistic director, among many other things, of BioFictioin
http://bio-fiction.com/2014/

Markus, Amal is a writer and business en

[2016-01-27 05:40] yvantina commented on #421
@coreysmart92 Please publish the second Skotopoiesis podcast this week !!!! Transmediale is coming next week.. also please duplicate these two Audiolats podcasts into the Meta-Life channel as well !!! Thank you

[2016-01-27 06:00] yvantina commented on #332
Any update on this ?

[2016-01-27 10:15] yvantina commented on #361
We also miss the two podcasts called "De l'amitié" with Dominique Lestel !!!

[2016-01-27 14:02] cassininazir commented on #332
@amb141330 can you make sure that this goes on the Podcast Production Sheet?

[2016-01-27 14:03] cassininazir commented on #421
@yvantina this wasn't assigned to anyone. Assigning to @coreysmart92

@amb141330 can you make sure this also goes on the Podcast Production Sheet?

[2016-01-27 15:59] rmalina opened #441 "another correction to fee description"
sorry about this corey but the voice in the fee/fiswick you recorded has edited/corrected
the desicription-pleaes use this version
sorry
roger

Paul Fishwick, PhD
Chair, ACM SIGSIM
Distinguished University Chair of Arts, Technology, and Emerging Communication Professor of Computer Science Director, Creative Automata Laboratory The University of Texas at Dallas Arts & Technology
800 West Campbell R

[2016-01-27 16:21] cassininazir opened #442 "Update Max Schich's bio and expertise lines"
@amb141330 you may assign to another team member.

Please change Max Schich's bio/info online to the following and **email him when complete: Maximilian.Schich@utdallas.edu.**

EXPERTISE:
[please change to...]
History of western art and architecture, complex networks, data science, multidisciplinarity, visualization.

BIO:
[please change to...]
MAXIMILIAN SCHICH is an associate professor for arts

[2016-01-27 16:26] cassininazir commented on #438
@yvantina make sure you assign this to @coreysmart92 so it shows up in his list. Seen a few items that mention someone in the content without actually being assigned to an individual.

I've assigned to @coreysmart92 for this one.

[2016-01-27 18:00] coreysmart92 commented on #438
Thank you Cassini.
Closing: I have made the above updates. Let me know if you need anything else.
(1/27/16)

[2016-01-27 18:00] #438 closed, assigned to coreysmart92

[2016-01-27 18:03] coreysmart92 opened #443 "New Form Spamming"
Dylan: I am not sure if there is a way to fix this (or at least reduce it) but the new forms have been spammed. In both the New Channel and New Podcast there are many forms which seem to be fake/ads. What would you prefer I do about it?

[2016-01-27 18:12] dylanorgeron commented on #443
I'll handle it

Sent from mobile, pardon my dust.
On Jan 27, 2016 12:03 PM, "coreysmart92" notifications@github.com wrote:

[2016-01-27 22:25] rmalina opened #444 "media, arts and communication Turkey channel"
ashton
can you assign someone to work with me to set up this new channel

roger

Thanks for your quick response Roger:

Based on your responses and earlier correspondence, here's what I think:

We begin a channel tentatively named "media, arts and communication Turkey" and it covers the intersection of these three domains as well as any possible relevant fields (such as design). We begin with two

[2016-01-28 14:51] cassininazir commented on #444
From the email:
- Ask @linamoon to develop channel artwork

## \- Work with @halclark for bumper/stinger

absolutely enthusiastic about the proposed media, arts and
communication Turkey channel
you might work with your students to see if we can come up with a catchy name !

this email puts you in touch with ashton brillante, an undergraduate
student who is now
the overall coordinator for creative

[2016-01-29 16:13] #443 closed, assigned to dylanorgeron

[2016-01-29 20:26] linamoon opened #445 "Bank information for Kickstarter grants to students"
Roger's email for reference here:

lina

we need this information on each person to send them the $1000 kickstarter money

[code]

for security reasons tell them its best not to send all the info in one batch
but in two batches

can you send an email to each grantee - and copy me
say also if they prefer to fax the information they can do that

charlotte whats our fax no

Fax: 972-883-4374

[2016-01-29 21:00] linamoon commented on #445
Emails have been sent out to all the grantees - waiting for response.

[2016-01-29 21:02] linamoon opened #446 "Creative Disturbance Student Grant Names from Arun Augustine"
_Email reference below:_

From Roger:

arun
where in india are you moving to ? i was supposed to go to
bangalore in ten days but finally cancelled and will try to go
next summer-it would be great to meet up with you

and what are 'your projects' !!!!!

we are looking for students particularly outside north america
and western europe- we have no leads in india right now

why dont you run the ideas

[2016-01-29 21:03] linamoon commented on #446
@rmalina Wondering if there was any action I needed to take on this - tagging @yvantina also for reference.

[2016-02-01 14:18] rmalina opened #447 "metrics for good podcasts"
ashton-
as the team develops criteria for evaluating good podcasts, i suggest you include also the bio and podcast text

here is one that rates LOW for my reading

a) the name of the person in the podcast should be at the START of the text not burried in the text-
you tell me who is being interviewed
b) the name of the producer talking to the voice is not named in the text

anyway-in your criteria

[2016-02-01 14:20] rmalina opened #448 "scheduling guidelines"
ashton
in the last few weeks a couple of weeks you
had more than one podcast from the same channel

i suggest a general policy that in any given week there not
be more than one podcast from the same channel

unless there is a erally good reason

if i was a producer of another channel that has podcasts waiting
i would be mad that my channel is not getting attention !

roger

[2016-02-01 16:02] amb141330 commented on #448
Will discuss in today's meeting

[2016-02-01 16:02] amb141330 commented on #447
Will include this example when discussing guidelines with the team

[2016-02-01 16:09] amb141330 commented on #442
Changes made and Max has been emailed.

[2016-02-01 16:09] #442 closed, assigned to amb141330

[2016-02-01 16:10] amb141330 commented on #436
Corey now knows specifically what he should be updating. Will close once I'm happy with the finished product.

[2016-02-01 16:11] amb141330 commented on #435
Duplicate issue. Closing.

[2016-02-01 16:11] #435 closed, assigned to amb141330

[2016-02-01 16:12] amb141330 commented on #444
Here's the next email. Posting here to keep track:

Dear Roger and rest of the team CreativeDisturbance,

Finally, I got two graduate students who are willing to contribute to Turkish series of CD. Here is the their names and contact information:
Cenk Dereli c.dereli@gmail.com
Sarphan Uzunoglu sarphanuzunoglu@gmail.com

I explained them the project and they're waiting for your emails.
And meanwhil

[2016-02-01 16:12] amb141330 commented on #447
Actually closing because this is a duplicate issue, will copy & paste the text from this issue into the other.

[2016-02-01 16:12] #447 closed, assigned to amb141330

[2016-02-01 16:12] amb141330 commented on #431
ashton-
as the team develops criteria for evaluating good podcasts, i suggest you include also the bio and podcast text

here is one that rates LOW for my reading

a) the name of the person in the podcast should be at the START of the text not burried in the text-
you tell me who is being interviewed
b) the name of the producer talking to the voice is not named in the text

anyway-in your criteria

[2016-02-01 16:13] amb141330 commented on #432
Do we have an email list for this? Will discuss with Cassini today @ 3

[2016-02-01 16:15] amb141330 commented on #427
Met with you both two Wednesdays in a row. Will schedule next meeting for Feb. 10th

Meeting with Cassini today about my CV.

Forwarded the registration fee email to both @rmalina and @cassininazir

[2016-02-01 16:15] #427 closed, assigned to amb141330

[2016-02-01 16:15] amb141330 commented on #425
Going up on Feb. 5th. Will close when channel is launched.

[2016-02-01 16:17] amb141330 commented on #422
Finished. Document listed above in the link.

[2016-02-01 16:17] #422 closed, assigned to amb141330

[2016-02-01 16:17] amb141330 commented on #416
Lab hours posted in the lab.

[2016-02-01 16:17] #416 closed, assigned to amb141330

[2016-02-01 16:20] amb141330 commented on #411
This was fixed already, but I'm not sure when.

[2016-02-01 16:20] #411 closed, assigned to amb141330

[2016-02-01 16:23] amb141330 commented on #287
Will revisit this soon.

[2016-02-01 17:04] rmalina opened #449 "open turkish channel"
lina ashton
@cassininazir @yvantina

can you work with altug to set up the new turkish channel in march ?

roger

Dear Cenk Dereli and Sarphan Uzunoglu

We are delighted that you have agreed to work with Altug Akin to
produce a new channel on the Creative Disturbance platform-
we will be moving this platform to a MIT URL later this spring
so it will have much visibility !

Let me introduce you to

[2016-02-01 17:05] rmalina commented on #449
@amb141330
check out the turkish channel github item

[2016-02-01 17:25] cassininazir commented on #434
@halclark can you list what is needed to get this up by Feb. 15?

[2016-02-01 17:26] cassininazir commented on #332
@halclark any update on this?

[2016-02-01 17:27] cassininazir commented on #414
Closing this item. Reviewed with all team members.

[2016-02-01 17:27] #414 closed, assigned to cassininazir

[2016-02-01 17:55] rmalina commented on #287
No hurry on this one
Get the Portuguese and Turkish channels up
On Feb 1, 2016 10:23 AM, "amb141330" notifications@github.com wrote:

[2016-02-01 18:05] rmalina commented on #432
Run draft emails by me
On Feb 1, 2016 10:13 AM, "amb141330" notifications@github.com wrote:

[2016-02-01 18:26] coreysmart92 commented on #424
Closing: This podcast has been published and the producer informed.
(2/1/16)

[2016-02-01 18:26] #424 closed, assigned to coreysmart92

[2016-02-01 19:49] coreysmart92 opened #450 "Tracking of previous Splash Pages"
Create a sheet tracking for previous splash pages stats.

[2016-02-01 19:53] dylanorgeron opened #451 "allow for submitted forms to be edited by admins"

[2016-02-01 19:56] coreysmart92 commented on #449
@amb141330 Assign/create sub tasks github items then Close.

[2016-02-01 19:59] coreysmart92 commented on #440
@yvantina could you clarify what action needs to be taken for this Github item.

[2016-02-01 20:01] coreysmart92 commented on #428
@yvantina could you clarify what action needs to be taken by who for this Github item.

[2016-02-01 20:55] coreysmart92 commented on #429
Closing: Duplicate #441

[2016-02-01 20:55] #429 closed, assigned to coreysmart92

[2016-02-01 21:05] coreysmart92 commented on #441
@rmalina I have created a draft of the Podcast Form. The podcast has been scheduled to publish 4/6/16 I will have it edited and ready to publish as soon as possible if we wish to move up the publishing.
Close: When published.

[2016-02-01 21:06] coreysmart92 commented on #421
Closing: the podcast tracking sheet has been completely updated. (2/1/16)

[2016-02-01 21:06] #421 closed, assigned to coreysmart92

[2016-02-01 21:09] coreysmart92 commented on #361
Yes those were the podcast Hal believed had to much background noise. I have scheduled them to be published. I am transferring this to @halclark  .
Close: When the podcasts have been published

[2016-02-01 21:10] coreysmart92 commented on #101
Video Tutorial will be on Echo 360 by February 15, 2016.
Close: When video tutorial is on echo 360 and ready to be shared.

[2016-02-01 21:36] rmalina commented on #361
Please publish them
On Feb 1, 2016 4:09 PM, "coreysmart92" notifications@github.com wrote:

[2016-02-01 21:43] coreysmart92 commented on #39
Closing: @amb141330 will be taking this over. I have sent him my template.

[2016-02-01 21:43] #39 closed, assigned to coreysmart92

[2016-02-01 23:33] rmalina commented on #428
we need to schedule a skype with him to record a podcast before april 13
yuri's night

roger

On Mon, Feb 1, 2016 at 2:03 PM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-01 23:37] rmalina commented on #440
corey-will discuss with yvan but i suggest we put this on hold for now
roger
@yvantina

On Mon, Feb 1, 2016 at 2:01 PM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-01 23:49] rmalina opened #452 "update bumper schedule in the excel sheet"
hal

can you update the bumper schedule in the excel sheet
it is way out of date

i assume that all of you are producing bumbers so you
meet the goal for number of bumpers per month

and never change the bumper on a producers channel
without checking and getting it oked by that producer

roger
@amb141330

[2016-02-01 23:53] rmalina opened #453 "podcast on hold- bradbury"
corey
there is a podcast on hold under the tab in the excel sheet called on hold
can you publish that podcast please

you might check all, the tabs and make sure the contents are up to date
i assume hal is updating the bumper tab

roger

[2016-02-04 04:24] halclark commented on #372
@rmalina , what is the status on the Ellen Levy forms?

[2016-02-04 04:25] halclark commented on #452
Bumper schedule has been updated, pending approval from producers who aren't in-house.

[2016-02-04 04:25] #452 closed, assigned to halclark

[2016-02-08 17:10] amb141330 commented on #450
I'll go through the past splash page dates and look at the statistics for those dates later this week. I have other priorities right now.

[2016-02-08 17:11] amb141330 commented on #448
Have discussed. Team in agreement, will try and make sure this happens as long as it is possible.

[2016-02-08 17:11] #448 closed, assigned to amb141330

[2016-02-08 17:11] amb141330 commented on #444
Corey has said that he is in charge of the Turkey Channel

[2016-02-08 17:12] amb141330 commented on #439
Will email Yvan about this today and get this going ASAP

[2016-02-08 17:13] amb141330 commented on #436
Spreadsheet is more updated than before, I'll leave it to Corey's discretion as to when to close this issue.

[2016-02-08 17:15] amb141330 commented on #432
@cassininazir Temporarily assigning to you for information.

Do we have a list of the individuals emails of whom I need to contact? I'm happy to draft the email I'm just not certain who needs to be contacted.

[2016-02-08 17:16] amb141330 commented on #425
Channel up and running!

[2016-02-08 17:16] #425 closed, assigned to amb141330

[2016-02-08 19:09] amb141330 opened #454 "Archiving System: Using the RAID box"
We need to start archiving our old podcasts onto the RAID box

Need to "re-baseline the production" for archiving so we can get this going.

[2016-02-08 23:39] yvantina commented on #439
FYI
---------- Forwarded message ----------
From: Mahsoo Salimi salimi@sfu.ca
Date: 2016-02-08 13:48 GMT-06:00
Subject: Re: Creative Disturbance_PainLab Channel (Dr Gromala)
To: Corey Smart corey.smart92@gmail.com
Cc: Yvan Tina yvantina@gmail.com, gromala@sfu.ca

Dear Corey,

I submitted our Channel description and submitted the forms.
Please let us know when it is ready so we could upload our fir

[2016-02-10 20:40] cassininazir commented on #432
Noisy People - Tim Perkis tperkis@gmail.com tperkis@gmail.com
RAMI -
The Human Impacts Institute - Tara Deporte Tara@HumanImpactsInstitute.org
Leonardo - Roger
OLATS - Annick Buread - abureaud@gmail.com
Tiny Thumbs - Kyle Kondas kkondas@gmail.com

[2016-02-10 20:47] linamoon commented on #308
High-res photos are on soundcloud channel. Closing issue.

[2016-02-10 20:47] #308 closed, assigned to linamoon

[2016-02-10 22:59] yvantina opened #455 "Ideas for Yuri's night"
----- Forwarded message from frank@pietronigro.com -----
    Date: Mon, 8 Feb 2016 22:33:22 +0000
    From: "Frank Pietronigro, Zero Gravity Arts Consortium, Director" frank@pietronigro.com
Reply-To: "Frank Pietronigro, Zero Gravity Arts Consortium, Director" frank@pietronigro.com
 Subject: Seeking Arts in Space Exploration Videos for the National Space Society's 35th International Space Developme

[2016-02-10 23:43] yvantina opened #456 "podcast credentials"
---------- Forwarded message ----------
From: Yvan Tina yvantina@gmail.com
Date: 2016-02-10 17:41 GMT-06:00
Subject: podcast credientials
To: Hal Clark hclark55@gmail.com, Ashton Brillante ashtonbrillante@gmail.com, Corey Smart corey.smart92@gmail.com

Hey guys !

We need to give full credits to the bumpers my friends in Paris have created
Can you please let me know the numbers of podcasts that ha

[2016-02-10 23:51] halclark commented on #372
Assigning this issue to you Roger, as we talked about at Mondays meeting

[2016-02-11 04:20] rmalina commented on #455
@halclark
hal can you put frank pietronigro on the list of potential yuri's night podcasts to record
roger

[2016-02-11 04:22] rmalina commented on #454
cassini we need to give instructions to ashton re how they do regular podcast archiving roger

[2016-02-11 04:23] rmalina commented on #436
corey =please make sure the excel spread sheet is updated BEFORE each monday meting-roger

[2016-02-11 04:25] rmalina commented on #444
ashton corey
i just put ashton in touch with the turkish team
you need to set up a skype with them next
week

roger

On Mon, Feb 8, 2016 at 1:34 PM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-11 16:36] rmalina opened #457 "splash page for yuri's night"
hal
here is my proposal for the yuri's night splash page= i assume you will work with lina on this ?

lets do a matrix of images of 'firsts' in space, first man in space, first woman in space, first dog in space ! first chinese in space first plant in space etc etc

just an image with "first x in space' with a link to where the image was
taken from

roger

[2016-02-11 16:37] rmalina opened #458 "coordination for yuri's night"
hal

i think we need to meet at least for 15 minutes each week to coordinate
yuri's night- i could meet right after or before your monday meeting
or open to other times

i am travelling from march 9 on so would really like to get yuri's night
in good shape before then

roger

[2016-02-11 17:58] rmalina opened #459 "broken links to voice images"
ashton

when there is an image of a voice on the page

http://creativedisturbance.org/channel/femgineers/

the image doesnt link to the bio of the voice ? is that suppoed to be
happening ?

its annoying to see an image of someone and you cant click through
to their voice bio

roger

[2016-02-11 21:49] rmalina opened #460 "podcast publishing policy"
ashton
two podcasts from the same channel were published this weeek
please enforce the policy that no more than one podcast from a given
channel is published in the same week unless there is a really good reason
roger

[2016-02-11 22:55] #458 closed, assigned to halclark

[2016-02-11 23:00] rmalina opened #461 "register our yuris night on yuris night website"
read instruciton and register our event

https://yurisnight.net/3-steps/

with party at wizards

roger

[2016-02-11 23:16] rmalina opened #462 "yuris night podcasts"
make a list of podcasts we will feature for yuris night

a) all those already in space and culture channel : 6

b) annick and jean luc said they would try and do ones with kitsou dubois and pierre compte
c)african astronaut: yvan is setting up podcast
d) mike kesden and midori kitagaw on their occulus gravitational waves project
e) moon day guy

can you keep track and work with me on these

roger

[2016-02-11 23:20] rmalina opened #463 "bumper for yuri's night"
roger to contact annick and jean luc to see if they
want us to do yuris' night bumber

roger

[2016-02-12 19:27] cassininazir opened #464 "Add field for language for Podcasts in WP"
We'd like to track language in our metrics (http://creativedisturbance.org/stats/). Can you add a dropdown for language(s) in the Podcast Episode form in WordPress.

[2016-02-12 22:27] rmalina opened #465 "podcast scheduling with iranian channel"
ashton
who is the liaison wiht the iranian channel- the liaison needs to contact
fatemeh and start scheduling these podcasts

they will help in our non english metric !

roger

Tashakori, Fatemeh via cometmail.onmicrosoft.com
2:34 PM (1 hour ago)

to roger
Hi Dr.Malina,

Thank you so much for your email. Absolutely, I am gonna publish two podcasts in next few weeks.
I will let you know when they b

[2016-02-12 22:31] rmalina opened #466 "language diversity goal"
ashton

per the discussion i think we need to develop a metric but also a goal
of what fraction of our podcasts are not in english each month

what do you think would be a reasonable goal as a start as to
what % podcasts each month will be in another language than
english ?

roger

[2016-02-12 22:37] rmalina opened #467 "info for collin steinmetz podcast"
corey
here is url bio and info about the podcast for your
to edit and use for the podcast
@cassininazir
cassini edit if you want

roger

The Lumen Life - Reexamining the Relationship Between People and Lighting

Collin Steinmetz
Sales & Marketing, ilumi
www.ilumi.co

Light is a powerful force that often seems to fall into the background of our day-to-day lives. It tells us when to wake and when to

[2016-02-12 23:19] rmalina opened #468 "podcast description for second podcast with steinmetz"
corey-here is the description for the second steinmetz podcast
@cassininazir

Designing the Mundane, Live Your Light, Chickens Unite !
Collin Steinmetz of the Ilumi lighting company, www.ilumi.com, discusses with Cassini Nazir of the ArtSciLab at UT Dallas the disruptive technologies in the lighting industry. Ilumi uses the motto “Live Your Light” to make the point that we underestimate the impact

[2016-02-13 00:26] rmalina opened #469 "archive two channels"
ashton

i have contacted david marlett the producer of the cinemersia and crowdfudning channels

please go ahead and move them to the new archive page of inactive channels
on creative disturbance

we arent expecting any new podcasts for these channels

thanks

roger

[2016-02-13 00:28] rmalina opened #470 "strange downloads-have we been hacked"
ashton
we just had 300 podcasts downloaded today
and its strange
almost each of our podcasts was downloaded once

none more than 15

i wonder if we have been hacked or is this a bot
check with cassini

roger

[2016-02-13 00:58] yvantina opened #471 "Future mind podcast"
Roger, pour rappel
un podcast avec Tom Ray ?

---------- Forwarded message ----------
From: Yvan Tina yvantina@gmail.com
Date: 2016-01-02 16:55 GMT-06:00
Subject: Re: tom ray

2016-01-02 16:38 GMT-06:00 roger malina rmalina@alum.mit.edu:

[code]

[2016-02-13 01:54] yvantina commented on #446
Nope Lina ! Roger, any idea ? I think Ananya may be a better candidate, as she is currently in India and would increase our gender/multilingual stats..just my opinion @linamoon @rmalina

[2016-02-13 21:38] rmalina commented on #446
Right now I think we have our hands fill

Getting the first ones going- so I think we should wait

To find other students

roger

From: yvantina [mailto:notifications@github.com]
Sent: Friday, February 12, 2016 7:54 PM
To: creativedisturbance/podcasts podcasts@noreply.github.com
Cc: rmalina leonardo.isast@gmail.com
Subject: Re: [podcasts] Creative Disturbance Student Grant Names from Arun Augustin

[2016-02-13 22:34] yvantina commented on #446
Okay
yvan

2016-02-13 15:38 GMT-06:00 rmalina notifications@github.com:

##

check out this website for more information on art, synthetic biology and
a-life
http://synthbioart.texashats.org/
and listen to our podcasts !
http://creativedisturbance.org/

[2016-02-14 06:56] yvantina opened #472 "new podcasts for the back log !!"
So i've been trying to submit new forms without success again.. not sure if this has something to do with my computer though.. anyway, i've uploaded some new podcasts on Box.com at this address https://utdallas.app.box.com/files/0/f/6542663709/Yvan_podcasts
Not all the files are in Box and you may want to check the folder in the ArtSciLab desktop
You will schedule them at your convenience but plea

[2016-02-14 18:30] rmalina opened #473 "wednesday skype for turkish channel"
ashton corey

which one of you will be leading the setting up the turkish channel
we have a skype
17th of February, Wednesday, 1 Pm dallas 2 pm NYC 9pm Istanbul-Izmir, is fine for the Turkish team.
Looking forward to skype-talk!

with the team and you need to sit in the skyp
corey or ashton-whichever one of you is lead on the new turkish channel

and you need to send them instructions on setting u

[2016-02-15 17:03] cassininazir commented on #472
@yvantina can you discuss with @dylanorgeron. Will need more details on the issue.

[2016-02-15 17:08] cassininazir commented on #464
Connecting issue #466 here.

[2016-02-15 17:08] cassininazir commented on #466
Connecting issue #464 here.

[2016-02-15 17:57] amb141330 commented on #470
I don't have the slightest clue as to how to check for that. I'm sending @cassininazir an email now.

[2016-02-15 17:59] amb141330 commented on #469
Reassigning to Dylan.

@dylanorgeron You can get to this when you have time, I know you have more important things to work on right now. Put this on hold until you have an opportunity.

[2016-02-15 18:00] amb141330 commented on #460
Discussed at the meeting. That happened last week and it was completely my fault. This shouldn't happen again and we're all clear as to what the scheduling guidelines are.

[2016-02-15 18:00] #460 closed, assigned to amb141330

[2016-02-15 18:01] amb141330 commented on #459
To my knowledge this has always been the case. I agree with you that they should just be able to click those pictures rather than have to go to the podcast's URL to click those images.

@cassininazir What's the best way for us to change this?

[2016-02-15 18:01] amb141330 commented on #439
Sent an email regarding their first podcast and channel logo. Waiting on response.

[2016-02-15 18:04] cassininazir commented on #470
This may be related: From the recording Mac station in the lab I subscribed to Creative Disturbance from within iTunes. It downloads a certain amount of recent podcasts but not sure how far back it goes. That's one new "user".

Also, there may be new subscribers from the Leadership Richardson tour from Friday. A few people were interested in the podcasts and asked for the website before the tour e

[2016-02-15 18:06] cassininazir commented on #459
Re-assigning to @dylanorgeron to fix. Completely agree, we should make those links.

[2016-02-15 18:06] #396 closed, assigned to linamoon

[2016-02-15 18:07] amb141330 commented on #418
I have registered several channels including:

Virtual Africa
New Leonardos
Meta-Life
Pioneers and Pathbreakers
The Bold Roast
Voices from the Crowd

I have contacted Tara DePorte of Human Impacts Institute and Tim Perkis of Noisy People to request their permission to submit their podcasts.

[2016-02-15 18:07] linamoon commented on #457
Reassigning to myself so I will remember - will work with @halclark on this.

[2016-02-15 18:08] linamoon opened #474 "Artwork for No Where Else Channel"
_Reference from Ashton below:_

Hello Mahsoo Salimi,

My name is Ashton Brillante and I am the project manager for Creative Disturbance. I'll be in charge of making sure we get your channel up and running as soon as possible.

It seems you've already filled out all the required forms, now we'll just need to produce a logo for the channel. I've CC'd one of our designers, Lina Moon, on here for you

[2016-02-15 18:11] linamoon commented on #474
@linamoon to reply to Mahsoo once I get channel description for @amb141330.

[2016-02-15 19:01] amb141330 commented on #439
Sure. Thanks

[2016-02-15 19:33] cassininazir opened #475 "Please Grant Hal Admin Access to Forms"
@dylanorgeron could you grant @halclark, @amb141330 and @rmalina admin access to the forms.
They need to be able to see all the forms that have been submitted and in-progress.

Please take care of **as soon as possible**.

[2016-02-15 19:40] linamoon commented on #382
Radio Plays graphic done and uploaded to experimental space.

[2016-02-15 19:40] #382 closed, assigned to linamoon

[2016-02-15 19:55] cassininazir opened #476 "Write criteria for poor quality podcasts"
Please write a list of criteria for poor quality podcasts. This should also include suggestions on how producers can improve or fix the problem as well.

[2016-02-15 19:56] dylanorgeron commented on #475
all three now have 'additional_admin' privileges

[2016-02-15 19:56] #475 closed, assigned to dylanorgeron

[2016-02-15 20:36] rmalina opened #477 "near term priority= process improvement on meeting goal for 3 podcasts a week"
folks

ashton-here are the notes from todays meeting=please make sure these are implemented

we failed to meet our schedule for a podcast this morning- very disappointing

given that we failed to meet our goal of three podcasts a week- none went up this morning- we decided that all work will focus on

a) getting the three up this week

b)  by next monday have uploaded the podcasts for the forthcom

[2016-02-15 21:20] yvantina commented on #472
@dylanorgeron Meeting scheduled on Tuesday, Feb 16 12-12pm

[2016-02-15 21:22] rmalina opened #478 "stats about podcasts for producers"
ashton

can you tell these producers how they access stats about
the podcasts

if these producers dont know -the others probably dont
either ! tell them all

roger

Ana Rita Fonseca
3:17 PM (3 minutes ago)

to roger, Sam, jmoon12, Patrícia, Yvan
Thanks!!

i can't remember about this
but can we access statistics about the podcasts?

just let us know if you need anything from us

:)

arita

[2016-02-15 23:33] yvantina opened #479 "Website Issue report from Australia"
@cassininazir @dylanorgeron
Please read the facebook conversation between Laini Burton and myself below
- it has to do with the 'Prosthetics Organs' podcast
  Thanks

Début de la conversation:
Hi Yvan, I wanted to say a personal thank you for the interview and for posting it online. However, the link doesn't work émoticône frown Not sure if its me though. Would you mind checking it please? This wa

[2016-02-15 23:40] yvantina commented on #474
FYI
---------- Forwarded message ----------
From: Mahsoo Salimi salimi@sfu.ca
Date: 2016-02-15 14:06 GMT-06:00
Subject: Re: No Where Else Channel for Creative Disturbance
To: Ashton Brillante ashtonbrillante@gmail.com
Cc: Yvan Tina yvantina@gmail.com, Lina Moon jmoon12@gmail.com, Diane Gromala gromala@sfu.ca

Dear Ashton,

Thank you very much, I have sent the logo for our channel before,
but also

[2016-02-17 17:50] rmalina opened #480 "update the Podcast Production Cheat Sheet (For Producers)"
corey
great that you started updating this
ashton and hal- please can you take an action to work with corey
to do a thorough update of this document

CD 2.2.2.7.2 Podcast Production Cheat Sheet (For Producers)

HAL- this is the place to put your WRITTEN evaluation criteria for evaluating
the quality of a podcast

roger
@halclark @amb141330

[2016-02-17 20:36] halclark commented on #480
Roger,

I have began to write down the quality guidelines in 2.2.2.7.2. Ashton,
Corey, and myself will finish these guidelines in our skype meeting on
Sunday.

Thanks,
Hal

On Wed, Feb 17, 2016 at 11:50 AM, rmalina notifications@github.com wrote:

[2016-02-17 20:49] halclark commented on #372
@rmalina have uploaded Ellen Levy 1 and 2, as well as the Tromble Podcast, to creativedisturbance.org/forms. Let me know if you cannot access them.

[2016-02-18 00:01] #391 closed, assigned to dylanorgeron

[2016-02-18 00:19] yvantina commented on #479
Hi Dylan
any update on this by chance ?
I need an answer for Laini
thank you

[2016-02-18 00:39] yvantina commented on #472
Files seem to be heavier than what wordpress can support_ please find them into Box.com
will save the forms without the audio file hoping that our sound team can take it from there and manage with Box

[2016-02-18 00:47] yvantina commented on #472
Being a Young Designer in Cairo - forms saved - Please go ahead and publish
Scales of Life (art) uploaded in Box - forms not already submitted

[2016-02-18 01:32] rmalina commented on #372
found them
roger

On Wed, Feb 17, 2016 at 2:49 PM, halclark notifications@github.com wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-18 01:34] rmalina commented on #372
hal
went into the form but the podcast itself is not
there-shouldnt it be already there and i can dowload
to listen ?

or are they in box.com ?

if you send this kind of email to other producers
you need to be explicit !

roger

On Wed, Feb 17, 2016 at 2:49 PM, halclark notifications@github.com wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-18 15:01] rmalina opened #481 "pending guest forms"
ashton

in the pending forms list there is a long list of guest forms that didnt get completed
can you make sure from now on that for every podcast the new guest from gets
filled out by the guest

roger

[2016-02-18 15:19] rmalina opened #482 "podcast form glitch"
when i do a draft podcast form and save it as a draft the podcast file i loaded up
doesnt appear in the updated version of the form
roger

[2016-02-18 15:35] rmalina commented on #372
hal
i have completed the ellen levy 1 podcast
it is now called

_When the Mind is the Medium; On the new connections between art and
neuroscience_

i have saved the form but it would not let me load the podcast

maybe its too big\

_can YOU try and load it into the form ?_

_i did the ellen levy guest form_

_i think ellen levy 1 is ready to publish but can you do an email_
_to her and ask her to

[2016-02-18 15:37] rmalina commented on #372
hal
i did ellen levy 1 but it took me an hour because of the form problems
next time you are in lets do ellen levy 2 together so we can file githubs
on all the problems

go ahead and publish ellen levy 1 after she oks it

roger

[2016-02-19 14:49] rmalina opened #483 "form testing"
ashton
i had a hell of a time this morning filling in the on line form on a podcast

i think we need to do a quality control and have you and i fill a form out and file githubs on all the problems we run into

roger

[2016-02-19 14:54] rmalina opened #484 "second ellen levy podcast"
hal
i filled out the form for ellen levy 2 -the file is called
Disorienting Procedures: Teaching Consciousness through Art_Science Practice

but now there are TWO files for ellen levy-the one you started and the one i finished
you need to remove i think the one you started

also i tried to add ellen levy as a voice- but it couldnt find her voice info so can YOU
add her as a voice using the guest i

[2016-02-19 16:22] dylanorgeron commented on #479
should now be working correctly

heres the link to the podcast file http://traffic.libsyn.com/createdisturb/Prosthetics_Organs_Wearable_Art_Podcast.mp3

[2016-02-19 16:22] #479 closed, assigned to dylanorgeron

[2016-02-19 18:59] yvantina commented on #479
Thank you !

[2016-02-22 16:51] amb141330 commented on #483
We'll begin having to do forms as a part of our new process. During that time we will keep track of bugs, issues, or possible processes that could be simplified.

[2016-02-22 16:52] amb141330 commented on #482
Will close this because another issue on GitHub already has a similar issue.

[2016-02-22 16:52] #482 closed, assigned to amb141330

[2016-02-22 16:53] amb141330 commented on #481
We have determined that this will be a part of our process if the guests aren't the ones who fill out their information. We will, at the very least, supply them with that information one week in advance.

[2016-02-22 16:53] #481 closed, assigned to amb141330

[2016-02-22 16:54] amb141330 commented on #478
Are you refering to the overall stats at creativedisturbance.org/stats ? or something else. I don't believe we can give them access to the Libsyn stats

[2016-02-22 16:56] amb141330 commented on #477
We have made sure to be ready for this Monday's meeting. Everything else should be sorted out. We did make a post about Experimental on social media and on the blog.

[2016-02-22 16:56] #477 closed, assigned to amb141330

[2016-02-22 16:57] amb141330 commented on #472
Will continue to leave this open until all podcasts have been dealt with.

[2016-02-22 16:58] amb141330 commented on #470
This is no longer, seemingly, an issue. Closing this.

[2016-02-22 16:58] #470 closed, assigned to amb141330

[2016-02-22 16:59] amb141330 commented on #466
I'm not sure exactly what our goal should here. My immediate goal would be around 25%, but I'm not sure how reasonable this is. It would be helpful to view past months and see what percentage of them was languages other than english. Then perhaps we push that percentage a bit to make it a "goal."

[2016-02-22 17:00] rmalina commented on #466
lets discuss in the meeting

do we have a history of what our stats are on languate and international
diversity ?

roger

On Mon, Feb 22, 2016 at 10:59 AM, amb141330 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-22 17:00] amb141330 commented on #465
I believe Yvan was the one dealing with this channel. Since he is busy with his own channel and studies, I am happy to contact Fatima about any updates.

[2016-02-22 17:01] amb141330 commented on #439
Sending them their bumper today. Channel should be up by next week.

[2016-02-22 17:01] rmalina commented on #465
no yvan is NOT assigned to this channel
all channels should be assigned to one of the sound editors
roger

On Mon, Feb 22, 2016 at 11:00 AM, amb141330 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-22 17:01] amb141330 commented on #426
Reassigning since Hal is coordinating with Roger on Yuri's night.

[2016-02-22 17:02] amb141330 commented on #418
I have submitted all of the possible channels for Podcast Awards. I will keep track of feedback on our feedback email.

[2016-02-22 17:02] #418 closed, assigned to amb141330

[2016-02-22 17:03] amb141330 commented on #387
This is old and I've already submitted everyone to podcast awards.

[2016-02-22 17:03] #387 closed, assigned to amb141330

[2016-02-22 17:03] rmalina commented on #478
i think each producer would like to know the stats on their channel and
podcasts
roger

On Mon, Feb 22, 2016 at 10:54 AM, amb141330 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-22 17:04] amb141330 commented on #266
This issue has been moved to administration as we are waiting whether or not they will pay for this system.

[2016-02-22 17:04] #266 closed, assigned to amb141330

[2016-02-22 17:04] rmalina commented on #481
please make sure the written document is updated
roger

On Mon, Feb 22, 2016 at 10:53 AM, amb141330 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-22 17:04] amb141330 commented on #56
This has been finished and sheets have been, or will be printed, by Brian and put into a three ring binder. There will be two binders, one for the ArtSciLab, and one for the  Lab techs

[2016-02-22 17:04] #56 closed, assigned to amb141330

[2016-02-22 17:05] amb141330 commented on #153
In the new three ring binders, there is a section about video conferencing with instructions on how to record Jabber sessions

[2016-02-22 17:05] #153 closed, assigned to amb141330

[2016-02-22 17:17] amb141330 commented on #465
I'll handle this then.

[2016-02-22 17:46] coreysmart92 commented on #480
I revised the Cheat Sheet for the Skype meeting Wednesday 2/17/16. I will now have Ashton and Hal review and suggest any changes.
Close: Once I have made the suggested revisions.
(2/22/16)

[2016-02-22 17:47] coreysmart92 commented on #473
Closing: The meeting went well and I will open individual Github issues for all task pertaining to that meeting.
(2/22/26)

[2016-02-22 17:47] #473 closed, assigned to coreysmart92

[2016-02-22 17:50] coreysmart92 commented on #468
Okay. I will begin the forms for that podcast.
Close: when new podcast form is completed and submitted.
(2/22/16)

[2016-02-22 17:51] coreysmart92 commented on #467
Okay, I will begin the podcast forms.
Close: when podcast forms have been submitted.
(2/22/16)

[2016-02-22 17:54] coreysmart92 commented on #453
I will discuss this in the Sound meeting Monday 2/22/16.
(2/22/26)

[2016-02-22 17:56] coreysmart92 commented on #444
The Skype meeting went well Wednesday 2/17/16. I will now make individual Github Issues for all task pertaining to the publishing of this channel.
Close: once all Github issues have been created.
(2/22/16)

[2016-02-22 17:58] coreysmart92 commented on #436
Closing: I have updated the tracking sheet for Monday meeting 2/22/16.
(2/22/16)

[2016-02-22 17:58] #436 closed, assigned to coreysmart92

[2016-02-22 17:59] coreysmart92 commented on #357
@amb141330 are you in charge of this channel or is @halclark?

[2016-02-22 18:01] coreysmart92 commented on #101
This was put on hold temporally to prepare podcasts. Expected publishing is 2/29/16.
Close: When video tutorial is published on echo 360.
(2/22/16)

[2016-02-22 18:03] coreysmart92 commented on #315
Closing: This podcast as been published.
(2/22/16)

[2016-02-22 18:03] #315 closed, assigned to coreysmart92

[2016-02-22 19:16] coreysmart92 opened #485 "Statistics for Entire Channels"
Create a process for reviewing Creative Disturbance Channel Statistics. Libsyn does not allow for us to view stats for entire channels. Is there a way to do this?

[2016-02-22 19:23] coreysmart92 opened #486 "Create Process for Podcast Language Statistics"
@dylanorgeron as mentioned in meeting 2/22/16 could you create a process to review podcast language stats?

[2016-02-22 19:55] coreysmart92 opened #487 "Form Duplication Removal"
@cassininazir @dylanorgeron is there a way to keep forms from being duplicated. We have multiple voice forms for the same person. How can we verify and limit it to the most accurate; and how can we confirm/be sure that the producers and voices have verified publishing.

[2016-02-23 20:21] linamoon commented on #474
Artwork has been received and placed in Google Drive - closing issue.

[2016-02-23 20:21] #474 closed, assigned to linamoon

[2016-02-24 17:22] coreysmart92 opened #488 "Update the "Meet the Team" Page"
Update the "Meet the Team" page to current standings. This will include adding the Creative Disturbers.

[2016-02-24 17:23] coreysmart92 opened #489 "Create a "Creative Disturbers" Page"
Create a "Creative Disturbers" Page similar to the "Meet the Team" Page. Where a viewer can go and learn more about the producer and what they are doing.

[2016-02-24 17:48] rmalina commented on #489
the page , with all the creative disturbers ,should also be up on the TEAM
page under ABOUT

we now have 7 students that need to be featured
roger

On Wed, Feb 24, 2016 at 11:23 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-24 17:51] rmalina opened #490 "marie pier boucher for yuris night"
hal
can you schedule a skype between
marie pier boucher and me for yuris night

roger

will be glad to schedule a podcast for our uris night events
will contact you again
roger

On Thu, Jan 21, 2016 at 9:54 AM, Marie-Pier Boucher
boucher.mariep@gmail.com wrote:

[2016-02-25 21:37] #445 closed, assigned to linamoon

[2016-02-25 21:40] linamoon opened #491 "Create space for grants on Creative Disturbance webpage"

[2016-02-25 21:43] linamoon opened #492 "Collect all grantees' emails and start email discussion thread"
- Introduce everyone to each other
- Future Africa and Virtual Africa-related items (talk to @yvantina about this)
- Create a page with everyone's information
  - Name
  - Institution (if applicable)
  - Location
  - Bio
  - link to channel(s)

[2016-02-25 22:18] rmalina opened #493 "goal for monday"
team

we have a new problem developing
at last mondays meeting we agreed

a) four podcasts would be published this week
only two have been published which means i assume that
two more are going up before next monday
PLEASE MAKE SURE TWO MORE GO UP BEFORE MONDAY

the excel sheet indicates that have no podcasts ready to
be published as of now this week

b) that you would have 4 podcasts edited and l

[2016-02-26 19:02] rmalina opened #494 "farsi podcast"
ashton
for you to follow up wiht
roger

Tashakori, Fatemeh via cometmail.onmicrosoft.com
12:19 PM (41 minutes ago)

to roger
Dear Dr. Malina,

I'm gonna publish my podcast, who is the right person to contact with?
Have you changed previous process and official forms to submit a new podcast?
Best,
Fatima

Sent from my iPhone

[2016-02-27 16:24] rmalina opened #495 "david mcphail podcast"
corey
i completed the david mcphail guest form but i could not find the podcast or draft podcast form
PLEASE can you upload the podcast immediately and start a form so i can complete it
-please on fridays when we do the recording- lets start a podcast form there and then and put the podcast in it

please upload the podcast this weekend so i can complete the form for you

you can edit it later

rog

[2016-02-27 16:28] rmalina opened #496 "clean up pending podcast forms"
corey

the pending podcast forms include podcasts that have already been published
PLEASE try and keep up and when you ;publish a podcast remove the pending form-it makes it really diffifult to work when i go to pending forms to try and complete them and some of the podcasts are already published

do you have a check list for what has to be done when each podcast is published- i hope so-can you ad

[2016-02-28 23:12] halclark opened #497 "Tromble Podcast Forms"
@rmalina I have put up the incomplete form for the Tromble Podcast as a draft in creativedisturbance.com/forms . Can you finish this as soon as possible? Thank you!

[2016-02-29 05:52] rmalina commented on #497
will do
roger

On Sun, Feb 28, 2016 at 5:12 PM, halclark notifications@github.com wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-02-29 17:30] amb141330 commented on #494
I have contacted her about this.

[2016-02-29 19:21] cassininazir commented on #343
@amb141330 re-assigning to you. @linamoon can get you a list of the emails if needed.

[2016-02-29 19:22] cassininazir opened #498 "Create a Blog Post for Yuri's Night"
This should occur before Yuri's night (ideally in March).

[2016-02-29 19:27] cassininazir opened #499 "Report on Analytics/Stats for Experimental"
Talk to Lina about how to access Google Analytics. Be ready in Monday meeting (March 7) to give stats for Experimental (visits, top pages, etc).

[2016-02-29 19:41] cassininazir opened #500 "Resume Review for Everyone"
@amb141330 can you help me schedule a session for everyone the week of March 7-11?

[2016-03-01 00:42] rmalina opened #501 "publish ecoist and fqr podcasts week of 27 march"
corey

can you schedule for publication these two podcasts for the week after march 27
with Alex Topete

yvan: can you record these two podcasts with me and alex after class monday march 7
with alex

one on his future ecoist review
one on
Feminist United Quaterly

roger
@yvantina

[2016-03-03 17:46] rmalina opened #502 "improve instruction sheet for producers deposition podcasts"
ahstpon
producers claerly need a written instruction sheet  not just the
email

or else on the page with the forms you need instrucitons ?

if fatemeh couldnt figure it out nor can others

roger

From: Tashakori, Fatemeh
Sent: Tuesday, March 1, 2016 10:18 PM
To: Ashton Brillante
Subject: Re: Farsi Podcasts

Dear Ashton,

I have couple of questions about publishing a new podcast. Actually I followe

[2016-03-04 17:35] rmalina opened #503 "equipment list update"
Sandy
There is an equipment list for my lab
And we are supposed to have an equipment
Sign out system

The equipment list needs to be put in the three
Ring folder-ashton can you do this ?
And then have a way in the 3 ring note book for
People to sign out equipment

And we need to work with sandy to make sure the
Equipment list is complete and we need to do an
Inventory before the end of the semeste

[2016-03-07 15:11] rmalina opened #504 "list of voices not alpabetical"
on the form for podcasts where you have to put in the voice the tab with the voices lists them in non alphabetical order, its almost impossible to find the name of the person
can you alphabetise the names
roger

ashton for you to coordinate with cassini/dylan

[2016-03-07 16:52] coreysmart92 commented on #493
Closing: This was achieved 2/29/16. Although this is a on going issue we will review occasionally.

[2016-03-07 16:52] #493 closed, assigned to coreysmart92

[2016-03-07 16:56] coreysmart92 commented on #480
Closing: [2.2.2.7.2 Podcast Production Cheat Sheet (for Producers)](https://docs.google.com/document/d/1mt7syWGCjQSIAZoBszFEg4Xc_YF3zaQ2o_1aW6dKrlc/edit)  is the up to date version of the podcast production process.

[2016-03-07 16:56] #480 closed, assigned to coreysmart92

[2016-03-07 17:32] coreysmart92 commented on #495
Closing: I have started the form it is named Watering Hole 2/26/16. The voice form has already been submitted. When I edit the podcast I will make a temp title and description for you to review.

[2016-03-07 17:32] #495 closed, assigned to coreysmart92

[2016-03-07 17:42] coreysmart92 commented on #453
Closing: We discussed this issue and found that we can not publish that podcast because of a voice. I will make a new issue to review and update all tabs on the Tracking Sheet.

[2016-03-07 17:42] #453 closed, assigned to coreysmart92

[2016-03-07 17:43] coreysmart92 opened #505 "Turkish Channel Art Work"
Lina could you create the Art Work for the Turkish Channel. We plan to publish this channel on 4/1/16.

[2016-03-07 17:45] coreysmart92 opened #506 "Tracking Sheet Review"
I will review and update all tabs on the tracking sheet. Goal is to have this done by 3/14/16.

[2016-03-07 17:45] amb141330 commented on #504
Reassigning to Dylan for this issue since it has to do with the forms.

[2016-03-07 17:48] coreysmart92 commented on #346
We will discuss this in the sound meeting 3/7/16.

[2016-03-07 17:48] amb141330 commented on #502
Corey can you read over this email and see where we need to make improvements in our forms? Then reassign to Dylan

[2016-03-07 17:49] amb141330 commented on #500
Will discuss in today's meeting

[2016-03-07 17:49] amb141330 commented on #494
Another issue is open regarding her podcasts, closing this one.

[2016-03-07 17:49] #494 closed, assigned to amb141330

[2016-03-07 17:50] amb141330 commented on #465
Already in contact with Fatimeh and we have another issue open about her podcasts, closing this one.

[2016-03-07 17:50] #465 closed, assigned to amb141330

[2016-03-07 17:50] amb141330 commented on #439
I have sent Diane Gromala emails each week asking for her feedback, but have still not gotten any response from her.

[2016-03-07 17:51] amb141330 commented on #431
reassigning to Hal since he is in charge of quality metrics. We can discuss them as a group when they are finished.

[2016-03-07 17:51] amb141330 commented on #357
There is another issue for nowhere else, closing this one.

[2016-03-07 17:51] #357 closed, assigned to amb141330

[2016-03-07 19:11] cassininazir opened #507 "Clear Podcasts from Dropbox (move to Box.com if needed)"

[2016-03-07 19:16] cassininazir opened #508 "Write Blog Post/Announcement for Yuri's Night"
This should include the invitation on EventBrite

[2016-03-07 19:31] coreysmart92 commented on #469
We need to Archive Old channels so that we know what channels are active or dead. This way we know which producers to ask for podcast submission.

[2016-03-07 19:33] cassininazir commented on #144
Duplicated in #469. Closing this issue.

[2016-03-07 19:33] #144 closed, assigned to dylanorgeron

[2016-03-07 19:36] cassininazir commented on #469
The channels that need archiving are:
- Adventures in Crowdfunding
- Cinemersia

When a podcast is archived, it should:
1. Say on the webpage that this channel is open for a new producer. Please contact feedback@creativedisturbance.org.
2. Be featured at the bottom of the [Disturbances](http://creativedisturbance.org/disturbances/) page under the heading "Archived".

[2016-03-07 19:44] cassininazir commented on #504
Page at http://creativedisturbance.org/forms/podcast

![screen shot 2016-03-07 at 1 48 54 pm](https://cloud.githubusercontent.com/assets/1661430/13581063/b46edd32-e46a-11e5-900b-2bd82841688d.png)

[2016-03-07 19:51] rmalina opened #509 "orcid number"
modify forms to allow voices and producers to add their ORCID numbers
modify instructions so we encourage people to deposit their orcid number

cassini- not sure wha thte best approach is on this so assigning to you for now

roger

[2016-03-07 19:51] cassininazir opened #510 "Add ORCID numbers to user profile pages and podcast guest page"
Many individuals register an [ORCID number](http://orcid.org/). Add the a field in the user registration field and podcast guest page to obtian this number.

[2016-03-07 19:53] rmalina commented on #405
done
roger

[2016-03-07 20:09] rmalina opened #511 "duplicate podcast of meredith tromble"
hal ashton
you need to talk

this morning ashton had asked me to complete the form for the meredith tromble podcast
http://creativedisturbance.org/forms/podcast/?id=188

meanwhile hal asked me to complete a form for the tromble podcast
http://creativedisturbance.org/forms/podcast/?id=180

i think these two are the same podcast ?

please can you check and if they are the same -just use ashton's for

[2016-03-07 20:22] rmalina commented on #511
hal
i filled and filed a voice form for meredith tromble

hal ashton please make sure that i was right that there were two
copies of the tromble podcast

check to see if there are supposed to be two different podcasts

roger
@halclark @coreysmart92

[2016-03-07 20:22] rmalina commented on #497
hal
i think this is a duplicate sound file for the aesthetics of complexity podcast form
i just filled out for ashton
roger
@amb141330

[2016-03-07 20:23] #405 closed, assigned to rmalina

[2016-03-07 20:26] rmalina commented on #350
done except for confusion as to whether there are one or two podcasts

[2016-03-07 21:45] rmalina opened #512 "improve working with producers"
hal ashton corey

since you are having trouble getting replies from some producers
please can you copy me on ALL emails to producers that you send ?
then i can apply pressure on the producers

note- I dont think i have ever received an email from any of you related to me channel
please can you treat me like any producer and send me the same kinds of emails you are sending to the other producers

t

[2016-03-07 22:14] rmalina opened #513 "record podcast for yuri;s night"
ashton
i need someone to help me set up a skype podcast recording for yuri's nigh with
supriya chakrabarti

can you assign thsi to the right person -

roger

Dr. Chakrabarti:

It is with great pleasure that I send to you this letter on behalf of our president regarding the 2016 SPIE George W. Goddard Award.

[2016-03-07 22:43] rmalina commented on #505
lina
consult with the turkish team before you start
roger

On Mon, Mar 7, 2016 at 11:43 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-03-07 22:46] rmalina commented on #453
judd
just wanted to confirm that we cant publish that podcast
that you recorded with a colleague last year ?

not a problem just wanted to make sure you dont want the
podcast published

roger

On Mon, Mar 7, 2016 at 11:42 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-03-07 22:47] rmalina commented on #495
corey
do not close this github item until its published
we have got to streamline the watering hole podcasts
it should be really easy to do this

roger

On Mon, Mar 7, 2016 at 11:32 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-03-07 23:22] rmalina opened #514 "raise money through patreon"
try raising money via patreon

lets discuss as part of the business plan discussion

Unrelated, but are you familiar with https://www.patreon.com/

I listen to Sam Harris' podcast regularly and he gets support for it through Patreon. Might be worth checking out if you're looking for other forms of support for CD.

Nick

[2016-03-08 02:00] rmalina commented on #453
It can be posted, we have all the releases. The only thing we do not have is a profile for Billy Lett.

-Judd

From: Roger Malina <rmalina@alum.mit.edu<mailto:rmalina@alum.mit.edu>>
Date: Monday, March 7, 2016 at 4:46 PM
To: creativedisturbance/podcasts <reply@reply.github.com<mailto:reply@reply.github.com>>, Judd Bradbury <jdb101000@utdallas.edu<mailto:jdb101000@utdallas.edu>>, Ashton Brillante <

[2016-03-08 04:47] yvantina opened #515 "F.U.Q podcast Alex Garcia Topete"
This podcast needs to be published by March 23rd - at the very latest
The file is currently on Box under ALEX_ROGER's folder. We didn't succeed to upload it with the podcast form. All forms , including the guest one, have been filed.
Please edit out the moment when Alex couldn't remember Sandra's last name in the middle of the podcast
please assign this podcast to  sound editor
@yvantina

[2016-03-08 17:57] rmalina opened #516 "new roots of curiosity podcast"
ashton
not sure who is assigned to this podcast but can you have them email patiricia right
away to confirm the podcast arrived safely and will be edited as she requested
roger

Hi Creative Disturbed team,

I just submitted one more podcast (with neuroscientist Gil Costa)!
If you can please have your sound team look at it, around minute 9 there is a construction noise outside, not sure if you pref

[2016-03-08 23:20] rmalina opened #517 "broken link"
there was a twitter today to a broken link

http://creativedisturbance.org/podcast/being-a-young-designer-in-cairo-eng/

roger

[2016-03-08 23:37] rmalina opened #518 "announce yuri's night party"
hey team
you have got to get the invitation out for the yuri's night party
in the next couple of days- its a month to the party

PLEASE get the invite and eventbrite set up in next couple of days
roger
@halclark @coreysmart92

[2016-03-08 23:39] rmalina commented on #518
the party is still not on the yuri nights web site
https://yurisnight.net/events/worldmap-2/
roger

[2016-03-08 23:49] yvantina opened #519 "Sonification podcast form"
The form for this podcast has been filled and saved
Please publish asap - the files are on Box.com - and do not forget to use the video that serves as a visualization of the experiment as Sruthi and Anvit kindly recorded it for us.
please assign to a sound editor
thanks

[2016-03-09 00:02] yvantina opened #520 "Aggregating Future Lab Africa"
@amb141330 @linamoon @rmalina @cassininazir
Can you please work with Roger, Lina and myself for the aggregation of the Future Lab Africa project runs by Tegan Bristow and Jepchumba II - two recipients of the international grants ?
http://futurelabafrica.org/
If we succeed, this channel will be one of the Virtual Africa 'network of networks' as part of a syndication strategy (cf. Audiolats), meanin

[2016-03-09 00:05] rmalina commented on #520
ashton
can you put this on your planning list for new channels-
i think thats the way to plan it

when is the next month with no new channel planned yet

roger

On Tue, Mar 8, 2016 at 6:02 PM, yvantina notifications@github.com wrote:

##

Roger F Malina
is in  Dallas
510-853-2007

[2016-03-09 18:49] amb141330 opened #521 "Add channels to the forms"
The following channels need to be added to the forms for producers to submit to them:

NOWHERE ELSE
Artisthinktive Iran: A Forum for Distinctive Thinking on Iranian Arts

Thanks

[2016-03-10 02:52] yvantina commented on #517
Ashton, can you please help fix this issue before spring break ?
Nora is the grant recipient from Egypt and she has been waiting for this publication since November..
Thanks !

[2016-03-10 03:42] halclark commented on #497
verified that it was a duplicate. Closing issue

[2016-03-10 03:42] #497 closed, assigned to rmalina

[2016-03-10 03:42] halclark commented on #461
Yuri's Night has been registered with website.
https://yurisnight.net/events/creative-disturbance-celebrates-yuris-night/
Closing issue.

[2016-03-10 03:42] #461 closed, assigned to halclark

[2016-03-10 09:09] rmalina opened #522 "broken links for voices"
broken links

when you click on the images of the voice in this channel
http://creativedisturbance.org/channel/virtual-africa/
the image doesnt link to the bio of the voice

ashton can you add this to the process improvement review

roger

[2016-03-10 09:17] rmalina opened #523 "send apologies to unhappy voice paul vickers"
ashton
could you send an email of apologies to this podcast voice and
make sure the podcast is scheduled shortly

roger

On Wed, Mar 9, 2016 at 7:09 PM, Scot Gresham-Lancaster scotgl@gmail.com wrote:
So sorry for the delay. I submitted it to the creative disturbance team the day after we recorded it in early December and expected a much more immediate release. Let me talk to the team and get back

[2016-03-10 12:49] rmalina commented on #461
great
so thats wednesday evening the 13 ?
thats good

roger

On Thu, Mar 10, 2016 at 4:42 AM, halclark notifications@github.com wrote:

##

Roger F Malina
is in  Paris
06-80-45-94-47

[2016-03-10 14:33] rmalina opened #524 "voice names in excel tracking process improvement"
corey
i tried to see when some of the watering hole podcasts were scheduled but couldnt figure out which podcasts were there

can you always indicate int he form the name of the voice ?

i have added a row for the name of the voice to the excel sheet

meanwhile can you tell me when this one is scheduled

roger

corey
this is one you recorded
when do you think it can go up ?

roger

---------- Forw

[2016-03-10 20:40] rmalina opened #525 "set up recording of yuri;s night podcast recording with clea waite"
ashton
can you track this in the weekly meetings
hal- would you be available to set this up and record it ?
roger
@halclark
Clea T. Waite via alum.mit.edu
8:45 PM (53 minutes ago)

to roger
Hello Roger,

I would like to do a lunar podcast with you for Yuri's night. Can you give me
an idea of the length you want to do and perhaps some questions or what
you'd like to focus on so I can prepare?

Yest

[2016-03-10 20:59] rmalina opened #526 "set up yuri's night recording with michael cicciardi"
hal
another podacst hal
another podcast to record and we can post the video on experimental "

roger

HI Roger!

Hope you are doing well. I have a short (8 minute 'biographical video poem') on the theme of 'The Future of Space Exploration' featuring a 9 year old boy named Jack that I (and he) would love to see be a part of Yuri's Night in Dallas (note: the video incorporates NASA/ESA/JPL/GSFC arch

[2016-03-11 10:36] rmalina opened #527 "set up new channel with celestia jo ann koh"
@linamoon
ashton
i had a good skype with celestia- i think she is going to be great to work with- can you go ahead and coordinate with her to set up her channel and help train her to do the first podcasts ?
will leave it to you- can you copy me on important emails

she will do podcasts in mandarin and english for sure

lina- maybe you can work with her for her logo ?

roger

[2016-03-12 14:14] rmalina opened #528 "turkish team needs the several proposed stingers and bumpers"
corey
the turkish team are waiting for the several bumpers and stingers you were
going to send theim

is hal makng them

have you been in touch with them for ideas of how the bumpers/stingers could
be made relevant to their channel ?

roger
@halclark

Altug Akin
3:05 PM (7 minutes ago)

to Corey, roger, Charlotte
Hey Roger,

Yes, they both have received the transfer.
And they have done their first

[2016-03-14 00:15] amb141330 commented on #511
They were the same podcast, closing this issue.

[2016-03-14 00:15] #511 closed, assigned to amb141330

[2016-03-14 04:31] yvantina commented on #517
Ashton, we're unable to publicize this on Facebook. It says the link is broken, even though the podcast works on the website but can't be redirected from social media. Nora just announced her collaboration with CD so it would have been nice to feature the podcast along with her post. Please Help ! Maybe Dylan can assist?

[2016-03-14 22:46] rmalina opened #529 "missing voice on steam podcast"
the image of voice rogert fee and link to voice is missing

http://creativedisturbance.org/podcast/steam-bespoke-chicken-or-curated-brisket-eng/

[2016-03-20 16:28] rmalina commented on #350
ashton
can we close this one ? @amb141330
roger

[2016-03-20 16:31] rmalina opened #530 "meeting this monday march 21 with roger ?"
hal
are you available to meet with me ahead of the creative disturbance meeting
this monday to go over our stuff that you are working on with me ?

roger

[2016-03-21 19:35] dylanorgeron opened #531 "determine criteria for what makes an acceptable podcast"

[2016-03-21 20:21] cassininazir commented on #531
There may be a duplicate of this issue somewhere.

[2016-03-21 22:16] rmalina opened #532 "yuri's night podcast recording on april 1 with murphy and marshall"
hal
you never replied to this email
back in february
these two speakers are available to do podcasts for
yuri's night on friday april 1- when they will be
speakers at our 2-4pm watering hole
maybe you can coordinate with corey
so we can get the two podcasts done and the
forms completed on april 1
@coreysmart92 @amb141330

HAL please confirm you can organise these two podcasts for yuris night

roge

[2016-03-22 16:32] linamoon commented on #505
Let me know if there are any updates on getting information on what the channel is about @coreysmart92 @amb141330

[2016-03-22 21:10] halclark commented on #530
@rmalina , sorry I did not see this sooner. I am happy to meet with you this week or next week. Maybe before the Friday meeting? Or before next Mondays meeting? Let me know.

[2016-03-22 21:36] halclark commented on #526
@rmalina  Emailed you and Michael 3/22 at 4:30 pm.

[2016-03-22 21:37] halclark commented on #532
@rmalina Emailed you and Kenneth 3/22 at 4:15 pm

[2016-03-22 21:38] halclark commented on #508
@coreysmart92 what is the status on the Eventbrite invitations?

[2016-03-22 21:39] halclark commented on #484
Podcast up.

[2016-03-22 21:39] #484 closed, assigned to halclark

[2016-03-22 21:44] halclark commented on #490
@rmalina Emailed you and Marie 3/22 at 4:45 pm

[2016-03-22 21:51] halclark commented on #332
Podcast was published March 18 http://creativedisturbance.org/podcast/aesthetics-of-complexity-the-distopias-of-scale-eng/

[2016-03-22 21:51] #332 closed, assigned to halclark

[2016-03-22 21:52] halclark commented on #434
Launched!

[2016-03-22 21:52] #434 closed, assigned to halclark

[2016-03-22 22:40] halclark commented on #431
I have updated 2.2.2.7 with more guidelines on how to spot bad recordings. I would like some help or suggestions on taking these guidelines and turning it into some kind of rating system. Let's talk about this more next Monday 3/28 @cassininazir @rmalina @coreysmart92 @amb141330

[2016-03-23 01:03] yvantina commented on #456
@halclark any update on this please ??  @amb141330

[2016-03-23 19:19] amb141330 opened #533 "Forms Spam and User Account Approval"
@dylanorgeron ,

Can you take care of the spammed forms and make accounts approve only?

[2016-03-23 19:22] amb141330 opened #534 "Email List"
@dylanorgeron

Can you get me an email list for all the voices/producers on Creative Disturbance? We'll need this list for announcing Yuri's night and also looking into the future for other event announcements.

[2016-03-23 21:47] rmalina opened #535 "fatemeh's podcassts"
please reply to fatemeh
it is a priority to publish her podcasts
please assign to right person

roger
 @amb141330
Tashakori, Fatemeh via cometmail.onmicrosoft.com
2:06 PM (2 hours ago)

to Ashton, roger
 Dear Ashton,

Have you received my email?

Best,
Fatima
<biography in English.docx>
<Biography in Farsi .docx>
<podcast describtion Kiomars, word.docx>
<كيومرث.m4a>
<Kiomars Moradi 1.JPG>

On Mar

[2016-03-24 14:59] rmalina opened #536 "turkish collaboreation"
corey
can you st up anotjer sklype as soon as possible

with the turkish team- make sure lina is working on the graphics
and hal on the bumper suggestions
@amb141330 @linamoon @halclark

altug

re this suggestion- happy to see how we can collaborate
all we need is non exclusive rights for the podcasts on
creative disturbance-we are still planning to move the platform
to mit this spring or summer

[2016-03-24 15:02] rmalina opened #537 "turkish channel follow up"
corey
i am moving this information from email to github so you can make sure its
all followed through on

roger

Hi Roger,

Here are some updates on our side:
- Cenk and Sarphan have done their first interviews and they are pretty good.
- We have decided on the name of our series (Key Words - Anahtar Sözcükler in Turkish) and drafted a two-sentence definition of the scope: "Conversations with crea

[2016-03-24 15:47] cassininazir commented on #537
@linamoon cc'ing you. Please work with them on the logo.

[2016-03-24 17:00] linamoon commented on #537
@rmalina @cassininazir will contact them today now that I have description
of the channel.

On Thu, Mar 24, 2016 at 10:47 AM, Cassini Nazir notifications@github.com
wrote:

[2016-03-24 20:40] rmalina commented on #537
lina
make sure you copy corey and me on all emails to the turks
for now
roger

On Thu, Mar 24, 2016 at 12:00 PM, Lina Moon notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
1-51-853-2007

[2016-03-25 15:05] amb141330 commented on #534
Can you get this to me by the end of the weekend? I want to be able to notify everyone about Yuri's night with at least two weeks before the event.

[2016-03-25 15:06] amb141330 commented on #529
This has been fixed. Closing issue.

[2016-03-25 15:06] #529 closed, assigned to amb141330

[2016-03-25 15:07] amb141330 commented on #527
I've been in constant contact with Celestia. She has submitted her channel form and I am working on getting an email from her with ideas for a logo for Lina to take care of. Will close this issue because I have taken care of this process and talk to her regularly.

[2016-03-25 15:07] #527 closed, assigned to amb141330

[2016-03-25 15:08] amb141330 commented on #525
Reassigned to @halclark since he is in charge of Yuri's Night

[2016-03-25 15:09] amb141330 commented on #523
We haven't seen this podcast from Scot, so I'm not sure what he's referring to. Will reassign to Hal to find this podcast and then will send apology email accordingly.

[2016-03-25 15:09] amb141330 commented on #350
Yes we can close this. Thank you.

[2016-03-25 15:09] #350 closed, assigned to rmalina

[2016-03-25 15:11] amb141330 commented on #521
Can I get an update on this when you have time?

[2016-03-25 15:12] amb141330 commented on #522
This is a part of the website improvement and absolutely a feature we should implement. Lets discuss today at the meeting.

[2016-03-25 15:13] amb141330 commented on #520
I will start to work on this next week. I'll work with Yvan in contacting Jepchumba II and getting their podcasts up for collaboration in the way that we did for Human Impacts Institute

[2016-03-25 15:14] amb141330 commented on #519
Pretty sure this one was on the tracking sheet to be published, @coreysmart92 can you make sure this is taken care of properly? Or close it if it's no longer an issue?

[2016-03-25 15:14] amb141330 commented on #518
The party is on the website. I am waiting on the email list from Dylan to send out the email to everyone, including Kickstarter donors.

[2016-03-25 15:17] yvantina commented on #519
It has not been published already !! everything is on box.com - please include the video !!

[2016-03-25 15:17] amb141330 commented on #517
I'm not sure how to fix this issue. Currently the link at the top of the page is working. Does this still need to be taken care of @yvantina ?

The only issue I can imagine is if for some reason the link had a special character or accent over one of the letters. Those don't always translate to the link and causes those things to break.

[2016-03-25 15:18] amb141330 commented on #516
I sent that email to Corey and it has been published already.

[2016-03-25 15:18] #516 closed, assigned to amb141330

[2016-03-25 15:19] yvantina commented on #517
I mysteriously succeeded to post it on facebook two days ago - I close this issue

[2016-03-25 15:19] #517 closed, assigned to amb141330

[2016-03-25 15:19] amb141330 commented on #515
@coreysmart92 Can you handle this one? Make sure it goes up this week since all the forms are filled if it didn't already go up.

[2016-03-25 15:20] amb141330 commented on #514
We need to setup a meeting for the business plan and funding. I think we should dedicate a session to this to brainstorm and assign ideas.

[2016-03-25 15:21] amb141330 commented on #513
@halclark is in charge of Yuri's Night. Reassigning.

[2016-03-25 15:22] amb141330 commented on #512
@halclark @coreysmart92

Please make sure you're treating Roger just as you would any other producer in regards to his podcasts. We need to make sure he's being updated just as you would any other producer so the process stays consistent.

[2016-03-25 15:22] amb141330 commented on #500
We set up the meeting and only I showed up, but I did meet with you. If Corey and Hal would like to meet with you they can discuss it with you personally.

[2016-03-25 15:22] #500 closed, assigned to amb141330

[2016-03-25 15:24] linamoon commented on #537
@rmalina copied you and corey on the outgoing email.

[2016-03-25 15:24] amb141330 commented on #483
To my knowledge we haven't continued to run into form issues that haven't already been documented. This is something we'll continue to keep track of as we continue to use them.

So far the issues we were running into are file size, which you've now fixed, and finding a producer's channel in the podcast forms. I've already assigned Dylan a task to add the missing channels to the forms.

[2016-03-25 15:25] amb141330 commented on #478
We're working on making this a possibility since right now channel specific stats are not available for producers to view.

[2016-03-25 15:26] amb141330 commented on #439
This channel is just waiting on a podcast. I received an email from both Mahsoo and Diane about getting podcasts from them shortly and then their channel will be published!

[2016-03-25 15:28] yvantina commented on #439
Should we close this issue then ? or wait until the podcast is published ?

[2016-03-25 15:28] amb141330 commented on #439
I'll leave it open until I publish their first podcast. Just to make sure.

[2016-03-25 15:29] yvantina commented on #456
@amb141330 Ashton, can you assigned this to someone please ? I've been talking about this for months now but nothing happened..

[2016-03-25 15:31] amb141330 commented on #535
I've already been in contact with Fatemeh and her podcast should be going up within the week. She said the second podcast wasn't quite ready but we are in constant contact.

[2016-03-25 15:31] #535 closed, assigned to nobody

[2016-03-25 15:32] amb141330 commented on #456
Yes, let me look into this. Just to clarify, this individual participated in both the Frank Malina podcast bumper and the Virtual Africa one?

[2016-03-25 15:34] amb141330 commented on #531
#431 is the issue number in regards to quality metrics. Closing this issue since it is a duplicate.

[2016-03-25 15:34] #531 closed, assigned to amb141330

[2016-03-25 15:39] yvantina commented on #456
yes - I think so..though the Frank Malina one has not been that much used compared to Virtual Africa..
but we need to credit them on every podcast they contributed..
https://drive.google.com/drive/folders/0B0RS2YDJUln1fng5aTlnd0tzTXVZamZOeUdHckN0OEJ4RXVDZVFITHlHOTJ4bzdrdjZNNHc

[2016-03-25 16:29] rmalina opened #538 "orcid numbers"
please add to the voice form an entry for voices to provide their orcid number
http://orcid.org/

roger

@ChazLilly
chaz can you put the need for orcid numbers of authors into the grey lit plan

[2016-03-25 16:29] rmalina commented on #538
http://orcid.org/

is the reference

[2016-03-25 17:07] cassininazir commented on #518
@amb141330 we'll need to do an announcement on our own blog as well about Yuri's night.

Possible to send the email list in two sets (to give @dylanorgeron some time to get to you)?

[2016-03-25 22:24] rmalina opened #539 "urvi bhandari podcast"
corey
i completed the podcast for today with urvi bandhari
a) you need to add the audio file
b) you need to complete with urvi her voice form with photo and also add it to the podcast form
c) contact her via lindked in as part of your job search

you have everything you need from me for this so please complete the process and schedule for publication as soon as possible-give it priority as a femal

[2016-03-25 22:36] rmalina opened #540 "error in publishing the same podcast twice"
corey
this is really not good

i think you have published the SAME PODCAST TWICE

please listen to these and tell me

http://creativedisturbance.org/podcast/helen-and-newton-eng/

http://creativedisturbance.org/podcast/helen-and-newton-harrison-on-the-role-of-artists-in-mitigating-climate-change-eng/

COREY if they are both the same =then replace the one this week with a different new podcast
and

[2016-03-26 03:58] yvantina commented on #519
@coreysmart92  @amb141330 The video is missing !! Sruthi and Anvit have been asked to illustrate the podcast with a video they kindly sent us but which is not on the website.. Please share it ! Thanks

http://creativedisturbance.org/podcast/insight-into-the-sonification-projects-at-the-artscilab-eng/

[2016-03-27 18:55] rmalina opened #541 "clean up and update documentation"
as part of the process improvement of creative disturbance please review all the documentation in the gdrive and file/archive old versions of documents and leave current documents in clear organisation

dylan-make sure as part of the flow charts documents are identified
@dylanorgeron

roger

[2016-03-28 02:41] rmalina commented on #534
Ashton

where is party invite

roger
On Mar 25, 2016 10:05 AM, "amb141330" notifications@github.com wrote:

[2016-03-28 13:59] coreysmart92 commented on #540
Closing: This has been fixed. The podcast was a duplicate and has been removed and replaced in the schedule.

[2016-03-28 13:59] #540 closed, assigned to coreysmart92

[2016-03-28 14:08] coreysmart92 commented on #524
I understand and am in the process of updating the tracking sheet. The podcast with Collin Steinmetz is scheduled for 4/13/16.
Close: when "The Lumen Life - Reexamining the Relationship Between People and Lighting Part 1 [ENG]" is published.

[2016-03-28 14:11] coreysmart92 commented on #519
@yvantina previously the only way we have include a video is in the description is that acceptable?

[2016-03-28 14:12] coreysmart92 commented on #515
This podcast is scheduled and will publish 3/30/16.
Close: When published

[2016-03-28 14:18] coreysmart92 commented on #507
This is in progress, I will remove each on the remaining audio files as they are published.
Close: When dropbox is cleared.

[2016-03-28 14:21] coreysmart92 commented on #501
Closing: Duplicate of #515.

[2016-03-28 14:21] #501 closed, assigned to coreysmart92

[2016-03-28 14:25] coreysmart92 commented on #467
This podcast is scheduled for 4/13/16
Close: When podcast is published

[2016-03-28 14:30] coreysmart92 commented on #468
This podcast is scheduled to publish 4/20/16
Close: When published.

[2016-03-28 14:38] coreysmart92 commented on #430
Closing: This podcast as been published "[Being a Young Designer in Cairo [ENG]](http://creativedisturbance.org/podcast/being-a-young-designer-in-cairo-eng/)"

[2016-03-28 14:38] #430 closed, assigned to coreysmart92

[2016-03-28 14:40] yvantina commented on #519
@coreysmart92 I don't understand. There's no link to the video so I don't see how it fits in the description. A few weeks ago we did this http://creativedisturbance.org/podcast/the-willful-marionette-eng/ and I thought this is the way we'll start experimenting new podcasts - if it is what is meant by included in the description then yes !!

[2016-03-28 14:50] cassininazir commented on #519
@coreysmart92 if the video is hosted on YouTube or Vimeo you can copy the embed code into WordPress. If it's not hosted, I can upload for you to the main ATEC vimeo account.

[2016-03-28 15:03] rmalina commented on #519
agreed
we do NOT host videos on creative disturbance
just link to where they are on vimeo or youtube
roger

On Mon, Mar 28, 2016 at 9:50 AM, Cassini Nazir notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas
1-510-853-2007

[2016-03-28 15:07] rmalina commented on #508
i still havent been invited
roger

On Tue, Mar 22, 2016 at 4:38 PM, halclark notifications@github.com wrote:

##

Roger F Malina
is in  Dallas
1-510-853-2007

[2016-03-28 20:25] rmalina opened #542 "turkish channel"
corey
please can you send a reply to this email with your responses to his questions
roger
@linamoon @amb141330
Altug Akin
3:02 PM (21 minutes ago)

to roger, Lina, cenk, Sarphan, Corey
Hey Roger and rest of the CD team in the US,

Today we recorded our first program, three of us talking about the series and our focus. It went really well, and it only needs to be final edited with bumper-stringers

[2016-03-29 00:25] linamoon commented on #542
@rmalina Cenk contacted me today regarding the logo, and I'm planning to send him drafts in a few days. Letting you know @coreysmart92 and @amb141330 know.

[2016-03-29 15:46] rmalina opened #543 "orcid numbers for creative disturbance voices"
cassini
can we add quickly to the forms the ability for our voices to add their orcid
numbers on the guest release form- i suggest we make this highly
recommended but voluntary for now

roger
@dylanorgeron @ChazLilly

[2016-03-30 12:47] rmalina opened #544 "bacground noise on podcast"
hi

we recorded this podcast in the booth in the artscilab but there is a lot
of background
what caused this ?
and how can i avoid this in the future when recording with the booth

and is it not possinle to filter out that kind of background noise ?

for the quality evaluation work

roger
@coreysmart92 @amb141330

[2016-03-30 12:49] rmalina opened #545 "missing sd cards in zooms"
ashton
can you check all the zooms and make sure they
all have sd cards ?

we tried to use the zoom but there was no sd card
in it so had to use scot's

roger

Corey
Can you please remove the sd card from the zoom
we used for the watering hole podcast last friday and give it back to Scot ?
He told me you have a class on Thursday..
Thanks
yvan

[2016-03-30 20:46] halclark commented on #544
Hello Roger,

There is a multitude of things that could have made your recording sound like that. I have given instructions in the quality assessment section of the producer cheat sheet, but I know that one of the microphones at the station has been acting up. If the noise is not too prominent, it will be possible to filter it out. I'll have to look at it.
- Hal

Sent from my iPhone

[2016-03-31 20:27] rmalina commented on #544
hal
can you do some test sessions at the sound station
and make sure this problem is solved
roger

On Wed, Mar 30, 2016 at 3:46 PM, halclark notifications@github.com wrote:

##

Roger F Malina
is in  Dallas 1-510-853-2007

COME TO OUR CREATIVE DISTURBANCE YURI'S NIGHT PARTY
APRIL 13
FREE TICKETS, BRING YOUR FRIENDS
Wizard's Sports Cafe - 747 S Central Expy, Richardson, TX 75080

https://www.eventb

[2016-03-31 21:09] halclark commented on #544
Roger

Yes I can, will keep you updated.
- Hal

Sent from my iPhone

[2016-04-01 22:46] linamoon commented on #536
@linamoon has sent the draft to the turkish students -- waiting for their response and approval.

[2016-04-01 22:47] linamoon commented on #537
@linamoon has sent the turkish students the artwork draft -- waiting for response and approval.

[2016-04-01 22:47] linamoon commented on #542
@linamoon has sent the turkish students the artwork draft -- waiting for response and approval.

[2016-04-02 01:50] rmalina opened #546 "yuri's night podcasts with judge marshall and ken murphy"
hal
ok so we have two first podcats for yuri's night
can you work with ashton to get them up'
for uyuri's night in the space and culture channel

note- they are both legally mind so PLEASE send them
the podcast to aprove BEFORE you publish it

and hope you will have some fund bumpers !

roger
@coreysmart92

[2016-04-04 02:25] halclark commented on #355
This is taken care of.

[2016-04-04 02:25] #355 closed, assigned to halclark

[2016-04-04 15:29] cassininazir commented on #542
Can you send me a copy.

[2016-04-04 15:58] dylanorgeron commented on #521
channels have been added.

[2016-04-04 15:58] #521 closed, assigned to dylanorgeron

[2016-04-04 17:05] amb141330 commented on #534
Got the list and the party invites went out.

[2016-04-04 17:05] #534 closed, assigned to nobody

[2016-04-04 17:05] amb141330 commented on #545
Will go through the zooms this week and make sure they have their SD cards.

[2016-04-04 17:06] amb141330 commented on #541
This is going to be an on-going process that will take time. I am going to begin working on sorting through the G-drive this week.

[2016-04-04 17:09] amb141330 commented on #522
Talked to Dylan about this, he will take care of this ASAP

[2016-04-04 17:11] amb141330 commented on #520
Sending Yvan an email about this now so we can get this process started. Based on the channels we have in the works this one would be scheduled to go up in June.

[2016-04-04 17:11] dylanorgeron commented on #504
alphabetized voice list. theres also a search box at the top of the select menu that will autocomplete names for you.

[2016-04-04 17:11] #504 closed, assigned to dylanorgeron

[2016-04-04 17:11] amb141330 commented on #518
Email was sent out before April 1st.

[2016-04-04 17:13] amb141330 commented on #514
We still need to have a meeting on the business plan and this is absolutely a good thing to discuss.

[2016-04-04 17:14] amb141330 commented on #512
As I've told both of you now, please copy Roger on any emails that deal with producers if you find yourself having trouble getting responses. I am closing this issue.

[2016-04-04 17:14] #512 closed, assigned to amb141330

[2016-04-04 17:15] dylanorgeron commented on #183
We've discussed this as part of skedge development. Will most likely happen this summer during the redesign.

[2016-04-04 17:16] amb141330 commented on #478
Since there is not currently a way for producers to view channel specific stats I will assign this to @dylanorgeron. I know he's very busy so this is not an immediate priority and he can deal with this when he has an opportunity to do so.

[2016-04-04 17:17] amb141330 commented on #472
Yvan,

We currently have the TC&A podcasts all scheduled to be published, is there any others you'd like to give priority to? Or any of the ones you said are "coming soon" that you have for us?

[2016-04-04 17:19] amb141330 commented on #466
I am able to go through and get a list of languages that we have. In terms of tracking actual splash page data, we can view how downloads changed during splash page times. In my RAW presentation I made a diagram of splash pages and their dates. We can refer to that diagram when looking at the stats.

[2016-04-04 17:20] amb141330 commented on #439
I have emailed them each week for more than the past month and they have still not sent in a podcast. I have offered help each time and done my best to not be pushy. There's nothing I can do about this until they decide to finally send me a podcast.

[2016-04-04 17:21] amb141330 commented on #437
If there's not still a problem I'm guessing it was an issue on Stitcher's side. Roger, if you're not still having issues with stitcher, could you close this?

[2016-04-04 17:22] yvantina commented on #472
Will upload 3 new podcasts tonight - all Meta-Life - so am just concerned about your requirements..Ideally I would like those new podcasts (and their videos) to go as soon as possible
These podcasts with Adam Zaretsky have been purposely recorded with a video file cause I thought that would be part of our experiments, but I've been confused with the recent episode with Ashton and Sruthi's podcast.

[2016-04-04 17:33] yvantina commented on #439
Yes I know. I don't know what to do neither.. I'll send a private message to Mahsoo on Facebook! stay tuned

[2016-04-04 17:41] rmalina commented on #439
ashton
at this point stop pushing
\roger

On Mon, Apr 4, 2016 at 12:20 PM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in  Dallas 1-510-853-2007

COME TO OUR CREATIVE DISTURBANCE YURI'S NIGHT PARTY
APRIL 13
FREE TICKETS, BRING YOUR FRIENDS
Wizard's Sports Cafe - 747 S Central Expy, Richardson, TX 75080

https://www.eventbrite.com/e/yuris-night-with-creative-disturbance-tickets

[2016-04-04 17:43] rmalina commented on #472
ashton
per our discussions we do not give priority to podcasts
exct non local produces and new women voices

do not give priority to yvan's

yvan if you have a real deadline thats different

ashton- are you now sending emails out to the producers
the focus needs to be on publishing podcasts from non local
producers-turkish-portuguese etc

roger

On Mon, Apr 4, 2016 at 12:22 PM, yvantina notificati

[2016-04-04 17:45] rmalina commented on #518
you need to keep pushing daily if you really want us to have a crowd
roger

On Mon, Apr 4, 2016 at 12:11 PM, amb141330 notifications@github.com wrote:

##

Roger F Malina
is in  Dallas 1-510-853-2007

COME TO OUR CREATIVE DISTURBANCE YURI'S NIGHT PARTY
APRIL 13
FREE TICKETS, BRING YOUR FRIENDS
Wizard's Sports Cafe - 747 S Central Expy, Richardson, TX 75080

https://www.eventbrite.com/e/yuris-night

[2016-04-04 18:06] amb141330 opened #547 "Credits for Virtual Africa & Frank Malina podcast bumper"
@halclark

Can you let me know how many podcasts have used the newer Virtual Africa podcast bumper?

Same with Frank Malina, but I'm not sure if we ever used it.

We need to go back and give credit to Yvan's friend on all of those podcasts once we identify them.

[2016-04-04 20:19] halclark commented on #547
8 podcasts, starting with "Making Africa, Afropolis and the African
Renaissance [ENG].
- Hal

On Mon, Apr 4, 2016 at 1:06 PM, amb141330 notifications@github.com wrote:

[2016-04-05 22:58] #515 closed, assigned to coreysmart92

[2016-04-05 22:59] #361 closed, assigned to halclark

[2016-04-05 23:02] yvantina opened #548 "Expucu round table podcast on Box !"
@amb141330 Ashton, a new podcast has been recorded yesterday during Roger's seminar
the file is on Box.com and a form has been saved - please assign, edit, submit and publish
thanks

[2016-04-05 23:39] yvantina opened #549 "The Afronaut 2.0 for Yuri's night"
@amb141330 Ashton, a new podcast has been recorded for Yuri's night - it should go both to Virtual Africa and Space Art channels - the file is on Box.com and a form has been saved - please assign, edit, submit and publish
thanks

[2016-04-06 03:16] yvantina opened #550 "Introducing Kapital Movie Industry Corporation"
@amb141330 Ashton, a new podcast has been recorded for Virtual Africa
the file is on Box.com and a form has been saved (file too heavy to be processed)- please assign, edit, submit and publish
thanks

[2016-04-07 22:25] rmalina opened #551 "do podcast with michael zevin on ligo/sound"
roger to do a podcast with michael zevin
re ligo citizen science project
michaelzevin2014@u.northwestern.edu

[2016-04-07 22:26] rmalina opened #552 "roger to do podcast with kyle kremer un norwestern"
kyle kremer, OC, northwestern physics and music
roger to do a podcast

[2016-04-08 02:03] rmalina commented on #552
kylekremer23@gmail.com

[2016-04-08 15:10] amb141330 commented on #550
Hal has volunteered to take charge for this channel so I am reassigning.

[2016-04-08 18:57] rmalina commented on #542
corey its really unacceptable the way you are working-i have asked you to copy me on your emails to the turkish team? have you replied to them-please copy me on all emails you send the turkish team
roger

[2016-04-08 20:11] rmalina commented on #542
corey
this is really getting ridiculous and embarassing -please reply immediately to altug
have you done the bumpers
please start replying to altug's emails
and copy me
roger

---------- Forwarded message ----------
From: Altug Akin altugakin@gmail.com
Date: Fri, Apr 8, 2016 at 2:56 PM
Subject: Re: [OlatsNewsEnglish] FEAT/Future Emerging Art & Technology - Leonardo/Olats as outreach partner
To: ro

[2016-04-11 03:27] halclark opened #553 "Forms for Yuri's Night Podcasts"
@rmalina @coreysmart92

I am not seeing the forms for either the podcasts from the watering hole or the podcast with michael piccardi, for yuri's night.

Could you please point me in the right direction, or fill out the forms ASAP?

Thank you.

[2016-04-11 14:07] coreysmart92 commented on #528
Closing: I have sent them all perspective bumpers and the team has chosen a bumper for their channel.

[2016-04-11 14:07] #528 closed, assigned to coreysmart92

[2016-04-11 14:54] coreysmart92 commented on #507
Currently there are 8 podcasts still on Dropbox that still need to be published.
(4/11/16)
Close: When all files have been removed from Dropbox.

[2016-04-11 14:56] rmalina commented on #528
please confirm the channel will b e up by april 15
and please copy me on all emails to them

roger

On Mon, Apr 11, 2016 at 9:07 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas 1-510-853-2007

COME TO OUR CREATIVE DISTURBANCE YURI'S NIGHT PARTY
APRIL 13
FREE TICKETS, BRING YOUR FRIENDS
Wizard's Sports Cafe - 747 S Central Expy, Richardson, TX 75080

https://www.e

[2016-04-11 15:00] coreysmart92 commented on #537
Currently the only thing needed for channel and podcast publishing is the forms for the first Podcast and appropriate Voice forms. I will follow up again 4/11/16 and check if any assistance is needed.

[2016-04-11 15:04] coreysmart92 commented on #542
The wordpress channel page has been made, and the first podcast is currently being prepared to publish. This channel will publish 4/15/16.
Close: When channel has been published.

[2016-04-11 18:30] rmalina opened #554 "archiving inactive channels"
provide a list of all channels that havent had a podcast in 6 months
so that roger and cassini can decide which to archive

work with cassini and dylan on moving the inactive channels
into a bottom section of the disturbances page

roger

[2016-04-11 18:30] cassininazir commented on #469
@dylanorgeron raising the priority of this. Please schedule in to fix.

[2016-04-11 18:44] cassininazir opened #555 "Use LibSyn scheduler for upcoming podcasts"
@coreysmart92 @halclark pelase  begin using the **schedule** component in LibSyn to publish podcasts. Recommend that you do this for the podcasts going out during final exams.

@amb141330

[2016-04-11 18:49] cassininazir opened #556 "Process Update: Description Length and Voices"
@amb141330 not sure the proper document to put this.
1. Please limit podcast descriptions to 100 words.
2. Voices' names should be in the podcast description.

[2016-04-11 19:22] rmalina opened #557 "weekly report"
corey
can you develop a standard format for each week
with both the list of one time things
and the regular things you must do each week

roger
@cassininazir

[2016-04-11 23:58] dylanorgeron commented on #469
![image](https://cloud.githubusercontent.com/assets/6401465/14446025/5997a948-0017-11e6-92b7-9a2d5da502a7.png)
having issues with accessing the content types

[2016-04-12 00:00] #451 closed, assigned to dylanorgeron

[2016-04-12 01:26] dylanorgeron commented on #485
duplicate of #478

[2016-04-12 01:26] #485 closed, assigned to dylanorgeron

[2016-04-12 01:37] cassininazir commented on #469
Login with the main CD password info. Check the main password doc in Google Drive for specifics.

[2016-04-12 21:06] rmalina opened #558 "clean up forms in progress"
there are forms in progress/pending

http://creativedisturbance.org/forms/pending/#saved

for podcasts that have already been published

please clear out all the pending forms for piodcasts that are alraedy published

roger
@coreysmart92

[2016-04-12 23:37] dylanorgeron commented on #478
fixed

[2016-04-13 18:21] amb141330 commented on #554
Human Impacts Institute
Rhythmically Inclined (I know some are going to be coming in the future)
Within the Margins
Rami
Noisy People
Cellphonia
Frank Malina
Big Dreams | Big Data
Indie Game Nation
Pioneers and Pathbreakers
Sound & Data
Adventures in Crowdfunding
Cinemersia
Thoughts on Big Design

[2016-04-13 18:50] amb141330 opened #559 "Weekly Report Template"
Come up with a template for weekly reports that aligns with individual goals and job description and also topic discussions

[2016-04-13 19:16] halclark commented on #530
Met. Old issue.

[2016-04-13 19:16] #530 closed, assigned to halclark

[2016-04-13 19:16] halclark commented on #526
Set up, recorded, and published.

[2016-04-13 19:16] #526 closed, assigned to halclark

[2016-04-13 19:16] halclark commented on #513
Yuri's Night has been published

[2016-04-13 19:17] halclark commented on #463
Yuri's Night bumper done and published.

[2016-04-13 19:17] #463 closed, assigned to halclark

[2016-04-13 19:17] halclark commented on #462
Yuri's Night published.

[2016-04-13 19:18] halclark commented on #490
Yuri's Night published.

[2016-04-13 19:21] halclark commented on #550
Ashton has volunteered to take care of this. More than happy to help in any way I can. @amb141330

[2016-04-13 19:22] halclark commented on #525
Yuri's Night published.

[2016-04-13 19:23] halclark commented on #508
Eventbrite invitations have been sent, blog post and splash page are live.

[2016-04-13 19:23] #508 closed, assigned to halclark

[2016-04-13 19:24] halclark commented on #532
There is another thread for this issue.

[2016-04-13 19:24] #532 closed, assigned to halclark

[2016-04-15 15:50] rmalina opened #560 "do a podacst with rankin"
Dr. Monica Rankin
Director, Center for U.S.-Latin America Initiatives
Associate Professor of History

From: cuslaiutd-request@lists.utdallas.edu on behalf of "do-not-reply@utdallas.edu" do-not-reply@utdallas.edu
Reply-To: "do-not-reply@utdallas.edu" do-not-reply@utdallas.edu
Date: Thursday, April 14, 2016 at 6:38 PM
To: "cuslaiutd@lists.utdallas.edu" cuslaiutd@lists.utdallas.edu
Subject: [cuslaiut

[2016-04-15 17:35] rmalina commented on #525
hal
we need to re open this
no pocast was recorded with clea waite to my knowledge
roger

On Wed, Apr 13, 2016 at 2:23 PM, halclark notifications@github.com wrote:

##

Roger F Malina
is in  Dallas 1-510-853-2007

[2016-04-15 17:36] rmalina commented on #490
hal
this podcast was never recorded-it needs to be scheduled
roger

[2016-04-15 17:37] rmalina commented on #462
hal
we never did the podast with kesden and midori
needs to be scheduled
roger

[2016-04-15 17:38] rmalina commented on #513
hal
the podcast with chakrabarti was never scheduled= this podcast still needs to be recorded
roger

[2016-04-18 16:30] coreysmart92 commented on #539
This podcast has been scheduled for 4/25/16.
Close: When podcast is published.

[2016-04-18 18:08] amb141330 commented on #558
Corey is in charge of cleaning up the forms, reassigning.

[2016-04-18 18:09] amb141330 commented on #518
Party happened already. Closing this issue.

[2016-04-18 18:09] #518 closed, assigned to amb141330

[2016-04-18 18:14] rmalina opened #561 "review podcast check list and start using it"
review check list april 25 monday meeting
make sure that every podcast editor is following the check list
add quality rating to the checklist
monday review the ratings for this weeks podcast
assigned to hal
roger

[2016-04-18 18:24] rmalina opened #562 "please tell voice neil rodnick when his second podcast is going uo"
ashton
can you do this or assign it to someone
roger
 Hi Roger & Nick,

I’m updating my web site, and wanted to provide links to both podcasts and the online version of the article from last year.  I have the link Roger sent, below, to the first of the podcasts.  I wonder if the 2nd podcast ever went up, and if the article is up on line in the Just Accepted catalog?  I wasn’t able to locate either

[2016-04-18 18:28] rmalina opened #563 "copying roger on emails and turkish channel readiness"
corey
i am upset
i asked you several times to copy me on all emails to the turks
you have not been doing this
please copy me on all emails to the turks
send me copies of the emails you have send

get an english translation of the channel description
and add the two students on the channel page as featured 'creative disturbers
roger

[2016-04-18 18:35] rmalina opened #564 "apologies to judge marshall and ken murphy"
corey please send an apology to the judge and ken
and tell them when their podcasts are now scheduled to go up
roger

judge marshall, ken
i want to give you our apologies for not getting
up the podcasts we did up for yuri's night
corey who is responsible for the scheduling
will tell you when the podcasts will now go up

ken-thanks for coming to the party !
##

Roger F Malina
is in  Dallas 1-510-85

[2016-04-18 18:50] rmalina commented on #539
please can you inform the voice of this
roger

On Mon, Apr 18, 2016 at 11:30 AM, coreysmart92 notifications@github.com
wrote:

##

Roger F Malina
is in  Dallas 1-510-853-2007

[2016-04-18 19:23] halclark opened #565 "Training Video section on dashboard"
Cassini

We have a video on how to record and upload a podcast to the site. If we could get a section on the dashboard to put this, Vimeo has proved to embed very nicely into wordpress.

[2016-04-18 19:28] halclark opened #566 "Make existing voices more visible in forms"
Cassini

When someone goes to fill out a new form with us, and the voices in the new podcast are already registered with the website, the drop down menu to find existing voices is not as apparent as it should be. I'm having trouble wording this, but I am sure you know what I am talking about.

[2016-04-18 19:33] halclark opened #567 "Make edits to existing voices"
Cassini

Edits to existing voices need to be updated if we needed. For example, every time I select Roger Malina from the dropdown menu in the forms, his email does not show up. When I update it with the email and submit it, it does not make that edit to the voice. I'm not sure, but it may even treat it is a new voice whenever I submit it with edits.

[2016-04-19 13:05] cassininazir commented on #565
Can you put a link to the video here?

[2016-04-20 18:12] rmalina opened #568 "turkish channel is on stitcher but not on cd web site"
coreay
problem
turkish channel is on stitcher but not on cd web site

roger

[2016-04-20 19:05] rmalina opened #569 "community building with the student creative disturbers"
roger is working with ashton to start community building between the students who go the kick starter grants

as a first step ashton is going to send an email to all the students in an open email
announcing the list of current students, appointment of celestia and launch of the turkish channel

he will send a open email and copy roger, cassini and yvan

we will then work with the students to help

[2016-04-21 07:44] #478 closed, assigned to dylanorgeron

[2016-04-21 07:45] #338 closed, assigned to dylanorgeron

[2016-04-21 19:14] rmalina opened #570 "new channel: DALA Digital Arts and Latin America"
ashton
can you work with poe johnson to set up the new DALA channel
on digital arts in latin america this summer
@poejohnson@gmail.com

roger

Reynaldo
Cc frank dufour
Cc ricardo dal farra , max schich

I am pleased you were able to meet with poe – and delighted with the idea
That we would start a DALA channel on creative disturbance with podcasts
organized by you with Mexican and latin American p

[2016-04-24 17:26] rmalina opened #571 "scheduling of autiolats podcasts"
ashton corey
annick is waiting to be contacted to be asked what podcasts she will be submitting
and when they need to be scheduled by
please could the person who is her liaison make sure that
this is done and hte podcasts are scheduled as requested
@coreysmart92

roger

ashton
i am not sure who is the liaison for the audiolats
channels but annick bureaud can tell you now
what podcasts she will be

[2016-04-25 15:51] rmalina opened #572 "podcast not on stitcher"
todays podcast appears on the web site but not on stitcher

http://app.stitcher.com/mystations/27121188/63422/episodes

PLEASE add to the check list that every morning you check that the podcasts
is properly loaded on website, stitcher, itunes

and talk to cassini about fixing hte problem

roger

[2016-04-26 13:28] rmalina commented on #572
podcasts not appearing on stitcher, are they appearing on itunes ?
roger
@cassininazir @dylanorgeron

[2016-04-26 14:40] cassininazir commented on #572
Confirmed the feed is [valid XML/RSS](http://www.feedvalidator.org/check.cgi?url=http%3A%2F%2Fcreatedisturb.libsyn.com%2Ffeed) -- however, the podcasts missing on iTunes and Stitcher have no sound files in LibSyn!

@coreysmart92
Scales of Life (25 April)
Crushing Conventions (22 April)

Have no **master file** (sound file) associated with them. Can you upload to LibSyn?

![screen shot 2016-04-26 a

[2016-04-26 19:02] rmalina opened #573 "second turkish podcast"
COREY

please reply quickly to this email

roger

Hey all!

How are we doing about the second episode?
As far as I know Sarphan sent the file to Corey and all fine?

aa.

On Mon, Apr 18, 2016 at 4:47 AM, Corey Smart corey.smart92@gmail.com wrote:
Dear Anahtar Sözcükler Team,
I wanted to inform you that Creative Disturbance now has everything needed for publishing your podcast and channel. Attached

[2016-04-29 12:52] rmalina commented on #573
al

i need your help- can you work immediately
to contact corey and get a response to the turks
and schedule their second podcast as soon as possible

thanks

corey it is really unprofessional not to reply to their
emails and just tell them yo will reply next week after finals

Roger F Malina
is in  Dallas 1-510-853-2007

---------- Forwarded message ----------
From: Altug Akin altugakin@gmail.com

[2016-04-29 14:22] rmalina commented on #572
@halclark

hal can you take care of this

roger

urvi
i want to give you our deep apologies for this problem
the students are in final week

I have asked hal clarke to work with you to get the problem fixed
i also noticed that your picture isnt up

sorry again

roger
Roger F Malina
is in  Dallas 1-510-853-2007

On Fri, Apr 29, 2016 at 9:08 AM, urvi bhandari urvib@thecrush.co wrote:

[2016-05-02 19:03] rmalina opened #574 "turkish channel liaison assigned to hal"
hal;
per the discussion today we are assigning the liaison/responsibility for the turkish
channel to you

also we are working with everyone to update their job descriptions to correspond
to what they will actually be doing during the summer

also- as part of taking over the turkish channel can you work with cassini ashton and corey
to update develop a 'new channel checklist' just like we have a po

[2016-05-03 02:45] #417 closed, assigned to cassininazir

[2016-05-03 02:46] cassininazir commented on #509
Duplicate of #538. Closing this item.

[2016-05-03 02:46] #509 closed, assigned to cassininazir

[2016-05-03 02:46] cassininazir commented on #538
Duplicate of #543. Closing this item.

[2016-05-03 02:46] #538 closed, assigned to cassininazir

[2016-05-03 02:46] cassininazir commented on #565
@halclark can you point me to the location of the video?

[2016-05-03 02:47] cassininazir commented on #193
Closing this issue. Will address with the online scheduler.

[2016-05-03 02:47] #193 closed, assigned to cassininazir

[2016-05-03 04:40] halclark commented on #565
@cassininazir sent an email to your gmail with the link.

[2016-05-03 04:41] halclark commented on #574
Sent a email to the turkish producers with my introductions and reassurance that they would have their second podcast up ASAP. Waiting on Corey to send me more information before I go any further.

[2016-05-03 04:42] halclark commented on #561
Created a new check list to be filled out with every podcast. Will go live ASAP.

[2016-05-03 05:27] cassininazir commented on #561
Thanks for the quick response @halclark. Could you also provide a link here?

[2016-05-03 16:48] amb141330 opened #575 "Creative Disturbance forgotten password"
The automated email received for the forgotten password function contains no information.

I have forgotten my username in CD, so I asked the system to mail it to me.
This is what I got. You have a problem ;-)

Annick

---------- Forwarded message ----------
From: Creative Disturbance confirm@creativedisturbance.org
To: abureaud@gmail.com
Cc:
Date: Tue, 3 May 2016 14:25:10 +0000
Subject:

---

Thi

[2016-05-03 16:48] amb141330 opened #576 "404 Page not Found podcast audio file"
Podcast forms are not correctly linking to the audio files. When I click on the audio file hyper link in the form that is submitted I get a gateway error.

[2016-05-03 16:55] amb141330 commented on #575
Tagging @cassininazir so he can see this issue.

[2016-05-03 16:56] amb141330 commented on #576
Tagging @cassininazir so he can see this issue.

[2016-05-03 18:43] dylanorgeron commented on #576
can you confirm this is still an issue?

[2016-05-03 18:53] amb141330 commented on #576
I did it just now to double check.

[2016-05-03 18:56] dylanorgeron commented on #576
which page and link are you trying to use?

![image](https://cloud.githubusercontent.com/assets/6401465/14994664/c47768a4-1136-11e6-9660-232ffc9a2f5f.png)

the podcast link here seems to work fine for me.

[2016-05-03 19:07] dylanorgeron commented on #575
username is Olats

[2016-05-03 19:16] amb141330 commented on #576
The two I was looking at were the most recent ones from annick and both of them had that error

[2016-05-03 19:22] dylanorgeron commented on #576
both links should now be working

[2016-05-03 19:23] amb141330 commented on #576
They are. Thank you.

[2016-05-03 19:23] #576 closed, assigned to dylanorgeron

[2016-05-03 19:26] amb141330 commented on #575
I've let annick know, thanks. I don't know whether or not you want to leave this issue open if this problem is for all users.

[2016-05-03 21:32] #505 closed, assigned to linamoon

[2016-05-03 21:32] #457 closed, assigned to linamoon

[2016-05-03 21:32] #449 closed, assigned to linamoon

[2016-05-03 21:32] #380 closed, assigned to linamoon

[2016-05-03 21:33] #148 closed, assigned to linamoon

[2016-05-03 21:34] #188 closed, assigned to linamoon

[2016-05-03 22:25] #575 closed, assigned to dylanorgeron

[2016-05-03 22:25] dylanorgeron opened #577 "strip invalid characters from podcast titles when saving mp3"
certain characters will render the url invalid

[2016-05-03 22:25] dylanorgeron opened #578 "email to reset password not working"

[2016-05-05 02:49] rmalina commented on #554
ashton
as you contact each of these producers to find out their plans for hte
coming 6 months
can you copy me
roger

Roger F Malina
is in  Dallas 1-510-853-2007

On Wed, Apr 13, 2016 at 1:21 PM, amb141330 notifications@github.com wrote:

[2016-05-06 02:13] rmalina opened #579 "archiving of indie game nation"
ashton
i have hear from kyle kondras and he doesnt plan to keep the indie game nation
channel going

so you have my approval to 'archive it' it should appear on the list of of archvied station
on the disturbance page-you could even put a call for interest saying we are looking for
someone to relaunch it

hopefully this summer you can work with cassini and the new students to create the archive
of

[2016-05-09 02:44] amb141330 commented on #571
Already taken care of. Podcasts scheduled to be published on wordpress and libsyn

[2016-05-09 02:44] #571 closed, assigned to amb141330

[2016-05-09 15:32] amb141330 commented on #570
Sent Poe an email about Within the Margins and this channel

[2016-05-09 15:33] amb141330 commented on #569
I can get this email sent out, and all of the content for the page, this week.

[2016-05-09 15:43] amb141330 commented on #562
notified him weeks ago, he was able to find his podcast.

[2016-05-09 15:43] #562 closed, assigned to amb141330

[2016-05-09 15:44] amb141330 commented on #559
Going to revise this and make a template for every student worker to be able to use. In my opinion this should be on an "as needed" basis. Some students, in my opinion, don't need this kind of structure and are clearly working constantly.

[2016-05-09 15:46] cassininazir commented on #559
Let's work on this together.

[2016-05-09 16:03] cassininazir commented on #186
This will handled by Skedge system

[2016-05-09 16:03] #186 closed, assigned to dylanorgeron

[2016-05-09 16:03] #210 closed, assigned to dylanorgeron

[2016-05-09 16:33] #182 closed, assigned to linamoon

[2016-05-09 16:34] #344 closed, assigned to linamoon

[2016-05-09 16:34] cassininazir commented on #192
Closing as won't implement.

[2016-05-09 16:34] #192 closed, assigned to linamoon

[2016-05-09 16:38] linamoon commented on #491
Duplicate of https://github.com/creativedisturbance/podcasts/issues/383

[2016-05-09 16:38] #491 closed, assigned to linamoon

[2016-05-09 16:46] cassininazir commented on #419
@linamoon can you propose a design for the sponsors to implement. Would like to see the first-round design.

[2016-05-09 16:48] cassininazir commented on #403
Let's replace the footer information with what you describe here.

[2016-05-09 16:56] cassininazir opened #580 "Develop low-fidelity wireframes of new CD design language"
Would like to see some design prototypes for a new CD website. We can discuss use cases and some problems the new design should solve.

[2016-05-09 18:54] cassininazir opened #581 "Podast with Kesden and Midori for Yuri's Night"
Hal, please work with Roger to get contact information to prep podcast.

[2016-05-09 18:55] cassininazir commented on #462
Closing this item. Have opened a new item at #581 with specific details

[2016-05-09 18:55] #462 closed, assigned to halclark

[2016-05-09 18:59] #573 closed, assigned to coreysmart92

[2016-05-09 18:59] #572 closed, assigned to coreysmart92

[2016-05-09 18:59] #568 closed, assigned to coreysmart92

[2016-05-09 18:59] #563 closed, assigned to coreysmart92

[2016-05-09 19:00] cassininazir commented on #564
@coreysmart92 please send out this email this week and let him know when to expect this.

[2016-05-09 19:00] #555 closed, assigned to coreysmart92

[2016-05-09 19:00] #553 closed, assigned to coreysmart92

[2016-05-09 19:01] #549 closed, assigned to coreysmart92

[2016-05-09 19:01] cassininazir commented on #548
Please add this to the tracking sheet.

[2016-05-09 19:01] #542 closed, assigned to coreysmart92

[2016-05-09 19:02] #539 closed, assigned to coreysmart92

[2016-05-09 19:02] #536 closed, assigned to coreysmart92

[2016-05-09 19:05] #441 closed, assigned to coreysmart92

[2016-05-09 19:06] #444 closed, assigned to coreysmart92

[2016-05-09 19:07] #506 closed, assigned to coreysmart92

[2016-05-09 19:08] cassininazir commented on #467
Scheduled to publish for this week. Closing.

[2016-05-09 19:08] #467 closed, assigned to coreysmart92

[2016-05-09 19:09] #402 closed, assigned to coreysmart92

[2016-05-09 19:10] amb141330 commented on #502
This issue was taken care of. The forms are now displaying all available channels.

[2016-05-09 19:10] #502 closed, assigned to coreysmart92

[2016-05-09 19:11] #214 closed, assigned to coreysmart92

[2016-05-09 19:12] #346 closed, assigned to coreysmart92

[2016-05-09 19:14] cassininazir commented on #125
@amb141330 can you follow up on this?

[2016-05-09 19:18] cassininazir commented on #519
@halclark can you please add the video to the page and close?

Its been uploaded to https://vimeo.com/165926172

[2016-05-09 19:18] #524 closed, assigned to coreysmart92

[2016-05-09 19:18] coreysmart92 commented on #468
Closing: the description has been updated and the podcast is scheduled to publish

[2016-05-09 19:18] #468 closed, assigned to coreysmart92

[2016-05-09 19:20] #40 closed, assigned to halclark

[2016-05-09 19:20] #52 closed, assigned to halclark

[2016-05-09 19:20] cassininazir commented on #101
I have this. Will upload to Vimeo and share the link.

[2016-05-09 19:20] #159 closed, assigned to halclark

[2016-05-09 19:20] #176 closed, assigned to halclark

[2016-05-09 19:22] #328 closed, assigned to halclark

[2016-05-09 19:22] cassininazir commented on #426
This is up. Closing.

[2016-05-09 19:22] #426 closed, assigned to halclark

[2016-05-09 19:25] cassininazir commented on #426
Oops. This is **not** up. Will create a new issue for all Yuri's Night items.

[2016-05-09 19:26] cassininazir commented on #544
@halclark can you discuss replacing the mic with Brian Merlo? Email him directly and cc @cassininazir

[2016-05-09 19:27] cassininazir commented on #546
Closing this item. It's referenced in #564

[2016-05-09 19:27] #546 closed, assigned to halclark

[2016-05-09 19:28] cassininazir commented on #525
Closing this item. Will open a new task with all of these individuals listed.

[2016-05-09 19:28] #525 closed, assigned to halclark

[2016-05-09 19:29] cassininazir commented on #523
@coreysmart92 has forwarded @halclark the email. @halclark could please respond?

[2016-05-09 19:30] cassininazir commented on #513
Closing this item. Opening a new issue with all individuals to contact for Yuri's night.

[2016-05-09 19:30] #513 closed, assigned to halclark

[2016-05-09 19:31] #499 closed, assigned to halclark

[2016-05-09 19:31] #498 closed, assigned to halclark

[2016-05-09 19:31] cassininazir commented on #490
Closing this issue. Will open a new issue with all individuals to be contacted for Yuri's night.

[2016-05-09 19:31] #490 closed, assigned to halclark

[2016-05-09 19:32] cassininazir commented on #476
Duplicate of #431. Closing.

[2016-05-09 19:32] #476 closed, assigned to halclark

[2016-05-09 19:34] cassininazir commented on #456
please give credit on those podcasts within the podcast descriptions

[2016-05-09 19:35] cassininazir commented on #455
Create a new issue to record with Frank Pietronigro

[2016-05-09 19:37] #455 closed, assigned to halclark

[2016-05-09 19:38] cassininazir opened #582 "Yuri's Night Follow Items"
@halclark please follow up with the following individuals for Yuri's Night. I've linked the threads as well so that you find their contact info:
- [Marie-Pier Boucher](https://github.com/creativedisturbance/podcasts/issues/426)
- [Clea Waite](https://github.com/creativedisturbance/podcasts/issues/525)
- [supriya Chakrabarti](https://github.com/creativedisturbance/podcasts/issues/513)
- [Frank Piet

[2016-05-09 20:56] cassininazir commented on #101
@halclark link is at https://vimeo.com/165940587. You may now embed

[2016-05-09 21:32] yvantina commented on #456
Hal, can you send me the list of the podcasts you have identified please ? I'll ask the authors the necessary description to be added. thanks

[2016-05-09 21:35] yvantina commented on #519
@cassininazir Cassini here's what the web page shows when you click the link :
"Sorry, we couldn’t find that page. Sorry, there is no video here. Either it was deleted or it never existed in the first place. Such are the mysteries of the Internet."

[2016-05-09 21:43] yvantina commented on #492
@linamoon @amb141330 Can we meet altogether this week, may 9 - 13 ?

[2016-05-09 22:23] cassininazir commented on #519
Privacy settings were incorrect. Now fixed.

[2016-05-09 22:30] yvantina commented on #519
thank you Cassini ! @halclark can you implement this on the podcast page ? Also there was another file that was the audio description of the video which was supposed to go along with it..

[2016-05-10 01:55] linamoon commented on #403
Website footer has been updated with the changes--http://creativedisturbance.org/

[2016-05-10 01:55] #403 closed, assigned to linamoon

[2016-05-10 15:06] dylanorgeron commented on #486
@cassininazir
can you explain this a little more? exactly what statistics do you want to see?

[2016-05-10 15:21] dylanorgeron commented on #459
images now link to the voice's page

[2016-05-10 15:21] #459 closed, assigned to dylanorgeron

[2016-05-10 15:27] dylanorgeron commented on #464
languages are already being tracked in WP. was this issue resolved already or is there something more to it?

![image](https://cloud.githubusercontent.com/assets/6401465/15152120/ba95b6b6-1699-11e6-832a-011f974a3204.png)

[2016-05-10 15:28] dylanorgeron commented on #191
@cassininazir
would this be something we should incorporate into the CD redsign or should i take care of it now?

[2016-05-10 16:25] dylanorgeron commented on #300
bumper authors can now be specified when adding a podcast. the author will show under the voices at the top of the page unless no author was specified.

[2016-05-10 16:25] #300 closed, assigned to dylanorgeron

[2016-05-10 17:15] #522 closed, assigned to dylanorgeron

[2016-05-10 17:32] dylanorgeron commented on #469
Podcasts can now be archived via the 'archive' checkbox on the channel's page.

![image](https://cloud.githubusercontent.com/assets/6401465/15156093/08de7d56-16ab-11e6-9d86-5acd3b98072c.png)

A list of archived channels can be found from the [Disturbances](http://creativedisturbance.org/disturbances/) page.

![image](https://cloud.githubusercontent.com/assets/6401465/15156128/31bccb38-16ab-11e6-8d

[2016-05-10 17:32] #469 closed, assigned to dylanorgeron

[2016-05-10 18:16] rmalina commented on #469
ashton hal
now that dylan has the archiving function going
can you start archiving inactive channels

but on each channel can you get my ok on each
channel individually

and once archived can you make sure the producer of the
archived channel is emailed and told where their archived
channel can now be found
thanks

roger

Roger F Malina
is in  Dallas 1-510-853-2007

On Tue, May 10, 2016 at 12:32 P

[2016-05-10 18:17] rmalina commented on #486
statistic of how many podcasts we have in each languager
roger

Roger F Malina
is in  Dallas 1-510-853-2007

On Tue, May 10, 2016 at 10:06 AM, Dylan Orgeron notifications@github.com
wrote:

[2016-05-10 18:22] rmalina commented on #244
was this done ?
roger

Roger F Malina
is in  Dallas 1-510-853-2007

On Mon, May 9, 2016 at 11:33 AM, Lina Moon notifications@github.com wrote:

[2016-05-10 18:25] cassininazir commented on #486
Should include:
- Number of podcasts we have in each language (the podcasts now end with the language designation, there is also a dropdown menu in each podcast to identify the language)
- List of the languages (name them, the list on the website is confusing for those that don't speak that language, screenshot below)
- Percentages of each language
- When each language was added (you can take this

[2016-05-10 18:25] cassininazir commented on #244
@linamoon I'm going to re-open this for you to comment on and close. We can review together next time we meet.

[2016-05-10 18:30] rmalina commented on #469
Additionally, do let them know that their podcasts will continue to be available on the website and also through iTunes/Stitcher or their favorite podcast app.

Cassini Nazir

Clinical Associate Professor, School of Arts, Technology, and Emerging Communication
Director of Design and Research, ArtSciLab
The University of Texas at Dallas

##

From: <leonardo.isast@gmail.com<mailto:leonardo.isast@gma

[2016-05-10 18:36] cassininazir commented on #191
There's little immediate value added. Would rather you handle this with the redesign. Putting this on hold for now.

[2016-05-10 18:39] linamoon commented on #492
@yvantina yes that'd be a good idea -- what time works for you and
@amb141330? Pretty much free anytime this week.

On Mon, May 9, 2016 at 4:43 PM, yvantina notifications@github.com wrote:

[2016-05-10 18:49] cassininazir commented on #464
This field should change from **text input** to **dropdown** menu, if possible. The current text input introduces user error: your example above lists `English` the one below `EN`. I can foresee additional confusion when introducing other languages (e.g. confusion between Mandarin and Cantonese). The solution should minimize garbage-in, garbage-out.

<img width="485" alt="screen shot 2016-05-10 at

[2016-05-10 19:58] cassininazir opened #583 "Redirect Legacy Forms Page"
@dylanorgeron can you setup a redirect 301 for

`creativedisturbance.org/forms` to `creativedisturbance.org/dashboard`
`creativedisturbance.org/formslegacy` to `creativedisturbance.org/dashboard`

Note that `creativedisturbance.org/forms` currently redirects to `creativedisturbance.org/formslegacy`. Both should point to the Dashboard.

The redirect may be setup in the `.htaccess` file.

[2016-05-10 20:05] cassininazir commented on #583
@halclark cc'ing you to keep you informed. When the redirect is setup, you send any of the above links.

[2016-05-10 20:37] dylanorgeron commented on #510
ORCID numbers can now be submitted when registering for an account, creating a producer form, creating a guest form, and adding guests to a podcast on a podcast form.

Fun fact: I misread ORCID as ORCHID and got to do all sorts of fun troubleshooting at the end trying to fix the database.

[2016-05-10 20:57] linamoon commented on #492
Meeting with Yvan and Ashton this Thurs 5/12.

[2016-05-10 21:39] yvantina commented on #492
@linamoon @amb141330 We said Thursday 2-4 pm.

[2016-05-10 21:53] linamoon commented on #492
Created initial page here: http://creativedisturbance.org/fellows/ (not yet shown on live site)

[2016-05-10 22:04] cassininazir commented on #492
Excellent. A few changes:
-  Don't include the podcasts via "hardcoded" HTML, instead include via a script. This has the distinct possibility of becoming out of date quickly.
- Create a list with the titles of the locations (Portugal, Egypt, South Africa) and hyperlink them to their respective anchors further down on the page.
- Photos should link to the appropriate profile page, not a larger imag

[2016-05-10 22:06] cassininazir commented on #565
Uploaded to Vimeo. Closing this item.@halclark reopen if incopmlete.

[2016-05-10 22:06] #565 closed, assigned to cassininazir

[2016-05-10 22:06] cassininazir commented on #489
@linamoon is implementing this in #492. Draft of page is linked from that item.

[2016-05-10 22:06] #489 closed, assigned to cassininazir

[2016-05-10 22:08] cassininazir commented on #510
Excellent. Let's change ORCHID to ORCID in the WordPress admin -- may also confuse others.

<img width="482" alt="screen shot 2016-05-10 at 5 08 03 pm" src="https://cloud.githubusercontent.com/assets/1661430/15164048/cd1bb564-16d1-11e6-9416-9b331bb79758.png">

[2016-05-10 22:09] cassininazir commented on #543
@dylanorgeron has implemented in #510.

[2016-05-10 22:09] #543 closed, assigned to cassininazir

[2016-05-10 22:09] cassininazir commented on #330
@dylanorgeron will implement this in the new version of Skedge. Closing here.

[2016-05-10 22:09] #330 closed, assigned to cassininazir

[2016-05-10 22:09] cassininazir commented on #433
Maha is developing this for ARTECA. Dylan is working on updating the dashboard system. Closing this item.

[2016-05-10 22:09] #433 closed, assigned to cassininazir

[2016-05-10 22:12] cassininazir commented on #567
@dylanorgeron assigning this and a related task to you. Essentially, this issue causes duplication of individuals.

We may need to go through and manually add in email addresses for some individuals (the email field was added some time after launch, hence the number of individuals who don't have it). Should be a one-time fix.

[2016-05-10 22:34] yvantina opened #584 "Molding the signifier description"
@amb141330 Can you please assign someone to change the description of the podcast ?
It looks better this way, as for the other podcasts of the channel (description first, then credentials)  >>
"The curator Ondrej Cakl discusses his approach to the biocybernetic installation Molding the Signifier by Ivor Diosi that he showned at the Ex Post cultural center in Prague in november 2015 as part of the

[2016-05-10 23:46] dylanorgeron commented on #566
How could I improve this? There is already a search bar in the drop down allowing you to search for a voice.

[2016-05-10 23:48] dylanorgeron commented on #510
done

[2016-05-10 23:48] #510 closed, assigned to dylanorgeron

[2016-05-11 14:30] dylanorgeron commented on #583
.htaccess has been updated

[2016-05-11 14:30] #583 closed, assigned to dylanorgeron

[2016-05-11 14:32] dylanorgeron commented on #567
@halclark are you making changes in the wordpress ui or on the forms page?

[2016-05-11 14:38] dylanorgeron commented on #364
@coreysmart92, you want to be able to create a post in wordpress once and have it appear on two channels, with both channels listed on the podcast page?

[2016-05-11 19:30] amb141330 opened #585 "Problem with user information"
Dylan, got an email from Roger this morning. Contents below. Some kind of error with the registration system. Can you help resolve?

---

eliahu
i am sending this to the student who tracks the registation problem
on creative disturbance to see if he can help you re register
on the cd site
i dont know what the problem is
roger

Roger F Malina
is in  Dallas 1-510-853-2007

On Wed, May 11, 2016 at 12

[2016-05-11 19:36] amb141330 commented on #584
done

[2016-05-11 19:36] #584 closed, assigned to amb141330

[2016-05-11 20:25] coreysmart92 commented on #364
Preferably wordpress would just add the podcast to the other channel's page(podcast list). The secondary channel option in wordpress is currently just for show. I have been duplicating and altering any podcast that should go on two channels. I do not believe it is necessary to alter the podcast page just the channel pages. Does that answer your question?

[2016-05-11 20:34] yvantina opened #586 "Radiation art_ telematic residence fellowship"
@cassininazir @rmalina @amb141330  Just an idea, nothing serious, but I thought I should bring this to your attention.. maybe CD could be a remote resident... ??

EXTENDED deadline - May 22, 2016

OPEN CALL for ELEONORE summer residency 2016

RADIO ACTIVE – SINK and SWIM with Eleonore

August 1 – September 11, 2016

Linz, Austria

In the winter of 2008-2009, the 100 year old Station Messschiff Ele

[2016-05-11 20:46] dylanorgeron commented on #585
she had already registered with the email she was trying to use. the 'forgot username' email was never configured in WP so it was sending out blank emails. i've configured it so that it will now return your username properly. you can tell her to retrieve her username via the prompt on the login page and things should work correctly.

[2016-05-11 20:46] #585 closed, assigned to dylanorgeron

[2016-05-11 20:47] dylanorgeron commented on #578
configured emails properly

[2016-05-11 20:47] #578 closed, assigned to dylanorgeron

[2016-05-11 20:57] dylanorgeron commented on #364
I can make that change, so that any podcasts with a secondary channel will be shown on both channels' pages. However, any podcast posts you made twice will then be duplicated on the secondary channels. You'll need to go in and remove all of those podcasts to fix the duplication. The change is easy to implement, but I want to do it at a time when you're free to remove the duplicates immediately to

[2016-05-11 21:15] dylanorgeron commented on #364
@amb141330 bringing you in on this one as well

[2016-05-11 21:19] dylanorgeron commented on #566
read first + last or email to autocomplete form

[2016-05-12 03:19] halclark commented on #567
The forms page.

On Wed, May 11, 2016 at 9:32 AM, Dylan Orgeron notifications@github.com
wrote:

[2016-05-12 12:43] rmalina commented on #586
yvan
we need to put new initiatives like this on hold
our priorities for the summer are
a) get back to regular scheduling of podcasts and meet 3/week regularly
_b) coordinating the creative disturber international students_
_c) upgrading the system for process improvement_
_d) moving the system to mit press_
_e) training the new team_

_and you need to focus on raising funding for virtual africa !

[2016-05-12 15:41] dylanorgeron commented on #567
the list of voices is pulled directly from wordpress. until you update a voice in wordpress, its going to keep the old info in the forms. update the email through the wordpress ui and it will update in the forms

[2016-05-12 15:41] #567 closed, assigned to dylanorgeron

[2016-05-15 06:46] amb141330 commented on #579
Sounds good. Will look into implementing this feature with Cassini. Will also touch base with other producers in a similar situation.

[2016-05-15 06:47] amb141330 commented on #570
Poe said nothing about the DALA channel. Would you like me to contact them on my own and CC yourself and Poe?

[2016-05-15 06:48] amb141330 commented on #559
This is going to be a part of our OKRs that we work on with Cassini starting next week.

[2016-05-15 06:50] amb141330 commented on #556
Should this be something that we have on the forms? Somehow implement a character limit on the podcast description. Perhaps with a note describing the elements of a good description?

-Who's featured in the podcast
-Main topics covered
-Associated with different businesses or institutions
etc.

[2016-05-15 06:51] amb141330 commented on #554
I did contact the producers and copy you on the email. I'll keep this as the main thread for archiving channels.

[2016-05-15 06:51] amb141330 commented on #579
redirecting to issue #554

[2016-05-15 06:51] #579 closed, assigned to amb141330

[2016-05-15 06:52] amb141330 commented on #439
Still awaiting information from this group, will just be patient with them and ease into it with summer.

[2016-05-15 06:53] amb141330 commented on #450
I have the info-graphic from the RAW Presentation I did which displays monthly stats in addition to splash page dates

[2016-05-15 06:54] amb141330 commented on #240
Closing the issue. Roger spoke with Kyle.

[2016-05-15 06:54] #240 closed, assigned to amb141330

[2016-05-15 06:55] amb141330 commented on #187
The website is being redesigned and podcasts are now titled in the language they are produced in.

[2016-05-15 06:55] #187 closed, assigned to amb141330

[2016-05-15 13:13] rmalina commented on #439
Ashton
Lets discuss strategy face to face
On May 15, 2016 1:53 AM, "amb141330" notifications@github.com wrote:

[2016-05-15 13:14] rmalina commented on #556
Good idea
Have this added to the form
On May 15, 2016 1:50 AM, "amb141330" notifications@github.com wrote:

[2016-05-15 13:15] rmalina commented on #570
No
Poe is contact to dala
On May 15, 2016 1:47 AM, "amb141330" notifications@github.com wrote:

[2016-05-15 15:08] cassininazir commented on #559
Take a look at the video I sent to you prior to our meeting. It provides a good background to the process.

Sent from my iPhone

On May 15, 2016, at 1:49 AM, amb141330 <notifications@github.com<mailto:notifications@github.com>> wrote:

This is going to be a part of our OKRs that we work on with Cassini starting next week.

##

You are receiving this because you commented.
Reply to this email direc

[2016-05-15 17:40] cassininazir commented on #556
@dylanorgeron please take a look at this issue.

[2016-05-15 18:32] amb141330 commented on #413
This is happening elsewhere with the website redsign Lina is working on.

[2016-05-15 18:32] #413 closed, assigned to amb141330

[2016-05-15 18:33] amb141330 commented on #326
This is an old issue. Emails were sent out and new channels are coming out of it (Like Other Planes of There | Afrofuturism}

[2016-05-15 18:33] #326 closed, assigned to amb141330

[2016-05-15 18:36] amb141330 commented on #273
This was an old issue assigned to Josephine. Since it's so old, long gone, and our focus is on other things I am closing this issue to clear clutter.

[2016-05-15 18:36] #273 closed, assigned to amb141330

[2016-05-15 18:37] amb141330 commented on #483
Will open up new issues as we find parts of the forms that need adjusting.

[2016-05-15 18:37] #483 closed, assigned to amb141330

[2016-05-15 18:42] amb141330 commented on #545
We had found one card in Cassini's possession by accident. I am meeting with Indu tomorrow. I'll go over this as some of the things to check for.

[2016-05-15 18:42] #545 closed, assigned to amb141330

[2016-05-15 18:44] amb141330 commented on #437
We were having issues with setting up libsyn properly. It was a user error and checking for these things has become part of the check list.

[2016-05-15 18:44] #437 closed, assigned to amb141330

[2016-05-15 18:45] amb141330 commented on #514
We didn't get to this in our business meeting. We should have a second, follow up, meeting and have this be discussed.

[2016-05-15 19:11] rmalina commented on #545
i have a zoom with me and a card in it
will return may 22
roger

Roger F Malina
is in  Colombia 1-510-853-2007

On Sun, May 15, 2016 at 1:42 PM, amb141330 notifications@github.com wrote:

[2016-05-15 19:20] rmalina opened #587 "correct title of podcast"
not sure why the title of the podcast appears as
Shipping Dirt from the Moon with Ken Murphy==ther eare two guests
it should be
/shipping-dirt-from-the-moon-with-ken-murphy-and-judge-john-marshall

or was that too long

then

/shipping-dirt-from-the-moon-with-murphy-judge-marshall

http://creativedisturbance.org/podcast/shipping-dirt-from-the-moon-with-ken-murphy-and-judge-john-marshall-eng/

[2016-05-15 20:26] amb141330 commented on #587
You're right. I've made the changes.

Do you want this done for all watering hole podcasts? It's hard to say that all podcasts should include every guests' name in the titles, but I do think it makes sense for watering hole podcasts.

Is there a reason you publish watering hole to New Leonardos Channel? Would it make sense to release them as their own series?

[2016-05-15 20:30] rmalina commented on #587
so lets be consistent ?

and not have the voice names in the tiles of the podcasts ?
anotherthing to specific on the form ?

in any case if one voice is in the title the other one should be
otherwise one will be mad !

i should never be int he title of a podcast

roger

roger

Roger F Malina
is in  Colombia 1-510-853-2007

On Sun, May 15, 2016 at 3:26 PM, amb141330 notifications@github.com wrote:

[2016-05-15 20:57] amb141330 opened #588 "Match 3 Turkish podcasts with their respective voices & get information required to publish"
Hal

I know that Altug is currently on vacation. Can you still send something to them about these podcasts and ask for what you need when it's convenient for them?

The three podcasts are in a folder titled "turkish channel" in the Creative Disturbance folder on box.

@coreysmart92 might have more insight as to what you need from them exactly.

[2016-05-16 01:20] halclark commented on #582
Will use this as main thread for post Yuri's Night coordination. @rmalina you are still wanting to record podcasts with these individuals, correct?

[2016-05-16 01:22] halclark commented on #574
As far as I know, Altug/Sarphan are still on vacation. Waiting on forms to publish episode 2. Will send another follow up email sometime this week.

[2016-05-16 01:24] halclark commented on #431
2.2.2.7 is fully updated with all guidelines I can think of to determine the quality of a podcast. @amb141330 and I are going to work on a number system to go along with this.

[2016-05-16 01:33] halclark commented on #519
Video is linked on the podcast page, however, the video is not embedded onto the page. From my understanding, the link needs to be in a format like "https://player.vimeo.com/video/xxxx", for it to be embedded. Attempting to convert the given link to this format did not work.

[2016-05-16 01:38] halclark commented on #523
Have not been forwarded the email. Emailed Scot to check the status.

[2016-05-16 02:09] rmalina commented on #582
Yes!!
On May 15, 2016 8:20 PM, "halclark" notifications@github.com wrote:

[2016-05-16 03:44] rmalina opened #589 "record podast with terry trickett for pioneers"
record podast with terry trickett for pioneers
for pioneers and pathbreakers
roger

[2016-05-16 15:40] coreysmart92 commented on #564
Closing: I emailed on May 11 both an apology and all the information about their podcast publishing.
(5/16/16)

[2016-05-16 15:40] #564 closed, assigned to coreysmart92

[2016-05-16 15:56] coreysmart92 commented on #557
I have implemented the "One Time Task" and "Repeating Tasks" into my weekly reports. Please inform me if this is effective or if there is anything else I should implement.
(5/16/16)

[2016-05-16 16:08] coreysmart92 commented on #507
Currently there are 6 podcast still on Dropbox that still need to be published. (5/16/16)
Close: When all files have been removed from Dropbox.

[2016-05-16 16:09] coreysmart92 commented on #25
I will be taking this off hold and researching it during Summer 2016. (5/16/16)

[2016-05-16 16:17] coreysmart92 commented on #558
I have begun to clean up the forms, I have noting notable at this time. I will focus on this task during the  week of 5/16-5/22.
Close: When all form pages have been completely updated.
(5/16/16)

[2016-05-16 16:38] coreysmart92 commented on #345
Ashton will be assisting in getting all the podcast information. I have emailed Ashton with a suggested podcast title, description, and audio file.
Close: When podcast has been published.
(5/16/16)

[2016-05-16 17:15] amb141330 commented on #547
Please go through those podcasts and add credits into the description

[2016-05-16 17:16] amb141330 commented on #533
I talked with Dylan and he cleared up the form spam awhile ago.

[2016-05-16 17:16] #533 closed, assigned to nobody

[2016-05-16 17:17] amb141330 commented on #587
I agree. Closing this issue. I think it's fine to have their names in the podcast, I was just stating not all podcasts need the guests names.

[2016-05-16 17:17] #587 closed, assigned to amb141330

[2016-05-16 17:19] amb141330 commented on #554
@cassininazir how can we implement an archive feature? or how would you want us to reorganize the channels in a way that pushes the inactive channels to the bottom?

[2016-05-16 17:19] amb141330 commented on #548
This podcast has been assigned and is on the tracking sheet

[2016-05-16 17:19] #548 closed, assigned to amb141330

[2016-05-16 17:20] amb141330 commented on #550
this podcast is on the tracking sheet and assigned to an editor

[2016-05-16 17:20] #550 closed, assigned to amb141330

[2016-05-16 17:33] rmalina commented on #554
ashton
the archive is now at hte bottom of the disturbances page
which is fine but the channels have dissapeared except
through a click through

i think you just need to add the arhived channel logo and link
beow the archive title section

roger

Roger F Malina
is in  Colombia 1-510-853-2007

On Mon, May 16, 2016 at 12:19 PM, amb141330 notifications@github.com
wrote:

[2016-05-16 17:51] amb141330 commented on #570
I'll close this issue and follow up with Poe later in the summer since he is the contact for DALA

[2016-05-16 17:51] #570 closed, assigned to amb141330

[2016-05-16 21:52] rmalina commented on #345
if you need my help with snelson
who recorded this with me tell me
there was a sensitive part we need to edit
out
roger

Roger F Malina
is in  Colombia 1-510-853-2007

On Mon, May 16, 2016 at 11:38 AM, coreysmart92 notifications@github.com
wrote:

[2016-05-16 21:54] rmalina commented on #25
corey
i would prefer to keep this on hold now
our priority is getting creative disturbance ready
to move to mit

if you could just focus on editing and publishing
podcasts for now that would be best

once all the podcasts in the system have been edited
and published for later release we can work on other
things

i would prefer now to have a strategic discussion
about whether the radio show format

[2016-05-16 21:55] rmalina commented on #507
great progress
when these 6 are edited and posted for subsequent publication
are there ANY other podcastss any where that have not been
edited yet ?

roger

Roger F Malina
is in  Colombia 1-510-853-2007

On Mon, May 16, 2016 at 11:08 AM, coreysmart92 notifications@github.com
wrote:

[2016-05-16 21:57] rmalina opened #590 "peter beyls and jack ox podcasts"
ashton
i have the podcasts for peter beyls and jack ox in my computer
can you tell me exactly when to upload them

who have those podcasts been assigned to for editing ?

roger

[2016-05-16 22:19] rmalina commented on #590
i just loaded them into the dropbox new leonardos folder
roger

[2016-05-17 14:45] cassininazir opened #591 "Add CD to Google Play"
---------- Forwarded message ----------
From: Jon V sito.org@gmail.com
Date: Sat, Apr 23, 2016 at 11:24 PM
Subject: podcasts now on google play
To: feedback@creativedisturbance.org

wondering if you would considering putting creative disturbance podcasts up on google play?   not sure how big that audience is (they just announced it), but at least you would get one more subscriber there.... me.  :)

[2016-05-17 14:54] cassininazir commented on #554
@amb141330 connect with @dylanorgeron on this.  [Archived channels](creativedisturbance.org/archived-channels/) is its currently own link. Instructions on how to archive at https://github.com/creativedisturbance/podcasts/issues/469.

[2016-05-17 14:55] cassininazir commented on #533
@amb141330 Who makes the approvals?

[2016-05-17 15:26] cassininazir commented on #519
Hit the share button on the video link (the paper airplane). It will give you the embed code.

[2016-05-17 21:42] halclark commented on #519
Embed code not working for some reason. Neither is the format I used for
the last video that was embedded on "A 9 Year Old Dreams of Space" (
http://creativedisturbance.org/podcast/a-9-year-old-dreams-of-space/)

On Tue, May 17, 2016 at 10:26 AM, Cassini Nazir notifications@github.com
wrote:

[2016-05-17 21:42] rmalina opened #592 "podcast with james ferguson"
ashton
i just loaded up into drop box a podcast with james ferguson
into the space exploration and the arts podcast folder

i screwed up and had to re record the start of the podcast so there
are two files part 1 and part 2 that need to be glued together

please assign to an editor

i am working on the forms

roger

[2016-05-17 21:47] rmalina commented on #592
voice email address is jamie.ferguson1994@gmail.com

[2016-05-17 22:07] rmalina commented on #592
note i uploaded a file just so i could submit the form but the two parts of the podcast are in drop box unde space exploration channel

[2016-05-18 03:28] rmalina commented on #591
sounds like a good idea to me
can we do it
roger

Roger F Malina
is in  Colombia 1-510-853-2007

On Tue, May 17, 2016 at 9:45 AM, Cassini Nazir notifications@github.com
wrote:

[2016-05-18 12:35] rmalina opened #593 "add language to title of podcast on check list"
ashton
can you add to the check list that the title of each podcast must include the
language including "ENG) for english -some of the recent podcasts are missing
the language in the title

roger
@coreysmart92

[2016-05-18 14:20] rmalina opened #594 "new crowdfunding campaign for cd"
ashton
at o;ur next cd business plan meeting i would like to discuss doling some
crowdfunding

here is a new ressource
https://www.fiatphysica.com/how-it-works
roger

[2016-05-21 04:00] rmalina commented on #557
corey
see you monday ?
yes add to the weekly report " stuck items' where producers or voices or
someone
else is not responding and i get help unstick
roger

Roger F Malina
is in Dallas 1-510-853-2007
To: all family and Leonardo friends- we are having a party to celebrate the
50th
anniversary of the founding of Leonardo on Saturday June 18 in Paris- if
you
are in Paris then and can attend we would

[2016-05-21 04:01] rmalina commented on #431
hal
does the check list include a task for the sound editor
to give a rating to each podcast-we should do this
then you can do monthly stats and see if we need
to help producers do better quality
roger

Roger F Malina
is in Dallas 1-510-853-2007
To: all family and Leonardo friends- we are having a party to celebrate the
50th
anniversary of the founding of Leonardo on Saturday June 18 in Paris- if

[2016-05-22 16:07] rmalina opened #595 "podcast with sharath chandra ram"
ashton
to be assigned
i just loaded up a podcast with sharath chandra ram
its in drop box but i think i successfully attached it to the form
he is a new voice and may need help getting his form in
his email address is
looplogic@gmail.com

roger

[2016-05-22 16:13] rmalina opened #596 "forms in creativedisturbance site"
ashton
i am just uploading some new podcat forms into the forms section of creative disturbance
there seems to be a whole bunch of forms on published podcasts that have not been
moved to the archived section
it makes it really confusing to track

maybe on the check list when the podcast is published you should move
the form from submitted to archived ?

anyway some clean up is needed

roger

[2016-05-22 16:32] rmalina opened #597 "podcast with experimental publishign students"
ashton
to be assigned
i uploaded an experimental publishing podcast with chaz lilly, yvan tina, alex topete, josh brumett
i couldnt figure out how to upload the podcast in the form so the podcast file is in drop box
under voices from the crowd

it may be a bit confusing so i can work it with whoever you assign it to

roger

[2016-05-22 16:43] amb141330 commented on #597
Assigning to @halclark to work with you on this

[2016-05-22 16:43] amb141330 commented on #595
Reassigned to @coreysmart92

[2016-05-23 01:57] amb141330 commented on #596
I'll work on the clean up this week.

[2016-05-23 13:53] coreysmart92 commented on #558
I have archived all published podcast in the "Submitted Forms" tab. Next I will focus on the "Saved Forms" tab.
Close: When forms are completely up to date
(5/23/16)

[2016-05-23 13:54] coreysmart92 commented on #507
Closing: All podcasts have been moved off of Dropbox and backed up on both Box and the Art Sci Lab computer.
(5/23/16)

[2016-05-23 13:54] #507 closed, assigned to coreysmart92

[2016-05-23 13:58] coreysmart92 commented on #590
Understood, I will comment when I have begun the editing process.
Close: When podcasts have been scheduled to publish.
(5/23/26)

[2016-05-23 13:59] coreysmart92 commented on #595
Understood, I will comment when I have begun the editing process.
Close: When podcast is scheduled to publish.
(5/23/16)

[2016-05-23 19:21] amb141330 opened #598 "Chess channel proposal with Zura"
Zura will have a google document for his channel proposal completed by 06/10/16

[2016-05-24 00:31] rmalina commented on #598
zura- i alerted jim stallings of your proposed chess and technology podcast channel-
once you have written up a proposal- that ashton is ok with- you should show it to
stallings and see if he has comments-roger
@amb141330

[2016-05-24 00:35] rmalina opened #599 "summer goals inputs"
ashton
my inputs on summer goals
a) get creative disturbance ready to move to arteca
b) If at all possible lets get back to 4 podcasts a week
thats where we were 6 months ago i think
c) given the 7 week backlog of podcasts - here is an input
on how to give priority among those received to meet
other goals
a) gender
b) non utd producers
c) non english podcasts to help on georgraphic audience
d) wha

[2016-05-24 00:36] rmalina commented on #599
ashton-discuss with cassini and i look forward to your proposed summer goals for cd
roger

[2016-05-24 02:14] #268 closed, assigned to cassininazir

[2016-05-25 06:02] yvantina opened #600 "Tobias picture missing"
@amb141330 Hi, Tobias Van Veen picture is missing from these pages - can you please help fix it ? thanks
http://creativedisturbance.org/podcast/announcing-an-afrofuturism-podcast-series-eng/
http://creativedisturbance.org/channel/virtual-africa/

[2016-05-25 06:16] yvantina opened #601 "Duplicating Audiolats podcasts to Meta-Life"
@amb141330 @halclark @coreysmart92
hey Team, whenever you publish a new audiolats podcast, can you make sure it is also duplicated on the Meta-Life channel if you see the topics are related ? as a reminder, and as you can see on the logo, Meta-Life is actually part of the Audiolats syndication strategy.. so please duplicate move the two 'molding the signifier' podcast on the art and biology channe

[2016-05-25 06:19] yvantina opened #602 "Molding the signifier description"
@amb141330 Ashton, same issue with part 2...
here's the right way of putting the description, thanks for assigning someone to help
"The artist Ivor Diosi discusses his biocybernetic installation Molding the Signifier that he exhibited at the Ex Post cultural center in Prague in november 2015 as part of the EU Creative Europe funded Trust Me, I’m An Artist project. This podcast is linked to the one

[2016-05-31 20:17] yvantina opened #603 "interesting podcast platform"
@amb141330  just another one to look at
 http://backdoorbroadcasting.net/

[2016-05-31 20:43] yvantina opened #604 "KMIC channel"
@amb141330 How are we doing with this channel ?

2016-05-24 0:03 GMT-05:00 Yvan Tina yvantina@gmail.com:

[code]

[2016-06-01 15:19] yvantina commented on #600
@amb141330 RE ?

[2016-06-01 15:20] yvantina commented on #601
@amb141330 @halclark @coreysmart92 RE ?

[2016-06-01 15:20] yvantina commented on #602
@amb141330 RE ?

[2016-06-01 15:24] yvantina opened #605 "Thanks for the Afrofuturism podcast and logo"
@amb141330 @linamoon Congrats for the opening of the Afrofuturism channel ! this is a great podcast and logo.. Ashton, the guest pic and bio still missing though http://creativedisturbance.org/podcast/other-planes-01-ytasha-womack-author-filmmaker-innovator/ much thanks !!

[2016-06-01 21:29] rmalina opened #606 "frozen stats"
the stats are frozen
http://creativedisturbance.org/stats/

havent been updated since april 24

roger

[2016-06-01 21:35] rmalina opened #607 "prioritising"
ashton
just checked the excelt scheduling sheet
there are a mot of pod casts by yvan and me
can you give these lower priority than
ones from non local producers
-women
other languages than english
as we discussed
roger

[2016-06-01 21:43] rmalina opened #608 "missing voice image"
missing  voice image
http://creativedisturbance.org/podcast/other-planes-01-ytasha-womack-author-filmmaker-innovator/

are we using that check list ? this kind of thing shouldnt slip through !
roger

[2016-06-01 21:46] rmalina opened #609 "missing voice image"
missing  voice image
http://creativedisturbance.org/podcast/other-planes-01-ytasha-womack-author-filmmaker-innovator/

are we using that check list ? this kind of thing shouldnt slip through !
roger

[2016-06-01 21:47] rmalina opened #610 "crediting bumper and stinger creator"
ashton
we agree a while back to start crediting the creator of the bumpers and stingers

for instance i was interested in who created this bumper/stinger !

http://creativedisturbance.org/podcast/other-planes-01-ytasha-womack-author-filmmaker-innovator/

roger

[2016-06-01 21:54] rmalina opened #611 "posting to the site blog"
ashton
whose check list is doing occasional postings to the creative disturbance blog ?

[2016-06-01 21:55] rmalina commented on #611
oops
http://creativedisturbance.org/blog/

there hasnt been a post since yuri's night

maybe we need to review our social media and blogging plan

roger

[2016-06-01 21:55] #611 closed, assigned to amb141330

[2016-06-01 21:56] rmalina opened #612 "Blog post CD"
ashton
whose check list is doing occasional postings to the creative disturbance blog ?
http://creativedisturbance.org/blog/

hasnt been a post since yruis night

maybe we need to review our social media plan
roger

[2016-06-01 22:12] amb141330 commented on #610
Tobias made that bumper himself. Since it's also his podcast there isn't any need to credit him explicitly for the whole podcast.

[2016-06-01 22:13] amb141330 commented on #608
Tobias actually told me the podcast was entirely good to go as is with all the current forms. I have asked him if he could supply us with the voice info as well. He did ask the podcast go up on the 1st so I published it. Tobias said he would retrieve her information.

[2016-06-01 22:13] #608 closed, assigned to amb141330

[2016-06-01 22:17] amb141330 commented on #607
I did just make a few more changes, but I did leave some of it where it was due to two things:

We're moving to four podcasts a week and I want to make sure Corey and Hal have ample time to get the information they need for publications. Also, I want to keep channels with multiple podcasts (like Other Planes or the Turkish channel) publishing in different weeks rather than all at once to spread ou

[2016-06-01 22:17] #607 closed, assigned to amb141330

[2016-06-01 22:18] amb141330 commented on #606
handing over to @dylanorgeron since he knows more about how it works

[2016-06-01 22:18] amb141330 commented on #605
already have another issue for this, and I was already aware the guest didn't have information.

[2016-06-01 22:18] #605 closed, assigned to amb141330

[2016-06-01 22:21] amb141330 commented on #602
taken care of, sorry for the late response.

[2016-06-01 22:21] #602 closed, assigned to amb141330

[2016-06-01 22:24] amb141330 commented on #591
done, CD is on google play. Will do blog post.

[2016-06-01 22:24] #591 closed, assigned to amb141330

[2016-06-01 22:24] rmalina commented on #607
what happened to the roots of curiosity group?
when is there next portuguese podcast
roger

Roger F Malina
is in Paris 33(0)6-80-45-94-47
To: all family and Leonardo friends- we are having a party to celebrate the
50th
anniversary of the founding of Leonardo on Saturday June 18 in Paris from
15h-24h !- if you are in Paris then and can attend we would be delighted to
invite you. Contactme.

On Thu,

[2016-06-01 22:24] yvantina commented on #602
@amb141330 please remove the quotation marks... thanks !

[2016-06-01 22:25] amb141330 commented on #607
I haven't heard from them. I sent them an email when I emailed all the producers. I'll send them another and ask what they have planned.

[2016-06-01 22:25] rmalina commented on #610
hmm
i think it would be good on all podcasts to credit\
the composer/creator !
even if produced by the producer
roger

Roger F Malina
is in Paris 33(0)6-80-45-94-47
To: all family and Leonardo friends- we are having a party to celebrate the
50th
anniversary of the founding of Leonardo on Saturday June 18 in Paris from
15h-24h !- if you are in Paris then and can attend we would be delighted to
invi

[2016-06-01 22:29] amb141330 commented on #600
taken care of

It was also missing on the bold roast channel. I've fixed that as well.

[2016-06-01 22:29] #600 closed, assigned to amb141330

[2016-06-01 22:31] amb141330 commented on #596
@coreysmart92 were you working on this?

[2016-06-01 22:31] dylanorgeron commented on #606
stats wont work again until we move to a vps. last i heard hostgator charged us for the move but havent moved us yet. brett was handling it as far as i know.

[2016-06-01 22:38] yvantina commented on #600
thanks !!

[2016-06-01 22:45] amb141330 opened #613 "Allow users to edit their voice profile"
"Awesome.!! Last but not least, just need to change the “Expertise” tags to super please read:

“Critical Theory, Media Arts, and Tactical Turntablism”

(Sorry, this request was sent earlier probably got lost in the shuffle… thanks!!)

best, tobias

ps. Mentioned this before — feel free to pass along — it would be wonderful if the website redesign allowed for Users to update their Voices profile p

[2016-06-03 02:53] yvantina opened #614 "Bakahika's podcast missing in the channel"
@amb141330 Ashton, just noticed the podcast with Bruno Bakahika was missing from the channel page.. weird !! http://creativedisturbance.org/channel/virtual-africa/

http://creativedisturbance.org/podcast/introducing-kapital-movie-industry-corporation-en/

[2016-06-03 07:47] halclark commented on #614
@dylanorgeron not sure why this is happening. Everything seems to be in order in wordpress, but the podcast is not showing up on the Virtual Africa page

[2016-06-03 14:02] dylanorgeron commented on #614
you spelled virtual with a capital I.

[2016-06-03 14:02] #614 closed, assigned to cassininazir, dylanorgeron

[2016-06-03 16:23] dylanorgeron commented on #613
discussed with cassini, people page will be dependent on user's profile page. if user is not a guest, a guest page will not be created for them unless the do it themselves

[2016-06-03 17:32] cassininazir commented on #614
A further note on Dylan's statement: The channel names must match exactly what the official channel title is (e.g. **Sound & Data** is correct, **Sound and** Data is incorrect).

[2016-06-03 23:29] halclark commented on #614
Derp, haha thanks guys. Overlooked that!

[2016-06-04 15:08] rmalina opened #615 "correct home page"
someone i met told me they didsnt realise we had more podcasts up
that the 8 on the home page
( tehre is no explanation of what disturbances are)

can we
correct home page and add

FInd hundreds of other podcasts that have been published thanks to the
20 channels , or disturbance, producers from voices all over the world

http://creativedisturbance.org/disturbances/

roger

[2016-06-05 20:13] yvantina commented on #614
Thank you guys ! closed

[2016-06-05 20:55] yvantina commented on #601
@amb141330 @halclark RE?

[2016-06-05 20:56] yvantina commented on #604
@amb141330 Just get an exchange with Bruno Bakahika on Facebook - he's really keen on getting his channel up asap and has podcast to publish.. any help would be very much appreciated ! thanks

[2016-06-06 15:53] coreysmart92 commented on #596
Yes, previously I cleaned up the submitted tab. This week I published and archived the podcast forms in the saved tab. Next I will be focusing on the voices forms in the saved tab.
Close: When all tabs have been reviewed.
(6/6/16)

[2016-06-06 15:56] coreysmart92 commented on #595
The tracking sheet shows that this podcast has been assigned to Hal. Please inform me if I am to edit/publish this podcast.
(6/6/16)

[2016-06-06 16:03] coreysmart92 commented on #590
I will be editing Beyls/Malina next week. Beyls/Malina is scheduled to publish Monday 6/27/16.
Close: When Published
(6/6/16)

[2016-06-06 16:05] coreysmart92 commented on #558
I have reviewed, published, and archived all old podcast forms in the "Saved Forms Tab". Next I will focus on the voice forms in the "Saved Forms Tab".
Close: When forms are completely up to date
(6/6/16)

[2016-06-06 18:45] coreysmart92 commented on #596
This Github issue is now for the review and completion of all voice information on Wordpress. I will be review and completing all possible voice information on Wordpress voice page. I will also create a list of all voices with missing emails. For Creative Disturbance Form review and clean-up see issue #558.
Close: I will close this issue when all voices have been reviewed, edited, and a list of mi

[2016-06-06 18:47] coreysmart92 commented on #557
I will review my weekly report template and make any necessary changes before next meeting on 6/13/16.
Close: After all necessary changes have been implemented.
(6/6/16)

[2016-06-06 20:41] cassininazir commented on #613
@colin-c had a few thoughts on this. Connect with him when you have a mo.

[2016-06-07 16:41] yvantina commented on #472
@amb141330 The three podcasts with Adam Zaretsky have been uploaded to Box  -seems still unable to correctly proceed on the website -- though the forms are filled out and saved. Just need to be published now.. https://utdallas.app.box.com/files/0/f/8287272293/Yvan__Adam_Zaretsky
it goes this way -- (1) "what's so sexy...." ; (2) "Curie's children..."; (3) "We are wild poetry..."
they both have the

[2016-06-08 21:12] rmalina opened #616 "linsyn stats broken"
tnere is a problem in the libsyn stats

https://four.libsyn.com/stats/general/target/show/id/56517

several of tje recent podcasts arent in the list-only some podcasts are being tracked

roger

[2016-06-09 10:19] rmalina opened #617 "set up DALA channel"
ashton
we need to start setting up the DALA channel as a sub channel to the poineers and pathbreakers channel
DALA is digital arts in latin america

the producers will be reynaldo thompson in mexico and poe johnson here- you can work
through poe

we want to get up a first podcast this summer

roger

Dear All,

I think it is very important to have the Latin American pioneers in the P&P channel. Thi

[2016-06-10 23:11] amb141330 commented on #616
I'm not sure what to do about this, Dylan do you have any knowledge about this?

[2016-06-10 23:18] amb141330 commented on #617
replied to that email addressing poe and telling him which forms are needed to get it up and running

[2016-06-11 01:45] dylanorgeron commented on #616
![image](https://cloud.githubusercontent.com/assets/6401465/15982417/3babb4c4-2f4c-11e6-9bad-f5696f9bac1d.png)

[2016-06-11 01:46] #616 closed, assigned to dylanorgeron

[2016-06-11 07:24] rmalina commented on #616
Was this solved
On Jun 11, 2016 3:46 AM, "Dylan Orgeron" notifications@github.com wrote:

[2016-06-11 17:58] amb141330 opened #618 "Problems with the forms. Missing information"
See below. I ended up sending an email to this producer asking for forms which she has apparently already submitted.

I checked all the different forms sections and see nothing. If she did submit the forms on the CD website then we have some kind of problem and I'm a bit embarrassed for sending out an email.

---

So my bad for sending that stuff, but I really don't see that information anywhere o

[2016-06-11 18:23] dylanorgeron commented on #618
@cassininazir databse doesnt seem to have the forms, and i never got an email of a sql error. not sure what happened.

[2016-06-13 17:13] coreysmart92 commented on #596
I have begun reviewing all voice emails and created the document "Missing Voice Email". This coming week I will finish reviewing and complete "Missing Voice Email".
Close: When all voices have emails.
(6/13/16)

[2016-06-13 21:06] yvantina commented on #601
@amb141330 @halclark  Is this issue fixed already ? Please do as I have to provide a report for the audiolats podcasts published this year.. thanks

[2016-06-13 21:07] yvantina opened #619 "wrong channel for Zaretsky podcast"
@amb141330 @coreysmart92 What's so sexy with the biological goes to the meta-life channel as the title suggests.. not virtual africa ! http://creativedisturbance.org/podcast/whats-so-sexy-with-the-biological-eng/

[2016-06-13 21:36] yvantina commented on #619
Thanks ! closing this issue even though the video is missing

[2016-06-13 21:36] #619 closed, assigned to coreysmart92, amb141330

[2016-06-14 03:53] halclark commented on #601
Duplicated and published.

[2016-06-14 03:53] #601 closed, assigned to halclark

[2016-06-14 04:34] yvantina commented on #601
Thank you Hal

[2016-06-14 04:35] yvantina commented on #520
@amb141330 Ashton, can we work on that this week?

[2016-06-14 04:36] yvantina commented on #604
@amb141330 Can we work on that this week?

[2016-06-14 17:37] cassininazir commented on #615
@linamoon cc'ing you to take into consideration with redesign.

[2016-06-14 17:40] cassininazir opened #620 "Convert Podcast File to .mp3"
@halclark could you convert the `.wav` file for the Putting the User Back in User Experience podcast to a `.mp3`? It doesn't work within the browser.

[2016-06-14 19:41] halclark commented on #620
Converted to mp3 and re-published.

[2016-06-14 19:41] #620 closed, assigned to halclark

[2016-06-14 19:43] cassininazir commented on #620
Thanks @halclark! Quick turnaround.

[2016-06-14 19:44] halclark commented on #620
:+1:

[2016-06-14 22:26] yvantina opened #621 "duplicating the new afronaut podcast"
@amb141330 @halclark hey guys ! can you please duplicate the new afronaut podcast (virtual africa) into space art and culture ? thanks  http://creativedisturbance.org/podcast/the-new-afronaut-2/

[2016-06-16 16:07] rmalina commented on #606
http://creativedisturbance.org/stats/
stats are still frozen on cd
where are we on the hostgagor move
roger
@cassininazir @amb141330

[2016-06-16 23:34] cassininazir commented on #606
I contacted HostGator earlier in the week. They response indicates that they think they've upgraded us to the correct plan but that's not indicated in our control panel (screenshot below). I responded back with the screenshot. Will close when complete.

![screen shot 2016-06-16 at 6 31 27 pm](https://cloud.githubusercontent.com/assets/1661430/16136523/ccc560f6-33f0-11e6-9576-a2a723bf6282.png)

[2016-06-18 00:50] yvantina opened #622 "please listen to the podcast or read the description"
@coreysmart92 @amb141330 @halclark no offense Corey, but please listen to the podcast before publishing them. don't just put the bumpers.. the sound team i'd assume as a producer is also there to double check the content, when it is possible.. as a matter of fact you labelled the three new podcasts i uploaded as virtual africa while they supposed to be on the meta-life channel (the world biology i

[2016-06-19 22:27] halclark opened #623 "Unable to add to experimental space"
@cassininazir @dylanorgeron in the portfolio section of the experimental websites wordpress, the visual editor (where I add soundcloud links) is not loading. Not sure what to do. Have tried on both my laptop and my desktop.

[2016-06-20 06:55] #622 closed, assigned to nobody

[2016-06-20 15:54] cassininazir commented on #623
Try editing without visual composer. You can add to the Audio Embed section in WordPress. Here's a link on where to find the embed code in SoundCloud:

http://shareandembed.help.soundcloud.com/customer/portal/articles/2167182-embedding-a-track-or-playlist-on-wordpress

[2016-06-20 21:25] linamoon opened #624 "Podcast link displays on Facebook"
@yvantina informed me of this--on Facebook, some link cards show larger album art (below):

![screen shot 2016-06-20 at 4 22 39 pm](https://cloud.githubusercontent.com/assets/10729556/16210744/3bca4bb4-3703-11e6-8238-06dca2a65e5b.png)

The link cards should show smaller album art (below):

![screen shot 2016-06-20 at 4 19 32 pm](https://cloud.githubusercontent.com/assets/10729556/16210726/189ebada

[2016-06-20 21:41] amb141330 commented on #624
I've emailed the rest of the sound team about this. I'll have them go back and correct that Turkish podcast and also have them double check in the future

[2016-06-20 22:05] amb141330 commented on #621
I've taken care of this. Waiting for it to show up after publication. Usually takes a few minutes but it isn't showing up. I'll leave open until I see it on the website.

[2016-06-20 22:06] amb141330 commented on #617
Have all the information, have the draft started and a preliminary logo. Will assign sound designer to do the bumper and ask if the logo can be adjusted.

[2016-06-20 22:07] amb141330 commented on #610
WordPress forms now allows for a bumper author section. I'll make sure that's being filled out from now on.

[2016-06-20 22:07] #610 closed, assigned to amb141330

[2016-06-20 22:08] amb141330 commented on #604
I've got the draft all up and running. Will talk to them about letting us edit the logo a bit for visibility on the website.

[2016-06-20 22:17] yvantina commented on #624
It actually applies to the Afrofuturism channel as well..

[2016-06-20 22:32] amb141330 commented on #624
I fixed that too

[2016-06-20 22:39] yvantina commented on #624
cool ! thanks

[2016-06-20 22:39] #624 closed, assigned to amb141330

[2016-06-20 23:39] cassininazir commented on #624
The smaller images aren't optimized for retina displays. See https://www.facebook.com/notes/facebook-engineering/optimizing-for-the-macbook-pro-with-retina-display/10151074971833920/

[2016-06-20 23:46] cassininazir commented on #621
Appears to be fixed
<img width="1254" alt="screen shot 2016-06-20 at 6 45 55 pm" src="https://cloud.githubusercontent.com/assets/1661430/16213724/40dd4d40-3717-11e6-8178-fbafa16c3567.png">

[2016-06-20 23:48] yvantina commented on #621
yes, thanks

[2016-06-20 23:48] #621 closed, assigned to amb141330, halclark

[2016-06-21 00:40] #603 closed, assigned to nobody

[2016-06-21 00:42] yvantina commented on #519
closing this issue.. let us know if further information is needed !

[2016-06-21 00:42] #519 closed, assigned to halclark

[2016-06-21 00:44] yvantina commented on #428
we never done this.. closing this issue!

[2016-06-21 00:44] #428 closed, assigned to yvantina

[2016-06-21 17:21] amb141330 commented on #618
I suppose she didn't submit, there's no record of her doing so. Asked her to resubmit and she did so this is taken care of.

[2016-06-21 17:21] #618 closed, assigned to cassininazir

[2016-06-21 17:21] amb141330 commented on #588
These podcasts have gone up or are already scheduled

[2016-06-21 17:21] #588 closed, assigned to halclark

[2016-06-24 01:08] amb141330 opened #625 "How to add channels to the forms?"
Once a new channel is published, I'm not sure how to go about adding it to our podcast forms so that it may be selected from the drop down menu when choosing a channel. Can we meet and you show me how to do this or explain it to me?

[2016-06-24 15:45] amb141330 commented on #609
tobias had asked me to publish the podcast on that date without the voices information already. We've addressed the issue and will make sure the voice information is submitted on time. In that case, it wasn't.

[2016-06-24 15:45] #609 closed, assigned to nobody

[2016-06-24 15:53] amb141330 commented on #592
Do you know anything about this @coreysmart92 I don't see it on the dropbox or box.

[2016-06-24 15:55] amb141330 commented on #582
Do we have an update on this @halclark ?

[2016-06-24 15:55] amb141330 commented on #574
I know @halclark has gotten the podcasts up so this issue can be closed.

[2016-06-24 15:55] #574 closed, assigned to halclark

[2016-06-25 20:02] rmalina commented on #592
i just reloaded them in new leonardos drop box
roger

Roger F Malina
is in Marseille 33(0)6-80-45-94-47

On Fri, Jun 24, 2016 at 5:53 PM, amb141330 notifications@github.com wrote:

[2016-07-04 10:43] rmalina opened #626 "pending submitted forms"
ashton
someone needs to go through all the forms and do some clean up
there are very old foms there that are submitted in draft

http://creativedisturbance.org/dashboard/pending/#saved

roger

[2016-07-05 18:50] cassininazir commented on #51
@amb141330 can you document this in Google Drive to make sure we capture? I think it would be good to do, but probably not until fall. Closing for now.

[2016-07-05 18:50] #51 closed, assigned to amb141330

[2016-07-05 18:51] #151 closed, assigned to amb141330

[2016-07-11 14:57] dylanorgeron commented on #625
Currently they are hardcoded, meaning we have to manually update the list. I can show you how to do this once the forms are stable again and changes wont break things as much.

[2016-07-15 16:56] amb141330 commented on #625
Can you go ahead and ahead "Other Planes | Afrofuturism Podcast" to the drop down list?

[2016-07-22 00:41] yvantina opened #627 "republishing podcast from Wave Farm ??"
@amb141330 @cassininazir

Please see the exchange below
Does wavefarm needs to be a channel ? or maybe we can just republish this podcast ?

https://wavefarm.org/archive/qmd1ce

yvan

---

Kira, Yvan and Ashton

This is so cool!
Glad to put Wavefarm on the Leonardo Radar, you all deserve it!
Please dont forget to give credit to the interviewers:

Interviewed by Kira DeCoudres, Tom Skarimbas, and T

[2016-07-22 00:42] yvantina commented on #472
@amb141330
podcasts remaining to be published

8- Jens Hauser-Yvan (English), episode 1, not in Box but you can find them on the ArtSciLab Mac desktop
9- Jens Hauser-Danielle Aviles (English), episode 2, not in Box but you can find them on the ArtSciLab Mac desktop
10- Jens Hauser-Joshua/Alex-Garcia (English), episode 3, not in Box but you can find them on the ArtSciLab Mac desktop
11- Jens Hauser

[2016-07-22 00:57] yvantina commented on #520
@amb141330 How are we doing with these people?

[2016-07-22 08:31] halclark commented on #595
Podcast published.

[2016-07-22 08:31] #595 closed, assigned to coreysmart92, halclark

[2016-07-22 08:31] halclark commented on #597
Published.

[2016-07-22 08:31] #597 closed, assigned to halclark

[2016-07-22 08:31] halclark commented on #523
Podcast published.

[2016-07-22 08:31] #523 closed, assigned to halclark

[2016-07-22 08:36] halclark commented on #623
Not sure how to embed without the visual composer (while sticking to the current format). I have tried on 3 different computers now to no avail. Not sure if I am doing something wrong or not.

[2016-07-22 08:42] dylanorgeron commented on #623
drop a link to the experimental site and point me to the login credentials. ill take a look if youre still having issues

[2016-07-22 08:59] halclark commented on #623
http://x.creativedisturbance.org/wp-admin

Login doc:
https://docs.google.com/document/d/1ipNxXHlGpEPgllR6QBQ2HF6vrOWRgLuhnngcUIqClxU/edit

Thanks!

On Fri, Jul 22, 2016 at 3:42 AM, Dylan Orgeron notifications@github.com
wrote:

[2016-07-22 09:10] dylanorgeron commented on #623
did you ever pay for the visual composer plugin on this account?

[2016-07-22 14:37] amb141330 opened #628 "Strange Attractor exhibition podcast with Peyton Gardner"
Be sure to track this podcast creation.

Peyton
Fantastic
Am copying this to ashton brillante who is our creative disturbance
Manager = Ashton maybe you could create a github item so we can
Set up a podcast recording

Peyton maybe we could try and do a recording before our
Semester starts here aug 25 ?

From: Peyton Gardner [mailto:peyton@ballroommarfa.org]
Sent: Thursday, July 21, 2016 6:16 PM
To

[2016-07-22 14:39] amb141330 opened #629 "Podcast with Joel before start of the semester"
Set up a time after August 5th to meet with Joel and instruct him on how to record a podcast.

joel
as we discussed i would like to record a podcast with
you - after you present your aug 5 poster

after that can you talk to indu and ashton about getting
training on how to record a podcast- and we can do
one practice podcast and then a real one to publish
on creative disturbance

just need to work

[2016-07-22 15:06] cassininazir commented on #629
@physicsshark not sure if you saw this. Please add the podcast to your list of deliverables -- it can of course, be done after Aug 5.

[2016-07-22 15:11] cassininazir commented on #623
I believe it came with the theme. Will have to uncover the history on this one. @ZuraJavakhadze could you assist with this?

[2016-07-22 16:54] joelewing commented on #629
Yes, I've seen this.  I'm leaving on the evening of August 6 and and I will be coming back on the 17.

[2016-07-22 17:04] amb141330 opened #630 "Stats page not updating"
creativedisturbance.org/stats page has not been updated since April

can you give me an update on this?

[2016-07-23 17:51] rmalina opened #631 "record podcast with lasbouygues"
podcast with claire serres and
Bonjour Roger, merci pour ton mail, je l'ai transféré à Claire ! J'ai également passé un moment très intéressant, riche en discutions, c'était un plaisir de te montrer le parcours,
je reste à ta disposition pour l'enregistrement de ce podcast avec Claire,
j’attends de tes nouvelles, je te souhaite un bel été

thomas Lasbouygues

[2016-07-24 16:18] rmalina commented on #595
You need to correct them errors he found

On Jul 22, 2016 3:31 AM, "halclark" notifications@github.com wrote:

[2016-07-25 20:01] yvantina commented on #472
@halclark @coreysmart92 @amb141330 see how old is this ! i wrote a note a few months ago and post-it on the desktop. I thought you guys took care of this since then.. now am not sure anymore if they've not been deleted or moved somewhere else by mistake..

[2016-07-26 21:05] dylanorgeron commented on #630
![image](https://cloud.githubusercontent.com/assets/6401465/17155468/d5384f22-534a-11e6-9ed7-e9d85987b2f1.png)

[2016-07-29 08:59] dylanorgeron commented on #625
added

[2016-07-29 08:59] #625 closed, assigned to dylanorgeron

[2016-07-30 18:00] amb141330 opened #632 "Podcast for Charissa N. Terranova with Arthur Miller"
Hey Roger,

I am available for coffee next week -- Tuesday or Thursday afternoon would be great.

Would you be interested in doing a podcast conversation with me at Creative Disturbances about my research -- Wad, Joseph Needham, your dad, Leonardo, LL Whyte, Bronowski, etc.? I am working on a cast of characters -- modernists -- that seem lost to the world.

I also need to arrange a podcast with Ar

[2016-07-30 18:09] amb141330 opened #633 "Podcast for Charissa Terranova with Daniel Jardine"
From Charissa:

I am gobsmacked. I met Jacob Bronowski's grandson, Daniel Jardine, at an opening tonight. He is married to Alison Jardine, an artist represented by Erin Cluley Gallery. They are both Brits, she from Yorkshire, he was a Fellow at Jesus College in Cambridge. She teaches art here, and he...not sure what... a materials scientist and more.

I just did research in his archive at Jesus Co

[2016-07-30 18:11] amb141330 commented on #633
Asked how I can be of assistance in getting this setup. Will find out when everyone is available and help with the recording.

[2016-08-01 01:52] rmalina opened #634 "doi for podcasts"
cassini
for cd we need to figure out how podcasts get DOIs
can you have someone work this-will need to contact nick lindsay
roger

[2016-08-01 01:59] rmalina opened #635 "podcast second channel"
please can you post this in virtual africa as a second channel
http://creativedisturbance.org/podcast/describing-egypt-virtual-reality-of-ancient-egypt-ar/

roger

[2016-08-01 03:11] amb141330 commented on #635
done and done.

[2016-08-01 03:11] #635 closed, assigned to amb141330

[2016-08-01 17:38] amb141330 commented on #149
Cleaning up GitHub and documenting old issues. Will re-evaluate each issue and decide which issues still need action.

[2016-08-01 17:38] #149 closed, assigned to amb141330

[2016-08-01 17:39] amb141330 commented on #404
Indu is in charge of inventory. I passed on the excel sheets I had from the lab inventories I conducted.

[2016-08-01 17:39] #404 closed, assigned to amb141330

[2016-08-01 18:27] amb141330 commented on #287
Would like to revisit this, but there's no contact information for me to contact them by.

[2016-08-01 18:27] #287 closed, assigned to amb141330

[2016-08-01 18:29] amb141330 commented on #343
Closing this issue due to inactivity. Will open a new issue regarding kickstarter donors.